$ORIGIN 112/28.229.20.172.in-addr.arpa
{% include "zone-headers.j2" %}

; This DNS zone specifies IPv4 PTR entries in the form defined in RFC 2317.
; The public resolvers for dn42 delegate PTR records to us through CNAMEs:
; e.g. 115.28.229.20.172.in-addr.arpa -> 115.112/28.229.20.172.in-addr.arpa
; So for this to work, we must define PTR records under the 112/28.229.20.172.in-addr.arpa zone

; Unfortunately, this is somewhat cumbersome to piece together, as Ansible & netaddr only know
; about the _standard_ PTR record name for an IPv4 address

; IPv4 PTR entries for each node
{% macro last_octet(ip) -%}
{{ ip.split('.')[-1] }}
{%- endmacro %}

{% for node in groups['dn42routers'] %}
{% set nodedata = hostvars[node] %}
{{ last_octet(nodedata['ownip'])}} IN PTR {{ nodedata['shortname'] }}.{{ dns_domain }}.
{% endfor %}

; Anycast addresses
{{ last_octet(anycast_ip) }} IN PTR anycast.{{ dns_domain }}.
