$ORIGIN 7.b.1.1.d.a.b.0.6.8.d.f.ip6.arpa
{% include "zone-headers.j2" %}

; IPv6 PTR entries for each node
; Compared to IPv4, this is very simple - just set the info for each IP's PTR record
{% for node in groups['dn42routers'] %}
{% set nodedata = hostvars[node] %}
{{ nodedata['ownip6'] | ipaddr('revdns') }} IN PTR {{ nodedata['shortname'] }}.{{ dns_domain }}.
{% endfor %}

{% for nodename, nodedata in dns_extra_hosts.items() %}
{% if nodedata.get('ip6') %}
{{ nodedata['ip6'] | ipaddr('revdns') }} IN PTR {{ nodename }}.{{ dns_domain }}.
{% endif %}
{% endfor %}
