$ORIGIN {{ dns_domain }}
{% include "zone-headers.j2" %}
{% macro format_dns_record(record_name, record) -%}
{% if record.type == 'ansible_host_alias' %}
{% set nodedata = hostvars[record.target] %}
{{ record_name }} IN A {{ nodedata['ownip'] }}
{{ record_name }} IN AAAA {{ nodedata['ownip6'] }}
{% else %}
{{ record_name }} IN {{ record.type }} {{ record.target }}
{% endif %}
{%- endmacro %}

{# Custom DNS records, see dns_entries.yml #}
{% for record_name, record in dns_records.items() %}
{{ format_dns_record(record_name, record) }}
{% endfor %}

{# Additional hosts with PTR #}
{% for record_name, record in dns_extra_hosts.items() %}
{% if record.get('ip4') %}
{{ format_dns_record(record_name, {'type': 'A', 'target': record.ip4}) }}
{% endif %}
{% if record.get('ip6') %}
{{ format_dns_record(record_name, {'type': 'AAAA', 'target': record.ip6}) }}
{% endif %}
{% endfor %}

{% for node in groups['dn42routers'] %}
{% set nodedata = hostvars[node] %}
{# Add DNS entries for each node's hostname #}
{{ nodedata['shortname'] }} IN A {{ nodedata['ownip'] }}
{{ nodedata['shortname'] }} IN AAAA {{ nodedata['ownip6'] }}
{% endfor %}
