
options {
    directory "/etc/powerdns";
};

zone "{{ dns_domain }}" in {
    file "{{ dns_domain }}.zone";
};

# Reverse DNS zones
{# HACK: these substitutions are really something...
v4 in the form: 112/28.229.20.172.in-addr.arpa   (CIDR pieces reversed, per RFC 2317)
v4 delegation:  229.20.172.in-addr.arpa          (first 3 octets of CIDR reversed)
v6 in the form: 7.b.1.1.d.a.b.0.6.8.d.f.ip6.arpa (all pieces of network reversed)
#}
{% set ip4_reverse = (ownnets4[0].split('.') | reverse | join('.')) + ".in-addr.arpa" %}
{% set ip4_delegation = (ownnets4[0].rsplit('.', 1)[0].split('.') | reverse | join('.')) + ".in-addr.arpa" %}
{% set ip6_reverse = ownnets6[0] | ipaddr('network') | ipaddr('revdns') | regex_replace('^(0\\.)+', '') | regex_replace('\\.$', '') %}

zone "{{ ip4_reverse }}" in {
    file "{{ ip4_reverse | replace('/', '_') }}.zone";
};

zone "{{ ip4_delegation }}" in {
    file "{{ ip4_delegation }}.zone";
};

zone "{{ ip6_reverse }}" in {
    file "{{ ip6_reverse }}.zone";
};
