$TTL {{ dns_ttl }}
@   IN  SOA     ns1.{{ dns_domain }} placeholder-see-registry-instead.{{ dns_domain }} (
        1           ; serial
        7200        ; refresh period
        2400        ; retry period
        86400       ; expiration
        3600        ; minimum TTL
)
