+ nodes
menu = AS4242421080 nodes
title = AS4242421080 nodes (clearnet)

++ sea02
menu = RackNerd Seattle
title = RackNerd / ColoCrossing - Seattle, WA, US [sea02.jlu5.com]
host = sea02.jlu5.com

++ sea03
menu = Virmach Seattle
title = Virmach / DediPath / INAP - Seattle, WA, US [sea03.jlu5.com]
host = sea03.jlu5.com

++ lax01
menu = HostHatch LA
title = HostHatch / Psychz - Los Angeles, CA, US [lax01.jlu5.com]
host = lax01.jlu5.com

++ lax02
menu = AlphaVPS LA
title = AlphaVPS / WebNX - Los Angeles, CA, US [lax02.jlu5.com]
host = lax02.jlu5.com

++ sjcpeer
menu = GreenCloudVPS SJC
title = GreenCloudVPS / tzulo - San Jose, CA, US [sjc.peer.highdef.network]
host = sjc.peer.highdef.network

++ buyvm-las
menu = BuyVM Las Vegas
title = BuyVM - Las Vegas, NV, US [las.peer.highdef.network]
host = las.peer.highdef.network

++ hosthatch_chi_alt
menu = HostHatch Chicago
title = HostHatch / Psychz - Chicago, IL, US
host = chi-stor01.jlu5.com

++ chi02-greencloud
menu = GreenCloud Chicago
title = GreenCloudVPS / Nexeon - Chicago, IL, US [chi.peer.highdef.network]
host = chi.peer.highdef.network

++ ymq01
menu = OVH Beauharnois
title = OVH - Beauharnois, QC, CA [ymq.peer.highdef.network]
host = ymq.peer.highdef.network

++ ash01
menu = Hetzner Ashburn
title = Hetzner - Ashburn, VA, US [ash.highdef.network]
host = ash.highdef.network

++ atl01
menu = RackNerd Atlanta
title = RackNerd @ ColoCrossing - Atlanta, GA, US [atl.peer.highdef.network]
host = atl.peer.highdef.network

++ dalpeer-202211
menu = Racknerd Dallas
title = RackNerd @ ColoCrossing - Dallas, TX, US [dal.peer.highdef.network]
host = dal.peer.highdef.network

++ ams02
menu = InceptionHosting AMS
title = InceptionHosting / Clouvider - Amsterdam, NL [ams.peer.highdef.network]
host = ams.peer.highdef.network

++ lon02-1
menu = InceptionHosting LON
title = InceptionHosting / Clouvider - London, UK [lon.peer.highdef.network]
host = lon.peer.highdef.network

++ mad01
menu = HostHatch Madrid
title = HostHatch @ M247 - Madrid, ES [mad.peer.highdef.network]
host = mad.peer.highdef.network

++ mil01
menu = HostHatch Milan
title = HostHatch @ M247 - Milan, IT [mil.peer.highdef.network]
host = mil.peer.highdef.network

++ tyo01
menu = NexusBytes JP
title = NexusBytes - Tokyo, JP [tyo01.jlu5.com]
host = tyo01.jlu5.com

++ tyo02
menu = Virmach JP
title = Virmach @ xTom - Tokyo, JP [tyo.peer.highdef.network]
host = tyo.peer.highdef.network

++ sg02
menu = GreenCloudVPS SG
title = GreenCloudVPS @ LeaseWeb - Singapore, SG [sgp.peer.highdef.network]
host = sgp.peer.highdef.network

++ syd01
menu = HostHatch Sydney
title = HostHatch - Sydney, AU [syd.peer.highdef.network]
host = syd.peer.highdef.network
