+ nodes
menu = AS4242421080 Nodes
title = AS4242421080 Nodes (clearnet)

++ yvr01
menu = BandwagonHost Vancouver
title = BandwagonHost (IT7 Networks) @ Astute Internet - Vancouver, BC, CA [yvr.peer.highdef.network]
host = yvr.peer.highdef.network

++ sea22
menu = LetBox Seattle
title = LetBox / SmartHost @ Wowrack - Seattle, WA, US [sea.peer.highdef.network]
host = sea.peer.highdef.network

++ sjcpeer
menu = GreenCloudVPS SJC
title = GreenCloudVPS @ tzulo - San Jose, CA, US [sjc.peer.highdef.network]
host = sjc.peer.highdef.network

++ lax01
menu = HostHatch Los Angeles
title = HostHatch - Los Angeles, CA, US [woodpecker.srv.jlu5.com]
host = woodpecker.srv.jlu5.com

++ buyvm-las
menu = BuyVM Las Vegas
title = BuyVM - Las Vegas, NV, US [las02.jlu5.com]
host = las02.jlu5.com

++ chi02-greencloud
menu = GreenCloud Chicago
title = GreenCloudVPS @ Nexeon - Chicago, IL, US [chi.peer.highdef.network]
host = chi.peer.highdef.network

++ dal02
menu = EasyVM Dallas
title = EasyVM @ GSL Networks - Dallas, TX, US [dal02.jlu5.com]
host = dal02.jlu5.com

++ ymq-parrot
menu = ServaRICA Montreal
title = ServaRICA - Montreal, QC, CA [ymq.peer.highdef.network]
host = ymq.peer.highdef.network

++ ymq02
menu = ServaRICA Montreal (alt)
title = ServaRICA - Montreal, QC, CA [files.jlu5.com]
host = files.jlu5.com

++ tpa01
menu = Hostodo Tampa
title = Hostodo @ Hivelocity - Tampa, FL, US [tpa01.jlu5.com]
host = tpa01.jlu5.com

++ ams02
menu = InceptionHosting AMS
title = InceptionHosting @ Clouvider - Amsterdam, NL [ams.peer.highdef.network]
host = ams.peer.highdef.network

++ frapeer-202211
menu = InceptionHosting FRA
title = InceptionHosting @ Clouvider - Frankfurt, DE [fra.peer.highdef.network]
host = fra.peer.highdef.network

++ fra02
menu = Prohosting24 Frankfurt
title = Prohosting24 @ SYNLINQ - Frankfurt, DE [fra02.jlu5.com]
host = fra02.jlu5.com

++ lon03
menu = HostHatch London
title = HostHatch - London, UK [lon.peer.highdef.network]
host = lon.peer.highdef.network

++ sto01
menu = HostHatch Stockholm
title = HostHatch - Stockholm, SE [sto.peer.highdef.network]
host = sto.peer.highdef.network

++ buhpeer
menu = GreenCloudVPS RO
title = GreenCloudVPS @ M247 - Bucharest, RO [buh.peer.highdef.network]
host = buh.peer.highdef.network

++ tyopeer
menu = HostHatch Tokyo
title = HostHatch - Tokyo, JP [tyo.peer.highdef.network]
host = tyo.peer.highdef.network

++ hk02
menu = GreenCloudVPS HK
title = GreenCloudVPS @ LeaseWeb - Hong Kong, China [hkg.peer.highdef.network]
host = hkg.peer.highdef.network

++ syd01
menu = HostHatch Sydney
title = HostHatch - Sydney, AU [syd.peer.highdef.network]
host = syd.peer.highdef.network
