+ nodes
menu = AS4242421080 Nodes
title = AS4242421080 Nodes (clearnet)

++ yvr01
menu = BandwagonHost Vancouver
title = BandwagonHost (IT7 Networks) @ Astute Internet - Vancouver, BC, CA
host = yvr.peer.highdef.network

++ sjcpeer
menu = GreenCloudVPS SJC
title = GreenCloudVPS @ tzulo - San Jose, CA, US
host = sjc.peer.highdef.network

++ chi02-greencloud
menu = GreenCloudVPS Chicago
title = GreenCloudVPS @ Nexeon - Chicago, IL, US
host = chi.peer.highdef.network

++ ovh-bhs
menu = OVH Beauharnois
title = OVH - Beauharnois, QC, CA
host = spark.srv.jlu5.com

++ ymq02
menu = ServaRICA Montreal
title = ServaRICA - Montreal, QC, CA
host = {{ smokeping_crypt_hosts.ymq02 }}

++ lon02a
menu = Clouvider London
title = Clouvider - London, UK
host = {{ smokeping_crypt_hosts.lon02 }}

++ lon03
menu = HostHatch London
title = HostHatch - London, UK
host = lon.peer.highdef.network

++ ams04
menu = UltraVPS Amsterdam
title = UltraVPS - Amsterdam, NL
host = ams04.jlu5.com

++ sto01
menu = HostHatch Stockholm
title = HostHatch - Stockholm, SE
host = sto.peer.highdef.network

++ tyopeer
menu = HostHatch Tokyo
title = HostHatch - Tokyo, JP
host = tyo.peer.highdef.network

++ syd01
menu = HostHatch Sydney
title = HostHatch - Sydney, AU
host = syd.peer.highdef.network
