#!/bin/bash

if [[ $EUID -ne 0 ]]; then
	echo "This script must be run as root."
	exit 1
fi

iptables-restore  < {{ iptables_rules_path  | quote }} && echo 'applied IPv4 rules'
ip6tables-restore < {{ ip6tables_rules_path | quote }} && echo 'applied IPv6 rules'

{% if 'anycast_pool' in group_names %}
{% for service_name, anycast_iface in dummy_interfaces.items() %}
{% if 'track_service' in anycast_iface %}
if systemctl is-active --quiet "{{ anycast_iface.track_service }}"; then
	/etc/iptables/apply-anycast start "{{ service_name }}"
else
	/etc/iptables/apply-anycast stop "{{ service_name }}"
fi
{% endif %}
{% endfor %}
{% endif %}
