[defaults]
# Always use Python 3 as default
interpreter_python=/usr/bin/python3
allow_world_readable_tmpfiles=true
inventory=hosts.yml
vault_password_file=../ansible-dn42.key

# Mitogen - https://mitogen.networkgenomics.com/ansible_detailed.html
strategy_plugins=/opt/mitogen-0.2.9/ansible_mitogen/plugins/strategy
strategy=mitogen_linear
