[defaults]
# Always use Python 3 as default. Note: for Mitogen this also requires setting ansible_python_interpreter in group vars
interpreter_python=/usr/bin/python3
allow_world_readable_tmpfiles=true
inventory=hosts.yml
vault_password_file=../ansible-dn42.key

# Mitogen - https://mitogen.networkgenomics.com/ansible_detailed.html
# Note: this repo needs Mitogen > 0.2.9 which includes the patch from https://github.com/dw/mitogen/pull/658
strategy_plugins=/opt/mitogen-git/ansible_mitogen/plugins/strategy
strategy=mitogen_linear
