###
# Remove files no longer present in ansible config dir. Based off https://stackoverflow.com/a/18016700
- name: "List bird config files on remote"
  shell: "ls -1 /etc/bird/*.conf || true"
  register: bird_contents
  changed_when: false
  check_mode: no

- name: "Enumerate config folder paths"
  set_fact:
    config_dir:         "{{ role_path }}/config"
    peers_config_dir:   "{{ role_path }}/config/peers/{{ inventory_hostname }}"
    bird_managed_files: []

- name: "Enumerate config folder contents (ignore errors if no peers are defined)"
  # This is a separate step because set_fact can't template facts set in the same task
  set_fact:
    bird_managed_files: "{{ lookup('fileglob', '{{ config_dir }}/*.conf*').split(',') | map('basename') | map('regex_replace', '\\.j2$', '') | list }}"
  ignore_errors: true

- name: "Enumerate IPsets for BIRD"
  set_fact:
    ownnets4_ipset: "{{ ownnets4 | map('regex_replace', '$', '+') | join(', ') }}"
    ownnets6_ipset: "{{ ownnets6 | map('regex_replace', '$', '+') | join(', ') }}"

  ignore_errors: true

- name: "Remove unknown bird config files"
  file:
    path: "/etc/bird/{{ item|basename }}"
    state: absent
  loop: "{{ bird_contents.stdout_lines }}"
  # Don't remove managed files, node-specific local configs, or autosynced ROA tables
  when: item|basename not in bird_managed_files and item|basename is not match("(roa_dn42|local|ospf_local).*\\.conf")
  notify:
    - Reconfigure bird
###

- name: Write global bird settings (static)
  copy:
    src: "{{ item }}"
    dest: "/etc/bird/"
    group: "bird"
    mode: '0644'
  with_fileglob:
    - "{{ config_dir }}/*.conf"
  notify:
    - Reconfigure bird

- name: Write global bird settings (dynamic)
  template:
    src: "{{ item }}"
    dest: "/etc/bird/{{ item | basename | regex_replace('\\.j2$', '')}}"
    group: "bird"
    mode: '0644'
  with_fileglob:
    - "{{ config_dir }}/*.conf.j2"
  notify:
    - Reconfigure bird

- name: Make sure bird logs dir exists
  file:
    path: "{{ bird_logs_dir }}"
    owner: "bird"
    group: "bird"
    state: directory
    mode: '0750'

- name: Write peer settings
  assemble:
    src: "{{ peers_config_dir }}"
    dest: /etc/bird/local_dn42peers.conf
    group: "bird"
    mode: '0644'
    remote_src: no
  ignore_errors: true  # The peers list may be empty
  notify:
    - Reconfigure bird
