#!/bin/sh

OWN_IP4="{{ ownip }}"
OWN_IP6="{{ ownip6 }}"
PRIVATE_KEY="$(cat /etc/wireguard/privatekey)"

{% macro igp_link(name, port) %}
{% set nodedata = hostvars[name] %}
"$action" {{ port }} "igp-{{ nodedata['shortname'] }}" "{{ nodedata['wg_pubkey'] }}" "{{ name }}:{{ port }}" "{{ nodedata['ownip'] }}" "{{ nodedata['ownip6'] }}"
{% endmacro %}

peers() {
  action="$1"
  ## usage
  #"$action" "<local_port>" "<peer_name>" "<peer_public_key>" "<peer_host:port>" "<peer_ip4>" "<peer_ip6>" "<local_ip6>"
  # port, peer_ip4 and peer_ip6, local_ip6 can be empty
  ## example:
  #"$action" "4242" "gruetzkopf" "HsPvddOJbSIS8LogJMpMTDG+IHm9eXfHCfapw9cRPAM=" "daemon.gruetzkopf.org:42232" "172.20.239.112/32" ""
  "$action" 51475 "dn42sfo-sirmyst" "S1Pm3Oqdn6flQ15WoG5n+FQhyGPPS5Xdh98VQwephjA=" "dn42-us-sfo1.sirmysterion.com:51475" "172.20.20.98/32" "fe80::b562" "fe80::114"
  "$action" 52601 "dn42sea-burble" "ASTGDn92zTaBYmymK4uwfbatArsYwKFD1sIz9aMmjGg=" "dn42-us-sea2.burble.com:21080" "172.20.129.170/32" "fe80::42:2601:2c:1" "fe80::114"

  {{ igp_link("dn42-us-chi01.jlu5.com", 55001) }}
}

. "$(dirname $(readlink -f "$0"))/wireguard-helpers.sh"
