-- Read distribution shipped root anchors.
-- Disable automatic reloading to prevent wiping the manually configured dn42 zones?
readTrustAnchorsFromFile("/usr/share/dns/root.key", 0)

{% for zone in dns_zones_dn42 + (dns_zones_extra.keys() | list) + (dns_zones_local.keys() | list) %}
{% if zone in dnssec_trust_anchors %}

{%- for anchor in dnssec_trust_anchors[zone] %}
addTA("{{ zone }}", "{{ anchor }}")
{% endfor -%}

{% else %}
addNTA("{{ zone }}", "No known DNSSEC TA for zone {{ zone }}")
{% endif %}
{% endfor %}
