-- Debian default Lua configuration file for PowerDNS Recursor

-- Load DNSSEC root keys from dns-root-data package.
-- Note: If you provide your own Lua configuration file, consider
-- running rootkeys.lua too.
dofile("/usr/share/pdns-recursor/lua-config/rootkeys.lua")

{% for zone in dns_zones_dn42 + (dns_zones_extra.keys() | list) %}
{% if zone in dnssec_trust_anchors %}

{%- for anchor in dnssec_trust_anchors[zone] %}
addTA("{{ zone }}", "{{ anchor }}")
{% endfor -%}

{% else %}
addNTA("{{ zone }}", "No known DNSSEC TA for zone {{ zone }}")
{% endif %}
{% endfor %}
