+ dn42
menu = dn42
title = dn42 Services

{% include 'targets/dn42-dns.conf.j2' %}

++ wiki_dn42
menu = ANYCAST dn42 Wiki
title = dn42 Wiki [wiki.dn42] [anycast]
host = wiki.dn42

++ wiki_dn42_v6
probe = FPing6
menu = ANYCAST dn42 Wiki (IPv6)
title = dn42 Wiki (IPv6) [wiki.dn42] [anycast]
host = wiki.dn42

++ wiki-ng
menu = ANYCAST wiki-ng
title = wiki-ng.dn42 [anycast]
host = wiki-ng.dn42
++ wiki-ng_v6
probe = FPing6
menu = ANYCAST wiki-ng (IPv6)
title = wiki-ng.dn42 (IPv6) [anycast]
host = wiki-ng.dn42

++ whois
menu = ANYCAST whois.dn42
title = whois.dn42 [anycast]
host = whois.dn42

++ whois_v6
probe = FPing6
menu = ANYCAST whois.dn42 (IPv6)
title = whois.dn42 (IPv6) [anycast]
host = whois.dn42

++ neo_dns
menu = ANYCAST NeoNetwork DNS
title = NeoNetwork Recursive DNS [10.127.255.54] [anycast]
host = 10.127.255.54

++ neo_dns_v6_0
probe = FPing6
menu = ANYCAST NeoNetwork DNS (IPv6)
title = NeoNetwork Recursive DNS [fd10:127:53:53::] [anycast]
host = fd10:127:53:53::

++ myip
menu = ANYCAST myip.dn42
title = myip.dn42 [anycast]
host = myip.dn42
++ myip_v6
probe = FPing6
menu = ANYCAST myip.dn42 (IPv6)
title = myip.dn42 (IPv6) [anycast]
host = myip.dn42

++ chaosvpn_index
menu = AS64654 ChaosVPN Index
title = ChaosVPN index at 172.31.2.1 [AS64654]
host = 172.31.2.1

++ chaosvpn_dns
menu = AS64654 ChaosVPN DNS
title = ChaosVPN DNS [172.31.0.5] [AS64654]
host = 172.31.0.5

++ search_dn42
menu = AS64719 search.dn42
title = search.dn42 [AS64719]
host = search.dn42
++ search_dn42_v6
probe = FPing6
menu = AS64719 search.dn42 (IPv6)
title = search.dn42 [AS64719]
host = search.dn42

++ ff3l_dns
menu = AS65043 ff3l DNS
title = ff3l DNS [10.119.0.5] [AS65043]
host = 10.119.0.5

++ xuu_ca_dn42
menu = AS64737 ca.dn42
title = ca.dn42 [AS64752]
host = ca.dn42
++ xuu_ca_dn42_v6
probe = FPing6
menu = AS64737 ca.dn42 (IPv6)
title = ca.dn42 (IPv6) [AS64752]
host = ca.dn42

++ hackint_irc
menu = AS4242420101 hackint IRC
title = hackint IRC [172.20.66.67] [AS4242420101]
host = 172.20.66.67
++ hackint_irc_v6
probe = FPing6
menu = AS4242420101 hackint IRC (IPv6)
title = hackint IRC [fd42:d42:d42:6667::1] [AS4242420101]
host = fd42:d42:d42:6667::1

++ acme_dn42
menu = AS4242420197 acme.dn42
title = acme.dn42 [AS4242420197]
host = acme.dn42
++ acme_dn42_v6
probe = FPing6
menu = AS4242420197 acme.dn42 (IPv6)
title = acme.dn42 [AS4242420197]
host = acme.dn42

++ map_dn42
menu = AS4242422189 map.dn42
title = map.dn42 [AS4242422189]
host = map.dn42
++ map_dn42_v6
probe = FPing6
menu = AS4242422189 map.dn42 (IPv6)
title = map.dn42 (IPv6) [AS4242422189]
host = map.dn42

++ grc_v4
menu = AS4242422601 dn42 GRC
title = collector.dn42 [AS4242422601]
host = collector.dn42
++ grc_v6
probe = FPing6
menu = AS4242422601 dn42 GRC (IPv6)
title = collector.dn42 [AS4242422601]
host = collector.dn42

++ bandura
menu = AS4242422923 bgplookup
title = bgplookup.bandura.dn42 [AS4242422923]
host = bgplookup.bandura.dn42
++ bandura_v6
menu = AS4242422923 bgplookup (IPv6)
title = bgplookup.bandura.dn42 (IPv6) [AS4242422923]
host = bgplookup.bandura.dn42

++ crxn_dns
probe = FPing6
menu = AS4242423182 CRXN DNS (IPv6)
title = CRXN DNS (IPv6) [fd92:58b6:2b2::54] [AS4242423182]
host = fd92:58b6:2b2::54

++ kioubit
menu = AS4242423914 kioubit.dn42
title = kioubit.dn42 services [AS4242423914]
host = kioubit.dn42
++ kioubit_v6
probe = FPing6
menu = AS4242423914 kioubit.dn42 (v6)
title = kioubit.dn42 services (IPv6) [AS4242423914]
host = kioubit.dn42

++ jerry_map
menu = AS4242423618 map.jerry.dn42
title = map.jerry.dn42 [AS4242423618]
host = map.jerry.dn42
++ jerry_map_v6
probe = FPing6
menu = AS4242423618 map.jerry.dn42 (v6)
title = map.jerry.dn42 (IPv6) [AS4242423618]
host = map.jerry.dn42
