++ anycast
menu = > Anycast Services
title = dn42 Anycast Services

+++ anycast_dns_multi
menu = Anycast DNS (all)
title = dn42 anycast DNS aggregate
host = /dn42/anycast/a0_recursive_servers /dn42/anycast/a0_recursive_servers6 /dn42/anycast/a3_recursive_servers /dn42/anycast/a3_recursive_servers6

+++ a0_recursive_servers
menu = a0 DNS 172.20.0.53
title = a0.recursive-servers.dn42 [172.20.0.53]
host = 172.20.0.53
#hide = yes

+++ a0_recursive_servers6
probe = FPing6
menu = a0 DNS fd42:d42:d42:54::1
title = a0.recursive-servers.dn42 [fd42:d42:d42:54::1]
host = fd42:d42:d42:54::1
#hide = yes

+++ a3_recursive_servers
menu = a3 DNS 172.23.0.53
title = a3.recursive-servers.dn42 [172.23.0.53]
host = 172.23.0.53
#hide = yes

+++ a3_recursive_servers6
probe = FPing6
menu = a3 DNS fd42:d42:d42:53::1
title = a3.recursive-servers.dn42 [fd42:d42:d42:53::1]
host = fd42:d42:d42:53::1
#hide = yes

+++ wiki_dn42
menu = dn42 Wiki
title = dn42 Wiki [wiki.dn42] [anycast]
host = wiki.dn42

+++ wiki_dn42_v6
probe = FPing6
menu = dn42 Wiki (IPv6)
title = dn42 Wiki (IPv6) [wiki.dn42] [anycast]
host = wiki.dn42

+++ wiki-ng
menu = wiki-ng
title = wiki-ng.dn42 [anycast]
host = wiki-ng.dn42
+++ wiki-ng_v6
probe = FPing6
menu = wiki-ng (IPv6)
title = wiki-ng.dn42 (IPv6) [anycast]
host = wiki-ng.dn42

+++ whois
menu = whois.dn42
title = whois.dn42 [anycast]
host = whois.dn42

+++ whois_v6
probe = FPing6
menu = whois.dn42 (IPv6)
title = whois.dn42 (IPv6) [anycast]
host = whois.dn42

+++ neo_dns
menu = NeoNetwork DNS
title = NeoNetwork Recursive DNS [10.127.255.54] [anycast]
host = 10.127.255.54

+++ neo_dns_v6_0
probe = FPing6
menu = NeoNetwork DNS (IPv6)
title = NeoNetwork Recursive DNS [fd10:127:53:53::] [anycast]
host = fd10:127:53:53::

+++ myip
menu = myip.dn42
title = myip.dn42 [anycast]
host = myip.dn42
+++ myip_v6
probe = FPing6
menu = myip.dn42 (IPv6)
title = myip.dn42 (IPv6) [anycast]
host = myip.dn42
