+ dn42
menu = dn42
title = dn42 Services

{% include 'targets/dn42-dns.conf.j2' %}

{% import 'smokeping-helpers.j2' as helpers %}
{# For consistency, keep this list sorted by ASN - entries without the asn key
are labelled as anycast and go first #}
{% set dn42_dests = {
    'wiki_dn42': {
        'desc': 'dn42 Wiki',
        'host4': '172.23.0.80',
        'host6': 'fd42:d42:d42:80::1'
    },
    'wiki-ng': {
        'host': 'wiki-ng.dn42'
    },
    'whois': {
        'desc': 'dn42 Whois',
        'host4': '172.22.0.43',
        'host6': 'fd42:d42:d42:43::1'
    },
    'neo_dns': {
        'desc': 'NeoNetwork DNS',
        'host4': '10.127.255.54',
        'host6': 'fd10:127:53:53::'
    },
    'chaosvpn_index': {
        'asn': 64654,
        'desc': 'ChaosVPN Index',
        'host4': '172.31.2.1',
    },
    'ff3l_dns-0': {
        'asn': 65043,
        'desc': 'ff3l DNS',
        'host4': '10.119.0.4',
    },
    'hackint_irc': {
        'asn': 4242420101,
        'desc': 'hackint IRC',
        'host4': '172.20.66.67',
        'host6': 'fd42:d42:d42:6667::1',
    },
    'kskb': {
        'asn': 4242421817,
        'host': 'ns.kskb.dn42',
    },
    'map_dn42': {
        'asn': 4242422189,
        'host': 'map.dn42',
    },
    'grc': {
        'asn': 4242422601,
        'desc': 'dn42 GRC',
        'host6': 'collector.dn42',
    },
    'bandura': {
        'asn': 4242422923,
        'desc': 'bgplookup',
        'host': 'bgplookup.bandura.dn42',
    },
    'crxn_dns': {
        'asn': 4242423182,
        'desc': 'CRXN DNS',
        'host6': 'fd92:58b6:2b2::54',
    },
    'kioubit': {
        'asn': 4242423914,
        'host': 'kioubit.dn42',
    },
    'jerry_map': {
        'asn': 4242423618,
        'host': 'map.jerry.dn42',
    },
} %}

{% for entry_name, entry in dn42_dests.items() %}
{% set _host4 = entry.get('host') or entry.get('host4') %}
{% set _host6 = entry.get('host') or entry.get('host6') -%}

{% if _host4 %}
{{ helpers.smokeping_dn42_target(
    entry_name,
    _host4,
    entry.get('desc', _host4),
    entry.get('asn'),
    false,
    long_description=entry.get('desc'))
}}
{% endif -%}

{% if _host6 %}
{{ helpers.smokeping_dn42_target(
    entry_name + ('_v6' if _host4 else ''),
    _host6,
    entry.get('desc', _host6),
    entry.get('asn'),
    true,
    long_description=entry.get('desc'))
}}
{% endif %}
{% endfor %}
