+ nodes
menu = AS4242421080 Nodes
title = AS4242421080 Nodes
{% set _smokeping_local_has_v4 = (not v6_only | default(False)) %}
{% set _smokeping_local_has_v6 = (not v4_only | default(False)) %}
{% macro smokeping_host(host) %}
{% set _smokeping_id = hostvars[host].smokeping_id %}
{% set _server_isp = hostvars[host].server_isp | default("internal") %}
{% set _smokeping_loc = hostvars[host].location %}
{# Only add a ping target if the src and target host both support the AF type #}
{% set _smokeping_add_v4 = _smokeping_local_has_v4 and not (hostvars[host].v6_only | default(False)) %}
{% set _smokeping_add_v6 = _smokeping_local_has_v6 and not (hostvars[host].v4_only | default(False)) %}
{% set _smokeping_host_v4 = lookup('serverhost', host, aftype=4, resolve=False) %}
{% set _smokeping_host_v6 = lookup('serverhost', host, aftype=6, resolve=False) %}
{% set _smokeping_add_int = hostvars[host].get('ownip', '') | length > 0 %}
{% if _smokeping_add_v4 %}

++ {{ _smokeping_id }}
menu = {{ _smokeping_id }} - {{ _server_isp }} (IPv4)
title = {{ _smokeping_id }} - {{ _server_isp }} - {{ _smokeping_loc }} (IPv4)
host = {{ _smokeping_host_v4 }}
hide = yes
{% endif %}
{% if _smokeping_add_v6 %}

++ {{ _smokeping_id }}_v6
probe = FPing6
menu = {{ _smokeping_id }} - {{ _server_isp }} (IPv6)
title = {{ _smokeping_id }} - {{ _server_isp }} - {{ _smokeping_loc }} (IPv6)
host = {{ _smokeping_host_v6 }}
hide = yes
{% endif %}
{% if _smokeping_add_int %}

{# ping via dn42 (hidden) #}
++ {{ _smokeping_id }}_int
menu = {{ _smokeping_id }} - internal
title = {{ _smokeping_id }} - {{ _server_isp }} - {{ _smokeping_loc }} (internal)
host = {{ hostvars[host].ownip }}
hide = yes
{% endif %}

++ {{ _smokeping_id }}_combined
menu = {{ _smokeping_id }} - {{ _server_isp }}
title = {{ _smokeping_id }} - {{ _server_isp }} - {{ _smokeping_loc }}
host = {% if _smokeping_add_v4 %}/nodes/{{_smokeping_id}}{% endif %}{% if _smokeping_add_v6 %} /nodes/{{_smokeping_id}}_v6{% endif %} {% if _smokeping_add_int %}/nodes/{{_smokeping_id}}_int{% endif %}
{% endmacro %}

{%- for host in groups['all'] %}
{% if hostvars[host].get('smokeping_id') %}
{{ smokeping_host(host) }}
{% endif %}
{% endfor %}
