auto {{ dummy_iface.ifname | mandatory }}
{#
Use a namespace variable to track state across scopes: https://stackoverflow.com/a/61342337
In particular we only want to attach the interface creation pre-up command to the first IP associated with
an interface, or that command will run multiple times and cause errors.
Note: this requires Jinja2 2.10+
#}
{% set ns = namespace(has_init_line=false) %}

{% for ip in dummy_iface.ip4 %}
iface {{ dummy_iface.ifname | mandatory }} inet static
{# Rewrite single IP addresses as a /32, but leave netblocks of other sizes as is #}
{% if ip | ipaddr('address') %}
{% set ip = ip | ipaddr('host') %}
{% endif %}
    address {{ ip }}
{% if not ns.has_init_line %}
    mtu 1280
    pre-up ip link add {{ dummy_iface.ifname }} type dummy
{% set ns.has_init_line = true %}
{% endif %}
{% endfor %}

{% for ip in dummy_iface.ip6 %}
iface {{ dummy_iface.ifname }} inet6 static
{# Rewrite single IP addresses as a /128, but leave netblocks of other sizes as is #}
{% if ip | ipaddr('address') %}
{% set ip = ip | ipaddr('host') %}
{% endif %}
    mtu 1280
    address {{ ip }}
{% if not ns.has_init_line %}
    pre-up ip link add {{ dummy_iface.ifname }} type dummy
{% set ns.has_init_line = true %}
{% endif %}
{% endfor %}
