iface {{ dummy_ifname | mandatory }} inet static
    address {{ ownip }}
    netmask 255.255.255.255
    network {{ ownip }}
    pre-up ip link add {{ dummy_ifname }} type dummy

iface {{ dummy_ifname }} inet6 static
    address {{ ownip6 }}/128
