iface {{ loopback_ifname }} inet static
    address {{ peering_lan_ip }}
    netmask 255.255.255.255
    network {{ peering_lan_ip }}

iface {{ loopback_ifname }} inet static
    address {{ ownip }}
    netmask 255.255.255.255
    network {{ ownip }}

iface {{ loopback_ifname }} inet6 static
    address {{ ownip6 }}/128
