++ amazon-jp
menu = [JP] Amazon AWS
title = [JP] Amazon AWS - Tokyo, Japan [18.176.0.0]
host = 18.176.0.0

++ extravm-jp
menu = [JP] ExtraVM
title = [JP] ExtraVM @ Teraswitch - Tokyo, Japan [tokyo.lg.extravm.com]
host = tokyo.lg.extravm.com

++ gsl-networks-tokyo
menu = [JP] GSL Networks
title = [JP] GSL Networks - Tokyo, Japan [ty8.speedtest.gslnetworks.com]
host = ty8.speedtest.gslnetworks.com

++ hosthatch-tyo
menu = [JP] HostHatch
title = [JP] HostHatch - Tokyo, Japan [lg.tok.hosthatch.com]
host = lg.tok.hosthatch.com

++ kuaichedao-jp
menu = [JP] Kuaichedao
title = [JP] Kuaichedao @ Eons Data - Tokyo, Japan [jp-bgp.tyo.lg.kuaichedao.xyz]
host = jp-bgp.tyo.lg.kuaichedao.xyz

++ linode-jp
menu = [JP] Linode
title = [JP] Linode - Tokyo, Japan [speedtest.tokyo2.linode.com]
host = speedtest.tokyo2.linode.com

++ oracle-jp
menu = [JP] Oracle Cloud
title = [JP] Oracle Cloud - Tokyo, Japan [objectstorage.ap-tokyo-1.oci.oraclecloud.com]
host = objectstorage.ap-tokyo-1.oci.oraclecloud.com

++ shockhosting-jp
menu = [JP] Shock Hosting
title = [JP] Shock Hosting - Tokyo, Japan [jp-lg.shockhosting.net]
host = jp-lg.shockhosting.net

++ silicloud-tyo
menu = [JP] SiliCloud
title = [JP] SiliCloud - Tokyo, Japan [lg-global-tyo01-jp.silicloud.com]
host = lg-global-tyo01-jp.silicloud.com

++ virtono-tok-jp
menu = [JP] Virtono @ M247
title = [JP] Virtono @ M247 - Tokyo, Japan [tok-jp-ping.virtono.com]
host = tok-jp-ping.virtono.com

++ vultr-jp
menu = [JP] Vultr
title = [JP] Vultr - Tokyo, Japan [hnd-jp-ping.vultr.com]
host = hnd-jp-ping.vultr.com

++ xtom-jp-tyo
menu = [JP] xTom (Tokyo)
title = [JP] xTom (V.PS) - Tokyo, Japan [nrt.speedtest.v.ps]
host = nrt.speedtest.v.ps

++ linode-osa
menu = [JP] Linode (Osaka)
title = [JP] Linode @ Akamai - Osaka, Japan [speedtest.osaka.linode.com]
host = speedtest.osaka.linode.com

++ vultr-osk-jp
menu = [JP] Vultr (Osaka)
title = [JP] Vultr - Osaka, Japan [osk-jp-ping.vultr.com]
host = osk-jp-ping.vultr.com

++ xtom-jp-osa
menu = [JP] xTom (Osaka)
title = [JP] xTom (V.PS) - Osaka, Japan [kix.speedtest.v.ps]
host = kix.speedtest.v.ps

++ amazon-kr
menu = [KR] Amazon AWS
title = [KR] Amazon AWS - Seoul, Korea [15.164.0.0]
host = 15.164.0.0

++ oracle-kr
menu = [KR] Oracle Cloud
title = [KR] Oracle Cloud - Seoul, Korea [objectstorage.ap-seoul-1.oci.oraclecloud.com]
host = objectstorage.ap-seoul-1.oci.oraclecloud.com

++ psychz-kr
menu = [KR] Psychz
title = [KR] Psychz - Seoul, Korea [lg.icn.psychz.net]
host = lg.icn.psychz.net

++ vultr-kr
menu = [KR] Vultr
title = [KR] Vultr - Seoul, Korea [sel-kor-ping.vultr.com]
host = sel-kor-ping.vultr.com

++ aliyun-hk
menu = [HK] Aliyun
title = [HK] Aliyun / Alibaba Cloud - Hong Kong, China [oss-cn-hongkong.aliyuncs.com]
host = oss-cn-hongkong.aliyuncs.com

++ hosthatch-hk
menu = [HK] HostHatch
title = [HK] HostHatch - Hong Kong, China [lg.hkg.hosthatch.com]
host = lg.hkg.hosthatch.com

++ kuaichedao-hk
menu = [HK] Kuaichedao
title = [HK] Kuaichedao @ Eons Data - Hong Kong, China [hk-bgp.hkg.lg.kuaichedao.xyz]
host = hk-bgp.hkg.lg.kuaichedao.xyz

++ leaseweb-hk
menu = [HK] LeaseWeb
title = [HK] LeaseWeb - Hong Kong, China [mirror.hk.leaseweb.net]
host = mirror.hk.leaseweb.net

++ misaka-hk
menu = [HK] Misaka
title = [HK] Misaka - Hong Kong, China [45.11.104.140]
host = 45.11.104.140

++ tencent-hk
menu = [HK] Tencent Cloud
title = [HK] Tencent Cloud - Hong Kong, China [cos.ap-hongkong.myqcloud.com]
host = cos.ap-hongkong.myqcloud.com

++ virtono-hk
menu = [HK] Virtono @ M247
title = [HK] Virtono @ M247 - Hong Kong [hk-ping.virtono.com]
host = hk-ping.virtono.com

++ xtom-hkg
menu = [HK] xTom
title = [HK] xTom / V.PS - Hong Kong, China [hkg.speedtest.v.ps]
host = hkg.speedtest.v.ps

++ yxvm-hk-volume
menu = [HK] YXVM
title = [HK] YXVM - Hong Kong, Hong Kong [lg.hkg-volume.beta.yxvm.com]
host = lg.hkg-volume.beta.yxvm.com

++ amazon-sg
menu = [SG] Amazon AWS
title = [SG] Amazon AWS - Singapore [54.254.128.1]
host = 54.254.128.1

++ leaseweb-sg
menu = [SG] LeaseWeb
title = [SG] LeaseWeb - Singapore [mirror.sg.leaseweb.net]
host = mirror.sg.leaseweb.net

++ linode-sg
menu = [SG] Linode
title = [SG] Linode - Singapore [speedtest.singapore.linode.com]
host = speedtest.singapore.linode.com

++ melbicom-sin1
menu = [SG] Melbicom
title = [SG] Melbicom - Singapore [103.172.116.3]
host = 103.172.116.3

++ newmediaexpress-sg
menu = [SG] NewMedia Express
title = [SG] NewMedia Express - Singapore [sg1.newmediaexpress.com]
host = sg1.newmediaexpress.com

++ ovh-sgp-0
menu = [SG] OVH
title = [SG] OVH - Singapore [sgp.proof.ovh.net]
host = sgp.proof.ovh.net

++ shockhosting-sg
menu = [SG] Shock Hosting
title = [SG] Shock Hosting - Singapore [sg-lg.shockhosting.net]
host = sg-lg.shockhosting.net

++ tencent-ap-singapore
menu = [SG] Tencent Cloud
title = [SG] Tencent Cloud - Singapore [cos.ap-singapore.myqcloud.com]
host = cos.ap-singapore.myqcloud.com

++ vultr-sg
menu = [SG] Vultr
title = [SG] Vultr - Singapore [sgp-ping.vultr.com]
host = sgp-ping.vultr.com

++ linode-cgk
menu = [ID] Linode
title = [ID] Linode @ Akamai - Jakarta, Indonesia [speedtest.jakarta.linode.com]
host = speedtest.jakarta.linode.com

++ greencloud-hanoi
menu = [VN] GreenCloud (Hanoi)
title = [VN] GreenCloud @ FPT Telecom - Hanoi, Viet Nam [lg.hn.greencloudvps.com]
host = lg.hn.greencloudvps.com

++ greencloud-hcm
menu = [VN] GreenCloud (Ho Chi Minh)
title = [VN] GreenCloud @ FPT Telecom - Ho Chi Minh City, Viet Nam [lg.hcm.greencloudvps.com]
host = lg.hcm.greencloudvps.com

++ binarylane-syd
menu = [AU] BinaryLane
title = [AU] BinaryLane - Sydney, Australia [syd-lg.binarylane.cloud]
host = syd-lg.binarylane.cloud

++ gsl-networks-brisbane
menu = [AU] GSL Networks (Brisbane)
title = [AU] GSL Networks - Brisbane, Australia [b2.speedtest.gslnetworks.com]
host = b2.speedtest.gslnetworks.com

++ gsl-networks-melbourne
menu = [AU] GSL Networks (Melbourne)
title = [AU] GSL Networks - Melbourne, Australia [me1.speedtest.gslnetworks.com.au]
host = me1.speedtest.gslnetworks.com.au

++ gsl-networks-sydney
menu = [AU] GSL Networks (Sydney)
title = [AU] GSL Networks - Sydney, Australia [sy5.test.gslnetworks.com.au]
host = sy5.test.gslnetworks.com.au

++ linode-syd
menu = [AU] Linode @ Akamai
title = [AU] Linode @ Akamai - Sydney, Australia [speedtest.syd1.linode.com]
host = speedtest.syd1.linode.com

++ ovh-syd
menu = [AU] OVH (Sydney)
title = [AU] OVH - Sydney, Australia [syd.proof.ovh.net]
host = syd.proof.ovh.net

++ quantumcore
menu = [AU] QuantumCore (Sydney)
title = [AU] QuantumCore - Sydney, Australia [lg.quantumcore.com.au]
host = lg.quantumcore.com.au

++ ransomit-syd
menu = [AU] Ransom IT (Sydney)
title = [AU] Ransom IT - Sydney, Australia [sydney-lg.ransomit.com.au]
host = sydney-lg.ransomit.com.au

++ telstra-syd
menu = [AU] Telstra (Sydney)
title = [AU] Telstra - Sydney, Australia [syd1.speedtest.telstra.net]
host = syd1.speedtest.telstra.net

++ vultr-syd
menu = [AU] Vultr (Sydney)
title = [AU] Vultr - Sydney, Australia [syd-au-ping.vultr.com]
host = syd-au-ping.vultr.com

++ vultr-mel
menu = [AU] Vultr (Melbourne)
title = [AU] Vultr - Melbourne, Australia [mel-au-ping.vultr.com]
host = mel-au-ping.vultr.com

++ xtom-syd
menu = [AU] xTom
title = [AU] xTom / V.PS - Sydney, Australia [syd.speedtest.v.ps]
host = syd.speedtest.v.ps

++ zappiehost-nz
menu = [NZ] ZappieHost (Auckland)
title = [NZ] ZappieHost - Auckland, New Zealand [lg-nz.zappiehost.com]
host = lg-nz.zappiehost.com

++ aliyun-beijing
menu = [CN] Aliyun (Beijing)
title = [CN] Aliyun / Alibaba Cloud - Beijing, China [oss-cn-beijing.aliyuncs.com]
host = oss-cn-beijing.aliyuncs.com

++ aliyun-shenzhen
menu = [CN] Aliyun (Shenzhen)
title = [CN] Aliyun / Alibaba Cloud - Shenzhen, China [oss-cn-shenzhen.aliyuncs.com]
host = oss-cn-shenzhen.aliyuncs.com

++ china-mobile-beijing
menu = [CN] China Mobile (Beijing)
title = [CN] China Mobile - Beijing, China [speedtest.bmcc.com.cn]
host = speedtest.bmcc.com.cn

++ china-mobile-chengdu
menu = [CN] China Mobile (Chengdu)
title = [CN] China Mobile - Chengdu, China [speedtest1.sc.chinamobile.com]
host = speedtest1.sc.chinamobile.com

++ china-mobile-lanzhou
menu = [CN] China Mobile (Lanzhou)
title = [CN] China Mobile - Lanzhou, China [speedtest1.gs.chinamobile.com]
host = speedtest1.gs.chinamobile.com

++ china-telecom-chengdu
menu = [CN] China Telecom (Chengdu)
title = [CN] China Telecom - Chengdu, China [speedtest1.sc.189.cn]
host = speedtest1.sc.189.cn

++ china-telecom-shanghai
menu = [CN] China Telecom (Shanghai)
title = [CN] China Telecom - Shanghai, China [speedtest1.online.sh.cn]
host = speedtest1.online.sh.cn

++ china-unicom-changsha
menu = [CN] China Unicom (Changsha)
title = [CN] China Unicom - Changsha, China [speedtest01.hn165.com]
host = speedtest01.hn165.com

++ china-unicom-shanghai
menu = [CN] China Unicom (Shanghai)
title = [CN] China Unicom - Shanghai, China [5g.shunicomtest.com]
host = 5g.shunicomtest.com

++ china-unicom-shenyang
menu = [CN] China Unicom (Shenyang)
title = [CN] China Unicom - Shenyang, China [unicomspeedtest.com]
host = unicomspeedtest.com

++ leapswitch
menu = [IN] Leapswitch (Mumbai)
title = [IN] Leapswitch - Mumbai, India [lg-bom2.advancedserverdns.com]
host = lg-bom2.advancedserverdns.com

++ linode-mum
menu = [IN] Linode (Mumbai)
title = [IN] Linode - Mumbai, India [speedtest.mum1.linode.com]
host = speedtest.mum1.linode.com

++ ovh-bom
menu = [IN] OVH (Mumbai)
title = [IN] OVH - Mumbai, India [bom.proof.ovh.net]
host = bom.proof.ovh.net

++ readydedis
menu = [IN] ReadyDedis (Hyderabad)
title = [IN] ReadyDedis @ Web Werks - Hyderabad, India [170.205.54.253]
host = 170.205.54.253

++ vultr-blr1
menu = [IN] Vultr (Bangalore)
title = [IN] Vultr - Bangalore, India [blr-in-ping.vultr.com]
host = blr-in-ping.vultr.com

++ vultr-del
menu = [IN] Vultr (Delhi)
title = [IN] Vultr - Delhi NCR, India [del-in-ping.vultr.com]
host = del-in-ping.vultr.com

++ vultr-bom
menu = [IN] Vultr (Mumbai)
title = [IN] Vultr - Mumbai, India [bom-in-ping.vultr.com]
host = bom-in-ping.vultr.com

++ virtury
menu = [PK] Virtury Cloud
title = [PK] Virtury Cloud - Islamabad, Pakistan [lg.virtury.com]
host = lg.virtury.com

++ gcore-khv
menu = [RU] EdgeCenter (Khabarovsk)
title = [RU] EdgeCenter (ex G-Core) - Khabarovsk, Russia [92.223.80.2]
host = 92.223.80.2

++ gcore-kz
menu = [KZ] G-Core Labs
title = [KZ] G-Core Labs - Almaty, Kazakhstan [213.156.137.1]
host = 213.156.137.1

++ owntn-kz
menu = [KZ] OWN.TN @ Kazakhtelecom
title = [KZ] OWN.TN @ Kazakhtelecom - Pavlodar, Kazakhstan [178.89.141.8]
host = 178.89.141.8
