++ amazon-sg
menu = [SG] Amazon AWS
title = [SG] Amazon AWS - Singapore [54.254.128.1]
host = 54.254.128.1

++ digitalocean-sgp
menu = [SG] DigitalOcean
title = [SG] DigitalOcean - Singapore [speedtest-sgp1.digitalocean.com]
host = speedtest-sgp1.digitalocean.com

++ gcp-sg
menu = [SG] Google Cloud
title = [SG] Google Cloud Platform (asia-southeast1) - Singapore [asia-southeast1-gce.cloudharmony.net]
host = asia-southeast1-gce.cloudharmony.net

++ leaseweb-sg
menu = [SG] LeaseWeb
title = [SG] LeaseWeb - Singapore [mirror.sg.leaseweb.net]
host = mirror.sg.leaseweb.net

++ linode-sg
menu = [SG] Linode
title = [SG] Linode - Singapore [speedtest.singapore.linode.com]
host = speedtest.singapore.linode.com

++ msazure-sg
menu = [SG] Microsoft Azure
title = [SG] Microsoft Azure - Singapore [asia-southeast-azure.cloudharmony.net]
host = asia-southeast-azure.cloudharmony.net

++ newmediaexpress-sg
menu = [SG] NewMedia Express
title = [SG] NewMedia Express - Singapore [sg1.newmediaexpress.com]
host = sg1.newmediaexpress.com

++ ovh-sgp
menu = [SG] OVH
title = [SG] OVH - Singapore [sgp.smokeping.ovh.net]
host = sgp.smokeping.ovh.net

++ tencent-ap-singapore
menu = [SG] Tencent Cloud
title = [SG] Tencent Cloud - Singapore [cos.ap-singapore.myqcloud.com]
host = cos.ap-singapore.myqcloud.com

++ vultr-sg
menu = [SG] Vultr
title = [SG] Vultr - Singapore [sgp-ping.vultr.com]
host = sgp-ping.vultr.com

++ digitalocean-blr
menu = [IN] DigitalOcean
title = [IN] DigitalOcean (BLR1) - Bangladore, India [speedtest-blr1.digitalocean.com]
host = speedtest-blr1.digitalocean.com

++ linode-mum
menu = [IN] Linode (Mumbai)
title = [IN] Linode - Mumbai, India [speedtest.mum1.linode.com]
host = speedtest.mum1.linode.com
