++ amazon-sg
menu = [SG] Amazon AWS
title = [SG] Amazon AWS - Singapore [54.254.128.1]
host = 54.254.128.1

++ leaseweb-sg
menu = [SG] LeaseWeb
title = [SG] LeaseWeb - Singapore [mirror.sg.leaseweb.net]
host = mirror.sg.leaseweb.net

++ linode-sg
menu = [SG] Linode
title = [SG] Linode - Singapore [speedtest.singapore.linode.com]
host = speedtest.singapore.linode.com

++ melbicom-sin1
menu = [SG] Melbicom
title = [SG] Melbicom - Singapore [103.172.116.3]
host = 103.172.116.3

++ newmediaexpress-sg
menu = [SG] NewMedia Express
title = [SG] NewMedia Express - Singapore [sg1.newmediaexpress.com]
host = sg1.newmediaexpress.com

++ ovh-sgp
menu = [SG] OVH
title = [SG] OVH - Singapore [sin.smokeping.ovh.net]
host = sin.smokeping.ovh.net

++ shockhosting-sg
menu = [SG] Shock Hosting
title = [SG] Shock Hosting - Singapore [sg-lg.shockhosting.net]
host = sg-lg.shockhosting.net

++ tencent-ap-singapore
menu = [SG] Tencent Cloud
title = [SG] Tencent Cloud - Singapore [cos.ap-singapore.myqcloud.com]
host = cos.ap-singapore.myqcloud.com

++ virtono-sin-sg
menu = [SG] Virtono @ M247
title = [SG] Virtono @ M247 - Singapore [sin-sg-ping.virtono.com]
host = sin-sg-ping.virtono.com

++ vultr-sg
menu = [SG] Vultr
title = [SG] Vultr - Singapore [sgp-ping.vultr.com]
host = sgp-ping.vultr.com

++ leapswitch
menu = [IN] Leapswitch
title = [IN] Leapswitch - Mumbai, India [lg-bom2.advancedserverdns.com]
host = lg-bom2.advancedserverdns.com

++ linode-mum
menu = [IN] Linode (Mumbai)
title = [IN] Linode - Mumbai, India [speedtest.mum1.linode.com]
host = speedtest.mum1.linode.com

++ vultr-blr1
menu = [IN] Vultr (Bangalore)
title = [IN] Vultr - Bangalore, India [blr-in-ping.vultr.com]
host = blr-in-ping.vultr.com

++ vultr-del
menu = [IN] Vultr (Delhi)
title = [IN] Vultr - Delhi NCR, India [del-in-ping.vultr.com]
host = del-in-ping.vultr.com

++ vultr-bom
menu = [IN] Vultr (Mumbai)
title = [IN] Vultr - Mumbai, India [bom-in-ping.vultr.com]
host = bom-in-ping.vultr.com

++ virtury
menu = [PK] Virtury Cloud
title = [PK] Virtury Cloud - Islamabad, Pakistan [lg.virtury.com]
host = lg.virtury.com

