{% if not smokeping_lite %}
++ aliyun-jp
menu = [JP] Aliyun / Alibaba Cloud
title = [JP] Aliyun / Alibaba Cloud - Tokyo, Japan [oss-ap-northeast-1.aliyuncs.com]
host = oss-ap-northeast-1.aliyuncs.com
{% endif %}

++ amazon-jp
menu = [JP] Amazon AWS
title = [JP] Amazon AWS - Tokyo, Japan [18.176.0.0]
host = 18.176.0.0

{% if not smokeping_lite %}
++ contabo-tyo
menu = [JP] Contabo
title = [JP] Contabo - Tokyo, Japan [tyo.speedtest.contabo.net]
host = tyo.speedtest.contabo.net

++ extravm-jp
menu = [JP] ExtraVM
title = [JP] ExtraVM @ GSL Networks - Tokyo, Japan [tokyo.lg.extravm.com]
host = tokyo.lg.extravm.com
{% endif %}

++ greencloud-tyo
menu = [JP] GreenCloud @ IIJ
title = [JP] GreenCloud @ xTom (IIJ blend) - Tokyo, Japan [91.200.242.41]
host = 91.200.242.41

++ hosthatch-tyo
menu = [JP] HostHatch
title = [JP] HostHatch - Tokyo, Japan [lg.tok.hosthatch.com]
host = lg.tok.hosthatch.com

{% if not smokeping_lite %}
++ kuaichedao-jp
menu = [JP] Kuaichedao
title = [JP] Kuaichedao @ Eons Data - Tokyo, Japan [jp-bgp.tyo.lg.kuaichedao.xyz]
host = jp-bgp.tyo.lg.kuaichedao.xyz
{% endif %}

++ leaseweb-jp
menu = [JP] LeaseWeb
title = [JP] LeaseWeb - Tokyo, Japan [mirror.jp.leaseweb.net]
host = mirror.jp.leaseweb.net

++ linode-jp
menu = [JP] Linode (Tokyo)
title = [JP] Linode - Tokyo, Japan [speedtest.tokyo2.linode.com]
host = speedtest.tokyo2.linode.com

{% if not smokeping_lite %}
++ oracle-jp
menu = [JP] Oracle Cloud
title = [JP] Oracle Cloud - Tokyo, Japan [objectstorage.ap-tokyo-1.oci.oraclecloud.com]
host = objectstorage.ap-tokyo-1.oci.oraclecloud.com
{% endif %}

++ shockhosting-jp
menu = [JP] Shock Hosting
title = [JP] Shock Hosting @ Host Universal - Tokyo, Japan [jp-lg.shockhosting.net]
host = jp-lg.shockhosting.net

{% if not smokeping_lite %}
++ silicloud-tyo_0
menu = [JP] SiliCloud
title = [JP] SiliCloud - Tokyo, Japan [lg-global-tyo01-jp.silicloud.com]
host = lg-global-tyo01-jp.silicloud.com

++ starrydns-tyo
menu = [JP] StarryDNS (Tokyo)
title = [JP] StarryDNS @ SoftBank - Tokyo, Japan [jp4.lg.starrydns.com]
host = jp4.lg.starrydns.com
{% endif %}

++ vultr-jp
menu = [JP] Vultr (Tokyo)
title = [JP] Vultr - Tokyo, Japan [hnd-jp-ping.vultr.com]
host = hnd-jp-ping.vultr.com

++ xtom-jp-tyo
menu = [JP] xTom (Tokyo)
title = [JP] xTom (V.PS) - Tokyo, Japan [nrt.speedtest.v.ps]
host = nrt.speedtest.v.ps

{% if not smokeping_lite %}
++ linode-osa
menu = [JP] Linode (Osaka)
title = [JP] Linode @ Akamai - Osaka, Japan [speedtest.osaka.linode.com]
host = speedtest.osaka.linode.com

++ starrydns-osk
menu = [JP] StarryDNS (Osaka)
title = [JP] StarryDNS - Osaka, Japan [jp2.lg.starrydns.com]
host = jp2.lg.starrydns.com

++ vultr-osk-jp
menu = [JP] Vultr (Osaka)
title = [JP] Vultr - Osaka, Japan [osk-jp-ping.vultr.com]
host = osk-jp-ping.vultr.com

++ xtom-jp-osa
menu = [JP] xTom (Osaka)
title = [JP] xTom (V.PS) - Osaka, Japan [kix.speedtest.v.ps]
host = kix.speedtest.v.ps

++ amazon-kr
menu = [KR] Amazon AWS
title = [KR] Amazon AWS - Seoul, Korea [15.164.0.0]
host = 15.164.0.0

++ hosthatch-kr
menu = [KR] HostHatch
title = [KR] HostHatch - Seoul, Korea [lg.sel.hosthatch.com]
host = lg.sel.hosthatch.com

++ korea-telecom
menu = [KR] Korea Telecom
title = [KR] Korea Telecom - Seoul, Korea [221.144.116.1]
# google cache
host = 221.144.116.1

++ moack
menu = [KR] Moack
title = [KR] Moack - Yongin, Korea [mirror.moack.co.kr]
host = mirror.moack.co.kr
{% endif %}

++ oracle-kr
menu = [KR] Oracle Cloud
title = [KR] Oracle Cloud - Seoul, Korea [objectstorage.ap-seoul-1.oci.oraclecloud.com]
host = objectstorage.ap-seoul-1.oci.oraclecloud.com

{% if not smokeping_lite %}
++ psychz-kr
menu = [KR] Psychz
title = [KR] Psychz - Seoul, Korea [lg.icn.psychz.net]
host = lg.icn.psychz.net

++ vultr-kr
menu = [KR] Vultr
title = [KR] Vultr - Seoul, Korea [sel-kor-ping.vultr.com]
host = sel-kor-ping.vultr.com

++ akile-hkl
menu = [HK] AkileCloud (HKL)
title = [HK] AkileCloud (HKL) - Hong Kong, China [lg.hkl.akile.io]
host = lg.hkl.akile.io
{% endif %}

++ aliyun-hk
menu = [HK] Aliyun
title = [HK] Aliyun / Alibaba Cloud - Hong Kong, China [oss-cn-hongkong.aliyuncs.com]
host = oss-cn-hongkong.aliyuncs.com

++ bytevirt-hk
menu = [HK] ByteVirt
title = [HK] ByteVirt @ Hytron - Hong Kong, China [hk2.lg.bytevirt.net]
host = hk2.lg.bytevirt.net

++ greencloud-hk1
menu = [HK] GreenCloud
title = [HK] GreenCloud @ xTom - Hong Kong, China [45.128.220.22]
host = 45.128.220.22

++ hosthatch-hk
menu = [HK] HostHatch
title = [HK] HostHatch - Hong Kong, China [lg.hkg.hosthatch.com]
host = lg.hkg.hosthatch.com

{% if not smokeping_lite %}
++ hostvds-hk
menu = [HK] HostVDS
title = [HK] HostVDS @ ADCDATA - Hong Kong, China [ping-hkg1.hostvds.com]
host = ping-hkg1.hostvds.com
{% endif %}

++ kuaichedao-hk
menu = [HK] Kuaichedao
title = [HK] Kuaichedao @ Eons Data - Hong Kong, China [hk-bgp.hkg.lg.kuaichedao.xyz]
host = hk-bgp.hkg.lg.kuaichedao.xyz

++ leaseweb-hk
menu = [HK] LeaseWeb
title = [HK] LeaseWeb - Hong Kong, China [mirror.hk.leaseweb.net]
host = mirror.hk.leaseweb.net

{% if not smokeping_lite %}
++ misaka-hk
menu = [HK] Misaka
title = [HK] Misaka Network - Hong Kong, China [45.11.104.140]
host = 45.11.104.140

++ orangevps-hk
menu = [HK] OrangeVPS
title = [HK] OrangeVPS - Hong Kong, China [hk-lg.orangevps.com]
host = hk-lg.orangevps.com
{% endif %}

++ skywolf-hk
menu = [HK] Skywolf Cloud
title = [HK] Skywolf Cloud - Hong Kong, China [lg.hk.skywolf.cloud]
host = lg.hk.skywolf.cloud

{% if not smokeping_lite %}
++ starrydns-hk
menu = [HK] StarryDNS
title = [HK] StarryDNS - Hong Kong, China [hk4.lg.starrydns.com]
host = hk4.lg.starrydns.com
{% endif %}

++ tencent-hk
menu = [HK] Tencent Cloud
title = [HK] Tencent Cloud - Hong Kong, China [cos.ap-hongkong.myqcloud.com]
host = cos.ap-hongkong.myqcloud.com

{% if not smokeping_lite %}
++ virtono-hk
menu = [HK] Virtono @ M247
title = [HK] Virtono @ M247 - Hong Kong, China [hk-ping.virtono.com]
host = hk-ping.virtono.com
{% endif %}

++ hinet-taipei
menu = [TW] HiNet (Taipei)
title = [TW] HiNet (Chunghwa Telecom) - Taipei, Taiwan [tp1.chtm.hinet.net]
host = tp1.chtm.hinet.net

++ seednet-taoyuan
menu = [TW] Seednet (Taoyuan)
title = [TW] Seednet (Digital United) - Taoyuan, Taiwan [seednet-ty1.seed.net.tw]
host = seednet-ty1.seed.net.tw

{% if not smokeping_lite %}
++ hostinginside
menu = [TW] SoftShellWeb
title = [TW] SoftShellWeb @ HostingInside - Taipei, Taiwan [tw-test.softshellhosting.com]
host = tw-test.softshellhosting.com

++ taiwan-mobile-taipei
menu = [TW] Taiwan Mobile (Taipei)
title = [TW] Taiwan Mobile - Taipei, Taiwan [spttp1.taiwanmobile.com]
host = spttp1.taiwanmobile.com
{% endif %}

++ gcore-khv
menu = [RU] EdgeCenter (Khabarovsk)
title = [RU] EdgeCenter (ex G-Core) - Khabarovsk, Russia [92.223.80.2]
host = 92.223.80.2
