++ amazon-sg
menu = [SG] Amazon AWS
title = [SG] Amazon AWS - Singapore [54.254.128.1]
host = 54.254.128.1

{% if not smokeping_lite %}
++ contabo-sg
menu = [SG] Contabo
title = [SG] Contabo - Singapore [sin.speedtest.contabo.net]
host = sin.speedtest.contabo.net

++ hetzner-sg
menu = [SG] Hetzner
title = [SG] Hetzner - Singapore [sin-speed.hetzner.com]
host = sin-speed.hetzner.com
{% endif %}

++ hosthatch-sg
menu = [SG] HostHatch
title = [SG] HostHatch - Singapore [lg.sgp.hosthatch.com]
host = lg.sgp.hosthatch.com

++ leaseweb-sg
menu = [SG] LeaseWeb
title = [SG] LeaseWeb - Singapore [mirror.sg.leaseweb.net]
host = mirror.sg.leaseweb.net

++ linode-sg
menu = [SG] Linode
title = [SG] Linode - Singapore [speedtest.singapore.linode.com]
host = speedtest.singapore.linode.com

{% if not smokeping_lite %}
++ melbicom-sin1
menu = [SG] Melbicom
title = [SG] Melbicom - Singapore [103.172.116.3]
host = 103.172.116.3

++ newmediaexpress-sg
menu = [SG] NewMedia Express
title = [SG] NewMedia Express - Singapore [sg1.newmediaexpress.com]
host = sg1.newmediaexpress.com
{% endif %}

++ host-universal-sg
menu = [SG] Onidel
title = [SG] Onidel @ Host Universal - Singapore, Singapore [sg.lg.onidel.com]
host = sg.lg.onidel.com

++ orangevps-sg
menu = [SG] OrangeVPS
title = [SG] OrangeVPS @ Epsilon Telecommunications - Singapore [sg-lg.orangevps.com]
host = sg-lg.orangevps.com

++ ovh-sgp-0
menu = [SG] OVH
title = [SG] OVH - Singapore [sgp.proof.ovh.net]
host = sgp.proof.ovh.net

{% if not smokeping_lite %}
++ serverpoint-sg
menu = [SG] ServerPoint.com
title = [SG] ServerPoint.com - Singapore [64.235.43.60]
host = 64.235.43.60

++ shockhosting-sg
menu = [SG] Shock Hosting
title = [SG] Shock Hosting - Singapore [sg-lg.shockhosting.net]
host = sg-lg.shockhosting.net

++ starrydns-sg
menu = [SG] StarryDNS
title = [SG] StarryDNS @ Telin - Singapore [sg1.lg.starrydns.com]
host = sg1.lg.starrydns.com

++ tencent-ap-singapore
menu = [SG] Tencent Cloud
title = [SG] Tencent Cloud - Singapore [cos.ap-singapore.myqcloud.com]
host = cos.ap-singapore.myqcloud.com
{% endif %}

++ vultr-sg
menu = [SG] Vultr
title = [SG] Vultr - Singapore [sgp-ping.vultr.com]
host = sgp-ping.vultr.com

{% if not smokeping_lite %}
++ linode-cgk
menu = [ID] Linode
title = [ID] Linode @ Akamai - Jakarta, Indonesia [speedtest.jakarta.linode.com]
host = speedtest.jakarta.linode.com

++ terabix-my
menu = [MY] Terabix
title = [MY] Terabix - Johor Bahru, Malaysia [160.30.4.225]
host = 160.30.4.225

++ contabo-mumbai
menu = [IN] Contabo (Mumbai)
title = [IN] Contabo - Mumbai, India [bom.speedtest.contabo.net]
host = bom.speedtest.contabo.net
{% endif %}

++ hostvds-in
menu = [IN] HostVDS @ Anonet
title = [IN] HostVDS @ Anonet - Delhi, India [ping-del1.hostvds.com]
host = ping-del1.hostvds.com

++ leapswitch
menu = [IN] Leapswitch (Mumbai)
title = [IN] Leapswitch - Mumbai, India [lg-bom2.advancedserverdns.com]
host = lg-bom2.advancedserverdns.com

++ linode-mum
menu = [IN] Linode (Mumbai)
title = [IN] Linode - Mumbai, India [speedtest.mum1.linode.com]
host = speedtest.mum1.linode.com

{% if not smokeping_lite %}
++ melbicom-bom
menu = [IN] Melbicom (Mumbai)
title = [IN] Melbicom - Mumbai, India [dl.bom.melbicom.net]
host = dl.bom.melbicom.net

++ ovh-bom
menu = [IN] OVH (Mumbai)
title = [IN] OVH - Mumbai, India [bom.proof.ovh.net]
host = bom.proof.ovh.net

++ psychz-in
menu = [IN] Psychz
title = [IN] Psychz - Mumbai, India [lg.in.psychz.net]
host = lg.in.psychz.net

++ readydedis
menu = [IN] ReadyDedis (Hyderabad)
title = [IN] ReadyDedis @ Web Werks - Hyderabad, India [170.205.54.253]
host = 170.205.54.253
{% endif %}

++ vultr-blr1
menu = [IN] Vultr (Bangalore)
title = [IN] Vultr - Bangalore, India [blr-in-ping.vultr.com]
host = blr-in-ping.vultr.com

{% if not smokeping_lite %}
++ vultr-del
menu = [IN] Vultr (Delhi)
title = [IN] Vultr - Delhi NCR, India [del-in-ping.vultr.com]
host = del-in-ping.vultr.com

++ vultr-bom
menu = [IN] Vultr (Mumbai)
title = [IN] Vultr - Mumbai, India [bom-in-ping.vultr.com]
host = bom-in-ping.vultr.com
{% endif %}

++ greencloud-hanoi
menu = [VN] GreenCloud (Hanoi)
title = [VN] GreenCloud @ FPT Telecom - Hanoi, Vietnam [lg.hn.greencloudvps.com]
host = lg.hn.greencloudvps.com

++ tothost-hanoi
menu = [VN] TOTHOST @ VNPT
title = [VN] TOTHOST @ VNPT - Hanoi, Vietnam [103.197.185.252]
host = 103.197.185.252

{% if not smokeping_lite %}

++ tothost-hanoi-2
menu = [VN] TOTHOST @ CMC
title = [VN] TOTHOST @ CMC Telecom - Hanoi, Vietnam [103.70.115.252]
host = 103.70.115.252

++ greencloud-hcm
menu = [VN] GreenCloud (Ho Chi Minh)
title = [VN] GreenCloud @ FPT Telecom - Ho Chi Minh City, Vietnam [lg.hcm.greencloudvps.com]
host = lg.hcm.greencloudvps.com
{% endif %}

++ virtury
menu = [PK] Virtury Cloud
title = [PK] Virtury Cloud - Islamabad, Pakistan [lg.virtury.com]
host = lg.virtury.com

++ gcore-khv
menu = [RU] EdgeCenter (Khabarovsk)
title = [RU] EdgeCenter (ex G-Core) - Khabarovsk, Russia [92.223.80.2]
host = 92.223.80.2

{% if not smokeping_lite %}
++ gcore-kz
menu = [KZ] G-Core Labs
title = [KZ] G-Core Labs - Almaty, Kazakhstan [213.156.137.1]
host = 213.156.137.1

++ owntn-kz
menu = [KZ] OWN.TN @ Kazakhtelecom
title = [KZ] OWN.TN @ Kazakhtelecom - Pavlodar, Kazakhstan [178.89.141.8]
host = 178.89.141.8
{% endif %}
