{% if not smokeping_lite %}
++ aliyun-beijing
menu = [CN] Aliyun (Beijing)
title = [CN] Aliyun / Alibaba Cloud - Beijing, China [oss-cn-beijing.aliyuncs.com]
host = oss-cn-beijing.aliyuncs.com

++ aliyun-shenzhen
menu = [CN] Aliyun (Shenzhen)
title = [CN] Aliyun / Alibaba Cloud - Shenzhen, China [oss-cn-shenzhen.aliyuncs.com]
host = oss-cn-shenzhen.aliyuncs.com
{% endif %}

++ amazon-cn-north1
menu = [CN] Amazon AWS (Beijing)
title = [CN] Amazon Web Services (cn-north1) - Beijing, China [52.81.0.253]
host = 52.81.0.253

++ cernet
menu = [CN] CERNET (Beijing)
title = [CN] CERNET - Beijing, China [mirrors.tuna.tsinghua.edu.cn]
host = mirrors.tuna.tsinghua.edu.cn

++ cernet-nanjing
menu = [CN] CERNET (Nanjing)
title = [CN] CERNET - Nanjing, China [mirror.nju.edu.cn]
host = mirror.nju.edu.cn

++ china-mobile-beijing
menu = [CN] China Mobile (Beijing)
title = [CN] China Mobile - Beijing, China [221.130.33.60]
host = 221.130.33.60

++ china-mobile-hangzhou
menu = [CN] China Mobile (Hangzhou)
title = [CN] China Mobile - Hangzhou, China [speedtest.139play.com]
host = speedtest.139play.com

++ china-mobile-guangzhou
menu = [CN] China Mobile (Guangzhou)
title = [CN] China Mobile - Guangzhou, China [211.136.192.6]
host = 211.136.192.6

++ china-telecom-beijing
menu = [CN] China Telecom (Beijing)
title = [CN] China Telecom - Beijing, China [218.30.118.6]
host = 218.30.118.6

++ china-telecom-shanghai_0
menu = [CN] China Telecom (Shanghai)
title = [CN] China Telecom - Shanghai, China [101.226.4.6]
host = 101.226.4.6

++ china-telecom-guangzhou
menu = [CN] China Telecom (Guangzhou)
title = [CN] China Telecom - Guangzhou, China [202.96.128.86]
host = 202.96.128.86

++ china-unicom-beijing
menu = [CN] China Unicom (Beijing)
title = [CN] China Unicom - Beijing, China [123.123.123.123]
host = 123.123.123.123

++ china-unicom-hangzhou
menu = [CN] China Unicom (Hangzhou)
title = [CN] China Unicom - Hangzhou, China [221.12.1.227]
host = 221.12.1.227

++ china-unicom-shenzhen
menu = [CN] China Unicom (Shenzhen)
title = [CN] China Unicom - Shenzhen, China [210.21.196.6]
host = 210.21.196.6

{% if not smokeping_lite %}
++ huawei-cn-north-1
menu = [CN] Huawei (Beijing)
title = [CN] Huawei Cloud (cn-north-1) - Beijing, China [as.cn-north-1.myhuaweicloud.com]
host = as.cn-north-1.myhuaweicloud.com

++ huawei-cn-east-2
menu = [CN] Huawei (Shanghai)
title = [CN] Huawei Cloud (cn-east-2) - Shanghai, China [as.cn-east-2.myhuaweicloud.com]
host = as.cn-east-2.myhuaweicloud.com

++ huawei-cn-south-1
menu = [CN] Huawei (Guangzhou)
title = [CN] Huawei Cloud (cn-south-1) - Guangzhou, China [as.cn-south-1.myhuaweicloud.com]
host = as.cn-south-1.myhuaweicloud.com

++ tencent-ap-beijing
menu = [CN] Tencent (Beijing)
title = [CN] Tencent Cloud @ China Telecom - Beijing, China [cos.ap-beijing.myqcloud.com]
host = cos.ap-beijing.myqcloud.com

++ tencent-ap-shanghai
menu = [CN] Tencent (Shanghai)
title = [CN] Tencent Cloud @ China Telecom - Shanghai, China [cos.ap-shanghai.myqcloud.com]
host = cos.ap-shanghai.myqcloud.com

++ tencent-ap-guangzhou
menu = [CN] Tencent (Guangzhou)
title = [CN] Tencent Cloud @ China Telecom - Guangzhou, China [cos.ap-guangzhou.myqcloud.com]
host = cos.ap-guangzhou.myqcloud.com
{% endif %}
