++ amazon-jp
menu = [JP] Amazon AWS
title = [JP] Amazon AWS - Tokyo, Japan [18.176.0.0]
host = 18.176.0.0

++ extravm-jp
menu = [JP] ExtraVM
title = [JP] ExtraVM @ Teraswitch - Tokyo, Japan [tokyo.lg.extravm.com]
host = tokyo.lg.extravm.com

++ gcp-jp
menu = [JP] Google Cloud
title = [JP] Google Cloud Platform (asia-northeast1) - Tokyo, Japan [asia-northeast1-gce.cloudharmony.net]
host = asia-northeast1-gce.cloudharmony.net

++ hosthatch-tyo
menu = [JP] HostHatch
title = [JP] HostHatch - Tokyo, Japan [lg.tok.hosthatch.com]
host = lg.tok.hosthatch.com

++ kuaichedao-jp
menu = [JP] Kuaichedao
title = [JP] Kuaichedao (Eons Data) - Tokyo, Japan [jp-bgp.tyo.lg.kuaichedao.xyz]
host = jp-bgp.tyo.lg.kuaichedao.xyz

++ linode-jp
menu = [JP] Linode
title = [JP] Linode - Tokyo, Japan [speedtest.tokyo2.linode.com]
host = speedtest.tokyo2.linode.com

++ oracle-jp
menu = [JP] Oracle Cloud
title = [JP] Oracle Cloud - Tokyo, Japan [objectstorage.ap-tokyo-1.oci.oraclecloud.com]
host = objectstorage.ap-tokyo-1.oci.oraclecloud.com

++ shockhosting-jp
menu = [JP] Shock Hosting
title = [JP] Shock Hosting - Tokyo, Japan [jp-lg.shockhosting.net]
host = jp-lg.shockhosting.net

++ virtono-tok-jp
menu = [JP] Virtono @ M247
title = [JP] Virtono @ M247 - Tokyo, Japan [tok-jp-ping.virtono.com]
host = tok-jp-ping.virtono.com

++ vultr-jp
menu = [JP] Vultr
title = [JP] Vultr - Tokyo, Japan [hnd-jp-ping.vultr.com]
host = hnd-jp-ping.vultr.com

++ xtom-jp-tyo
menu = [JP] xTom (Tokyo)
title = [JP] xTom (V.PS) - Tokyo, Japan [nrt.speedtest.v.ps]
host = nrt.speedtest.v.ps

++ xtom-jp-osa
menu = [JP] xTom (Osaka)
title = [JP] xTom (V.PS) - Osaka, Japan [kix.speedtest.v.ps]
host = kix.speedtest.v.ps

++ amazon-kr
menu = [KR] Amazon AWS
title = [KR] Amazon AWS - Seoul, Korea [15.164.0.0]
host = 15.164.0.0

++ oracle-kr
menu = [KR] Oracle Cloud
title = [KR] Oracle Cloud - Seoul, Korea [objectstorage.ap-seoul-1.oci.oraclecloud.com]
host = objectstorage.ap-seoul-1.oci.oraclecloud.com

++ vultr-kr
menu = [KR] Vultr
title = [KR] Vultr - Seoul, Korea [sel-kor-ping.vultr.com]
host = sel-kor-ping.vultr.com

++ aliyun-hk
menu = [HK] Aliyun
title = [HK] Aliyun / Alibaba Cloud - Hong Kong, China [oss-cn-hongkong.aliyuncs.com]
host = oss-cn-hongkong.aliyuncs.com

++ hosthatch-hk
menu = [HK] HostHatch
title = [HK] HostHatch - Hong Kong, China [lg.hkg.hosthatch.com]
host = lg.hkg.hosthatch.com

++ kuaichedao-hk
menu = [HK] Kuaichedao
title = [HK] Kuaichedao (Eons Data) - Hong Kong, China [hk-bgp.hkg.lg.kuaichedao.xyz]
host = hk-bgp.hkg.lg.kuaichedao.xyz

++ leaseweb-hk
menu = [HK] LeaseWeb
title = [HK] LeaseWeb - Hong Kong, China [mirror.hk.leaseweb.net]
host = mirror.hk.leaseweb.net

++ misaka-hk
menu = [HK] Misaka
title = [HK] Misaka - Hong Kong, China [45.11.104.140]
host = 45.11.104.140

++ msazure-hkg
menu = [HK] Microsoft Azure
title = [HK] Microsoft Azure - Hong Kong, China [asia-east-azure.cloudharmony.net]
host = asia-east-azure.cloudharmony.net

++ tencent-hk
menu = [HK] Tencent Cloud
title = [HK] Tencent Cloud - Hong Kong, China [cos.ap-hongkong.myqcloud.com]
host = cos.ap-hongkong.myqcloud.com

++ virtono-hk
menu = [HK] Virtono @ M247
title = [HK] Virtono @ M247 - Hong Kong [hk-ping.virtono.com]
host = hk-ping.virtono.com

++ xtom-hkg
menu = [HK] xTom
title = [HK] xTom / V.PS - Hong Kong, China [hkg.speedtest.v.ps]
host = hkg.speedtest.v.ps

++ gcore-khv
menu = [RU] G-Core (Khabarovsk)
title = [RU] G-Core Labs - Khabarovsk, Russia [92.223.80.2]
host = 92.223.80.2
