

++ aliyun-beijing
menu = [CN] Aliyun (Beijing)
title = [CN] Aliyun / Alibaba Cloud - Beijing, China [oss-cn-beijing.aliyuncs.com]
host = oss-cn-beijing.aliyuncs.com

++ aliyun-shenzhen
menu = [CN] Aliyun (Shenzhen)
title = [CN] Aliyun / Alibaba Cloud - Shenzhen, China [oss-cn-shenzhen.aliyuncs.com]
host = oss-cn-shenzhen.aliyuncs.com

++ amazon-cn-north1
menu = [CN] Amazon AWS (Beijing)
title = [CN] Amazon Web Services (cn-north1) - Beijing, China [52.81.0.253]
host = 52.81.0.253

++ cernet
menu = [CN] CERNET (Beijing)
title = [CN] CERNET - Beijing, China [mirrors.tuna.tsinghua.edu.cn]
host = mirrors.tuna.tsinghua.edu.cn

++ cernet-nanjing
menu = [CN] CERNET (Nanjing)
title = [CN] CERNET - Nanjing, China [mirror.nju.edu.cn]
host = mirror.nju.edu.cn

++ china-mobile-hangzhou
menu = [CN] China Mobile (Hangzhou)
title = [CN] China Mobile - Hangzhou, China [speedtest.139play.com]
host = speedtest.139play.com

++ china-telecom-hefei
menu = [CN] China Telecom (Hefei)
title = [CN] China Telecom (Hefei) - Hefei, China [speedtest1.ah163.com]
host = speedtest1.ah163.com

++ china-telecom-nanjing
menu = [CN] China Telecom (Nanjing)
title = [CN] China Telecom (Nanjing) - Nanjing, China [5gnanjing.speedtest.jsinfo.net]
host = 5gnanjing.speedtest.jsinfo.net

++ china-telecom-shanghai
menu = [CN] China Telecom (Shanghai)
title = [CN] China Telecom - Shanghai, China [speedtest1.online.sh.cn]
host = speedtest1.online.sh.cn

++ china-unicom-changsha
menu = [CN] China Unicom (Changsha)
title = [CN] China Unicom - Changsha, China [speedtest01.hn165.com]
host = speedtest01.hn165.com

++ china-unicom-shanghai
menu = [CN] China Unicom (Shanghai)
title = [CN] China Unicom - Shanghai, China [5g.shunicomtest.com]
host = 5g.shunicomtest.com

++ china-unicom-tianjin
menu = [CN] China Unicom (Tianjin)
title = [CN] China Unicom - Tianjin, China [speedtest3.online.tj.cn]
host = speedtest3.online.tj.cn

++ huawei-cn-north-1
menu = [CN] Huawei (Beijing)
title = [CN] Huawei Cloud (cn-north-1) - Beijing, China [as.cn-north-1.myhuaweicloud.com]
host = as.cn-north-1.myhuaweicloud.com

++ huawei-cn-east-2
menu = [CN] Huawei (Shanghai)
title = [CN] Huawei Cloud (cn-east-2) - Shanghai, China [as.cn-east-2.myhuaweicloud.com]
host = as.cn-east-2.myhuaweicloud.com

++ huawei-cn-south-1
menu = [CN] Huawei (Guangzhou)
title = [CN] Huawei Cloud (cn-south-1) - Guangzhou, China [as.cn-south-1.myhuaweicloud.com]
host = as.cn-south-1.myhuaweicloud.com

++ tencent-ap-beijing
menu = [CN] Tencent (Beijing)
title = [CN] Tencent Cloud - Beijing, China [cos.ap-beijing.myqcloud.com]
host = cos.ap-beijing.myqcloud.com

++ tencent-ap-shanghai
menu = [CN] Tencent (Shanghai)
title = [CN] Tencent Cloud - Shanghai, China [cos.ap-shanghai.myqcloud.com]
host = cos.ap-shanghai.myqcloud.com

++ tencent-ap-guangzhou
menu = [CN] Tencent (Guangzhou)
title = [CN] Tencent Cloud - Guangzhou, China [cos.ap-guangzhou.myqcloud.com]
host = cos.ap-guangzhou.myqcloud.com
