
++ aebc
menu = [CA/BC] AEBC
title = [CA/BC] AEBC / Cipherkey - Vancouver, BC, Canada [www.aebc.com]
host = www.aebc.com

++ astuteinternet-yvr
menu = [CA/BC] Astute Internet
title = [CA/BC] Astute Internet - Vancouver, BC, Canada [astuteinternet.com]
host = astuteinternet.com

++ bell-yvr
menu = [CA/BC] Bell (Vancouver)
title = [CA/BC] Bell - Vancouver, British Columbia [vancnspd01.srvr.bell.ca]
host = vancnspd01.srvr.bell.ca

++ cacloud-yvr
menu = [CA/BC] CACloud
title = [CA/BC] CACloud - Vancouver, BC, Canada [23.111.74.66]
host = 23.111.74.66

++ esecuredata-yvr
menu = [CA/BC] eSecureData
title = [CA/BC] eSecureData - Vancouver, BC, Canada [mirror.esecuredata.com]
host = mirror.esecuredata.com

++ freerangecloud-yvr
menu = [CA/BC] Free Range Cloud
title = [CA/BC] Free Range Cloud - Vancouver, BC, Canada [yvr01.lg.freerangecloud.com]
host = yvr01.lg.freerangecloud.com

++ gthost-yvr
menu = [CA/BC] GTHost
title = [CA/BC] GTHost - Vancouver, BC, Canada [158.51.122.166]
host = 158.51.122.166

++ performive-yvr
menu = [CA/BC] Performive / VPS.net
title = [CA/BC] Performive / VPS.net - Vancouver, BC, Canada [192.111.132.3]
host = 192.111.132.3

++ shaw-yvr
menu = [CA/BC] Shaw
title = [CA/BC] Shaw - Vancouver, BC, Canada [speedtest.vc.shawcable.net]
host = speedtest.vc.shawcable.net

++ telus-yvr
menu = [CA/BC] TELUS
title = [CA/BC] TELUS - Vancouver, BC, Canada [vancouver.speedtest.telus.com]
host = vancouver.speedtest.telus.com

++ teksavvy-yvr
menu = [CA/BC] Teksavvy
title = [CA/BC] Teksavvy - Vancouver, BC, Canada [speedtest-van.teksavvy.com]
host = speedtest-van.teksavvy.com

++ telus-yyc
menu = [CA/AB] TELUS (Calgary)
title = [CA/AB] TELUS - Calgary, AB, Canada [calgary.speedtest.telus.com]
host = calgary.speedtest.telus.com

++ shaw-yyc
menu = [CA/AB] Shaw (Calgary)
title = [CA/AB] Shaw - Calgary, AB, Canada [speedtest.cg.shawcable.net]
host = speedtest.cg.shawcable.net

++ freerangecloud-ywg
menu = [CA/MB] Free Range Cloud
title = [CA/MB] Free Range Cloud - Winnipeg, MB, CA [ywg01.lg.freerangecloud.com]
host = ywg01.lg.freerangecloud.com

++ digitalocean-tor
menu = [CA/ON] DigitalOcean
title = [CA/ON] DigitalOcean - Toronto, ON, Canada [speedtest-tor1.digitalocean.com]
host = speedtest-tor1.digitalocean.com

++ freerangecloud-yyz
menu = [CA/ON] Free Range Cloud
title = [CA/ON] Free Range Cloud - Toronto, ON, Canada [yyz01.lg.freerangecloud.com]
host = yyz01.lg.freerangecloud.com

++ gthost-yyz
menu = [CA/ON] GTHost
title = [CA/ON] GTHost - Toronto, ON, Canada [198.57.26.172]
host = 198.57.26.172

++ linode-tor
menu = [CA/ON] Linode
title = [CA/ON] Linode - Toronto, ON, Canada [speedtest.tor1.linode.com]
host = speedtest.toronto1.linode.com

++ msazure-tor
menu = [CA/ON] Microsoft Azure
title = [CA/ON] Microsoft Azure - Toronto, ON, Canada [canada-central-azure.cloudharmony.net]
host = canada-central-azure.cloudharmony.net

++ lunanode-tor
menu = [CA/ON] LunaNode
title = [CA/ON] LunaNode - Toronto, ON, Canada [toronto-test.lunanode.com]
host = toronto-test.lunanode.com

++ vultr-tor
menu = [CA/ON] Vultr
title = [CA/ON] Vultr - Toronto, ON, Canada [tor-ca-ping.vultr.com]
host = tor-ca-ping.vultr.com

++ xenyth
menu = [CA/ON] Xenyth Cloud
title = [CA/ON] Xenyth Cloud (GoCodeIT) - Toronto, ON, Canada [mirror.xenyth.net]
host = mirror.xenyth.net

{# ++ bell-yto
menu = [CA/ON] Bell
title = [CA/ON] Bell - Toronto, ON, Canada [tor47spd01.srvr.bell.ca]
host = tor47spd01.srvr.bell.ca #}

{# ++ rogers-yto
menu = [CA/ON] Rogers
title = [CA/ON] Rogers - Toronto, ON, Canada [speedtestgta.rogers.com]
host = speedtestgta.rogers.com #}

++ beanfield-yto
menu = [CA/ON] Beanfield
title = [CA/ON] Beanfield - Toronto, ON, Canada [speedtest.beanfield.com]
host = speedtest.beanfield.com

{# ++ rogers-ymq
menu = [CA/QC] Rogers
title = [CA/QC] Rogers - Montreal, QC, Canada [speedtestqcmtl.rogers.com]
host = speedtestqcmtl.rogers.com #}

++ amazon-ca
menu = [CA/QC] Amazon AWS
title = [CA/QC] Amazon Web Services (ca-central-1) [15.222.0.0]
host = 15.222.0.0

++ bell-ymq
menu = [CA/QC] Bell
title = [CA/QC] Bell - Montreal, QC, Canada [mtl01spd01.srvr.bell.ca]
host = mtl01spd01.srvr.bell.ca

++ hive-dc
menu = [CA/QC] Hive DC
title = [CA/QC] Hive Data Center - Pointe-Claire, QC, Canada [speedtest.hivedatacenter.com]
host = speedtest.hivedatacenter.com

++ msazure-yqb
menu = [CA/QC] Microsoft Azure
title = [CA/QC] Microsoft Azure - Quebec City, QC, Canada [canada-east-azure.cloudharmony.net]
host = canada-east-azure.cloudharmony.net

++ ovh-bhs
menu = [CA/QC] OVH
title = [CA/QC] OVH - Beauharnois, QC, Canada [proof.ovh.ca]
host = proof.ovh.ca

++ servarica
menu = [CA/QC] ServaRICA
title = [CA/QC] ServaRICA @ eStruxture - Montreal, QC, Canada [ping.servarica.com]
host = ping.servarica.com

++ virtono-qc-ca
menu = [CA/QC] Virtono @ M247
title = [CA/QC] Virtono @ M247 - Montreal, Canada [qc-ca-ping.virtono.com]
host = qc-ca-ping.virtono.com

++ eastlink-yhz
menu = [CA/NS] Eastlink
title = [CA/NS] Eastlink - Halifax, NS, Canada [speedtest-east.eastlink.ca]
host = speedtest-east.eastlink.ca
