++ china-mobile-beijing
menu = [CN] China Mobile (Beijing)
title = [CN] China Mobile - Beijing, China [speedtest.bmcc.com.cn]
host = speedtest.bmcc.com.cn

++ china-mobile-chengdu
menu = [CN] China Mobile (Chengdu)
title = [CN] China Mobile - Chengdu, China [speedtest1.sc.chinamobile.com]
host = speedtest1.sc.chinamobile.com

++ china-mobile-lanzhou
menu = [CN] China Mobile (Lanzhou)
title = [CN] China Mobile - Lanzhou, China [speedtest1.gs.chinamobile.com]
host = speedtest1.gs.chinamobile.com

++ china-telecom-chengdu
menu = [CN] China Telecom (Chengdu)
title = [CN] China Telecom - Chengdu, China [speedtest1.sc.189.cn]
host = speedtest1.sc.189.cn

++ china-telecom-lanzhou
menu = [CN] China Telecom (Lanzhou)
title = [CN] China Telecom - Lanzhou, China [speed.bajianjun.com]
host = speed.bajianjun.com

++ china-telecom-shanghai
menu = [CN] China Telecom (Shanghai)
title = [CN] China Telecom - Shanghai, China [speedtest1.online.sh.cn]
host = speedtest1.online.sh.cn

++ china-unicom-changsha
menu = [CN] China Unicom (Changsha)
title = [CN] China Unicom - Changsha, China [speedtest01.hn165.com]
host = speedtest01.hn165.com

++ china-unicom-shanghai
menu = [CN] China Unicom (Shanghai)
title = [CN] China Unicom - Shanghai, China [5g.shunicomtest.com]
host = 5g.shunicomtest.com

++ china-unicom-shenyang
menu = [CN] China Unicom (Shenyang)
title = [CN] China Unicom - Shenyang, China [unicomspeedtest.com]
host = unicomspeedtest.com
