++ amazon-lon
menu = [UK] Amazon AWS
title = [UK] Amazon Web Services - London, United Kingdom [3.8.0.0]
host = 3.8.0.0

++ clouvider-lon
menu = [UK] Clouvider
title = [UK] Clouvider - London, United Kingdom [uk.mirrors.clouvider.net]
host = uk.mirrors.clouvider.net

++ hosthatch-lon
menu = [UK] HostHatch
title = [UK] HostHatch - London, United Kingdom [lg.lon.hosthatch.com]
host = lg.lon.hosthatch.com

++ iomart-maidenhead
menu = [UK] Iomart (Maidenhead)
title = [UK] Iomart - Maidenhead, United Kingdom [dc5speedtest.rapidswitch.com]
host = dc5speedtest.rapidswitch.com

++ iomart-gosport
menu = [UK] Iomart (Gosport)
title = [UK] Iomart - Gosport, United Kingdom [speedtest-net7.rapidswitch.co.uk]
host = speedtest-net7.rapidswitch.co.uk

++ linode-lon
menu = [UK] Linode
title = [UK] Linode - London, United Kingdom [speedtest.london.linode.com]
host = speedtest.london.linode.com

++ ovh-lon
menu = [UK] OVH
title = [UK] OVH - Erith, London, United Kingdom [lon1-eri.smokeping.ovh.net]
host = lon1-eri.smokeping.ovh.net

++ pebblehost
menu = [UK] PebbleHost (Coventry)
title = [UK] PebbleHost - Coventry, United Kingdom [as212027.net]
host = as212027.net

++ smarthost-uk
menu = [UK] SmartHost @ VeloxServ
title = [UK] SmartHost @ VeloxServ - Redditch, United Kingdom [uk1.smarthost.net]
host = uk1.smarthost.net

++ ukservers-cov
menu = [UK] UKServers (Coventry)
title = [UK] UKServers - Coventry, United Kingdom [iperf.as42831.net]
host = iperf.as42831.net

++ xtom-lon
menu = [UK] xTom
title = [UK] xTom / V.PS - London, United Kingdom [lon.speedtest.v.ps]
host = lon.speedtest.v.ps

++ vultr-lon
menu = [UK] Vultr
title = [UK] Vultr - London, United Kingdom [lon-gb-ping.vultr.com]
host = lon-gb-ping.vultr.com

++ zare-lon
menu = [UK] Zare
title = [UK] Zare / Hydra Communications - London, United Kingdom [ldn.lg.zare.com]
host = ldn.lg.zare.com

++ hosteons-par
menu = [FR] hostEONS
title = [FR] hostEONS @ Limestone Networks - Paris, France [lg.fr.hosteons.com]
host = lg.fr.hosteons.com

++ ikoula
menu = [FR] Ikoula
title = [FR] Ikoula - Reims, France [reims.testdebit.info]
# speedtest.net server
host = reims.testdebit.info

++ linode-par
menu = [FR] Linode @ Akamai
title = [FR] Linode @ Akamai - Paris, France [speedtest.paris.linode.com]
host = speedtest.paris.linode.com

++ ovh-gra
menu = [FR] OVH (Gravelines)
title = [FR] OVH - Gravelines, France [gra.proof.ovh.net]
host = gra.proof.ovh.net

++ ovh-rbx
menu = [FR] OVH (Roubaix)
title = [FR] OVH - Roubaix, France [rbx.proof.ovh.net]
host = rbx.proof.ovh.net

++ ovh-sbg
menu = [FR] OVH (Strasbourg)
title = [FR] OVH - Strasbourg, France [sbg.proof.ovh.net]
host = sbg.proof.ovh.net

++ racknerd-fr
menu = [FR] RackNerd (Strasbourg)
title = [FR] RackNerd @ Host Europe - Strasbourg, France [lg-fr.racknerd.com]
host = lg-fr.racknerd.com

++ online-net-par
menu = [FR] Scaleway
title = [FR] Scaleway / Online.net - Paris, France [ping.online.net]
host = ping.online.net

++ vultr-cdg
menu = [FR] Vultr
title = [FR] Vultr - Paris, France [par-fr-ping.vultr.com]
host = par-fr-ping.vultr.com

++ clouvider-ams
menu = [NL] Clouvider
title = [NL] Clouvider - Amsterdam, Netherlands [nl.mirrors.clouvider.net]
host = nl.mirrors.clouvider.net

++ colocrossing-ams
menu = [NL] ColoCrossing
title = [NL] ColoCrossing - Amsterdam, Netherlands [192.210.175.1]
host = 192.210.175.1

++ hosthatch-ams
menu = [NL] HostHatch
title = [NL] HostHatch - Amsterdam, Netherlands [lg.ams.hosthatch.com]
host = lg.ams.hosthatch.com

++ hybula_0
menu = [NL] Hybula
title = [NL] Hybula - Amsterdam, Netherlands [lg-nl-ams.hybula.net]
host = lg-nl-ams.hybula.net

++ liteserver-dro
menu = [NL] LiteServer
title = [NL] LiteServer - Dronten, Netherlands [lg-dro.liteserver.nl]
host = lg-dro.liteserver.nl

++ melbicom-ams
menu = [NL] Melbicom
title = [NL] Melbicom - Amsterdam, Netherlands [dl.ams.melbicom.net]
host = dl.ams.melbicom.net

++ online-net-ams
menu = [NL] Scaleway
title = [NL] Scaleway / Online.net - Amsterdam, Netherlands [ping-ams1.online.net]
host = ping-ams1.online.net

++ ultravps-ams
menu = [NL] UltraVPS
title = [NL] UltraVPS - Amsterdam, Netherlands [lg.ams.nl.ultravps.eu]
host = lg.ams.nl.ultravps.eu

++ worldstream
menu = [NL] WorldStream
title = [NL] WorldStream - Naaldwijk, Netherlands [speedtest.worldstream.nl]
host = speedtest.worldstream.nl

++ aurologic
menu = [DE] Aurologic
title = [DE] Aurologic - Frankfurt, Germany [lg.aurologic.com]
host = lg.aurologic.com

++ clouvider-fra
menu = [DE] Clouvider
title = [DE] Clouvider - Frankfurt, Germany [de.mirrors.clouvider.net]
host = de.mirrors.clouvider.net

++ dtag-dusseldorf
menu = [DE] DTAG (Dusseldorf)
title = [DE] Deutsche Telekom - Dusseldorf, Germany [dus.wsqm.telekom-dienste.de]
host = dus.wsqm.telekom-dienste.de

++ dtag-frankfurt
menu = [DE] DTAG (Frankfurt)
title = [DE] Deutsche Telekom - Frankfurt Am Main, Germany [ffm.wsqm.telekom-dienste.de]
host = ffm.wsqm.telekom-dienste.de

++ hetzner-nbg
menu = [DE] Hetzner (Nuremberg)
title = [DE] Hetzner - Nuremberg, Germany [nbg.icmp.hetzner.com]
host = nbg.icmp.hetzner.com

++ hetzner-fsn
menu = [DE] Hetzner (Falkenstein)
title = [DE] Hetzner - Falkenstein, Germany [fsn.icmp.hetzner.com]
host = fsn.icmp.hetzner.com

++ ip-projects
menu = [DE] IP-Projects (Frankfurt)
title = [DE] IP-Projects - Frankfurt, Germany [lg.ip-projects.de]
host = lg.ip-projects.de

++ linode-fra
menu = [DE] Linode
title = [DE] Linode - Frankfurt, Germany [speedtest.frankfurt.linode.com]
host = speedtest.frankfurt.linode.com

++ meerfarbig
menu = [DE] meerfarbig
title = [DE] meerfarbig - Frankfurt, Germany [speedtest.meerfarbig.net]
host = speedtest.meerfarbig.net

++ melbicom-fra
menu = [DE] Melbicom
title = [DE] Melbicom - Frankfurt, Germany [dl.fra.melbicom.net]
host = dl.fra.melbicom.net

++ netcup-nbg
menu = [DE] Netcup (Nuremberg)
title = [DE] Netcup / Anexia - Nuremberg, Germany [lg.netcup.net]
host = lg.netcup.net

++ php-friends
menu = [DE] PHP-Friends
title = [DE] PHP-Friends @ SYNLINQ - Frankfurt, Germany [lg.php-friends.de]
host = lg.php-friends.de

++ ultravps-dus
menu = [DE] UltraVPS (Duesseldorf)
title = [DE] UltraVPS - Duesseldorf, Germany [lg.dus.de.ultravps.eu]
host = lg.dus.de.ultravps.eu

++ vserver-site-de
menu = [DE] vServer.site
title = [DE] vServer.site - Frankfurt, Germany [lg-ffm.vserver.site]
host = lg-ffm.vserver.site

++ virtono-fra-de
menu = [DE] Virtono @ M247
title = [DE] Virtono @ M247 - Frankfurt, Germany [fra-de-ping.virtono.com]
host = fra-de-ping.virtono.com

++ vultr-fra
menu = [DE] Vultr
title = [DE] Vultr - Frankfurt, Germany [fra-de-ping.vultr.com]
host = fra-de-ping.vultr.com

++ xtom-fra
menu = [DE] xTom
title = [DE] xTom / V.PS - Frankfurt, Germany [fra.speedtest.v.ps]
host = fra.speedtest.v.ps

++ buyvm-lu
menu = [LU] BuyVM
title = [LU] BuyVM - Roost, Luxembourg [speedtest.lu.buyvm.net]
host = speedtest.lu.buyvm.net

++ hosthatch-zrh
menu = [CH] HostHatch
title = [CH] HostHatch - Zurich, Switzerland [lg.zrh.hosthatch.com]
host = lg.zrh.hosthatch.com

++ infomaniak-geneva
menu = [CH] Infomaniak
title = [CH] Infomaniak - Geneva, Switzerland [speedtest2.infomaniak.com]
host = speedtest2.infomaniak.com

++ alwyzon
menu = [AT] Alwyzon
title = [AT] Alwyzon - Vienna, Austria [86.106.182.189]
host = 86.106.182.189

++ hosteroid-vie
menu = [AT] Hosteroid
title = [AT] Hosteroid @ UpstreamNet / Zayo France - Vienna, Austria [vie-lg.hosteroid.uk]
host = vie-lg.hosteroid.uk

++ hosthatch-vie
menu = [AT] HostHatch
title = [AT] HostHatch - Vienna, Austria [lg.vie.hosthatch.com]
host = lg.vie.hosthatch.com

++ hosthatch-osl
menu = [NO] HostHatch
title = [NO] HostHatch - Oslo, Norway [lg.osl.hosthatch.com]
host = lg.osl.hosthatch.com

++ terrahost-no
menu = [NO] Terrahost
title = [NO] Terrahost - Sandefjord, Norway [lg.terrahost.no]
host = lg.terrahost.no

++ suble
menu = [DK] Suble.io
title = [DK] Suble.io (Stacket Group) - Copenhagen, Denmark [89.23.86.1]
host = 89.23.86.1

++ virtono-cph-dk
menu = [DK] Virtono @ M247
title = [DK] Virtono @ M247 - Copenhagen, Denmark [cph-dk-ping.virtono.com]
host = cph-dk-ping.virtono.com

++ hosthatch-sto
menu = [SE] HostHatch
title = [SE] HostHatch - Stockholm, Sweden [lg.sto.hosthatch.com]
host = lg.sto.hosthatch.com

++ linode-sto
menu = [SE] Linode
title = [SE] Linode @ Akamai - Stockholm, Sweden [speedtest.stockholm.linode.com]
host = speedtest.stockholm.linode.com

++ vultr-sto
menu = [SE] Vultr
title = [SE] Vultr - Stockholm, Sweden [sto-se-ping.vultr.com]
host = sto-se-ping.vultr.com

++ hetzner-fi
menu = [FI] Hetzner
title = [FI] Hetzner - Helsinki, Finland [hel.icmp.hetzner.com]
host = hel.icmp.hetzner.com

++ ginernet
menu = [ES] GINERNET
title = [ES] GINERNET - Madrid, Spain [lg.ginernet.com]
host = lg.ginernet.com

++ melbicom-mad
menu = [ES] Melbicom
title = [ES] Melbicom - Madrid, Spain [dl.mad.melbicom.net]
host = dl.mad.melbicom.net

++ psychz-bcn
menu = [ES] Psychz
title = [ES] Psychz - Barcelona, Spain [lg.bcn.psychz.net]
host = lg.bcn.psychz.net

++ c1vhosting
menu = [IT] C1V Hosting
title = [IT] C1V Hosting - Pomezia, Italy [c1vhosting.it]
host = c1vhosting.it

++ linode-mil
menu = [IT] Linode
title = [IT] Linode @ Akamai - Milan, Italy [speedtest.milan.linode.com]
host = speedtest.milan.linode.com

++ melbicom-pal
menu = [IT] Melbicom
title = [IT] Melbicom - Palermo, Italy [dl.pal.melbicom.net]
host = dl.pal.melbicom.net

++ prometeus-it
menu = [IT] Prometeus
title = [IT] Prometeus / CDLAN - Milan, Italy [lg-milano.prometeus.net]
host = lg-milano.prometeus.net

++ skylonhost
menu = [CZ] SkylonHost
title = [CZ] SkylonHost - Prague, Czechia [lg.skylonhost.com]
host = lg.skylonhost.com

++ melbicom-waw
menu = [PL] Melbicom
title = [PL] Melbicom - Warsaw, Poland [dl.war.melbicom.net]
host = dl.war.melbicom.net

++ vultr-waw
menu = [PL] Vultr
title = [PL] Vultr - Warsaw, Poland [waw-pl-ping.vultr.com]
host = waw-pl-ping.vultr.com

++ melbicom-vil2
menu = [LT] Melbicom (Vilnius)
title = [LT] Melbicom - Vilnius, Lithuania [195.238.126.3]
host = 195.238.126.3

++ ultravps-lt
menu = [LT] UltraVPS (Siauliai)
title = [LT] UltraVPS - Siauliai, Lithuania [lg.sqq.lt.ultravps.eu]
host = lg.sqq.lt.ultravps.eu

++ xtom-tll
menu = [EE] xTom
title = [EE] xTom / V.PS - Tallinn, Estonia [tll.speedtest.v.ps]
host = tll.speedtest.v.ps

++ gcore-ua
menu = [UA] G-Core Labs
title = [UA] G-Core Labs - Kyiv, Ukraine [5.188.6.1]
host = 5.188.6.1

++ vsyshost-ua
menu = [UA] VSYS Host
title = [UA] VSYS Host - Kyiv, Ukraine [iperf.vsys.host]
host = iperf.vsys.host

++ alphavps-bg
menu = [BG] AlphaVPS
title = [BG] AlphaVPS - Sofia, Bulgaria [lgbg.alphavps.bg]
host = lgbg.alphavps.bg

++ melbicom-sof1
menu = [BG] Melbicom
title = [BG] Melbicom - Sofia, Bulgaria [213.183.63.91]
host = 213.183.63.91

++ m247-bucharest
menu = [RO] M247
title = [RO] M247 - Bucharest, Romania [speed.m247.ro]
host = speed.m247.ro

++ alexhost
menu = [MD] Alexhost
title = [MD] Alexhost - Chisinau, Moldova [lg.alexhost.com]
host = lg.alexhost.com
