++ amazon-lon
menu = [UK] Amazon AWS
title = [UK] Amazon Web Services - London, United Kingdom [3.8.0.0]
host = 3.8.0.0

++ clouvider-lon
menu = [UK] Clouvider
title = [UK] Clouvider - London, United Kingdom [uk.mirrors.clouvider.net]
host = uk.mirrors.clouvider.net

++ linode-lon
menu = [UK] Linode
title = [UK] Linode - London, United Kingdom [speedtest.london.linode.com]
host = speedtest.london.linode.com

++ ovh-lon
menu = [UK] OVH
title = [UK] OVH - Erith, London, United Kingdom [lon1-eri.smokeping.ovh.net]
host = lon1-eri.smokeping.ovh.net

++ vultr-lon
menu = [UK] Vultr
title = [UK] Vultr - London, United Kingdom [lon-gb-ping.vultr.com]
host = lon-gb-ping.vultr.com

++ zare-lon
menu = [UK] Zare
title = [UK] Zare / Hydra Communications - London, United Kingdom [ldn.lg.zare.com]
host = ldn.lg.zare.com

++ virtono-dub-ie
menu = [IE] Virtono @ M247
title = [IE] Virtono @ M247 - Dublin, Ireland [dub-ie-ping.virtono.com]
host = dub-ie-ping.virtono.com

++ ikoula
menu = [FR] Ikoula
title = [FR] Ikoula - Reims, France [reims.testdebit.info]
# speedtest.net server
host = reims.testdebit.info

++ ovh-gra
menu = [FR] OVH (Gravelines)
title = [FR] OVH - Gravelines, France [gra.proof.ovh.net]
host = gra.proof.ovh.net

++ ovh-rbx
menu = [FR] OVH (Roubaix)
title = [FR] OVH - Roubaix, France [rbx.proof.ovh.net]
host = rbx.proof.ovh.net

++ ovh-sbg
menu = [FR] OVH (Strasbourg)
title = [FR] OVH - Strasbourg, France [sbg.proof.ovh.net]
host = sbg.proof.ovh.net

++ online-net-par
menu = [FR] Scaleway
title = [FR] Scaleway / Online.net - Paris, France [ping.online.net]
host = ping.online.net

++ vultr-cdg
menu = [FR] Vultr
title = [FR] Vultr - Paris, France [par-fr-ping.vultr.com]
host = par-fr-ping.vultr.com

++ clouvider-ams
menu = [NL] Clouvider
title = [NL] Clouvider - Amsterdam, Netherlands [nl.mirrors.clouvider.net]
host = nl.mirrors.clouvider.net

++ colocrossing-ams
menu = [NL] ColoCrossing
title = [NL] ColoCrossing - Amsterdam, Netherlands [192.210.175.1]
host = 192.210.175.1

++ digitalocean-ams
menu = [NL] DigitalOcean
title = [NL] DigitalOcean (AMS2) - Amsterdam, Netherlands [speedtest-ams2.digitalocean.com]
host = speedtest-ams2.digitalocean.com

++ hosthatch-ams
menu = [NL] HostHatch
title = [NL] HostHatch - Amsterdam, Netherlands [lg.ams.hosthatch.com]
host = lg.ams.hosthatch.com

++ liteserver-dro
menu = [NL] LiteServer (Dronten)
title = [NL] LiteServer - Dronten, Netherlands [lg-dro.liteserver.nl]
host = lg-dro.liteserver.nl

++ online-net-ams
menu = [NL] Scaleway
title = [NL] Scaleway / Online.net - Amsterdam, Netherlands [ping-ams1.online.net]
host = ping-ams1.online.net

++ ultravps-ams
menu = [NL] UltraVPS
title = [NL] UltraVPS - Amsterdam, Netherlands [lg.ams.nl.ultravps.eu]
host = lg.ams.nl.ultravps.eu

++ worldstream
menu = [NL] WorldStream
title = [NL] WorldStream - Naaldwijk, Netherlands [speedtest.worldstream.nl]
host = speedtest.worldstream.nl

++ acceleratedit-fra
menu = [DE] AcceleratedIT (Frankfurt)
title = [DE] AcceleratedIT - Frankfurt, Germany [lg.ip-projects.de]
host = lg.ip-projects.de

++ hetzner-nbg
menu = [DE] Hetzner (Nuremberg)
title = [DE] Hetzner - Nuremberg, Germany [nbg.icmp.hetzner.com]
host = nbg.icmp.hetzner.com

++ hetzner-fsn
menu = [DE] Hetzner (Falkenstein)
title = [DE] Hetzner - Falkenstein, Germany [fsn.icmp.hetzner.com]
host = fsn.icmp.hetzner.com

++ linode-fra
menu = [DE] Linode (Frankfurt)
title = [DE] Linode - Frankfurt, Germany [speedtest.frankfurt.linode.com]
host = speedtest.frankfurt.linode.com

++ netcup-nbg
menu = [DE] Netcup (Nuremberg)
title = [DE] Netcup / Anexia - Nuremberg, Germany [lg.netcup.net]
host = lg.netcup.net

++ php-friends
menu = [DE] PHP-Friends (Frankfurt)
title = [DE] PHP-Friends @ SYNLINQ - Frankfurt, Germany [lg.php-friends.de]
host = lg.php-friends.de

++ vserver-site-de
menu = [DE] vServer.site (Frankfurt)
title = [DE] vServer.site - Frankfurt, Germany [lg-ffm.vserver.site]
host = lg-ffm.vserver.site

++ virtono-fra-de
menu = [DE] Virtono @ M247
title = [DE] Virtono @ M247 - Frankfurt, Germany [fra-de-ping.virtono.com]
host = fra-de-ping.virtono.com

++ vultr-fra
menu = [DE] Vultr
title = [DE] Vultr - Frankfurt, Germany [fra-de-ping.vultr.com]
host = fra-de-ping.vultr.com

++ buyvm-lu
menu = [LU] BuyVM
title = [LU] BuyVM - Roost, Luxembourg [speedtest.lu.buyvm.net]
host = speedtest.lu.buyvm.net

++ terrahost-no
menu = [NO] Terrahost
title = [NO] Terrahost - Sandefjord, Norway [lg.terrahost.no]
host = lg.terrahost.no

++ vultr-sto
menu = [SE] Vultr
title = [SE] Vultr - Stockholm, Sweden [sto-se-ping.vultr.com]
host = sto-se-ping.vultr.com

++ hetzner-fi
menu = [FI] Hetzner
title = [FI] Hetzner - Helsinki, Finland [hel.icmp.hetzner.com]
host = hel.icmp.hetzner.com

++ virtono-cph-dk
menu = [DK] Virtono @ M247
title = [DK] Virtono @ M247 - Copenhagen, Denmark [cph-dk-ping.virtono.com]
host = cph-dk-ping.virtono.com

++ vultr-waw
menu = [PL] Vultr
title = [PL] Vultr - Warsaw, Poland [waw-pl-ping.vultr.com]
host = waw-pl-ping.vultr.com

++ ultravps-lt
menu = [LT] UltraVPS (Siauliai)
title = [LT] UltraVPS - Siauliai, Lithuania [lg.sqq.lt.ultravps.eu]
host = lg.sqq.lt.ultravps.eu

++ justhost-dataline
menu = [RU] JustHost @ DataLine
title = [RU] JustHost.ru @ DataLine - Moscow, Russia [lg.justhost.ru]
host = lg.justhost.ru

++ alphavps-bg
menu = [BG] AlphaVPS
title = [BG] AlphaVPS - Sofia, Bulgaria [lgbg.alphavps.bg]
host = lgbg.alphavps.bg

++ m247-bucharest
menu = [RO] M247 (Bucharest)
title = [RO] M247 - Bucharest, Romania [speed.m247.ro]
host = speed.m247.ro

++ northrend-brasov
menu = [RO] ROMARG (Brasov)
title = [RO] ROMARG - Brasov Business Park, Romania [194.87.6.66]
host = 194.87.6.66
