{% if not smokeping_lite %}
++ amazon-lon
menu = [UK] Amazon AWS
title = [UK] Amazon Web Services - London, United Kingdom [3.8.0.0]
host = 3.8.0.0
{% endif %}

++ clouvider-lon
menu = [UK] Clouvider
title = [UK] Clouvider - London, United Kingdom [uk.mirrors.clouvider.net]
host = uk.mirrors.clouvider.net

{% if not smokeping_lite %}
++ contabo-uk
menu = [UK] Contabo
title = [UK] Contabo - Portsmouth, United Kingdom [pme.speedtest.contabo.net]
host = pme.speedtest.contabo.net

++ hosthatch-lon
menu = [UK] HostHatch
title = [UK] HostHatch - London, United Kingdom [lg.lon.hosthatch.com]
host = lg.lon.hosthatch.com
{% endif %}

++ linode-lon
menu = [UK] Linode
title = [UK] Linode - London, United Kingdom [speedtest.london.linode.com]
host = speedtest.london.linode.com

++ ovh-lon_0
menu = [UK] OVH
title = [UK] OVH - Erith, London, United Kingdom [eri.proof.ovh.net]
host = eri.proof.ovh.net

{% if not smokeping_lite %}
++ smarthost-uk
menu = [UK] SmartHost @ VeloxServ
title = [UK] SmartHost @ VeloxServ - Redditch, United Kingdom [uk1.smarthost.net]
host = uk1.smarthost.net
{% endif %}

++ ukservers-cov
menu = [UK] UKServers (Coventry)
title = [UK] UKServers - Coventry, United Kingdom [iperf.as42831.net]
host = iperf.as42831.net

{% if not smokeping_lite %}
++ xtom-lon
menu = [UK] xTom
title = [UK] xTom / V.PS - London, United Kingdom [lon.speedtest.v.ps]
host = lon.speedtest.v.ps

++ vultr-lon
menu = [UK] Vultr
title = [UK] Vultr - London, United Kingdom [lon-gb-ping.vultr.com]
host = lon-gb-ping.vultr.com

++ hostpapa-ie
menu = [IE] RackNerd
title = [IE] RackNerd @ HostPapa - Dublin, Ireland [23.95.225.2]
host = 23.95.225.2

++ hosteons-par
menu = [FR] hostEONS (Paris)
title = [FR] hostEONS @ Limestone Networks - Paris, France [lg.fr.hosteons.com]
host = lg.fr.hosteons.com

++ layer7-par
menu = [FR] Layer7 (Paris)
title = [FR] Layer7 @ Harmony Hosting - Paris, France [194.24.161.1]
host = 194.24.161.1

++ linode-par
menu = [FR] Linode (Paris)
title = [FR] Linode @ Akamai - Paris, France [speedtest.paris.linode.com]
host = speedtest.paris.linode.com
{% endif %}

++ ovh-gra
menu = [FR] OVH (Gravelines)
title = [FR] OVH - Gravelines, France [gra.proof.ovh.net]
host = gra.proof.ovh.net

++ ovh-rbx
menu = [FR] OVH (Roubaix)
title = [FR] OVH - Roubaix, France [rbx.proof.ovh.net]
host = rbx.proof.ovh.net

{% if not smokeping_lite %}
++ ovh-sbg
menu = [FR] OVH (Strasbourg)
title = [FR] OVH - Strasbourg, France [sbg.proof.ovh.net]
host = sbg.proof.ovh.net

++ racknerd-fr
menu = [FR] RackNerd (Strasbourg)
title = [FR] RackNerd @ Host Europe - Strasbourg, France [lg-fr.racknerd.com]
host = lg-fr.racknerd.com
{% endif %}

++ online-net-par
menu = [FR] Scaleway (Paris)
title = [FR] Scaleway / Online.net - Paris, France [ping.online.net]
host = ping.online.net

{% if not smokeping_lite %}
++ serverd-par
menu = [FR] SERVERD (Paris)
title = [FR] SERVERD - Paris, France [iperf.par.as62000.net]
host = iperf.par.as62000.net

++ virtua-lille
menu = [FR] Virtua (Lille)
title = [FR] Virtua.Cloud - Lille, France [lg.lil01fr.vsys.cloud]
host = lg.lil01fr.vsys.cloud
{% endif %}

++ vultr-cdg
menu = [FR] Vultr (Paris)
title = [FR] Vultr - Paris, France [par-fr-ping.vultr.com]
host = par-fr-ping.vultr.com

++ serverd-mrs
menu = [FR] SERVERD (Marseille)
title = [FR] SERVERD - Marseille, France [iperf.nce.as62000.net]
host = iperf.nce.as62000.net

{% if not smokeping_lite %}
++ chunkserve
menu = [NL] Chunkserve
title = [NL] Chunkserve @ backbone.direct - Amsterdam, Netherlands [191.96.11.3]
host = 191.96.11.3

++ clouvider-ams
menu = [NL] Clouvider
title = [NL] Clouvider - Amsterdam, Netherlands [nl.mirrors.clouvider.net]
host = nl.mirrors.clouvider.net

++ colocrossing-ams
menu = [NL] ColoCrossing
title = [NL] ColoCrossing - Amsterdam, Netherlands [192.210.175.1]
host = 192.210.175.1

++ deluxhost
menu = [NL] DeluxHost
title = [NL] DeluxHost - Amsterdam, Netherlands [lg.deluxhost.net]
host = lg.deluxhost.net

++ server-factory-nl
menu = [NL] heartbeat IT
title = [NL] heartbeat IT (server-factory) - Eygelshoven, Netherlands [lg.nl.heartbeat-it.com]
host = lg.nl.heartbeat-it.com
{% endif %}

++ hosthatch-ams
menu = [NL] HostHatch
title = [NL] HostHatch - Amsterdam, Netherlands [lg.ams.hosthatch.com]
host = lg.ams.hosthatch.com

{% if not smokeping_lite %}
++ hostslim-nl
menu = [NL] HostSlim
title = [NL] HostSlim - Lelystad, Netherlands [lg.hostslim.nl]
host = lg.hostslim.nl

++ leaseweb-nl
menu = [NL] LeaseWeb
title = [NL] LeaseWeb - Amsterdam, Netherlands [mirror.nl.leaseweb.net]
host = mirror.nl.leaseweb.net
{% endif %}

++ liteserver
menu = [NL] LiteServer
title = [NL] LiteServer - Dronten, Netherlands [lg-drn.liteserver.nl]
host = lg-drn.liteserver.nl

{% if not smokeping_lite %}
++ melbicom-ams
menu = [NL] Melbicom
title = [NL] Melbicom - Amsterdam, Netherlands [dl.ams.melbicom.net]
host = dl.ams.melbicom.net
{% endif %}

++ online-net-ams
menu = [NL] Scaleway
title = [NL] Scaleway / Online.net - Amsterdam, Netherlands [ping-ams1.online.net]
host = ping-ams1.online.net

{% if not smokeping_lite %}
++ skylink-nl
menu = [NL] SkyLink
title = [NL] SkyLink - Eygelshoven, Netherlands [speedtest.skylink-data-center.nl]
host = speedtest.skylink-data-center.nl

++ softshellweb-nl
menu = [NL] SoftShellWeb
title = [NL] SoftShellWeb @ REBA Communications - Amsterdam, Netherlands [ams-test.softshellhosting.com]
host = ams-test.softshellhosting.com
{% endif %}

++ ultravps-ams
menu = [NL] UltraVPS
title = [NL] UltraVPS - Amsterdam, Netherlands [lg.ams.nl.ultravps.eu]
host = lg.ams.nl.ultravps.eu

{% if not smokeping_lite %}
++ worldstream
menu = [NL] WorldStream
title = [NL] WorldStream - Naaldwijk, Netherlands [speedtest.worldstream.nl]
host = speedtest.worldstream.nl
{% endif %}

{% if not smokeping_lite %}
++ aurologic
menu = [DE] Aurologic (Frankfurt)
title = [DE] Aurologic - Frankfurt, Germany [lg.aurologic.com]
host = lg.aurologic.com
{% endif %}

++ clouvider-fra
menu = [DE] Clouvider (Frankfurt)
title = [DE] Clouvider - Frankfurt, Germany [de.mirrors.clouvider.net]
host = de.mirrors.clouvider.net

++ php-friends
menu = [DE] dataforest (Frankfurt)
title = [DE] dataforest / PHP-Friends / Avoro - Frankfurt, Germany [lg.php-friends.de]
host = lg.php-friends.de

++ dtag-frankfurt
menu = [DE] DTAG (Frankfurt)
title = [DE] Deutsche Telekom - Frankfurt Am Main, Germany [ffm.wsqm.telekom-dienste.de]
host = ffm.wsqm.telekom-dienste.de

{% if not smokeping_lite %}
++ ip-projects
menu = [DE] IP-Projects (Frankfurt)
title = [DE] IP-Projects - Frankfurt, Germany [lg.ip-projects.de]
host = lg.ip-projects.de

++ leaseweb-de
menu = [DE] LeaseWeb (Frankfurt)
title = [DE] LeaseWeb - Frankfurt, Germany [mirror.de.leaseweb.net]
host = mirror.de.leaseweb.net

++ linode-fra
menu = [DE] Linode (Frankfurt)
title = [DE] Linode - Frankfurt, Germany [speedtest.frankfurt.linode.com]
host = speedtest.frankfurt.linode.com

++ melbicom-fra
menu = [DE] Melbicom (Frankfurt)
title = [DE] Melbicom - Frankfurt, Germany [dl.fra.melbicom.net]
host = dl.fra.melbicom.net

++ serrvitro
menu = [DE] Servitro (Frankfurt)
title = [DE] Servitro @ active 1 - Frankfurt, Germany [lg-fra.servitro.com]
host = lg-fra.servitro.com
{% endif %}

++ synlinq
menu = [DE] SYNLINQ (Frankfurt)
title = [DE] SYNLINQ - Frankfurt, Germany [speedtest1.synlinq.de]
host = speedtest1.synlinq.de

{% if not smokeping_lite %}
++ vultr-fra
menu = [DE] Vultr (Frankfurt)
title = [DE] Vultr - Frankfurt, Germany [fra-de-ping.vultr.com]
host = fra-de-ping.vultr.com
{% endif %}

++ contabo-dus
menu = [DE] Contabo (Dusseldorf)
title = [DE] Contabo - Dusseldorf, Germany [dus.speedtest.contabo.net]
host = dus.speedtest.contabo.net

{% if not smokeping_lite %}
++ dtag-dusseldorf
menu = [DE] DTAG (Dusseldorf)
title = [DE] Deutsche Telekom - Dusseldorf, Germany [dus.wsqm.telekom-dienste.de]
host = dus.wsqm.telekom-dienste.de
{% endif %}

++ ultravps-dus
menu = [DE] UltraVPS (Dueseldorf)
title = [DE] UltraVPS - Dusseldorf, Germany [lg.dus.de.ultravps.eu]
host = lg.dus.de.ultravps.eu

{% if not smokeping_lite %}
++ alphavps-de
menu = [DE] AlphaVPS (Nuremberg)
title = [DE] AlphaVPS - Nuremberg, Germany [lgde.alphavps.com]
host = lgde.alphavps.com

++ hetzner-nbg
menu = [DE] Hetzner (Nuremberg)
title = [DE] Hetzner - Nuremberg, Germany [nbg.icmp.hetzner.com]
host = nbg.icmp.hetzner.com
{% endif %}

++ netcup-nbg
menu = [DE] Netcup (Nuremberg)
title = [DE] Netcup / Anexia - Nuremberg, Germany [lg.netcup.net]
host = lg.netcup.net

++ hetzner-fsn
menu = [DE] Hetzner (Falkenstein)
title = [DE] Hetzner - Falkenstein, Germany [fsn.icmp.hetzner.com]
host = fsn.icmp.hetzner.com

++ buyvm-lu
menu = [LU] BuyVM
title = [LU] BuyVM - Roost, Luxembourg [speedtest.lu.buyvm.net]
host = speedtest.lu.buyvm.net
