++ hosthatch-zrh
menu = [CH] HostHatch
title = [CH] HostHatch - Zurich, Switzerland [lg.zrh.hosthatch.com]
host = lg.zrh.hosthatch.com

++ infomaniak-geneva
menu = [CH] Infomaniak
title = [CH] Infomaniak - Geneva, Switzerland [speedtest2.infomaniak.com]
host = speedtest2.infomaniak.com

++ alwyzon
menu = [AT] Alwyzon
title = [AT] Alwyzon - Vienna, Austria [86.106.182.189]
host = 86.106.182.189

++ hosteroid-vie
menu = [AT] Hosteroid
title = [AT] Hosteroid @ UpstreamNet / Zayo France - Vienna, Austria [vie-lg.hosteroid.uk]
host = vie-lg.hosteroid.uk

++ hosthatch-vie
menu = [AT] HostHatch
title = [AT] HostHatch - Vienna, Austria [lg.vie.hosthatch.com]
host = lg.vie.hosthatch.com

++ hosthatch-osl
menu = [NO] HostHatch
title = [NO] HostHatch - Oslo, Norway [lg.osl.hosthatch.com]
host = lg.osl.hosthatch.com

++ terrahost-no
menu = [NO] Terrahost
title = [NO] Terrahost - Sandefjord, Norway [lg.terrahost.com]
host = lg.terrahost.com

++ virtono-cph-dk
menu = [DK] Virtono @ M247
title = [DK] Virtono @ M247 - Copenhagen, Denmark [cph-dk-ping.virtono.com]
host = cph-dk-ping.virtono.com

++ hosthatch-sto
menu = [SE] HostHatch
title = [SE] HostHatch - Stockholm, Sweden [lg.sto.hosthatch.com]
host = lg.sto.hosthatch.com

++ linode-sto
menu = [SE] Linode
title = [SE] Linode @ Akamai - Stockholm, Sweden [speedtest.stockholm.linode.com]
host = speedtest.stockholm.linode.com

++ server-factory-se
menu = [SE] server-factory
title = [SE] server-factory.com - Stockholm, Sweden [lg.se.server-factory.com]
host = lg.se.server-factory.com

++ vultr-sto
menu = [SE] Vultr
title = [SE] Vultr - Stockholm, Sweden [sto-se-ping.vultr.com]
host = sto-se-ping.vultr.com

++ hetzner-fi
menu = [FI] Hetzner
title = [FI] Hetzner - Helsinki, Finland [hel.icmp.hetzner.com]
host = hel.icmp.hetzner.com

++ ginernet
menu = [ES] GINERNET
title = [ES] GINERNET - Madrid, Spain [lg.ginernet.com]
host = lg.ginernet.com

++ melbicom-mad
menu = [ES] Melbicom
title = [ES] Melbicom - Madrid, Spain [dl.mad.melbicom.net]
host = dl.mad.melbicom.net

++ psychz-bcn
menu = [ES] Psychz
title = [ES] Psychz - Barcelona, Spain [lg.bcn.psychz.net]
host = lg.bcn.psychz.net

++ aruba-it1
menu = [IT] Aruba (Arezzo)
title = [IT] Aruba - Arezzo, Italy [it1.speedtest.aruba.it]
host = it1.speedtest.aruba.it

++ aruba-it3
menu = [IT] Aruba (Bergamo)
title = [IT] Aruba - Ponte San Pietro, Italy [it3.speedtest.aruba.it]
host = it3.speedtest.aruba.it

++ linode-mil
menu = [IT] Linode
title = [IT] Linode @ Akamai - Milan, Italy [speedtest.milan.linode.com]
host = speedtest.milan.linode.com

++ melbicom-pal
menu = [IT] Melbicom
title = [IT] Melbicom - Palermo, Italy [dl.pal.melbicom.net]
host = dl.pal.melbicom.net

++ prometeus-it
menu = [IT] Prometeus
title = [IT] Prometeus / CDLAN - Milan, Italy [lg-milano.prometeus.net]
host = lg-milano.prometeus.net

++ skylonhost
menu = [CZ] SkylonHost
title = [CZ] SkylonHost - Prague, Czechia [lg.skylonhost.com]
host = lg.skylonhost.com

++ melbicom-waw
menu = [PL] Melbicom
title = [PL] Melbicom - Warsaw, Poland [dl.war.melbicom.net]
host = dl.war.melbicom.net

++ vultr-waw
menu = [PL] Vultr
title = [PL] Vultr - Warsaw, Poland [waw-pl-ping.vultr.com]
host = waw-pl-ping.vultr.com

++ bacloud-lt
menu = [LT] BaCloud
title = [LT] BaCloud - Siauliai, Lithuania [lg-lt-eu.bacloud.com]
host = lg-lt-eu.bacloud.com

++ melbicom-vil2
menu = [LT] Melbicom (Vilnius)
title = [LT] Melbicom - Vilnius, Lithuania [195.238.126.3]
host = 195.238.126.3

++ ultravps-lt
menu = [LT] UltraVPS (Siauliai)
title = [LT] UltraVPS - Siauliai, Lithuania [lg.sqq.lt.ultravps.eu]
host = lg.sqq.lt.ultravps.eu

++ xtom-tll
menu = [EE] xTom
title = [EE] xTom / V.PS - Tallinn, Estonia [tll.speedtest.v.ps]
host = tll.speedtest.v.ps

++ melbicom-moscow
menu = [RU] Melbicom (Moscow)
title = [RU] Melbicom - Moscow, Russia [speedtest-msk.melbicom.net]
host = speedtest-msk.melbicom.net

++ misaka-moscow
menu = [RU] Misaka (Moscow)
title = [RU] Misaka Network - Moscow, Russia [ru-led01.speed.misaka.one]
host = ru-led01.speed.misaka.one

++ psychz-ru
menu = [RU] Psychz
title = [RU] Psychz - Moscow, Russia [lg.svo.psychz.net]
host = lg.svo.psychz.net

++ justhost-spb
menu = [RU] JustHost (Saint Petersburg)
title = [RU] JustHost @ RASCOM - Saint Petersburg, Russia [lg-led1.just.hosting]
host = lg-led1.just.hosting

++ justhost-ovb
menu = [RU] JustHost (Novosibirsk)
title = [RU] JustHost @ Rostelecom - Novosibirsk, Russia [lg-ovb2.just.hosting]
host = lg-ovb2.just.hosting

++ gcore-ua
menu = [UA] G-Core Labs
title = [UA] G-Core Labs - Kyiv, Ukraine [5.188.6.1]
host = 5.188.6.1

++ vsyshost-ua
menu = [UA] VSYS Host
title = [UA] VSYS Host - Kyiv, Ukraine [iperf.vsys.host]
host = iperf.vsys.host

++ alphavps-bg
menu = [BG] AlphaVPS
title = [BG] AlphaVPS - Sofia, Bulgaria [lgbg.alphavps.bg]
host = lgbg.alphavps.bg

++ melbicom-sof1
menu = [BG] Melbicom
title = [BG] Melbicom - Sofia, Bulgaria [213.183.63.91]
host = 213.183.63.91

++ m247-bucharest
menu = [RO] M247
title = [RO] M247 - Bucharest, Romania [speed.m247.ro]
host = speed.m247.ro

++ alexhost
menu = [MD] Alexhost
title = [MD] Alexhost - Chisinau, Moldova [lg.alexhost.com]
host = lg.alexhost.com
