++ vultr-mex
menu = [MX] Vultr
title = [MX] Vultr - Mexico City, Mexico [mex-mx-ping.vultr.com]
host = mex-mx-ping.vultr.com

++ amazon-br
menu = [BR] Amazon AWS
title = [BR] Amazon AWS - Sao Paulo, Brazil [54.94.0.66]
host = 54.94.0.66

++ edgeuno-fortaleza
menu = [BR] EdgeUno (Fortaleza)
title = [BR] EdgeUno - Fortaleza, Brazil [spt-for1.edgeuno.com]
host = spt-for1.edgeuno.com

++ edgeuno-sao-paulo
menu = [BR] EdgeUno (Sao Paulo)
title = [BR] EdgeUno - São Paulo, Brazil [spt-sao1.edgeuno.com]
host = spt-sao1.edgeuno.com

++ gcore-sao
menu = [BR] G-Core Labs
title = [BR] G-Core Labs - Sao Paulo, Brazil [5.188.238.2]
host = 5.188.238.2

++ linode-sao
menu = [BR] Linode
title = [BR] Linode @ Akamai - Sao Paulo, Brazil [speedtest.sao-paulo.linode.com]
host = speedtest.sao-paulo.linode.com

++ oneprovider-br
menu = [BR] OneProvider
title = [BR] OneProvider @ Latitude.sh - Sao Paulo, Brazil [185.192.124.1]
host = 185.192.124.1

++ psychz-sao
menu = [BR] Psychz
title = [BR] Psychz - Sao Paulo, Brazil [lg.sao.psychz.net]
host = lg.sao.psychz.net

++ vultr-sao
menu = [BR] Vultr
title = [BR] Vultr - Sao Paulo, Brazil [sao-br-ping.vultr.com]
host = sao-br-ping.vultr.com

++ vultr-scl
menu = [CL] Vultr
title = [CL] Vultr - Santiago, Chile [scl-cl-ping.vultr.com]
host = scl-cl-ping.vultr.com

++ edgeuno-buenos-aires
menu = [AR] EdgeUno
title = [AR] EdgeUno - Buenos Aires, Argentina [spt-eze1.edgeuno.com]
host = spt-eze1.edgeuno.com
