++ vultr-sao
menu = [BR] Vultr
title = [BR] Vultr - Sao Paulo, Brazil [sao-br-ping.vultr.com]
host = sao-br-ping.vultr.com

++ vultr-scl
menu = [CL] Vultr
title = [CL] Vultr - Santiago, Chile [scl-cl-ping.vultr.com]
host = scl-cl-ping.vultr.com
