++ aliyun-dxb
menu = [AE] Aliyun (Dubai)
title = [AE] Aliyun - Dubai, United Arab Emirates [oss-me-east-1.aliyuncs.com]
host = oss-me-east-1.aliyuncs.com

++ m247-dxb
menu = [AE] M247 (Dubai)
title = [AE] M247 - Dubai, United Arab Emirates [speed.uae.m247.ro]
host = speed.uae.m247.ro

++ melbicom-fjr1
menu = [AE] Melbicom (Fujairah)
title = [AE] Melbicom @ Etisalat - Fujairah, United Arab Emirates [95.174.68.145]
host = 95.174.68.145

++ amazon-bh
menu = [BH] Amazon AWS
title = [BH] Amazon Web Services (me-south-1) - Bahrain [15.185.32.254]
host = 15.185.32.254

++ melbicom-los1
menu = [NG] Melbicom
title = [NG] Melbicom @ Orange - Lagos, Nigeria [dl.los.melbicom.net]
host = dl.los.melbicom.net

++ psychz-jnb
menu = [ZA] Psychz
title = [ZA] Psychz - Johannesburg, South Africa [lg.jnb.psychz.net]
host = lg.jnb.psychz.net

++ vultr-jnb
menu = [ZA] Vultr
title = [ZA] Vultr - Johannesburg, South Africa [jnb-za-ping.vultr.com]
host = jnb-za-ping.vultr.com

++ zappiehost-za
menu = [ZA] ZappieHost
title = [ZA] ZappieHost - Johannesburg, South Africa [lg-za.zappiehost.com]
host = lg-za.zappiehost.com
