++ aliyun-dxb
menu = [AE] Aliyun (Dubai)
title = [AE] Aliyun - Dubai, United Arab Emirates [oss-me-east-1.aliyuncs.com]
host = oss-me-east-1.aliyuncs.com

++ m247-dxb
menu = [AE] M247 (Dubai)
title = [AE] M247 - Dubai, UAE [speed.uae.m247.ro]
host = speed.uae.m247.ro

++ amazon-bh
menu = [BH] Amazon AWS
title = [BH] Amazon Web Services (me-south-1) - Bahrain [15.185.32.254]
host = 15.185.32.254

++ oneprovider-ng
menu = [NG] OneProvider
title = [NG] OneProvider @ Melbicom - Lagos, Nigeria [156.238.26.1]
host = 156.238.26.1

++ angani
menu = [KE] Angani
title = [KE] Angani - Kenya [hosting.angani.co]
host = hosting.angani.co

++ psychz-jnb
menu = [ZA] Psychz
title = [ZA] Psychz - Johannesburg, South Africa [lg.jnb.psychz.net]
host = lg.jnb.psychz.net

++ zappiehost-za
menu = [ZA] ZappieHost
title = [ZA] ZappieHost - Johannesburg, South Africa [lg-za.zappiehost.com]
host = lg-za.zappiehost.com
