

++ att-cicero-il
menu = [US/IL] AT&T
title = [US/IL] AT&T - Cicero, IL, United States [cic.speedtest.sbcglobal.net]
host = cic.speedtest.sbcglobal.net

++ atomicnetworks-chi
menu = [US/IL] Atomic Networks
title = [US/IL] Atomic Networks - Chicago, IL, US [lg-us-chi.atomicnetworks.co]
host = lg-us-chi.atomicnetworks.co

++ colocrossing-chi
menu = [US/IL] ColoCrossing
title = [US/IL] ColoCrossing - Chicago, IL, US [lg.chi.colocrossing.com]
host = lg.chi.colocrossing.com

++ datawagon-chi
menu = [US/IL] DataWagon
title = [US/IL] DataWagon @ Nexeon - Chicago, IL, US [172.81.131.66]
host = 172.81.131.66

++ dedicated-chi
menu = [US/IL] Dedicated.com
title = [US/IL] Dedicated.com @ GSL Networks - Chicago, IL, US [lg.chi.dedicated.com]
host = lg.chi.dedicated.com

++ hosthatch-chi
menu = [US/IL] HostHatch
title = [US/IL] HostHatch - Chicago, IL, US [lg.chi.hosthatch.com]
host = lg.chi.hosthatch.com

++ linode-chi
menu = [US/IL] Linode @ Akamai
title = [US/IL] Linode @ Akamai - Chicago, IL, US [speedtest.chicago.linode.com]
host = speedtest.chicago.linode.com

++ nexeon
menu = [US/IL] Nexeon
title = [US/IL] Nexeon - Chicago, IL, US [lg.chi1.as20278.net]
host = lg.chi1.as20278.net

++ psychz-chi
menu = [US/IL] Psychz
title = [US/IL] Psychz - Chicago, IL, US [lg.chi.psychz.net]
host = lg.chi.psychz.net

++ tnahosting
menu = [US/IL] TNAHosting
title = [US/IL] TNAHosting @ GigeNET - Chicago, IL, US [lg.chi2.tnahosting.net]
host = lg.chi2.tnahosting.net

++ vultr-chi
menu = [US/IL] Vultr
title = [US/IL] Vultr - Chicago, IL, US [il-us-ping.vultr.com]
host = il-us-ping.vultr.com

++ contabo-stl
menu = [US/MO] Contabo
title = [US/MO] Contabo - St. Louis, MO, US [stl.speedtest.contabo.net]
host = stl.speedtest.contabo.net

++ joesdatacenter
menu = [US/MO] Joe's DC
title = [US/MO] Joe's Datacenter - Kansas City, MO, US [lg.joesdatacenter.com]
host = lg.joesdatacenter.com

++ nocix
menu = [US/MO] WholesaleInternet
title = [US/MO] Nocix / WholesaleInternet - Kansas City, MO, US [speedtest.nocix.net]
host = speedtest.nocix.net

++ freerangecloud-ywg
menu = [CA/MB] Free Range Cloud
title = [CA/MB] Free Range Cloud - Winnipeg, MB, CA [ywg01.lg.freerangecloud.com]
host = ywg01.lg.freerangecloud.com

++ smarthost-mi
menu = [US/MI] SmartHost @ 123NET
title = [US/MI] SmartHost @ 123NET - Flint, MI, US [mi1.smarthost.net]
host = mi1.smarthost.net

++ centurylink-cedar-rapids-ia
menu = [US/IA] CenturyLink
title = [US/IA] CenturyLink - Cedar Rapids, IA, United States [cedar-rapids.speedtest.centurylink.net]
host = cedar-rapids.speedtest.centurylink.net

++ cox-wichita-ks
menu = [US/KS] Cox
title = [US/KS] Cox - Wichita, KS, United States [speedtest.rd.ks.cox.net]
host = speedtest.rd.ks.cox.net

++ spectrum-st-cloud-mn
menu = [US/MN] Spectrum
title = [US/MN] Spectrum - St Cloud, MN, United States [spt01stcdmn.stcd.mn.charter.com]
host = spt01stcdmn.stcd.mn.charter.com

++ att-houston-tx
menu = [US/TX] AT&T
title = [US/TX] AT&T - Houston, TX, United States [hst.speedtest.sbcglobal.net]
host = hst.speedtest.sbcglobal.net

++ colocrossing-dal
menu = [US/TX] ColoCrossing
title = [US/TX] ColoCrossing - Dallas, TX, US [lg.dal.colocrossing.com]
host = lg.dal.colocrossing.com

++ dataideas-tx
menu = [US/TX] DataIdeas
title = [US/TX] DataIdeas - Spring, TX, US [spring-glass.dataideas.com]
host = spring-glass.dataideas.com

++ extravm-dal
menu = [US/TX] ExtraVM
title = [US/TX] ExtraVM @ Dedicated.com @ GSL Networks - Dallas, TX, US [dal.lg.extravm.com]
host = dal.lg.extravm.com

++ hosteons-dal
menu = [US/TX] hostEONS
title = [US/TX] hostEONS @ Limestone Networks - Dallas, TX, US [lg.dal.hosteons.com]
host = lg.dal.hosteons.com

++ hivelocity-dal_0
menu = [US/TX] Hivelocity
title = [US/TX] Hivelocity - Dallas, TX, United States [speedtest.dal.hivelocity.net]
host = speedtest.dal.hivelocity.net

++ leveloneservers-dal
menu = [US/TX] LevelOneServers
title = [US/TX] LevelOneServers @ Path.net - Dallas, TX, US [dal.lg.leveloneservers.com]
host = dal.lg.leveloneservers.com

++ linode-dal
menu = [US/TX] Linode
title = [US/TX] Linode - Dallas, TX, US [speedtest.dallas.linode.com]
host = speedtest.dallas.linode.com

++ nexeon-dal
menu = [US/TX] Nexeon
title = [US/TX] Nexeon - Dallas, TX, US [lg.dal1.as20278.net]
host = lg.dal1.as20278.net

++ nexril
menu = [US/TX] Nexril
title = [US/TX] Nexril - Dallas, TX, US [lg.nexril.net]
host = lg.nexril.net

++ oplink
menu = [US/TX] Oplink.net
title = [US/TX] Oplink.net - Spring, TX, US [speedtest.oplink.net]
host = speedtest.oplink.net

++ psychz-dal
menu = [US/TX] Psychz
title = [US/TX] Psychz - Dallas, TX, US [lg.texas.psychz.net]
host = lg.texas.psychz.net

++ spartanhost-dal
menu = [US/TX] SpartanHost
title = [US/TX] SpartanHost - Dallas, TX, US [lg.dal.spartanhost.net]
host = lg.dal.spartanhost.net

++ spectrum-fort-worth-tx
menu = [US/TX] Spectrum
title = [US/TX] Spectrum - Fort Worth, TX, United States [spt01ftwotx.ftwo.tx.charter.com]
host = spt01ftwotx.ftwo.tx.charter.com

++ tiernet-dal
menu = [US/TX] Tier.net
title = [US/TX] Tier.net - Dallas, TX, US [lg.tx.tier.net]
host = lg.tx.tier.net

++ vultr-dal
menu = [US/TX] Vultr
title = [US/TX] Vultr - Dallas, TX, US [tx-us-ping.vultr.com]
host = tx-us-ping.vultr.com

++ centurylink-denver-co
menu = [US/CO] CenturyLink
title = [US/CO] CenturyLink - Denver, CO, United States [denver.speedtest.centurylink.net]
host = denver.speedtest.centurylink.net

++ nexeon-den
menu = [US/CO] Nexeon
title = [US/CO] Nexeon - Denver, CO, US [lg.den1.as20278.net]
host = lg.den1.as20278.net

++ smarthost-co
menu = [US/CO] SmartHost
title = [US/CO] SmartHost @ Handy Networks - Denver, CO, US [co1.smarthost.net]
host = co1.smarthost.net

++ smarthost-nm
menu = [US/NM] SmartHost
title = [US/NM] SmartHost @ Brownrice Internet - Taos, NM, US [nm1.smarthost.net]
host = nm1.smarthost.net

++ cox-new-orleans-la
menu = [US/LA] Cox
title = [US/LA] Cox - New Orleans, LA, United States [speedtest.rd.no.cox.net]
host = speedtest.rd.no.cox.net
