{% if not smokeping_lite %}
++ atomicnetworks-chi
menu = [US/IL] Atomic Networks
title = [US/IL] Atomic Networks - Chicago, IL, US [lg-us-chi.atomicnetworks.co]
host = lg-us-chi.atomicnetworks.co
{% endif %}

++ colocrossing-chi
menu = [US/IL] ColoCrossing
title = [US/IL] ColoCrossing - Chicago, IL, US [lg.chi.colocrossing.com]
host = lg.chi.colocrossing.com

{% if not smokeping_lite %}
++ datawagon-chi
menu = [US/IL] DataWagon
title = [US/IL] DataWagon @ Nexeon - Chicago, IL, US [172.81.131.66]
host = 172.81.131.66

++ dedicated-chi
menu = [US/IL] Dedicated.com
title = [US/IL] Dedicated.com @ GSL Networks - Chicago, IL, US [lg.chi.dedicated.com]
host = lg.chi.dedicated.com

++ greencloud-il2
menu = [US/IL] GreenCloud
title = [US/IL] GreenCloud @ tzulo - Chicago, IL, US [173.249.214.11]
host = 173.249.214.11
{% endif %}

++ hosthatch-chi
menu = [US/IL] HostHatch
title = [US/IL] HostHatch - Chicago, IL, US [lg.chi.hosthatch.com]
host = lg.chi.hosthatch.com

++ linode-chi
menu = [US/IL] Linode @ Akamai
title = [US/IL] Linode @ Akamai - Chicago, IL, US [speedtest.chicago.linode.com]
host = speedtest.chicago.linode.com

++ nexeon
menu = [US/IL] Nexeon
title = [US/IL] Nexeon - Chicago, IL, US [lg.chi1.as20278.net]
host = lg.chi1.as20278.net

{% if not smokeping_lite %}
++ nuyek
menu = [US/IL] Nuyek
title = [US/IL] Nuyek - Highland, IL, US [lg.nuyek.com]
host = lg.nuyek.com

++ psychz-chi
menu = [US/IL] Psychz
title = [US/IL] Psychz - Chicago, IL, US [lg.chi.psychz.net]
host = lg.chi.psychz.net

++ tnahosting
menu = [US/IL] TNAHosting
title = [US/IL] TNAHosting @ GigeNET - Chicago, IL, US [lg.chi2.tnahosting.net]
host = lg.chi2.tnahosting.net

++ vultr-chi
menu = [US/IL] Vultr
title = [US/IL] Vultr - Chicago, IL, US [il-us-ping.vultr.com]
host = il-us-ping.vultr.com

++ contabo-stl
menu = [US/MO] Contabo
title = [US/MO] Contabo - St. Louis, MO, US [stl.speedtest.contabo.net]
host = stl.speedtest.contabo.net

++ joesdatacenter
menu = [US/MO] Joe's DC
title = [US/MO] Joe's Datacenter - Kansas City, MO, US [lg.joesdatacenter.com]
host = lg.joesdatacenter.com
{% endif %}

++ nocix
menu = [US/MO] Wholesale Internet
title = [US/MO] Nocix / Wholesale Internet - Kansas City, MO, US [speedtest.nocix.net]
host = speedtest.nocix.net

{% if not smokeping_lite %}
++ hostodo-mi
menu = [US/MI] Hostodo @ INCX
title = [US/MI] Hostodo @ INCX - Detroit, MI, US [det01.hostodo.com]
host = det01.hostodo.com

++ smarthost-mi
menu = [US/MI] SmartHost @ 123NET
title = [US/MI] SmartHost @ 123NET - Flint, MI, US [mi1.smarthost.net]
host = mi1.smarthost.net

++ spectrum-st-cloud-mn
menu = [US/MN] Spectrum
title = [US/MN] Spectrum - St Cloud, MN, United States [spt01stcdmn.stcd.mn.charter.com]
host = spt01stcdmn.stcd.mn.charter.com

++ clouvider-dal
menu = [US/TX] Clouvider
title = [US/TX] Clouvider - Dallas, TX, US [dal.mirrors.clouvider.net]
host = dal.mirrors.clouvider.net
{% endif %}

++ colocrossing-dal
menu = [US/TX] ColoCrossing
title = [US/TX] ColoCrossing - Dallas, TX, US [lg.dal.colocrossing.com]
host = lg.dal.colocrossing.com

{% if not smokeping_lite %}
++ dartnode
menu = [US/TX] DartNode
title = [US/TX] DartNode (Snaju) - Houston, TX, US [23.165.104.1]
host = 23.165.104.1
{% endif %}

++ extravm-dal
menu = [US/TX] ExtraVM
title = [US/TX] ExtraVM @ Dedicated.com @ GSL Networks - Dallas, TX, US [dal.lg.extravm.com]
host = dal.lg.extravm.com

{% if not smokeping_lite %}
++ hosteons-dal
menu = [US/TX] hostEONS
title = [US/TX] hostEONS @ Limestone Networks - Dallas, TX, US [lg.dal.hosteons.com]
host = lg.dal.hosteons.com

++ hostingbot-tx
menu = [US/TX] Hosting Bot
title = [US/TX] Linveo @ Hosting Bot - Dallas, TX, US [lg-texas.linveo.com]
host = lg-texas.linveo.com

++ leveloneservers-dal
menu = [US/TX] LevelOneServers
title = [US/TX] LevelOneServers (PureVoltage) @ Hivelocity - Dallas, TX, US [dal.lg.leveloneservers.com]
host = dal.lg.leveloneservers.com
{% endif %}

++ linode-dal
menu = [US/TX] Linode
title = [US/TX] Linode - Dallas, TX, US [speedtest.dallas.linode.com]
host = speedtest.dallas.linode.com

{% if not smokeping_lite %}
++ nexeon-dal
menu = [US/TX] Nexeon
title = [US/TX] Nexeon - Dallas, TX, US [lg.dal1.as20278.net]
host = lg.dal1.as20278.net

++ nexril
menu = [US/TX] Nexril
title = [US/TX] Nexril (PureVoltage) - Dallas, TX, US [lg.nexril.net]
host = lg.nexril.net

++ oplink
menu = [US/TX] Oplink.net
title = [US/TX] Oplink.net - Spring, TX, US [speedtest.oplink.net]
host = speedtest.oplink.net
{% endif %}

++ psychz-dal
menu = [US/TX] Psychz
title = [US/TX] Psychz - Dallas, TX, US [lg.texas.psychz.net]
host = lg.texas.psychz.net

{% if not smokeping_lite %}
++ spartanhost-dal
menu = [US/TX] SpartanHost
title = [US/TX] SpartanHost - Dallas, TX, US [lg.dal.spartanhost.net]
host = lg.dal.spartanhost.net

++ spectrum-fort-worth-tx
menu = [US/TX] Spectrum
title = [US/TX] Spectrum - Fort Worth, TX, United States [spt01ftwotx.ftwo.tx.charter.com]
host = spt01ftwotx.ftwo.tx.charter.com

++ tiernet-dal
menu = [US/TX] Tier.net
title = [US/TX] Tier.net - Dallas, TX, US [lg.tx.tier.net]
host = lg.tx.tier.net
{% endif %}

++ vultr-dal
menu = [US/TX] Vultr
title = [US/TX] Vultr - Dallas, TX, US [tx-us-ping.vultr.com]
host = tx-us-ping.vultr.com

{% if not smokeping_lite %}
++ centurylink-denver-co
menu = [US/CO] CenturyLink
title = [US/CO] CenturyLink - Denver, CO, United States [denver.speedtest.centurylink.net]
host = denver.speedtest.centurylink.net

++ nexeon-den
menu = [US/CO] Nexeon
title = [US/CO] Nexeon - Denver, CO, US [lg.den1.as20278.net]
host = lg.den1.as20278.net
{% endif %}

++ smarthost-co
menu = [US/CO] SmartHost
title = [US/CO] SmartHost @ Handy Networks - Denver, CO, US [co1.smarthost.net]
host = co1.smarthost.net

{% if not smokeping_lite %}
++ smarthost-nm
menu = [US/NM] SmartHost
title = [US/NM] SmartHost @ Brownrice Internet - Taos, NM, US [nm1.smarthost.net]
host = nm1.smarthost.net
{% endif %}
