++ bell-yyz
menu = [CA/ON] Bell
title = [CA/ON] Bell - Toronto, ON, Canada [wirelinespeedtesttoronto.srvr.bell.ca]
host = wirelinespeedtesttoronto.srvr.bell.ca

{% if not smokeping_lite %}
++ colocrossing-tor
menu = [CA/ON] ColoCrossing
title = [CA/ON] ColoCrossing - Toronto, ON, CA [lg.tor.colocrossing.com]
host = lg.tor.colocrossing.com
{% endif %}

++ freerangecloud-yyz_0
menu = [CA/ON] Free Range Cloud
title = [CA/ON] Free Range Cloud - Toronto, ON, Canada [103.144.177.38]
host = 103.144.177.38

++ greencloud-yyz
menu = [CA/ON] GreenCloud
title = [CA/ON] GreenCloud @ Amanah - Toronto, ON, Canada [172.93.167.178]
host = 172.93.167.178

{% if not smokeping_lite %}
++ gthost-yyz
menu = [CA/ON] GTHost
title = [CA/ON] GTHost - Toronto, ON, Canada [198.57.26.172]
host = 198.57.26.172

++ linode-tor
menu = [CA/ON] Linode
title = [CA/ON] Linode - Toronto, ON, Canada [speedtest.tor1.linode.com]
host = speedtest.toronto1.linode.com

++ oracle-yyz
menu = [CA/ON] Oracle Cloud
title = [CA/ON] Oracle Cloud - Toronto, ON, CA [objectstorage.ca-toronto-1.oci.oraclecloud.com]
host = objectstorage.ca-toronto-1.oci.oraclecloud.com
{% endif %}

++ rogers-east
menu = [CA/ON] Rogers
title = [CA/ON] Rogers - Toronto, ON, Canada [sttorontowireless.rogers.com]
host = sttorontowireless.rogers.com

{% if not smokeping_lite %}
++ smarthost-tor
menu = [CA/ON] SmartHost @ Nuday
title = [CA/ON] SmartHost @ Nuday Networks - Toronto, ON, CA [tor1.smarthost.net]
host = tor1.smarthost.net

++ vultr-tor
menu = [CA/ON] Vultr
title = [CA/ON] Vultr - Toronto, ON, Canada [tor-ca-ping.vultr.com]
host = tor-ca-ping.vultr.com
{% endif %}

++ xenyth
menu = [CA/ON] Xenyth Cloud
title = [CA/ON] Xenyth Cloud (GoCodeIT) - Toronto, ON, Canada [mirror.xenyth.net]
host = mirror.xenyth.net

{% if not smokeping_lite %}
++ amazon-ca
menu = [CA/QC] Amazon AWS
title = [CA/QC] Amazon Web Services (ca-central-1) [15.222.0.0]
host = 15.222.0.0

++ bell-ymq
menu = [CA/QC] Bell
title = [CA/QC] Bell - Montreal, QC, Canada [mtl01spd01.srvr.bell.ca]
host = mtl01spd01.srvr.bell.ca

++ fibrenoire
menu = [CA/QC] Fibrenoire
title = [CA/QC] Fibrenoire (Videotron) - Montreal, QC, Canada [srv12.mtlcx03.fibrenoire.ca]
host = srv12.mtlcx03.fibrenoire.ca

++ hive-dc
menu = [CA/QC] Hive DC
title = [CA/QC] Hive Data Center - Pointe-Claire, QC, Canada [speedtest.hivedatacenter.com]
host = speedtest.hivedatacenter.com

++ leaseweb-mtl
menu = [CA/QC] LeaseWeb
title = [CA/QC] LeaseWeb - Montreal, QC, CA [debian.mirror.iweb.ca]
host = debian.mirror.iweb.ca
{% endif %}

++ ovh-bhs
menu = [CA/QC] OVHcloud
title = [CA/QC] OVHcloud - Beauharnois, QC, Canada [proof.ovh.ca]
host = proof.ovh.ca

{% if not smokeping_lite %}
++ rogers-qc
menu = [CA/QC] Rogers
title = [CA/QC] Rogers - Montreal, QC, Canada [stmontrealwireless.rogers.com]
host = stmontrealwireless.rogers.com

++ servarica
menu = [CA/QC] ServaRICA
title = [CA/QC] ServaRICA - Montreal, QC, Canada [ping.servarica.com]
host = ping.servarica.com

++ eastlink-yhz
menu = [CA/NS] Eastlink
title = [CA/NS] Eastlink - Halifax, NS, Canada [speedtest-east.eastlink.ca]
host = speedtest-east.eastlink.ca

++ linveo-oh
menu = [US/OH] Linveo
title = [US/OH] Linveo - Columbus, OH, US [lg-ohio.linveo.com]
host = lg-ohio.linveo.com

++ smarthost-oh
menu = [US/OH] SmartHost @ Microtronix
title = [US/OH] SmartHost @ Microtronix - Ottoville, OH, US [oh1.smarthost.net]
host = oh1.smarthost.net
{% endif %}

++ buyvm-nyc
menu = [US/NY] BuyVM
title = [US/NY] BuyVM - New York City, NY, US [speedtest.ny.buyvm.net]
host = speedtest.ny.buyvm.net

{% if not smokeping_lite %}
++ clouvider-nyc
menu = [US/NY] Clouvider
title = [US/NY] Clouvider - New York City, NY, US [nyc.mirrors.clouvider.net]
host = nyc.mirrors.clouvider.net

++ fourplex
menu = [US/NY] Fourplex
title = [US/NY] Fourplex Telecom - New York City, NY, US [38.135.24.6]
host = 38.135.24.6

++ gsl-networks-new-york-ny
menu = [US/NY] GSL Networks
title = [US/NY] GSL Networks - New York, NY, United States [ny2.speedtest.gslnetworks.com]
host = ny2.speedtest.gslnetworks.com
{% endif %}

++ hosthatch-ny
menu = [US/NY] HostHatch
title = [US/NY] HostHatch - New York City, NY, US [lg.ny.hosthatch.com]
host = lg.ny.hosthatch.com

{% if not smokeping_lite %}
++ purevoltage-nyc
menu = [US/NY] PureVoltage
title = [US/NY] PureVoltage - New York, NY, US [lg.nyc.purevoltage.com]
host = lg.nyc.purevoltage.com
{% endif %}

++ rsnet-ny
menu = [US/NY] ReliableSite
title = [US/NY] ReliableSite - New York City, NY, US [nycmetro-speedtest.reliablesite.net]
host = nycmetro-speedtest.reliablesite.net

{% if not smokeping_lite %}
++ spectrum-new-york-ny
menu = [US/NY] Spectrum
title = [US/NY] Spectrum - New York, NY, United States [speedtest.nyc.rr.com]
host = speedtest.nyc.rr.com

++ webnx-nyc
menu = [US/NY] WebNX
title = [US/NY] WebNX - New York City, NY, US [nyc-lg.webnx.com]
host = nyc-lg.webnx.com

++ xtom-nyc
menu = [US/NY] xTom
title = [US/NY] xTom / V.PS - New York, United States [nyc.speedtest.v.ps]
host = nyc.speedtest.v.ps
{% endif %}

++ colocrossing-buf
menu = [US/NY] ColoCrossing (Buffalo)
title = [US/NY] ColoCrossing - Buffalo, NY, US [192.3.180.103]
host = 192.3.180.103

{% if not smokeping_lite %}
++ nexeon-buf
menu = [US/NY] Nexeon (Buffalo)
title = [US/NY] Nexeon - Buffalo, NY, US [lg.buf1.as20278.net]
host = lg.buf1.as20278.net

++ interserver-nj
menu = [US/NJ] InterServer
title = [US/NJ] InterServer - Secaucus, NJ, US [speedtest.is.cc]
host = speedtest.is.cc

++ hosteons-nyc
menu = [US/NJ] hostEONS
title = [US/NJ] hostEONS @ Limestone Networks - North Bergen, NJ, US [lg.ny.hosteons.com]
host = lg.ny.hosteons.com

++ hosteroid-nj
menu = [US/NJ] Hosteroid
title = [US/NJ] Hosteroid @ Atlantic Metro - Secaucus, NJ, US [nj-lg.hosteroid.uk]
host = nj-lg.hosteroid.uk
{% endif %}

++ linode-nj
menu = [US/NJ] Linode
title = [US/NJ] Linode - Newark, NJ, US [speedtest.newark.linode.com]
host = speedtest.newark.linode.com

++ vultr-nj
menu = [US/NJ] Vultr
title = [US/NJ] Vultr - New Jersey, US [nj-us-ping.vultr.com]
host = nj-us-ping.vultr.com

{% if not smokeping_lite %}
++ launchvps
menu = [US/PA] LaunchVPS
title = [US/PA] LaunchVPS - Philadelphia, PA, US [38.123.137.253]
host = 38.123.137.253
{% endif %}
