++ freerangecloud-ywg
menu = [CA/MB] Free Range Cloud
title = [CA/MB] Free Range Cloud - Winnipeg, MB, CA [ywg01.lg.freerangecloud.com]
host = ywg01.lg.freerangecloud.com

++ accuris
menu = [CA/ON] Accuris Hosting
title = [CA/ON] Accuris Hosting - Ottawa, ON, CA [23.130.139.88]
host = 23.130.139.88

++ freerangecloud-yyz
menu = [CA/ON] Free Range Cloud
title = [CA/ON] Free Range Cloud - Toronto, ON, Canada [yyz01.lg.freerangecloud.com]
host = yyz01.lg.freerangecloud.com

++ gthost-yyz
menu = [CA/ON] GTHost
title = [CA/ON] GTHost - Toronto, ON, Canada [198.57.26.172]
host = 198.57.26.172

++ linode-tor
menu = [CA/ON] Linode
title = [CA/ON] Linode - Toronto, ON, Canada [speedtest.tor1.linode.com]
host = speedtest.toronto1.linode.com

++ lunanode-tor
menu = [CA/ON] LunaNode
title = [CA/ON] LunaNode - Toronto, ON, Canada [toronto-test.lunanode.com]
host = toronto-test.lunanode.com

++ performive-yto
menu = [CA/ON] Performive / VPS.net
title = [CA/ON] Performive / VPS.net - Toronto, ON, Canada [172.98.73.4]
host = 172.98.73.4

++ smarthost-tor
menu = [CA/ON] SmartHost
title = [CA/ON] SmartHost @ Nuday Networks - Toronto, ON, CA [tor1.smarthost.net]
host = tor1.smarthost.net

++ vultr-tor
menu = [CA/ON] Vultr
title = [CA/ON] Vultr - Toronto, ON, Canada [tor-ca-ping.vultr.com]
host = tor-ca-ping.vultr.com

++ xenyth
menu = [CA/ON] Xenyth Cloud
title = [CA/ON] Xenyth Cloud (GoCodeIT) - Toronto, ON, Canada [mirror.xenyth.net]
host = mirror.xenyth.net

++ beanfield-yto
menu = [CA/ON] Beanfield
title = [CA/ON] Beanfield - Toronto, ON, Canada [speedtest.beanfield.com]
host = speedtest.beanfield.com

++ colocrossing-chi
menu = [US/IL] ColoCrossing
title = [US/IL] ColoCrossing - Chicago, IL, US [lg.chi.colocrossing.com]
host = lg.chi.colocrossing.com

++ hosthatch-chi
menu = [US/IL] HostHatch
title = [US/IL] HostHatch - Chicago, IL, US [lg.chi.hosthatch.com]
host = lg.chi.hosthatch.com

++ linode-chi
menu = [US/IL] Linode @ Akamai
title = [US/IL] Linode @ Akamai - Chicago, IL, US [speedtest.chicago.linode.com]
host = speedtest.chicago.linode.com

++ nexeon
menu = [US/IL] Nexeon
title = [US/IL] Nexeon - Chicago, IL, US [lg.chi1.as20278.net]
host = lg.chi1.as20278.net

++ psychz-chi
menu = [US/IL] Psychz
title = [US/IL] Psychz - Chicago, IL, US [lg.chi.psychz.net]
host = lg.chi.psychz.net

++ tnahosting
menu = [US/IL] TNAHosting
title = [US/IL] TNAHosting @ GigeNET - Chicago, IL, US [lg.chi2.tnahosting.net]
host = lg.chi2.tnahosting.net

++ vultr-chi
menu = [US/IL] Vultr
title = [US/IL] Vultr - Chicago, IL, US [il-us-ping.vultr.com]
host = il-us-ping.vultr.com

++ amazon-ca
menu = [CA/QC] Amazon AWS
title = [CA/QC] Amazon Web Services (ca-central-1) [15.222.0.0]
host = 15.222.0.0

++ bell-ymq
menu = [CA/QC] Bell
title = [CA/QC] Bell - Montreal, QC, Canada [mtl01spd01.srvr.bell.ca]
host = mtl01spd01.srvr.bell.ca

++ hive-dc
menu = [CA/QC] Hive DC
title = [CA/QC] Hive Data Center - Pointe-Claire, QC, Canada [speedtest.hivedatacenter.com]
host = speedtest.hivedatacenter.com

++ ovh-bhs
menu = [CA/QC] OVH
title = [CA/QC] OVH - Beauharnois, QC, Canada [proof.ovh.ca]
host = proof.ovh.ca

++ servarica
menu = [CA/QC] ServaRICA
title = [CA/QC] ServaRICA @ eStruxture - Montreal, QC, Canada [ping.servarica.com]
host = ping.servarica.com

++ virtono-qc-ca
menu = [CA/QC] Virtono @ M247
title = [CA/QC] Virtono @ M247 - Montreal, Canada [qc-ca-ping.virtono.com]
host = qc-ca-ping.virtono.com

++ eastlink-yhz
menu = [CA/NS] Eastlink
title = [CA/NS] Eastlink - Halifax, NS, Canada [speedtest-east.eastlink.ca]
host = speedtest-east.eastlink.ca

++ contabo-stl
menu = [US/MO] Contabo
title = [US/MO] Contabo - St. Louis, MO, US [stl.speedtest.contabo.net]
host = stl.speedtest.contabo.net

++ nocix
menu = [US/MO] WholesaleInternet
title = [US/MO] Nocix / WholesaleInternet - Kansas City, MO, US [speedtest.nocix.net]
host = speedtest.nocix.net

++ smarthost-mi
menu = [US/MI] SmartHost @ 123NET
title = [US/MI] SmartHost @ 123NET - Flint, MI, US [mi1.smarthost.net]
host = mi1.smarthost.net

++ smarthost-oh
menu = [US/OH] SmartHost @ Microtronix
title = [US/OH] SmartHost @ Microtronix - Ottoville, OH, US [oh1.smarthost.net]
host = oh1.smarthost.net

++ buyvm-nyc
menu = [US/NY] BuyVM
title = [US/NY] BuyVM - New York City, NY, US [speedtest.ny.buyvm.net]
host = speedtest.ny.buyvm.net

++ clouvider-nyc
menu = [US/NY] Clouvider
title = [US/NY] Clouvider - New York City, NY, US [nyc.mirrors.clouvider.net]
host = nyc.mirrors.clouvider.net

++ hosthatch-ny
menu = [US/NY] HostHatch
title = [US/NY] HostHatch - New York City, NY, US [lg.ny.hosthatch.com]
host = lg.ny.hosthatch.com

++ ramnode-ny
menu = [US/NY] Ramnode
title = [US/NY] Ramnode - New York City, NY, US [lg.nyc.ramnode.com]
host = lg.nyc.ramnode.com

++ rsnet-ny
menu = [US/NY] ReliableSite
title = [US/NY] ReliableSite - New York City, NY, US [104.243.42.233]
host = 104.243.42.233

++ webnx-nyc
menu = [US/NY] WebNX
title = [US/NY] WebNX - New York City, NY, US [nyc-lg.webnx.com]
host = nyc-lg.webnx.com

++ xtom-nyc
menu = [US/NY] xTom
title = [US/NY] xTom / V.PS - New York, United States [nyc.speedtest.v.ps]
host = nyc.speedtest.v.ps

++ colocrossing-buf
menu = [US/NY] ColoCrossing (Buffalo)
title = [US/NY] ColoCrossing - Buffalo, NY, US [192.3.180.103]
host = 192.3.180.103

++ interserver-nj
menu = [US/NJ] InterServer
title = [US/NJ] InterServer - Secaucus, NJ, US [speedtest.is.cc]
host = speedtest.is.cc

++ hosteons-nyc
menu = [US/NJ] hostEONS
title = [US/NJ] hostEONS @ Limestone Networks - North Bergen, NJ, US [lg.ny.hosteons.com]
host = lg.ny.hosteons.com

++ linode-nj
menu = [US/NJ] Linode
title = [US/NJ] Linode - Newark, NJ, US [speedtest.newark.linode.com]
host = speedtest.newark.linode.com

++ vultr-nj
menu = [US/NJ] Vultr
title = [US/NJ] Vultr - New Jersey, US [nj-us-ping.vultr.com]
host = nj-us-ping.vultr.com

++ launchvps
menu = [US/PA] LaunchVPS
title = [US/PA] LaunchVPS - Philadelphia, PA, US [38.123.137.253]
host = 38.123.137.253

++ freerangecloud-iad
menu = [US/VA] Free Range Cloud
title = [US/VA] Free Range Cloud @ Fork Systems - Ashburn, VA, US [iad01.lg.freerangecloud.com]
host = iad01.lg.freerangecloud.com

++ hetzner-va
menu = [US/VA] Hetzner
title = [US/VA] Hetzner - Ashburn, VA, US [ash-speed.hetzner.com]
host = ash-speed.hetzner.com

++ ovh-va
menu = [US/VA] OVH
title = [US/VA] OVH - Vint Hill, VA, US [vin.proof.ovh.us]
host = vin.proof.ovh.us

++ linode-was
menu = [US/DC] Linode @ Akamai
title = [US/DC] Linode @ Akamai - Washington, DC, US [speedtest.washington.linode.com]
host = speedtest.washington.linode.com

++ quickpacket-clt
menu = [US/VA] QuickPacket
title = [US/VA] QuickPacket - Ashburn, VA, US [lg.iad01.quickpacket.com]
host = lg.iad01.quickpacket.com

++ reliable-wv
menu = [US/WV] Reliable Hosting
title = [US/WV] Reliable Hosting Services - Berkeley Springs, WV, US [lg.reliablehostingservices.net]
host = lg.reliablehostingservices.net

++ colocrossing-atl
menu = [US/GA] ColoCrossing
title = [US/GA] ColoCrossing - Atlanta, GA, US [lg.atl.colocrossing.com]
host = lg.atl.colocrossing.com

++ greencloud-atl
menu = [US/GA] GreenCloud
title = [US/GA] GreenCloud @ Cyber Wurx - Atlanta, GA, US [69.61.74.53]
host = 69.61.74.53

++ linode-atl
menu = [US/GA] Linode
title = [US/GA] Linode - Atlanta, GA, US [speedtest.atlanta.linode.com]
host = speedtest.atlanta.linode.com

++ melbicom-atl
menu = [US/GA] Melbicom
title = [US/GA] Melbicom - Atlanta, GA, US [dl.atl.melbicom.net]
host = dl.atl.melbicom.net

++ ramnode-atl
menu = [US/GA] Ramnode
title = [US/GA] Ramnode - Atlanta, GA, US [lg.atl.ramnode.com]
host = lg.atl.ramnode.com

++ smarthost-ga
menu = [US/GA] SmartHost
title = [US/GA] SmartHost @ Coloblox - Atlanta, GA, US [ga1.smarthost.net]
host = ga1.smarthost.net

++ vultr-atl
menu = [US/GA] Vultr
title = [US/GA] Vultr - Atlanta, GA, US [ga-us-ping.vultr.com]
host = ga-us-ping.vultr.com

++ littlecreekhosting
menu = [US/NC] Little Creek Hosting
title = [US/NC] Little Creek Hosting @ Cogent - Durham, NC, US [38.45.64.1]
host = 38.45.64.1

++ smarthost-nc
menu = [US/NC] SmartHost
title = [US/NC] SmartHost @ AceHost - Durham, NC, US [nc1.smarthost.net]
host = nc1.smarthost.net

++ buyvm-mia
menu = [US/FL] BuyVM
title = [US/FL] BuyVM - Miami, FL, US [speedtest.mia.buyvm.net]
host = speedtest.mia.buyvm.net

++ hivelocity-mia
menu = [US/FL] Hivelocity (Miami)
title = [US/FL] Hivelocity - Miami, FL, United States [speedtest.mia.hivelocity.net]
host = speedtest.mia.hivelocity.net

++ hivelocity-tpa
menu = [US/FL] Hivelocity (Tampa)
title = [US/FL] Hivelocity - Tampa, FL, United States [speedtest.tpa2.hivelocity.net]
host = speedtest.tpa2.hivelocity.net

++ hosteons-mia
menu = [US/FL] hostEONS
title = [US/FL] hostEONS @ Limestone Networks - Miami, FL, US [lg.mia.hosteons.com]
host = lg.mia.hosteons.com

++ reliablesite-mia
menu = [US/FL] ReliableSite
title = [US/FL] ReliableSite - Miami, FL, US [miami-speedtest.reliablesite.net]
host = miami-speedtest.reliablesite.net

++ smarthost-jax
menu = [US/FL] SmartHost (Jacksonville)
title = [US/FL] SmartHost @ SBA Edge - Jacksonville, FL, US [fl1.smarthost.net]
host = fl1.smarthost.net

++ vultr-mia
menu = [US/FL] Vultr
title = [US/FL] Vultr - Miami, FL, US [fl-us-ping.vultr.com]
host = fl-us-ping.vultr.com
