++ accuris
menu = [CA/ON] Accuris Hosting
title = [CA/ON] Accuris Hosting - Ottawa, ON, CA [23.130.139.88]
host = 23.130.139.88

++ bell-yyz
menu = [CA/ON] Bell
title = [CA/ON] Bell - Toronto, ON, Canada [wirelinespeedtesttoronto.srvr.bell.ca]
host = wirelinespeedtesttoronto.srvr.bell.ca

++ freerangecloud-yyz
menu = [CA/ON] Free Range Cloud
title = [CA/ON] Free Range Cloud - Toronto, ON, Canada [yyz01.lg.freerangecloud.com]
host = yyz01.lg.freerangecloud.com

++ gthost-yyz
menu = [CA/ON] GTHost
title = [CA/ON] GTHost - Toronto, ON, Canada [198.57.26.172]
host = 198.57.26.172

++ linode-tor
menu = [CA/ON] Linode
title = [CA/ON] Linode - Toronto, ON, Canada [speedtest.tor1.linode.com]
host = speedtest.toronto1.linode.com

++ performive-yto
menu = [CA/ON] Performive / VPS.net
title = [CA/ON] Performive / VPS.net - Toronto, ON, Canada [172.98.73.4]
host = 172.98.73.4

++ rogers-east
menu = [CA/ON] Rogers Wireless
title = [CA/ON] Rogers Wireless - Toronto, ON, Canada [sttorontowireless.rogers.com]
host = sttorontowireless.rogers.com

++ smarthost-tor
menu = [CA/ON] SmartHost @ Nuday
title = [CA/ON] SmartHost @ Nuday Networks - Toronto, ON, CA [tor1.smarthost.net]
host = tor1.smarthost.net

++ vultr-tor
menu = [CA/ON] Vultr
title = [CA/ON] Vultr - Toronto, ON, Canada [tor-ca-ping.vultr.com]
host = tor-ca-ping.vultr.com

++ xenyth
menu = [CA/ON] Xenyth Cloud
title = [CA/ON] Xenyth Cloud (GoCodeIT) - Toronto, ON, Canada [mirror.xenyth.net]
host = mirror.xenyth.net

++ beanfield-yto
menu = [CA/ON] Beanfield
title = [CA/ON] Beanfield - Toronto, ON, Canada [speedtest.beanfield.com]
host = speedtest.beanfield.com

++ amazon-ca
menu = [CA/QC] Amazon AWS
title = [CA/QC] Amazon Web Services (ca-central-1) [15.222.0.0]
host = 15.222.0.0

++ bell-ymq
menu = [CA/QC] Bell
title = [CA/QC] Bell - Montreal, QC, Canada [mtl01spd01.srvr.bell.ca]
host = mtl01spd01.srvr.bell.ca

++ hive-dc
menu = [CA/QC] Hive DC
title = [CA/QC] Hive Data Center - Pointe-Claire, QC, Canada [speedtest.hivedatacenter.com]
host = speedtest.hivedatacenter.com

++ ovh-bhs
menu = [CA/QC] OVH
title = [CA/QC] OVH - Beauharnois, QC, Canada [proof.ovh.ca]
host = proof.ovh.ca

++ servarica
menu = [CA/QC] ServaRICA
title = [CA/QC] ServaRICA - Montreal, QC, Canada [ping.servarica.com]
host = ping.servarica.com

++ eastlink-yhz
menu = [CA/NS] Eastlink
title = [CA/NS] Eastlink - Halifax, NS, Canada [speedtest-east.eastlink.ca]
host = speedtest-east.eastlink.ca

++ smarthost-oh
menu = [US/OH] SmartHost @ Microtronix
title = [US/OH] SmartHost @ Microtronix - Ottoville, OH, US [oh1.smarthost.net]
host = oh1.smarthost.net

++ buyvm-nyc
menu = [US/NY] BuyVM
title = [US/NY] BuyVM - New York City, NY, US [speedtest.ny.buyvm.net]
host = speedtest.ny.buyvm.net

++ clouvider-nyc
menu = [US/NY] Clouvider
title = [US/NY] Clouvider - New York City, NY, US [nyc.mirrors.clouvider.net]
host = nyc.mirrors.clouvider.net

++ gsl-networks-new-york-ny
menu = [US/NY] GSL Networks
title = [US/NY] GSL Networks - New York, NY, United States [ny2.speedtest.gslnetworks.com]
host = ny2.speedtest.gslnetworks.com

++ hosthatch-ny
menu = [US/NY] HostHatch
title = [US/NY] HostHatch - New York City, NY, US [lg.ny.hosthatch.com]
host = lg.ny.hosthatch.com

++ ramnode-ny
menu = [US/NY] Ramnode
title = [US/NY] Ramnode - New York City, NY, US [lg.nyc.ramnode.com]
host = lg.nyc.ramnode.com

++ rsnet-ny
menu = [US/NY] ReliableSite
title = [US/NY] ReliableSite - New York City, NY, US [nycmetro-speedtest.reliablesite.net]
host = nycmetro-speedtest.reliablesite.net

++ spectrum-new-york-ny
menu = [US/NY] Spectrum
title = [US/NY] Spectrum - New York, NY, United States [speedtest.nyc.rr.com]
host = speedtest.nyc.rr.com

++ webnx-nyc
menu = [US/NY] WebNX
title = [US/NY] WebNX - New York City, NY, US [nyc-lg.webnx.com]
host = nyc-lg.webnx.com

++ xtom-nyc
menu = [US/NY] xTom
title = [US/NY] xTom / V.PS - New York, United States [nyc.speedtest.v.ps]
host = nyc.speedtest.v.ps

++ colocrossing-buf
menu = [US/NY] ColoCrossing (Buffalo)
title = [US/NY] ColoCrossing - Buffalo, NY, US [192.3.180.103]
host = 192.3.180.103

++ nexeon-buf
menu = [US/NY] Nexeon (Buffalo)
title = [US/NY] Nexeon - Buffalo, NY, US [lg.buf1.as20278.net]
host = lg.buf1.as20278.net

++ interserver-nj
menu = [US/NJ] InterServer
title = [US/NJ] InterServer - Secaucus, NJ, US [speedtest.is.cc]
host = speedtest.is.cc

++ hosteons-nyc
menu = [US/NJ] hostEONS
title = [US/NJ] hostEONS @ Limestone Networks - North Bergen, NJ, US [lg.ny.hosteons.com]
host = lg.ny.hosteons.com

++ hosteroid-nj
menu = [US/NJ] Hosteroid
title = [US/NJ] Hosteroid @ Atlantic Metro - Secaucus, NJ, US [nj-lg.hosteroid.uk]
host = nj-lg.hosteroid.uk

++ linode-nj
menu = [US/NJ] Linode
title = [US/NJ] Linode - Newark, NJ, US [speedtest.newark.linode.com]
host = speedtest.newark.linode.com

++ vultr-nj
menu = [US/NJ] Vultr
title = [US/NJ] Vultr - New Jersey, US [nj-us-ping.vultr.com]
host = nj-us-ping.vultr.com

++ crunchbits-pa
menu = [US/PA] Crunchbits
title = [US/PA] Crunchbits - Allentown, PA, US [38.175.196.2]
host = 38.175.196.2

++ hopone
menu = [US/PA] Hop One
title = [US/PA] Hop One Networks - Philadelphia, PA, US [23.175.144.114]
host = 23.175.144.114

++ launchvps
menu = [US/PA] LaunchVPS
title = [US/PA] LaunchVPS - Philadelphia, PA, US [38.123.137.253]
host = 38.123.137.253

++ freerangecloud-iad
menu = [US/VA] Free Range Cloud
title = [US/VA] Free Range Cloud @ Fork Systems - Ashburn, VA, US [iad01.lg.freerangecloud.com]
host = iad01.lg.freerangecloud.com

++ hetzner-va
menu = [US/VA] Hetzner
title = [US/VA] Hetzner - Ashburn, VA, US [ash-speed.hetzner.com]
host = ash-speed.hetzner.com

++ linode-was
menu = [US/DC] Linode @ Akamai
title = [US/DC] Linode @ Akamai - Washington, DC, US [speedtest.washington.linode.com]
host = speedtest.washington.linode.com

++ misaka-ashburn-va
menu = [US/VA] Misaka
title = [US/VA] Misaka Network - Ashburn, VA, United States [us-iad01.speed.misaka.one]
host = us-iad01.speed.misaka.one

++ ovh-va
menu = [US/VA] OVH
title = [US/VA] OVH - Vint Hill, VA, US [vin.proof.ovh.us]
host = vin.proof.ovh.us

++ quickpacket-clt
menu = [US/VA] QuickPacket
title = [US/VA] QuickPacket - Ashburn, VA, US [lg.iad01.quickpacket.com]
host = lg.iad01.quickpacket.com

++ reliable-wv
menu = [US/WV] Reliable Hosting
title = [US/WV] Reliable Hosting Services - Berkeley Springs, WV, US [lg.reliablehostingservices.net]
host = lg.reliablehostingservices.net

++ att-tucker-ga
menu = [US/GA] AT&T
title = [US/GA] AT&T - Tucker, GA, United States [tuk.speedtest.sbcglobal.net]
host = tuk.speedtest.sbcglobal.net

++ cox-alpharetta-ga
menu = [US/GA] Cox
title = [US/GA] Cox - Alpharetta, GA, United States [speedtest.rd.at.cox.net]
host = speedtest.rd.at.cox.net

++ colocrossing-atl
menu = [US/GA] ColoCrossing
title = [US/GA] ColoCrossing - Atlanta, GA, US [lg.atl.colocrossing.com]
host = lg.atl.colocrossing.com

++ gsl-networks-atlanta-ga
menu = [US/GA] GSL Networks
title = [US/GA] GSL Networks - Atlanta, GA, United States [atl.speedtest.gslnetworks.com]
host = atl.speedtest.gslnetworks.com

++ linode-atl
menu = [US/GA] Linode
title = [US/GA] Linode - Atlanta, GA, US [speedtest.atlanta.linode.com]
host = speedtest.atlanta.linode.com

++ melbicom-atl
menu = [US/GA] Melbicom
title = [US/GA] Melbicom - Atlanta, GA, US [dl.atl.melbicom.net]
host = dl.atl.melbicom.net

++ ramnode-atl
menu = [US/GA] Ramnode
title = [US/GA] Ramnode - Atlanta, GA, US [lg.atl.ramnode.com]
host = lg.atl.ramnode.com

++ smarthost-ga
menu = [US/GA] SmartHost
title = [US/GA] SmartHost @ Coloblox - Atlanta, GA, US [ga1.smarthost.net]
host = ga1.smarthost.net

++ vultr-atl
menu = [US/GA] Vultr
title = [US/GA] Vultr - Atlanta, GA, US [ga-us-ping.vultr.com]
host = ga-us-ping.vultr.com

++ littlecreekhosting
menu = [US/NC] Little Creek Hosting
title = [US/NC] Little Creek Hosting @ Cogent - Durham, NC, US [38.45.64.1]
host = 38.45.64.1

++ smarthost-nc
menu = [US/NC] SmartHost
title = [US/NC] SmartHost @ AceHost - Durham, NC, US [nc1.smarthost.net]
host = nc1.smarthost.net

++ tiernet-nc
menu = [US/NC] Tier.net
title = [US/NC] Tier.net - Charlotte, NC, US [lg.nc.tier.net]
host = lg.nc.tier.net

++ buyvm-mia
menu = [US/FL] BuyVM
title = [US/FL] BuyVM - Miami, FL, US [45.61.191.250]
host = 45.61.191.250

++ centurylink-orlando-fl
menu = [US/FL] CenturyLink
title = [US/FL] CenturyLink - Orlando, FL, United States [orlando.speedtest.centurylink.net]
host = orlando.speedtest.centurylink.net

++ hivelocity-mia
menu = [US/FL] Hivelocity (Miami)
title = [US/FL] Hivelocity - Miami, FL, United States [speedtest.mia.hivelocity.net]
host = speedtest.mia.hivelocity.net

++ hivelocity-tpa
menu = [US/FL] Hivelocity (Tampa)
title = [US/FL] Hivelocity - Tampa, FL, United States [speedtest.tpa2.hivelocity.net]
host = speedtest.tpa2.hivelocity.net

++ hosteons-mia
menu = [US/FL] hostEONS
title = [US/FL] hostEONS @ Limestone Networks - Miami, FL, US [lg.mia.hosteons.com]
host = lg.mia.hosteons.com

++ linode-mia
menu = [US/FL] Linode
title = [US/FL] Linode @ Akamai - Miami, FL, US [speedtest.miami.linode.com]
host = speedtest.miami.linode.com

++ reliablesite-mia
menu = [US/FL] ReliableSite
title = [US/FL] ReliableSite - Miami, FL, US [miami-speedtest.reliablesite.net]
host = miami-speedtest.reliablesite.net

++ smarthost-jax
menu = [US/FL] SmartHost (Jacksonville)
title = [US/FL] SmartHost @ SBA Edge - Jacksonville, FL, US [fl1.smarthost.net]
host = fl1.smarthost.net

++ spectrum-tampa-fl
menu = [US/FL] Spectrum
title = [US/FL] Spectrum - Tampa, FL, United States [tampp-speedtest-01.noc.bhn.net]
host = tampp-speedtest-01.noc.bhn.net

++ vultr-mia
menu = [US/FL] Vultr
title = [US/FL] Vultr - Miami, FL, US [fl-us-ping.vultr.com]
host = fl-us-ping.vultr.com
