{% if not smokeping_lite %}
++ cloudcone-rstn
menu = [US/VA] CloudCone
title = [US/VA] CloudCone @ MULTACOM - Reston, VA, US [lg-rstn.us.cloudc.one]
host = lg-rstn.us.cloudc.one

++ clouvider-ash
menu = [US/VA] Clouvider
title = [US/VA] Clouvider - Ashburn, VA, US [ash.mirrors.clouvider.net]
host = ash.mirrors.clouvider.net

++ freerangecloud-iad
menu = [US/VA] Free Range Cloud
title = [US/VA] Free Range Cloud @ Fork Systems - Ashburn, VA, US [iad01.lg.freerangecloud.com]
host = iad01.lg.freerangecloud.com
{% endif %}

++ hetzner-va
menu = [US/VA] Hetzner
title = [US/VA] Hetzner - Ashburn, VA, US [ash-speed.hetzner.com]
host = ash-speed.hetzner.com

++ leaseweb-wdc
menu = [US/VA] LeaseWeb
title = [US/VA] LeaseWeb - Manassas, VA, US [mirror.wdc2.us.leaseweb.net]
host = mirror.wdc2.us.leaseweb.net

{% if not smokeping_lite %}
++ linode-was
menu = [US/DC] Linode @ Akamai
title = [US/DC] Linode @ Akamai - Washington, DC, US [speedtest.washington.linode.com]
host = speedtest.washington.linode.com

++ misaka-ashburn-va
menu = [US/VA] Misaka
title = [US/VA] Misaka Network - Ashburn, VA, United States [us-iad01.speed.misaka.one]
host = us-iad01.speed.misaka.one
{% endif %}

++ netactuate-iad
menu = [US/VA] NetActuate
title = [US/VA] NetActuate - Ashburn, VA, US [lg-iad3.netactuate.com]
host = lg-iad3.netactuate.com

{% if not smokeping_lite %}
++ ovh-va
menu = [US/VA] OVHcloud
title = [US/VA] OVHcloud - Vint Hill, VA, US [vin.proof.ovh.us]
host = vin.proof.ovh.us
{% endif %}

++ psychz-ash
menu = [US/VA] Psychz
title = [US/VA] Psychz - Ashburn, VA, US [lg.va.psychz.net]
host = lg.va.psychz.net

{% if not smokeping_lite %}
++ quickpacket-clt
menu = [US/VA] QuickPacket
title = [US/VA] QuickPacket - Ashburn, VA, US [lg.iad01.quickpacket.com]
host = lg.iad01.quickpacket.com

++ racknerd-va
menu = [US/VA] RackNerd
title = [US/VA] RackNerd @ ColoCrossing - Ashburn, VA, US [lg-ash.racknerd.com]
host = lg-ash.racknerd.com

++ tiernet-ash
menu = [US/VA] Tier.net
title = [US/VA] Tier.net - Ashburn, VA, US [lg.va.tier.net]
host = lg.va.tier.net

++ reliable-wv
menu = [US/WV] Reliable Hosting
title = [US/WV] Reliable Hosting Services - Berkeley Springs, WV, US [lg.reliablehostingservices.net]
host = lg.reliablehostingservices.net
{% endif %}

++ clouvider-atl
menu = [US/GA] Clouvider
title = [US/GA] Clouvider - Atlanta, GA, US [atl.mirrors.clouvider.net]
host = atl.mirrors.clouvider.net

{% if not smokeping_lite %}
++ colocrossing-atl
menu = [US/GA] ColoCrossing
title = [US/GA] ColoCrossing - Atlanta, GA, US [lg.atl.colocrossing.com]
host = lg.atl.colocrossing.com

++ greencloud-atl
menu = [US/GA] GreenCloud
title = [US/GA] GreenCloud @ Cyber Wurx - Atlanta, GA, US [lg.ga.greencloudvps.com]
host = lg.ga.greencloudvps.com

++ gsl-networks-atlanta-ga
menu = [US/GA] GSL Networks
title = [US/GA] GSL Networks - Atlanta, GA, United States [atl.speedtest.gslnetworks.com]
host = atl.speedtest.gslnetworks.com
{% endif %}

++ linode-atl
menu = [US/GA] Linode
title = [US/GA] Linode - Atlanta, GA, US [speedtest.atlanta.linode.com]
host = speedtest.atlanta.linode.com

{% if not smokeping_lite %}
++ melbicom-atl
menu = [US/GA] Melbicom
title = [US/GA] Melbicom - Atlanta, GA, US [dl.atl.melbicom.net]
host = dl.atl.melbicom.net

++ ramnode-atl
menu = [US/GA] Ramnode
title = [US/GA] Ramnode - Atlanta, GA, US [lg.atl.ramnode.com]
host = lg.atl.ramnode.com

++ smarthost-ga
menu = [US/GA] SmartHost
title = [US/GA] SmartHost @ Coloblox - Atlanta, GA, US [ga1.smarthost.net]
host = ga1.smarthost.net
{% endif %}

++ vultr-atl
menu = [US/GA] Vultr
title = [US/GA] Vultr - Atlanta, GA, US [ga-us-ping.vultr.com]
host = ga-us-ping.vultr.com

{% if not smokeping_lite %}
++ littlecreekhosting
menu = [US/NC] Little Creek Hosting
title = [US/NC] Little Creek Hosting @ Cogent - Durham, NC, US [38.45.64.1]
host = 38.45.64.1

++ smarthost-nc
menu = [US/NC] SmartHost
title = [US/NC] SmartHost @ AceHost - Durham, NC, US [nc1.smarthost.net]
host = nc1.smarthost.net

++ tiernet-nc
menu = [US/NC] Tier.net
title = [US/NC] Tier.net - Charlotte, NC, US [lg.nc.tier.net]
host = lg.nc.tier.net
{% endif %}

++ buyvm-mia
menu = [US/FL] BuyVM
title = [US/FL] BuyVM - Miami, FL, US [45.61.191.250]
host = 45.61.191.250

{% if not smokeping_lite %}
++ centurylink-orlando-fl
menu = [US/FL] CenturyLink
title = [US/FL] CenturyLink - Orlando, FL, United States [orlando.speedtest.centurylink.net]
host = orlando.speedtest.centurylink.net

++ hivelocity-tpa
menu = [US/FL] Hivelocity (Tampa)
title = [US/FL] Hivelocity - Tampa, FL, United States [speedtest.tpa2.hivelocity.net]
host = speedtest.tpa2.hivelocity.net

++ hosteons-mia
menu = [US/FL] hostEONS
title = [US/FL] hostEONS @ Limestone Networks - Miami, FL, US [lg.mia.hosteons.com]
host = lg.mia.hosteons.com

++ linode-mia
menu = [US/FL] Linode
title = [US/FL] Linode @ Akamai - Miami, FL, US [speedtest.miami.linode.com]
host = speedtest.miami.linode.com
{% endif %}

++ reliablesite-mia
menu = [US/FL] ReliableSite
title = [US/FL] ReliableSite - Miami, FL, US [miami-speedtest.reliablesite.net]
host = miami-speedtest.reliablesite.net

{% if not smokeping_lite %}
++ nexeon-jax
menu = [US/FL] Nexeon
title = [US/FL] Nexeon - Jacksonville, FL, US [lg.jax1.as20278.net]
host = lg.jax1.as20278.net

++ smarthost-jax
menu = [US/FL] SmartHost (Jacksonville)
title = [US/FL] SmartHost @ SBA Edge - Jacksonville, FL, US [fl1.smarthost.net]
host = fl1.smarthost.net

++ spectrum-tampa-fl
menu = [US/FL] Spectrum
title = [US/FL] Spectrum - Tampa, FL, United States [tampp-speedtest-01.noc.bhn.net]
host = tampp-speedtest-01.noc.bhn.net

++ vultr-mia
menu = [US/FL] Vultr
title = [US/FL] Vultr - Miami, FL, US [fl-us-ping.vultr.com]
host = fl-us-ping.vultr.com
{% endif %}
