
++ aebc_0
menu = [CA/BC] AEBC
title = [CA/BC] AEBC / Cipherkey - Vancouver, BC, Canada [speedtest-6.aebc.com]
host = speedtest-6.aebc.com

++ astuteinternet-yvr
menu = [CA/BC] Astute Internet
title = [CA/BC] Astute Internet - Vancouver, BC, Canada [astuteinternet.com]
host = astuteinternet.com

++ bell-yvr
menu = [CA/BC] Bell (Vancouver)
title = [CA/BC] Bell - Vancouver, British Columbia [vancnspd01.srvr.bell.ca]
host = vancnspd01.srvr.bell.ca

++ cacloud-yvr
menu = [CA/BC] CACloud
title = [CA/BC] CACloud - Vancouver, BC, Canada [23.111.74.66]
host = 23.111.74.66

++ freerangecloud-yvr
menu = [CA/BC] Free Range Cloud
title = [CA/BC] Free Range Cloud - Vancouver, BC, Canada [yvr01.lg.freerangecloud.com]
host = yvr01.lg.freerangecloud.com

++ gthost-yvr
menu = [CA/BC] GTHost
title = [CA/BC] GTHost - Vancouver, BC, Canada [158.51.122.166]
host = 158.51.122.166

++ novus
menu = [CA/BC] Novus
title = [CA/BC] Novus - Vancouver, BC, CA [speedtest.novuscom.net]
host = speedtest.novuscom.net

++ pacificservers
menu = [CA/BC] Pacific Servers
title = [CA/BC] Pacific Servers - Vancouver, BC, CA [pacificservers.com]
host = pacificservers.com

++ performive-yvr
menu = [CA/BC] Performive / VPS.net
title = [CA/BC] Performive / VPS.net - Vancouver, BC, Canada [192.111.132.3]
host = 192.111.132.3

++ shaw-yvr
menu = [CA/BC] Shaw
title = [CA/BC] Shaw - Vancouver, BC, Canada [speedtest.vc.shawcable.net]
host = speedtest.vc.shawcable.net

++ skywaywest
menu = [CA/BC] Skyway West
title = [CA/BC] Skyway West - Vancouver, BC, Canada [speedtest.skywaywest.net]
host = speedtest.skywaywest.net

++ techfutures
menu = [CA/BC] Tech Futures
title = [CA/BC] Tech Futures Interactive - Burnaby, BC, Canada [speedtest1.yvr1.cloudsingularity.net]
host = speedtest1.yvr1.cloudsingularity.net

++ telus-yvr
menu = [CA/BC] TELUS
title = [CA/BC] TELUS - Vancouver, BC, Canada [vancouver.speedtest.telus.com]
host = vancouver.speedtest.telus.com

++ centurylink-seattle-wa
menu = [US/WA] CenturyLink
title = [US/WA] CenturyLink - Seattle, WA, United States [seattle.speedtest.centurylink.net]
host = seattle.speedtest.centurylink.net

++ contabo-sea
menu = [US/WA] Contabo
title = [US/WA] Contabo - Seattle, WA, US [sea.speedtest.contabo.net]
host = sea.speedtest.contabo.net

++ gthost-sea
menu = [US/WA] GTHost
title = [US/WA] GTHost - Seattle, WA, US [38.91.102.162]
host = 38.91.102.162

++ linode-sea
menu = [US/WA] Linode @ Akamai
title = [US/WA] Linode @ Akamai - Seattle, WA, US [speedtest.seattle.linode.com]
host = speedtest.seattle.linode.com

++ misaka-seattle-wa
menu = [US/WA] Misaka
title = [US/WA] Misaka Network - Seattle, WA, United States [us-sea02.speed.misaka.one]
host = us-sea02.speed.misaka.one

++ reprisehosting
menu = [US/WA] Reprise Hosting
title = [US/WA] Reprise Hosting - Seattle, WA, US [test.reprisehosting.com]
host = test.reprisehosting.com

++ spartanhost-sea
menu = [US/WA] SpartanHost
title = [US/WA] SpartanHost - Seattle, WA, US [lg.sea.spartanhost.net]
host = lg.sea.spartanhost.net

++ ramnode-sea
menu = [US/WA] RamNode
title = [US/WA] RamNode - Seattle, WA, US [lg.sea.ramnode.com]
host = lg.sea.ramnode.com

++ vultr-sea
menu = [US/WA] Vultr
title = [US/WA] Vultr - Seattle, WA, US [wa-us-ping.vultr.com]
host = wa-us-ping.vultr.com

++ wowrack
menu = [US/WA] Wowrack
title = [US/WA] Wowrack - Seattle, WA, US [speedtest01.wowrack.com]
host = speedtest01.wowrack.com

++ xtom-sea
menu = [US/WA] xTom
title = [US/WA] xTom / V.PS - Seattle, United States [sea.speedtest.v.ps]
host = sea.speedtest.v.ps

++ crunchbits_0
menu = [US/WA] Crunchbits (Spokane)
title = [US/WA] Crunchbits - Spokane, WA, US [104.36.84.66]
host = 104.36.84.66

++ amazon-pdx
menu = [US/OR] Amazon AWS
title = [US/OR] Amazon Web Services - Oregon (us-west-2) [54.188.0.0]
host = 54.188.0.0

++ hetzner-hil
menu = [US/OR] Hetzner
title = [US/OR] Hetzner - Hillsboro, OR, US [hil-speed.hetzner.com]
host = hil-speed.hetzner.com

++ hosteons-pdx
menu = [US/OR] hostEONS
title = [US/OR] hostEONS @ Limestone Networks - Portland, OR, US [lg.pdx.hosteons.com]
host = lg.pdx.hosteons.com

++ ovh-pdx
menu = [US/OR] OVH
title = [US/OR] OVH - Hillsboro, OR, US [hil.proof.ovh.us]
host = hil.proof.ovh.us

++ spectrum-medford-or
menu = [US/OR] Spectrum
title = [US/OR] Spectrum - Medford, OR, United States [spt01mdfdor.mdfd.or.charter.com]
host = spt01mdfdor.mdfd.or.charter.com

++ tiernet-or
menu = [US/OR] Tier.net
title = [US/OR] Tier.net - Bend, OR, US [lg.or.tier.net]
host = lg.or.tier.net

++ amazon-ca-west-1
menu = [CA/AB] Amazon AWS
title = [CA/AB] Amazon Web Services - Calgary, AB, CA [40.176.100.29]
host = 40.176.100.29

++ arrow-calgary
menu = [CA/AB] Arrow Group
title = [CA/AB] Arrow Group - Calgary, AB, CA [arrowcalgary.ca]
host = arrowcalgary.ca

++ shaw-yyc
menu = [CA/AB] Shaw (Calgary)
title = [CA/AB] Shaw - Calgary, AB, Canada [speedtest.cg.shawcable.net]
host = speedtest.cg.shawcable.net

++ telus-yyc
menu = [CA/AB] TELUS (Calgary)
title = [CA/AB] TELUS - Calgary, AB, Canada [calgary.speedtest.telus.com]
host = calgary.speedtest.telus.com

++ wolfpaw-yeg
menu = [CA/AB] Wolfpaw (Edmonton)
title = [CA/AB] Wolfpaw Datacentres - Edmonton, AB, Canada [speedtest.wolfpaw.net]
host = speedtest.wolfpaw.net

++ att-santa-clara-ca
menu = [US/CA] AT&T (Santa Clara)
title = [US/CA] AT&T - Santa Clara, CA, United States [snt.speedtest.sbcglobal.net]
host = snt.speedtest.sbcglobal.net

++ colocrossing-sjc
menu = [US/CA] ColoCrossing (San Jose)
title = [US/CA] ColoCrossing @ EGIHosting - San Jose, CA, US [lg.sj.colocrossing.com]
host = lg.sj.colocrossing.com

++ greencloud-sjc
menu = [US/CA] GreenCloud (San Jose)
title = [US/CA] GreenCloud @ tzulo - San Jose, CA, US [173.249.199.2]
host = 173.249.199.2

++ leaseweb-sfo
menu = [US/CA] LeaseWeb (SFO)
title = [US/CA] LeaseWeb - San Francisco, CA, US [mirror.sfo12.us.leaseweb.net]
host = mirror.sfo12.us.leaseweb.net

++ linode-fmt
menu = [US/CA] Linode (Fremont)
title = [US/CA] Linode - Fremont, CA, US [speedtest.fremont.linode.com]
host = speedtest.fremont.linode.com

++ misaka-san-jose-ca
menu = [US/CA] Misaka (San Jose)
title = [US/CA] Misaka Network - San Jose, CA, United States [us-sjc10.speed.misaka.one]
host = us-sjc10.speed.misaka.one

++ vmhaus-fmt
menu = [US/CA] VMHaus (Fremont)
title = [US/CA] VMHaus / Mythic Beasts - Fremont, CA, US [lg.lax.vmhaus.com]
host = lg.lax.vmhaus.com

++ vultr-sjo
menu = [US/CA] Vultr (San Jose)
title = [US/CA] Vultr - Silicon Valley [sjo-ca-us-ping.vultr.com]
host = sjo-ca-us-ping.vultr.com

++ xtom-sjc
menu = [US/CA] xTom (San Jose)
title = [US/CA] xTom / V.PS - San Jose, United States [sjc.speedtest.v.ps]
host = sjc.speedtest.v.ps

++ clouvider-lax
menu = [US/CA] Clouvider (Los Angeles)
title = [US/CA] Clouvider - Los Angeles, CA, US [la.mirrors.clouvider.net]
host = la.mirrors.clouvider.net

++ colocrossing-la
menu = [US/CA] ColoCrossing (LA)
title = [US/CA] ColoCrossing - Los Angeles, CA, US [lg.la.colocrossing.com]
host = lg.la.colocrossing.com

++ cox-orange-county-ca
menu = [US/CA] Cox (Orange County)
title = [US/CA] Cox - Orange County, CA, United States [speedtest.rd.oc.cox.net]
host = speedtest.rd.oc.cox.net

++ gsl-networks-los-angeles-ca
menu = [US/CA] GSL Networks
title = [US/CA] GSL Networks - Los Angeles, CA, United States [la2.speedtest.gslnetworks.com]
host = la2.speedtest.gslnetworks.com

++ hivelocity-lax
menu = [US/CA] Hivelocity (Los Angeles)
title = [US/CA] Hivelocity - Los Angeles, CA, United States [speedtest.lax.hivelocity.net]
host = speedtest.lax.hivelocity.net

++ hosteons-lax
menu = [US/CA] hostEONS (Los Angeles)
title = [US/CA] hostEONS @ Limestone Networks - Los Angeles, CA, US [lg.la.hosteons.com]
host = lg.la.hosteons.com

++ hosthatch-lax
menu = [US/CA] HostHatch (Los Angeles)
title = [US/CA] HostHatch - Los Angeles, CA, US [lg.lax.hosthatch.com]
host = lg.lax.hosthatch.com

++ linode-lax
menu = [US/CA] Linode (Los Angeles)
title = [US/CA] Linode @ Akamai - Los Angeles, CA, US [speedtest.los-angeles.linode.com]
host = speedtest.los-angeles.linode.com

++ melbicom-lax
menu = [US/CA] Melbicom (Los Angeles)
title = [US/CA] Melbicom - Los Angeles, CA, US [dl.lax.melbicom.net]
host = dl.lax.melbicom.net

++ misaka-los-angeles-ca
menu = [US/CA] Misaka (Los Angeles)
title = [US/CA] Misaka Network - Los Angeles, CA, United States [us-lax02.speed.misaka.one]
host = us-lax02.speed.misaka.one

++ spectrum-monterey-park-ca
menu = [US/CA] Spectrum
title = [US/CA] Spectrum - Monterey Park, CA, United States [spt01mtpkca.mtpk.ca.charter.com]
host = spt01mtpkca.mtpk.ca.charter.com

++ psychz-la
menu = [US/CA] Psychz (Los Angeles)
title = [US/CA] Psychz - Los Angeles, CA, US [lg.lax.psychz.net]
host = lg.lax.psychz.net

++ quadranet-la
menu = [US/CA] QuadraNet (Los Angeles)
title = [US/CA] QuadraNet - Los Angeles, CA, US [repos.lax-noc.com]
host = repos.lax-noc.com

++ quickpacket-lax
menu = [US/CA] QuickPacket (LA)
title = [US/CA] QuickPacket - Los Angeles, CA, US [lg.lax01.quickpacket.com]
host = lg.lax01.quickpacket.com

++ ramnode-la
menu = [US/CA] Ramnode (Los Angeles)
title = [US/CA] Ramnode - Los Angeles, CA, US [lg.la.ramnode.com]
host = lg.la.ramnode.com

++ reliablesite-la
menu = [US/CA] ReliableSite (Los Angeles)
title = [US/CA] ReliableSite - Los Angeles, CA, US [los-angeles-speedtest.reliablesite.net]
host = los-angeles-speedtest.reliablesite.net

++ silicloud-lax-1
menu = [US/CA] SiliCloud (Los Angeles)
title = [US/CA] SiliCloud @ Zenlayer - Los Angeles, CA, US [lg-global-west01-us.silicloud.com]
host = lg-global-west01-us.silicloud.com

++ virtono-lax-us
menu = [US/CA] Virtono @ M247 (LA)
title = [US/CA] Virtono @ M247 - Los Angeles, CA, US [lax-us-ping.virtono.com]
host = lax-us-ping.virtono.com

++ vultr-lax
menu = [US/CA] Vultr (Los Angeles)
title = [US/CA] Vultr - Los Angeles, CA, US [lax-ca-us-ping.vultr.com]
host = lax-ca-us-ping.vultr.com

++ webnx-lax
menu = [US/CA] WebNX (Los Angeles)
title = [US/CA] AlphaVPS @ WebNX - Los Angeles, CA, US [lgla.alphavps.com]
host = lgla.alphavps.com

++ buyvm-las
menu = [US/NV] BuyVM
title = [US/NV] BuyVM - Las Vegas, NV, US [speedtest.lv.buyvm.net]
host = speedtest.lv.buyvm.net

++ fiberhub
menu = [US/NV] FiberHub
title = [US/NV] FiberHub - Las Vegas, NV, US [172.93.0.3]
host = 172.93.0.3

++ hostodo-las
menu = [US/NV] Hostodo
title = [US/NV] Hostodo @ VegasNAP - Las Vegas, NV, US [lv.hostodo.com]
host = lv.hostodo.com

++ centurylink-salt-lake-city-ut
menu = [US/UT] CenturyLink
title = [US/UT] CenturyLink - Salt Lake City, UT, United States [salt-lake-city.speedtest.centurylink.net]
host = salt-lake-city.speedtest.centurylink.net

++ fiberstate
menu = [US/UT] FiberState
title = [US/UT] FiberState - Salt Lake City, UT, US [23.145.120.2]
host = 23.145.120.2

++ hosteons-slc1
menu = [US/UT] hostEONS @ Limestone
title = [US/UT] hostEONS @ Limestone Networks - Salt Lake City, UT, US [lg.slc1.hosteons.com]
host = lg.slc1.hosteons.com

++ webnx-ogd
menu = [US/UT] WebNX
title = [US/UT] WebNX - Ogden, UT, US [108.171.216.1]
host = 108.171.216.1

++ xmission
menu = [US/UT] XMission
title = [US/UT] XMission - Salt Lake City, Utah, US [xmission.com]
host = xmission.com

++ clouvider-phx
menu = [US/AZ] Clouvider
title = [US/AZ] Clouvider - Phoenix, AZ, US [phx.mirrors.clouvider.net]
host = phx.mirrors.clouvider.net

++ 1gservers
menu = [US/AZ] 1GServers
title = [US/AZ] 1GServers - Phoenix, AZ, US [speedtest.1gservers.com]
host = speedtest.1gservers.com

++ ioflood
menu = [US/AZ] IOFLOOD
title = [US/AZ] IOFLOOD - Phoenix, AZ, US [148.163.68.178]
host = 148.163.68.178
