++ colocrossing-sjc
menu = [US/CA] ColoCrossing (San Jose)
title = [US/CA] ColoCrossing - San Jose, CA, US [lg.sj.colocrossing.com]
host = lg.sj.colocrossing.com

++ greencloud-sjc
menu = [US/CA] GreenCloud (San Jose)
title = [US/CA] GreenCloud @ tzulo - San Jose, CA, US [173.249.206.247]
host = 173.249.206.247

++ leaseweb-sfo
menu = [US/CA] LeaseWeb (San Francisco)
title = [US/CA] LeaseWeb - San Francisco, CA, US [mirror.sfo12.us.leaseweb.net]
host = mirror.sfo12.us.leaseweb.net

++ linode-fmt
menu = [US/CA] Linode (Fremont)
title = [US/CA] Linode - Fremont, CA, US [speedtest.fremont.linode.com]
host = speedtest.fremont.linode.com

{% if not smokeping_lite %}
++ misaka-san-jose-ca
menu = [US/CA] Misaka (San Jose)
title = [US/CA] Misaka Network - San Jose, CA, United States [us-sjc10.speed.misaka.one]
host = us-sjc10.speed.misaka.one
{% endif %}

++ serverpoint-scl
menu = [US/CA] ServerPoint (Santa Clara)
title = [US/CA] ServerPoint.com - Santa Clara, CA, US [scl-test-download.serverpoint.com]
host = scl-test-download.serverpoint.com

++ vultr-sjo
menu = [US/CA] Vultr (San Jose)
title = [US/CA] Vultr - Silicon Valley [sjo-ca-us-ping.vultr.com]
host = sjo-ca-us-ping.vultr.com

++ advinservers-lax
menu = [US/CA] Advin Servers (Los Angeles)
title = [US/CA] Advin Servers - Los Angeles, CA, US [lg-lax.advinservers.com]
host = lg-lax.advinservers.com

{% if not smokeping_lite %}
++ xtom-sjc
menu = [US/CA] xTom (San Jose)
title = [US/CA] xTom / V.PS - San Jose, United States [sjc.speedtest.v.ps]
host = sjc.speedtest.v.ps

++ clouvider-lax
menu = [US/CA] Clouvider (Los Angeles)
title = [US/CA] Clouvider - Los Angeles, CA, US [la.mirrors.clouvider.net]
host = la.mirrors.clouvider.net
{% endif %}

++ colocrossing-la
menu = [US/CA] ColoCrossing (Los Angeles)
title = [US/CA] ColoCrossing - Los Angeles, CA, US [lg.la.colocrossing.com]
host = lg.la.colocrossing.com

++ georgedc-lax
menu = [US/CA] George Datacenter (Los Angeles)
title = [US/CA] George Datacenter @ Sharktech - Los Angeles, CA, US [lgangeles.georgedatacenter.com]
host = lgangeles.georgedatacenter.com

++ hostdare-ca
menu = [US/CA] HostDare (Los Angeles)
title = [US/CA] HostDare @ GSL Networks - Los Angeles, CA, US [202.91.32.37]
host = 202.91.32.37

{% if not smokeping_lite %}
++ hosteons-lax
menu = [US/CA] hostEONS (Los Angeles)
title = [US/CA] hostEONS @ Limestone Networks - Los Angeles, CA, US [lg.la.hosteons.com]
host = lg.la.hosteons.com
{% endif %}

++ hosthatch-lax
menu = [US/CA] HostHatch (Los Angeles)
title = [US/CA] HostHatch - Los Angeles, CA, US [lg.lax.hosthatch.com]
host = lg.lax.hosthatch.com

{% if not smokeping_lite %}
++ linode-lax
menu = [US/CA] Linode (Los Angeles)
title = [US/CA] Linode @ Akamai - Los Angeles, CA, US [speedtest.los-angeles.linode.com]
host = speedtest.los-angeles.linode.com

++ melbicom-lax
menu = [US/CA] Melbicom (Los Angeles)
title = [US/CA] Melbicom - Los Angeles, CA, US [dl.lax.melbicom.net]
host = dl.lax.melbicom.net
{% endif %}

++ multacom-la_0
menu = [US/CA] MULTACOM (Los Angeles)
title = [US/CA] CloudCone @ MULTACOM - Los Angeles, CA, US [148.135.114.94]
host = 148.135.114.94

{% if not smokeping_lite %}
++ spectrum-monterey-park-ca
menu = [US/CA] Spectrum
title = [US/CA] Spectrum - Monterey Park, CA, United States [spt01mtpkca.mtpk.ca.charter.com]
host = spt01mtpkca.mtpk.ca.charter.com
{% endif %}

++ psychz-la
menu = [US/CA] Psychz (Los Angeles)
title = [US/CA] Psychz - Los Angeles, CA, US [lg.lax.psychz.net]
host = lg.lax.psychz.net

{% if not smokeping_lite %}
++ quickpacket-lax
menu = [US/CA] QuickPacket (Los Angeles)
title = [US/CA] QuickPacket - Los Angeles, CA, US [lg.lax.quickpacket.com]
host = lg.lax.quickpacket.com

++ ramnode-la
menu = [US/CA] Ramnode (Los Angeles)
title = [US/CA] Ramnode - Los Angeles, CA, US [lg.la.ramnode.com]
host = lg.la.ramnode.com
{% endif %}

++ reliablesite-la
menu = [US/CA] ReliableSite (Los Angeles)
title = [US/CA] ReliableSite - Los Angeles, CA, US [los-angeles-speedtest.reliablesite.net]
host = los-angeles-speedtest.reliablesite.net

{% if not smokeping_lite %}
++ silicloud-lax-1
menu = [US/CA] SiliCloud (Los Angeles)
title = [US/CA] SiliCloud @ Zenlayer - Los Angeles, CA, US [lg-global-west01-us.silicloud.com]
host = lg-global-west01-us.silicloud.com

++ vultr-lax
menu = [US/CA] Vultr (Los Angeles)
title = [US/CA] Vultr - Los Angeles, CA, US [lax-ca-us-ping.vultr.com]
host = lax-ca-us-ping.vultr.com
{% endif %}

++ webnx-lax
menu = [US/CA] WebNX (Los Angeles)
title = [US/CA] AlphaVPS @ WebNX - Los Angeles, CA, US [lgla.alphavps.com]
host = lgla.alphavps.com

++ buyvm-las
menu = [US/NV] BuyVM
title = [US/NV] BuyVM - Las Vegas, NV, US [speedtest.lv.buyvm.net]
host = speedtest.lv.buyvm.net

{% if not smokeping_lite %}
++ hostodo-las
menu = [US/NV] Hostodo
title = [US/NV] Hostodo @ VegasNAP - Las Vegas, NV, US [lv.hostodo.com]
host = lv.hostodo.com

++ centurylink-salt-lake-city-ut
menu = [US/UT] CenturyLink
title = [US/UT] CenturyLink - Salt Lake City, UT, United States [salt-lake-city.speedtest.centurylink.net]
host = salt-lake-city.speedtest.centurylink.net
{% endif %}

++ fiberstate
menu = [US/UT] FiberState
title = [US/UT] FiberState - Salt Lake City, UT, US [23.145.120.2]
host = 23.145.120.2

++ 1gservers
menu = [US/AZ] 1GServers
title = [US/AZ] 1GServers - Phoenix, AZ, US [speedtest.1gservers.com]
host = speedtest.1gservers.com

{% if not smokeping_lite %}
++ clouvider-phx
menu = [US/AZ] Clouvider
title = [US/AZ] Clouvider - Phoenix, AZ, US [phx.mirrors.clouvider.net]
host = phx.mirrors.clouvider.net
{% endif %}
