
++ aebc
menu = [CA/BC] AEBC
title = [CA/BC] AEBC / Cipherkey - Vancouver, BC, Canada [www.aebc.com]
host = www.aebc.com

++ astuteinternet-yvr
menu = [CA/BC] Astute Internet
title = [CA/BC] Astute Internet - Vancouver, BC, Canada [astuteinternet.com]
host = astuteinternet.com

++ bell-yvr
menu = [CA/BC] Bell (Vancouver)
title = [CA/BC] Bell - Vancouver, British Columbia [vancnspd01.srvr.bell.ca]
host = vancnspd01.srvr.bell.ca

++ cacloud-yvr
menu = [CA/BC] CACloud
title = [CA/BC] CACloud - Vancouver, BC, Canada [23.111.74.66]
host = 23.111.74.66

++ esecuredata-yvr
menu = [CA/BC] eSecureData
title = [CA/BC] eSecureData - Vancouver, BC, Canada [mirror.esecuredata.com]
host = mirror.esecuredata.com

++ freerangecloud-yvr
menu = [CA/BC] Free Range Cloud
title = [CA/BC] Free Range Cloud - Vancouver, BC, Canada [yvr01.lg.freerangecloud.com]
host = yvr01.lg.freerangecloud.com

++ gthost-yvr
menu = [CA/BC] GTHost
title = [CA/BC] GTHost - Vancouver, BC, Canada [158.51.122.166]
host = 158.51.122.166

++ novus
menu = [CA/BC] Novus
title = [CA/BC] Novus - Vancouver, BC, CA [speedtest.novuscom.net]
host = speedtest.novuscom.net

++ performive-yvr
menu = [CA/BC] Performive / VPS.net
title = [CA/BC] Performive / VPS.net - Vancouver, BC, Canada [192.111.132.3]
host = 192.111.132.3

++ shaw-yvr
menu = [CA/BC] Shaw
title = [CA/BC] Shaw - Vancouver, BC, Canada [speedtest.vc.shawcable.net]
host = speedtest.vc.shawcable.net

++ telus-yvr
menu = [CA/BC] TELUS
title = [CA/BC] TELUS - Vancouver, BC, Canada [vancouver.speedtest.telus.com]
host = vancouver.speedtest.telus.com

++ teksavvy-yvr
menu = [CA/BC] Teksavvy
title = [CA/BC] Teksavvy - Vancouver, BC, Canada [speedtest-van.teksavvy.com]
host = speedtest-van.teksavvy.com

++ colocrossing-sea
menu = [US/WA] Colocrossing
title = [US/WA] Colocrossing @ Wowrack - Seattle, WA, US [lg.sea.colocrossing.com]
host = lg.sea.colocrossing.com

++ contabo-sea
menu = [US/WA] Contabo
title = [US/WA] Contabo - Seattle, WA, US [sea.speedtest.contabo.net]
host = sea.speedtest.contabo.net

++ gthost-sea
menu = [US/WA] GTHost
title = [US/WA] GTHost - Seattle, WA, US [38.91.102.162]
host = 38.91.102.162

++ limewave-sea
menu = [US/WA] Limewave
title = [US/WA] Limewave - Seattle, WA, US [speedtest.seattle.wa.limewave.net]
host = speedtest.seattle.wa.limewave.net

++ linode-sea
menu = [US/WA] Linode @ Akamai
title = [US/WA] Linode @ Akamai - Seattle, WA, US [speedtest.seattle.linode.com]
host = speedtest.seattle.linode.com

++ reprisehosting
menu = [US/WA] Reprise Hosting
title = [US/WA] Reprise Hosting - Seattle, WA, US [test.reprisehosting.com]
host = test.reprisehosting.com

++ spartanhost-sea
menu = [US/WA] SpartanHost
title = [US/WA] SpartanHost - Seattle, WA, US [lg.sea.spartanhost.net]
host = lg.sea.spartanhost.net

++ ramnode-sea
menu = [US/WA] RamNode
title = [US/WA] RamNode - Seattle, WA, US [lg.sea.ramnode.com]
host = lg.sea.ramnode.com

++ vultr-sea
menu = [US/WA] Vultr
title = [US/WA] Vultr - Seattle, WA, US [wa-us-ping.vultr.com]
host = wa-us-ping.vultr.com

++ xtom-sea
menu = [US/WA] xTom
title = [US/WA] xTom / V.PS - Seattle, United States [sea.speedtest.v.ps]
host = sea.speedtest.v.ps

++ crunchbits_0
menu = [US/WA] Crunchbits (Spokane)
title = [US/WA] Crunchbits - Spokane, WA, US [104.36.84.66]
host = 104.36.84.66

++ amazon-pdx
menu = [US/OR] Amazon AWS
title = [US/OR] Amazon Web Services - Oregon (us-west-2) [54.188.0.0]
host = 54.188.0.0

++ hetzner-hil
menu = [US/OR] Hetzner
title = [US/OR] Hetzner - Hillsboro, OR, US [hil-speed.hetzner.com]
host = hil-speed.hetzner.com

++ ovh-pdx
menu = [US/OR] OVH
title = [US/OR] OVH - Hillsboro, OR, US [hil.proof.ovh.us]
host = hil.proof.ovh.us

++ shaw-yyc
menu = [CA/AB] Shaw (Calgary)
title = [CA/AB] Shaw - Calgary, AB, Canada [speedtest.cg.shawcable.net]
host = speedtest.cg.shawcable.net

++ telus-yyc
menu = [CA/AB] TELUS (Calgary)
title = [CA/AB] TELUS - Calgary, AB, Canada [calgary.speedtest.telus.com]
host = calgary.speedtest.telus.com

++ wolfpaw-yeg
menu = [CA/AB] Wolfpaw (Edmonton)
title = [CA/AB] Wolfpaw Datacentres - Edmonton, AB, Canada [speedtest.wolfpaw.net]
host = speedtest.wolfpaw.net

++ colocrossing-sjc
menu = [US/CA] ColoCrossing (SJC)
title = [US/CA] ColoCrossing @ EGIHosting - San Jose, CA, US [lg.sj.colocrossing.com]
host = lg.sj.colocrossing.com

++ greencloud-sjc
menu = [US/CA] GreenCloud (SJC)
title = [US/CA] GreenCloud @ tzulo - San Jose, CA, US [173.249.199.2]
host = 173.249.199.2

++ leaseweb-sfo
menu = [US/CA] LeaseWeb (SFO)
title = [US/CA] LeaseWeb - San Francisco, CA, US [mirror.sfo12.us.leaseweb.net]
host = mirror.sfo12.us.leaseweb.net

++ linode-fmt
menu = [US/CA] Linode (Fremont)
title = [US/CA] Linode - Fremont, CA, US [speedtest.fremont.linode.com]
host = speedtest.fremont.linode.com

++ vmhaus-fmt
menu = [US/CA] VMHaus (Fremont)
title = [US/CA] VMHaus / Mythic Beasts - Fremont, CA, US [lg.lax.vmhaus.com]
host = lg.lax.vmhaus.com

++ vultr-sjo
menu = [US/CA] Vultr (San Jose)
title = [US/CA] Vultr - Silicon Valley [sjo-ca-us-ping.vultr.com]
host = sjo-ca-us-ping.vultr.com

++ xtom-sjc
menu = [US/CA] xTom (San Jose)
title = [US/CA] xTom / V.PS - San Jose, United States [sjc.speedtest.v.ps]
host = sjc.speedtest.v.ps

++ clouvider-lax
menu = [US/CA] Clouvider (LA)
title = [US/CA] Clouvider - Los Angeles, CA, US [la.mirrors.clouvider.net]
host = la.mirrors.clouvider.net

++ colocrossing-la
menu = [US/CA] ColoCrossing (LA)
title = [US/CA] ColoCrossing - Los Angeles, CA, US [lg.la.colocrossing.com]
host = lg.la.colocrossing.com

++ hivelocity-lax
menu = [US/CA] Hivelocity (LA)
title = [US/CA] Hivelocity - Los Angeles, CA, United States [speedtest.lax.hivelocity.net]
host = speedtest.lax.hivelocity.net

++ hosthatch-lax
menu = [US/CA] HostHatch (LA)
title = [US/CA] HostHatch - Los Angeles, CA, US [lg.lax.hosthatch.com]
host = lg.lax.hosthatch.com

++ melbicom-lax
menu = [US/CA] Melbicom (LA)
title = [US/CA] Melbicom - Los Angeles, CA, US [dl.lax.melbicom.net]
host = dl.lax.melbicom.net

++ psychz-la
menu = [US/CA] Psychz (LA)
title = [US/CA] Psychz - Los Angeles, CA, US [lg.lax.psychz.net]
host = lg.lax.psychz.net

++ quadranet-la
menu = [US/CA] QuadraNet (LA)
title = [US/CA] QuadraNet - Los Angeles, CA, US [repos.lax-noc.com]
host = repos.lax-noc.com

++ quickpacket-lax
menu = [US/CA] QuickPacket (LA)
title = [US/CA] QuickPacket - Los Angeles, CA, US [lg.lax01.quickpacket.com]
host = lg.lax01.quickpacket.com

++ ramnode-la
menu = [US/CA] Ramnode (LA)
title = [US/CA] Ramnode - Los Angeles, CA, US [lg.la.ramnode.com]
host = lg.la.ramnode.com

++ reliablesite-la
menu = [US/CA] ReliableSite (LA)
title = [US/CA] ReliableSite - Los Angeles, CA, US [los-angeles-speedtest.reliablesite.net]
host = los-angeles-speedtest.reliablesite.net

++ virtono-lax-us
menu = [US/CA] Virtono @ M247 (LA)
title = [US/CA] Virtono @ M247 - Los Angeles, CA, US [lax-us-ping.virtono.com]
host = lax-us-ping.virtono.com

++ vultr-lax
menu = [US/CA] Vultr (Los Angeles)
title = [US/CA] Vultr - Los Angeles, CA, US [lax-ca-us-ping.vultr.com]
host = lax-ca-us-ping.vultr.com

++ webnx-lax
menu = [US/CA] WebNX (Los Angeles)
title = [US/CA] AlphaVPS @ WebNX - Los Angeles, CA, US [lgla.alphavps.com]
host = lgla.alphavps.com

++ buyvm-las
menu = [US/NV] BuyVM
title = [US/NV] BuyVM - Las Vegas, NV, US [speedtest.lv.buyvm.net]
host = speedtest.lv.buyvm.net

++ fiberhub
menu = [US/NV] FiberHub
title = [US/NV] FiberHub - Las Vegas, NV, US [172.93.0.3]
host = 172.93.0.3

++ fiberstate
menu = [US/UT] FiberState
title = [US/UT] FiberState - Salt Lake City, UT, US [23.145.120.2]
host = 23.145.120.2

++ webnx-ogd
menu = [US/UT] WebNX
title = [US/UT] WebNX - Ogden, UT, US [108.171.216.1]
host = 108.171.216.1

++ xmission
menu = [US/UT] XMission
title = [US/UT] XMission - Salt Lake City, Utah, US [xmission.com]
host = xmission.com

++ clouvider-phx
menu = [US/AZ] Clouvider
title = [US/AZ] Clouvider - Phoenix, AZ, US [phx.mirrors.clouvider.net]
host = phx.mirrors.clouvider.net

++ 1gservers
menu = [US/AZ] 1GServers
title = [US/AZ] 1GServers - Phoenix, AZ, US [speedtest.1gservers.com]
host = speedtest.1gservers.com

++ ioflood
menu = [US/AZ] IOFLOOD
title = [US/AZ] IOFLOOD - Phoenix, AZ, US [148.163.68.178]
host = 148.163.68.178

++ nexeon-den
menu = [US/CO] Nexeon
title = [US/CO] Nexeon - Denver, CO, US [lg.den1.as20278.net]
host = lg.den1.as20278.net

++ smarthost-co
menu = [US/CO] SmartHost
title = [US/CO] SmartHost @ Handy Networks - Denver, CO, US [co1.smarthost.net]
host = co1.smarthost.net

++ smarthost-nm
menu = [US/NM] SmartHost
title = [US/NM] SmartHost @ Brownrice Internet - Taos, NM, US [nm1.smarthost.net]
host = nm1.smarthost.net



++ colocrossing-dal
menu = [US/TX] ColoCrossing
title = [US/TX] ColoCrossing - Dallas, TX, US [lg.dal.colocrossing.com]
host = lg.dal.colocrossing.com

++ dataideas-tx
menu = [US/TX] DataIdeas
title = [US/TX] DataIdeas - Spring, TX, US [spring-glass.dataideas.com]
host = spring-glass.dataideas.com

++ extravm-dal
menu = [US/TX] ExtraVM
title = [US/TX] ExtraVM @ Dedicated.com - Dallas, TX, US [dal.lg.extravm.com]
host = dal.lg.extravm.com

++ hivelocity-dal_0
menu = [US/TX] Hivelocity
title = [US/TX] Hivelocity - Dallas, TX, United States [speedtest.dal.hivelocity.net]
host = speedtest.dal.hivelocity.net

++ leveloneservers-dal
menu = [US/TX] LevelOneServers
title = [US/TX] LevelOneServers @ Path.net - Dallas, TX, US [dal.lg.leveloneservers.com]
host = dal.lg.leveloneservers.com

++ linode-dal
menu = [US/TX] Linode
title = [US/TX] Linode - Dallas, TX, US [speedtest.dallas.linode.com]
host = speedtest.dallas.linode.com

++ nexeon-dal
menu = [US/TX] Nexeon
title = [US/TX] Nexeon - Dallas, TX, US [lg.dal1.as20278.net]
host = lg.dal1.as20278.net

++ nexril
menu = [US/TX] Nexril
title = [US/TX] Nexril - Dallas, TX, US [lg.nexril.net]
host = lg.nexril.net

++ psychz-dal
menu = [US/TX] Psychz
title = [US/TX] Psychz - Dallas, TX, US [lg.texas.psychz.net]
host = lg.texas.psychz.net

++ virtono-dal-us
menu = [US/TX] Virtono @ M247
title = [US/TX] Virtono @ M247 - Dallas, TX, US [dal-us-ping.virtono.com]
host = dal-us-ping.virtono.com

++ vultr-dal
menu = [US/TX] Vultr
title = [US/TX] Vultr - Dallas, TX, US [tx-us-ping.vultr.com]
host = tx-us-ping.vultr.com
