++ ovh-syd
menu = [AU] OVH (Sydney)
title = [AU] OVH - Sydney, Australia [syd.smokeping.ovh.net]
host = syd.smokeping.ovh.net

++ quantumcore
menu = [AU] QuantumCore (Sydney)
title = [AU] QuantumCore - Sydney, Australia [lg.quantumcore.com.au]
host = lg.quantumcore.com.au

++ ransomit-syd
menu = [AU] Ransom IT (Sydney)
title = [AU] Ransom IT - Sydney, Australia [sydney-lg.ransomit.com.au]
host = sydney-lg.ransomit.com.au

++ telstra-syd
menu = [AU] Telstra (Sydney)
title = [AU] Telstra - Sydney, Australia [syd1.speedtest.telstra.net]
host = syd1.speedtest.telstra.net

++ virtono-syd-au
menu = [AU] Virtono @ M247
title = [AU] Virtono @ M247 - Sydney, Australia [syd-au-ping.virtono.com]
host = syd-au-ping.virtono.com

++ vultr-syd
menu = [AU] Vultr (Sydney)
title = [AU] Vultr - Sydney, Australia [syd-au-ping.vultr.com]
host = syd-au-ping.vultr.com

++ vultr-mel
menu = [AU] Vultr (Melbourne)
title = [AU] Vultr - Melbourne, Australia [mel-au-ping.vultr.com]
host = mel-au-ping.vultr.com

++ xtom-syd
menu = [AU] xTom
title = [AU] xTom / V.PS - Sydney, Australia [syd.speedtest.v.ps]
host = syd.speedtest.v.ps

++ zappiehost-nz
menu = [NZ] ZappieHost (Auckland)
title = [NZ] ZappieHost - Auckland, New Zealand [lg-nz.zappiehost.com]
host = lg-nz.zappiehost.com
