++ colocrossing-sea
menu = [US/WA] Colocrossing
title = [US/WA] Colocrossing @ Wowrack - Seattle, WA, US [lg.sea.colocrossing.com]
host = lg.sea.colocrossing.com

++ contabo-sea
menu = [US/WA] Contabo
title = [US/WA] Contabo - Seattle, WA, US [sea.speedtest.contabo.net]
host = sea.speedtest.contabo.net

++ dedipath-sea
menu = [US/WA] DediPath
title = [US/WA] DediPath - Seattle, WA, US [lg.sef.dedicontrol.com]
host = lg.sef.dedicontrol.com

++ gthost-sea
menu = [US/WA] GTHost
title = [US/WA] GTHost - Seattle, WA, US [38.91.102.162]
host = 38.91.102.162

++ limewave-sea
menu = [US/WA] Limewave
title = [US/WA] Limewave - Seattle, WA, US [speedtest.seattle.wa.limewave.net]
host = speedtest.seattle.wa.limewave.net

++ linode-sea
menu = [US/WA] Linode @ Akamai
title = [US/WA] Linode @ Akamai - Seattle, WA, US [speedtest.seattle.linode.com]
host = speedtest.seattle.linode.com

++ reprisehosting
menu = [US/WA] Reprise Hosting
title = [US/WA] Reprise Hosting - Seattle, WA, US [test.reprisehosting.com]
host = test.reprisehosting.com

++ spartanhost-sea
menu = [US/WA] SpartanHost
title = [US/WA] SpartanHost - Seattle, WA, US [lg.sea.spartanhost.net]
host = lg.sea.spartanhost.net

++ ramnode-sea
menu = [US/WA] RamNode
title = [US/WA] RamNode - Seattle, WA, US [lg.sea.ramnode.com]
host = lg.sea.ramnode.com

++ vultr-sea
menu = [US/WA] Vultr
title = [US/WA] Vultr - Seattle, WA, US [wa-us-ping.vultr.com]
host = wa-us-ping.vultr.com

++ xtom-sea
menu = [US/WA] xTom
title = [US/WA] xTom / V.PS - Seattle, United States [sea.speedtest.v.ps]
host = sea.speedtest.v.ps

++ crunchbits
menu = [US/WA] Crunchbits (Spokane)
title = [US/WA] Crunchbits - Spokane, WA, US [lg-cda.crunchbits.com]
host = lg-cda.crunchbits.com

++ amazon-pdx
menu = [US/OR] Amazon AWS
title = [US/OR] Amazon Web Services - Oregon (us-west-2) [54.188.0.0]
host = 54.188.0.0

++ hetzner-hil
menu = [US/OR] Hetzner
title = [US/OR] Hetzner - Hillsboro, OR, US [hil-speed.hetzner.com]
host = hil-speed.hetzner.com

++ ovh-pdx
menu = [US/OR] OVH
title = [US/OR] OVH - Hillsboro, OR, US [hil.proof.ovh.us]
host = hil.proof.ovh.us

++ colocrossing-sjc
menu = [US/CA] ColoCrossing (SJC)
title = [US/CA] ColoCrossing @ EGIHosting - San Jose, CA, US [lg.sj.colocrossing.com]
host = lg.sj.colocrossing.com

++ dedipath-sj
menu = [US/CA] DediPath (SJC)
title = [US/CA] DediPath - Santa Clara, CA, US [lg.sje.dedicontrol.com]
host = lg.sje.dedicontrol.com

++ digitalocean-sfo
menu = [US/CA] DigitalOcean (SFO)
title = [US/CA] DigitalOcean - San Francisco, CA, US [speedtest-sfo1.digitalocean.com]
host = speedtest-sfo1.digitalocean.com

++ greencloud-sjc
menu = [US/CA] GreenCloud (SJC)
title = [US/CA] GreenCloud @ tzulo - San Jose, CA, US [173.249.199.2]
host = 173.249.199.2

++ leaseweb-sfo
menu = [US/CA] LeaseWeb (SFO)
title = [US/CA] LeaseWeb - San Francisco, CA, US [mirror.sfo12.us.leaseweb.net]
host = mirror.sfo12.us.leaseweb.net

++ linode-fmt
menu = [US/CA] Linode (Fremont)
title = [US/CA] Linode - Fremont, CA, US [speedtest.fremont.linode.com]
host = speedtest.fremont.linode.com

++ vmhaus-fmt
menu = [US/CA] VMHaus (Fremont)
title = [US/CA] VMHaus / Mythic Beasts - Fremont, CA, US [lg.lax.vmhaus.com]
host = lg.lax.vmhaus.com

++ vultr-sjo
menu = [US/CA] Vultr (San Jose)
title = [US/CA] Vultr - Silicon Valley [sjo-ca-us-ping.vultr.com]
host = sjo-ca-us-ping.vultr.com

++ xtom-sjc
menu = [US/CA] xTom (San Jose)
title = [US/CA] xTom / V.PS - San Jose, United States [sjc.speedtest.v.ps]
host = sjc.speedtest.v.ps

++ clouvider-lax
menu = [US/CA] Clouvider (LA)
title = [US/CA] Clouvider - Los Angeles, CA, US [la.mirrors.clouvider.net]
host = la.mirrors.clouvider.net

++ colocrossing-la
menu = [US/CA] ColoCrossing (LA)
title = [US/CA] ColoCrossing - Los Angeles, CA, US [lg.la.colocrossing.com]
host = lg.la.colocrossing.com

++ dedipath-la
menu = [US/CA] DediPath (LA)
title = [US/CA] DediPath @ INAP - Los Angeles, CA, US [lg.lax.dedicontrol.com]
host = lg.lax.dedicontrol.com

++ hivelocity-lax
menu = [US/CA] Hivelocity (LA)
title = [US/CA] Hivelocity - Los Angeles, CA, United States [speedtest.lax.hivelocity.net]
host = speedtest.lax.hivelocity.net

++ hosthatch-lax
menu = [US/CA] HostHatch (LA)
title = [US/CA] HostHatch - Los Angeles, CA, US [lg.lax.hosthatch.com]
host = lg.lax.hosthatch.com

++ melbicom-lax
menu = [US/CA] Melbicom (LA)
title = [US/CA] Melbicom - Los Angeles, CA, US [dl.lax.melbicom.net]
host = dl.lax.melbicom.net

++ psychz-la
menu = [US/CA] Psychz (LA)
title = [US/CA] Psychz - Los Angeles, CA, US [lg.lax.psychz.net]
host = lg.lax.psychz.net

++ quadranet-la
menu = [US/CA] QuadraNet (LA)
title = [US/CA] QuadraNet - Los Angeles, CA, US [repos.lax-noc.com]
host = repos.lax-noc.com

++ quickpacket-lax
menu = [US/CA] QuickPacket (LA)
title = [US/CA] QuickPacket - Los Angeles, CA, US [lg.lax01.quickpacket.com]
host = lg.lax01.quickpacket.com

++ ramnode-la
menu = [US/CA] Ramnode (LA)
title = [US/CA] Ramnode - Los Angeles, CA, US [lg.la.ramnode.com]
host = lg.la.ramnode.com

++ reliablesite-la
menu = [US/CA] ReliableSite (LA)
title = [US/CA] ReliableSite - Los Angeles, CA, US [los-angeles-speedtest.reliablesite.net]
host = los-angeles-speedtest.reliablesite.net

++ virtono-lax-us
menu = [US/CA] Virtono @ M247 (LA)
title = [US/CA] Virtono @ M247 - Los Angeles, CA, US [lax-us-ping.virtono.com]
host = lax-us-ping.virtono.com

++ vultr-lax
menu = [US/CA] Vultr (Los Angeles)
title = [US/CA] Vultr - Los Angeles, CA, US [lax-ca-us-ping.vultr.com]
host = lax-ca-us-ping.vultr.com

++ webnx-lax
menu = [US/CA] WebNX (Los Angeles)
title = [US/CA] AlphaVPS @ WebNX - Los Angeles, CA, US [lgla.alphavps.com]
host = lgla.alphavps.com

++ buyvm-las
menu = [US/NV] BuyVM
title = [US/NV] BuyVM - Las Vegas, NV, US [speedtest.lv.buyvm.net]
host = speedtest.lv.buyvm.net

++ dedipath-las
menu = [US/NV] DediPath
title = [US/NV] DediPath - Las Vegas, NV, US [lg.dc07.dedicontrol.com]
host = lg.dc07.dedicontrol.com

++ fiberhub
menu = [US/NV] FiberHub
title = [US/NV] FiberHub - Las Vegas, NV, US [172.93.0.3]
host = 172.93.0.3

++ webnx-ogd
menu = [US/UT] WebNX
title = [US/UT] WebNX - Ogden, UT, US [108.171.216.1]
host = 108.171.216.1

++ xmission
menu = [US/UT] XMission
title = [US/UT] XMission - Salt Lake City, Utah, US [xmission.com]
host = xmission.com

++ clouvider-phx
menu = [US/AZ] Clouvider
title = [US/AZ] Clouvider - Phoenix, AZ, US [phx.mirrors.clouvider.net]
host = phx.mirrors.clouvider.net

++ 1gservers
menu = [US/AZ] 1GServers
title = [US/AZ] 1GServers - Phoenix, AZ, US [speedtest.1gservers.com]
host = speedtest.1gservers.com

++ dedipath-phx
menu = [US/AZ] DediPath
title = [US/AZ] DediPath - Phoenix, AZ, US [lg.phx.dedicontrol.com]
host = lg.phx.dedicontrol.com

++ ioflood
menu = [US/AZ] IOFLOOD
title = [US/AZ] IOFLOOD - Phoenix, AZ, US [148.163.68.178]
host = 148.163.68.178

++ dedipath-den
menu = [US/CO] DediPath
title = [US/CO] DediPath @ Flexential - Denver, CO, US [lg.den.dedicontrol.com]
host = lg.den.dedicontrol.com

++ nexeon-den
menu = [US/CO] Nexeon
title = [US/CO] Nexeon - Denver, CO, US [lg.den1.as20278.net]
host = lg.den1.as20278.net

++ smarthost-co
menu = [US/CO] SmartHost
title = [US/CO] SmartHost @ Handy Networks - Denver, CO, US [co1.smarthost.net]
host = co1.smarthost.net

++ smarthost-nm
menu = [US/NM] SmartHost
title = [US/NM] SmartHost @ Brownrice Internet - Taos, NM, US [nm1.smarthost.net]
host = nm1.smarthost.net

++ colocrossing-chi
menu = [US/IL] ColoCrossing
title = [US/IL] ColoCrossing - Chicago, IL, US [lg.chi.colocrossing.com]
host = lg.chi.colocrossing.com

++ hosthatch-chi
menu = [US/IL] HostHatch
title = [US/IL] HostHatch - Chicago, IL, US [lg.chi.hosthatch.com]
host = lg.chi.hosthatch.com

++ linode-chi
menu = [US/IL] Linode @ Akamai
title = [US/IL] Linode @ Akamai - Chicago, IL, US [speedtest.chicago.linode.com]
host = speedtest.chicago.linode.com

++ nexeon
menu = [US/IL] Nexeon
title = [US/IL] Nexeon - Chicago, IL, US [lg.chi1.as20278.net]
host = lg.chi1.as20278.net

++ psychz-chi
menu = [US/IL] Psychz
title = [US/IL] Psychz - Chicago, IL, US [lg.chi.psychz.net]
host = lg.chi.psychz.net

++ tnahosting
menu = [US/IL] TNAHosting
title = [US/IL] TNAHosting @ GigeNET - Chicago, IL, US [lg.chi2.tnahosting.net]
host = lg.chi2.tnahosting.net

++ vultr-chi
menu = [US/IL] Vultr
title = [US/IL] Vultr - Chicago, IL, US [il-us-ping.vultr.com]
host = il-us-ping.vultr.com

++ contabo-stl
menu = [US/MO] Contabo
title = [US/MO] Contabo - St. Louis, MO, US [stl.speedtest.contabo.net]
host = stl.speedtest.contabo.net

++ nocix
menu = [US/MO] Nocix
title = [US/MO] Nocix @ Wholesale Internet - Kansas City, MO, US [speedtest.nocix.net]
host = speedtest.nocix.net

++ smarthost-mi
menu = [US/MI] SmartHost
title = [US/MI] SmartHost @ 123NET - Flint, MI, US [mi1.smarthost.net]
host = mi1.smarthost.net

++ colocrossing-dal
menu = [US/TX] ColoCrossing
title = [US/TX] ColoCrossing - Dallas, TX, US [lg.dal.colocrossing.com]
host = lg.dal.colocrossing.com

++ dataideas-tx
menu = [US/TX] DataIdeas
title = [US/TX] DataIdeas - Spring, TX, US [spring-glass.dataideas.com]
host = spring-glass.dataideas.com

++ dedipath-dal
menu = [US/TX] DediPath
title = [US/TX] DediPath @ INAP - Dallas, TX, US [lg.dal.dedicontrol.com]
host = lg.dal.dedicontrol.com

++ extravm-dal
menu = [US/TX] ExtraVM
title = [US/TX] ExtraVM @ Dedicated.com - Dallas, TX, US [dal.lg.extravm.com]
host = dal.lg.extravm.com

++ hivelocity-dal_0
menu = [US/TX] Hivelocity
title = [US/TX] Hivelocity - Dallas, TX, United States [speedtest.dal.hivelocity.net]
host = speedtest.dal.hivelocity.net

++ leveloneservers-dal
menu = [US/TX] LevelOneServers
title = [US/TX] LevelOneServers @ Path.net - Dallas, TX, US [dal.lg.leveloneservers.com]
host = dal.lg.leveloneservers.com

++ linode-dal
menu = [US/TX] Linode
title = [US/TX] Linode - Dallas, TX, US [speedtest.dallas.linode.com]
host = speedtest.dallas.linode.com

++ nexeon-dal
menu = [US/TX] Nexeon
title = [US/TX] Nexeon - Dallas, TX, US [lg.dal1.as20278.net]
host = lg.dal1.as20278.net

++ nexril
menu = [US/TX] Nexril
title = [US/TX] Nexril - Dallas, TX, US [lg.nexril.net]
host = lg.nexril.net

++ psychz-dal
menu = [US/TX] Psychz
title = [US/TX] Psychz - Dallas, TX, US [lg.texas.psychz.net]
host = lg.texas.psychz.net

++ virtono-dal-us
menu = [US/TX] Virtono @ M247
title = [US/TX] Virtono @ M247 - Dallas, TX, US [dal-us-ping.virtono.com]
host = dal-us-ping.virtono.com

++ vultr-dal
menu = [US/TX] Vultr
title = [US/TX] Vultr - Dallas, TX, US [tx-us-ping.vultr.com]
host = tx-us-ping.vultr.com

++ buyvm-nyc
menu = [US/NY] BuyVM
title = [US/NY] BuyVM - New York City, NY, US [speedtest.ny.buyvm.net]
host = speedtest.ny.buyvm.net

++ clouvider-nyc
menu = [US/NY] Clouvider
title = [US/NY] Clouvider - New York City, NY, US [nyc.mirrors.clouvider.net]
host = nyc.mirrors.clouvider.net

++ dedipath-ny
menu = [US/NY] DediPath
title = [US/NY] DediPath - New York City, NY, US [lg.dc03.dedicontrol.com]
host = lg.dc03.dedicontrol.com

++ hosthatch-ny
menu = [US/NY] HostHatch
title = [US/NY] HostHatch - New York City, NY, US [lg.ny.hosthatch.com]
host = lg.ny.hosthatch.com

++ ramnode-ny
menu = [US/NY] Ramnode
title = [US/NY] Ramnode - New York City, NY, US [lg.nyc.ramnode.com]
host = lg.nyc.ramnode.com

++ rsnet-ny
menu = [US/NY] ReliableSite
title = [US/NY] ReliableSite - New York City, NY, US [104.243.42.233]
host = 104.243.42.233

++ webnx-nyc
menu = [US/NY] WebNX
title = [US/NY] WebNX - New York City, NY, US [nyc-lg.webnx.com]
host = nyc-lg.webnx.com

++ xtom-nyc
menu = [US/NY] xTom
title = [US/NY] xTom / V.PS - New York, United States [nyc.speedtest.v.ps]
host = nyc.speedtest.v.ps

++ colocrossing-buf
menu = [US/NY] ColoCrossing (Buffalo)
title = [US/NY] ColoCrossing - Buffalo, NY, US [192.3.180.103]
host = 192.3.180.103

++ interserver-nj
menu = [US/NJ] InterServer
title = [US/NJ] InterServer - Secaucus, NJ, US [speedtest.is.cc]
host = speedtest.is.cc

++ linode-nj
menu = [US/NJ] Linode
title = [US/NJ] Linode - Newark, NJ, US [speedtest.newark.linode.com]
host = speedtest.newark.linode.com

++ vultr-nj
menu = [US/NJ] Vultr
title = [US/NJ] Vultr - New Jersey, US [nj-us-ping.vultr.com]
host = nj-us-ping.vultr.com

++ freerangecloud-iad
menu = [US/VA] Free Range Cloud
title = [US/VA] Free Range Cloud @ Fork Systems - Ashburn, VA, US [iad01.lg.freerangecloud.com]
host = iad01.lg.freerangecloud.com

++ hetzner-va
menu = [US/VA] Hetzner
title = [US/VA] Hetzner - Ashburn, VA, US [ash-speed.hetzner.com]
host = ash-speed.hetzner.com

++ ovh-va
menu = [US/VA] OVH
title = [US/VA] OVH - Vint Hill, VA, US [vin.proof.ovh.us]
host = vin.proof.ovh.us

++ linode-was
menu = [US/DC] Linode @ Akamai
title = [US/DC] Linode @ Akamai - Washington, DC, US [speedtest.washington.linode.com]
host = speedtest.washington.linode.com

++ quickpacket-clt
menu = [US/VA] QuickPacket
title = [US/VA] QuickPacket - Ashburn, VA, US [lg.iad01.quickpacket.com]
host = lg.iad01.quickpacket.com

++ reliable-wv
menu = [US/WV] Reliable Hosting
title = [US/WV] Reliable Hosting Services - Berkeley Springs, WV, US [lg.reliablehostingservices.net]
host = lg.reliablehostingservices.net

++ colocrossing-atl
menu = [US/GA] ColoCrossing
title = [US/GA] ColoCrossing - Atlanta, GA, US [lg.atl.colocrossing.com]
host = lg.atl.colocrossing.com

++ dedipath-atl
menu = [US/GA] DediPath
title = [US/GA] DediPath - Atlanta, GA, US [lg.atl.dedicontrol.com]
host = lg.atl.dedicontrol.com

++ greencloud-atl
menu = [US/GA] GreenCloud
title = [US/GA] GreenCloud @ Cyber Wurx - Atlanta, GA, US [69.61.74.53]
host = 69.61.74.53

++ linode-atl
menu = [US/GA] Linode
title = [US/GA] Linode - Atlanta, GA, US [speedtest.atlanta.linode.com]
host = speedtest.atlanta.linode.com

++ melbicom-atl
menu = [US/GA] Melbicom
title = [US/GA] Melbicom - Atlanta, GA, US [dl.atl.melbicom.net]
host = dl.atl.melbicom.net

++ ramnode-atl
menu = [US/GA] Ramnode
title = [US/GA] Ramnode - Atlanta, GA, US [lg.atl.ramnode.com]
host = lg.atl.ramnode.com

++ smarthost-ga
menu = [US/GA] SmartHost
title = [US/GA] SmartHost @ Coloblox - Atlanta, GA, US [ga1.smarthost.net]
host = ga1.smarthost.net

++ vultr-atl
menu = [US/GA] Vultr
title = [US/GA] Vultr - Atlanta, GA, US [ga-us-ping.vultr.com]
host = ga-us-ping.vultr.com

++ littlecreekhosting
menu = [US/NC] Little Creek Hosting
title = [US/NC] Little Creek Hosting @ Cogent - Durham, NC, US [38.45.64.1]
host = 38.45.64.1

++ smarthost-nc
menu = [US/NC] SmartHost
title = [US/NC] SmartHost @ AceHost - Durham, NC, US [nc1.smarthost.net]
host = nc1.smarthost.net

++ buyvm-mia
menu = [US/FL] BuyVM
title = [US/FL] BuyVM - Miami, FL, US [speedtest.mia.buyvm.net]
host = speedtest.mia.buyvm.net

++ dedipath-jax
menu = [US/FL] DediPath
title = [US/FL] DediPath - Jacksonville, FL, US [lg.dc08.dedicontrol.com]
host = lg.dc08.dedicontrol.com

++ hivelocity-mia
menu = [US/FL] Hivelocity (Miami)
title = [US/FL] Hivelocity - Miami, FL, United States [speedtest.mia.hivelocity.net]
host = speedtest.mia.hivelocity.net

++ hivelocity-tpa
menu = [US/FL] Hivelocity (Tampa)
title = [US/FL] Hivelocity - Tampa, FL, United States [speedtest.tpa2.hivelocity.net]
host = speedtest.tpa2.hivelocity.net

++ reliablesite-mia
menu = [US/FL] ReliableSite
title = [US/FL] ReliableSite - Miami, FL, US [miami-speedtest.reliablesite.net]
host = miami-speedtest.reliablesite.net

++ smarthost-jax
menu = [US/FL] SmartHost (Jacksonville)
title = [US/FL] SmartHost @ SBA Edge - Jacksonville, FL, US [fl1.smarthost.net]
host = fl1.smarthost.net

++ vultr-mia
menu = [US/FL] Vultr
title = [US/FL] Vultr - Miami, FL, US [fl-us-ping.vultr.com]
host = fl-us-ping.vultr.com
