server {
    listen 80;
    listen [::]:80;
    server_name {{ smokeping_base_url }};

    # Restrict access to dn42 only
    allow  10.0.0.0/8;
    allow  172.20.0.0/14;
    allow  172.31.0.0/16;
    allow  fd00::/8;
    deny   all;

    #client_max_body_size 400m;  # work around slave data being truncated & fcgi crashing

    location = /smokeping/ {
        fastcgi_pass unix:/run/smokeping-fcgi.sock;
        include /etc/nginx/fastcgi_params;
    }

    location /smokeping/ {
        alias /usr/share/smokeping/www/;
        index smokeping.cgi;
    }

    location / {
        return 302 $scheme://$server_name/smokeping/;
    }
}
