log "/var/log/bird/bird.log" 10485760 "/var/log/bird/bird.log.1" { info, remote, warning, error, auth, fatal, bug, debug, trace };
#debug protocols { routes, events };
define OWNAS = {{ ownas }};
define OWNIP = {{ ownip }};
define OWNIPv6 = {{ ownip6 }};
define OWNNET = {{ ownnet }};
define OWNNETv6 = {{ ownnet6 }};
define OWNNETSET = [
    {{ ownnet }}+,
    # Peering LAN
    192.168.88.0/24+,
    # Other infra (specific to my network)
    192.168.33.0/24+
];
define OWNNETSETv6 = [{{ ownnet6 }}+];
define DN42_REGION = {{ dn42_region }};

protocol static {
{% if static_routes4 is defined %}
{% for route in static_routes4 %}
    route {{ route }};
{% endfor %}
{% endif %}
    route OWNNET reject;
    route 192.168.88.0/24 reject;
    route 192.168.33.0/24 reject;

    ipv4 {
        import all;
        export none;
    };
}

protocol static {
{% if static_routes6 is defined %}
{% for route in static_routes6 %}
    route {{ route }};
{% endfor %}
{% endif %}
    route OWNNETv6 reject;

    ipv6 {
        import all;
        export none;
    };
}

router id OWNIP;

protocol device {
    scan time 10;
}

/*
 *  Utility functions
 */

function is_self_net() {
  return net ~ OWNNETSET;
}

function is_self_net_v6() {
  return net ~ OWNNETSETv6;
}

function is_valid_network() {
  return net ~ [
    172.20.0.0/14{21,29}, # dn42
    172.20.0.0/24{28,32}, # dn42 Anycast
    172.21.0.0/24{28,32}, # dn42 Anycast
    172.22.0.0/24{28,32}, # dn42 Anycast
    172.23.0.0/24{28,32}, # dn42 Anycast
    172.31.0.0/16+,       # ChaosVPN
    10.100.0.0/14+,       # ChaosVPN
    10.0.0.0/8{15,24},    # Freifunk.net
    10.127.0.0/16+        # NeoNetwork
  ];
}

roa4 table dn42_roa;
roa6 table dn42_roa_v6;

protocol static {
    roa4 { table dn42_roa; };
    include "/etc/bird/roa_dn42.conf";
};

protocol static {
    roa6 { table dn42_roa_v6; };
    include "/etc/bird/roa_dn42_v6.conf";
};

function is_valid_network_v6() {
  return net ~ [
    fd00::/8{44,64}, # ULA address space as per RFC 4193
    fd10:127::/32+   # NeoNetwork
  ];
}

protocol kernel {
    scan time 20;

    ipv6 {
        import none;
        export filter {
            if source = RTS_DEVICE then {
              print "Not registering device route for ", net, " in kernel";
              reject;
            }
            krt_prefsrc = OWNIPv6;
            accept;
        };
    };
};

protocol kernel {
    scan time 20;

    ipv4 {
        import none;
        export filter {
            if source = RTS_DEVICE then {
              print "Not registering device route for ", net, " in kernel";
              reject;
            }
            krt_prefsrc = OWNIP;
            accept;
        };
    };
}

include "/etc/bird/custom_filters.conf";
include "/etc/bird/community_filters.conf";

template bgp dnpeers {
    local as OWNAS;
    # When eBGP routes tie in latency, prefer older routes instead of comparing router ID
    prefer older 1;
}

include "/etc/bird/babel.conf";
include "/etc/bird/ibgp.conf";
include "/etc/bird/local*.conf";
