protocol ospf v3 int_ospf {
    ipv4 {
        import where is_self_net();
        export where is_self_net();
    };

    include "/etc/bird/ospf_backbone.conf";
    include "/etc/bird/ospf_local4*.conf";
};

protocol ospf v3 int_ospf6 {
    ipv6 {
        import where is_self_net_v6();
        export where is_self_net_v6();
    };

    include "/etc/bird/ospf_backbone.conf";
    include "/etc/bird/ospf_local6*.conf";
};
