define OWNAS = {{ ownas }};
define OWNIP = {{ ownip }};
define OWNIPv6 = {{ ownip6 }};
define OWNNET = {{ ownnet }};
define OWNNETv6 = {{ ownnet6 }};
define OWNNETSET = [{{ ownnet }}+];
define OWNNETSETv6 = [{{ ownnet6 }}+];
define DN42_REGION = {{ dn42_region }};
