sendmail = /usr/sbin/sendmail
imgcache = /var/cache/smokeping/images
imgurl   = ../smokeping/images
datadir  = /var/lib/smokeping
#piddir  = /var/run/smokeping
# Match Debian defaults
piddir  = /run/smokeping
smokemail = /etc/smokeping/smokemail
tmail = /etc/smokeping/tmail
dyndir = /var/lib/smokeping/__cgi
