*** Probes ***

+ FPing

binary = /usr/bin/fping

+FPing6
# N.B. on fping 4.x, use protocol option instead of /usr/bin/fping6
# https://github.com/oetiker/SmokePing/commit/681457d0872057f79e2b2f97fa6ff8b6b415b48c
binary = /usr/bin/fping
protocol = 6
