# Configuration for alarm notifications
#
# This configuration is used by: alarm-notify.sh
# changes take effect immediately (the next alarm will use them).
#
# alarm-notify.sh can send:
# - e-mails (using the sendmail command),
# - push notifications to your mobile phone (pushover.net),
# - messages to your slack team (slack.com),
# - messages to your alerta server (alerta.io),
# - messages to your flock team (flock.com),
# - messages to your discord guild (discordapp.com),
# - messages to your telegram chat / group chat (telegram.org)
# - sms messages to your cell phone or any sms enabled device (twilio.com)
# - sms messages to your cell phone or any sms enabled device (messagebird.com)
# - sms messages to your cell phone or any sms enabled device (smstools3)
# - notifications to users on pagerduty.com
# - push notifications to iOS devices (via prowlapp.com)
# - notifications to Amazon SNS topics (aws.amazon.com)
# - messages to your irc channel on your selected network
# - messages to a local or remote syslog daemon
# - message to Microsoft Team (through webhook)
# - message to Rocket.Chat (through webhook)
# - message to Google Hangouts Chat (through webhook)
#
# The 'to' line given at netdata alarms defines a *role*, so that many
# people can be notified for each role.
#
# This file is a BASH script itself.
#
#
#------------------------------------------------------------------------------
# proxy configuration
#
# If you need to send curl based notifications (pushover, pushbullet, slack, alerta,
# flock, discord, telegram) via a proxy, set these to your proxy address:
#export http_proxy="http://10.0.0.1:3128/"
#export https_proxy="http://10.0.0.1:3128/"


#------------------------------------------------------------------------------
# notifications images
#
# Images in notifications need to be downloaded from an Internet facing site.
# To allow notification providers fetch the icons/images, by default we set
# the URL of the global public netdata registry.
# If you have an Internet facing netdata (or you have copied the images/ folder
# of netdata to your web server), set its URL here, to fetch the notification
# images from it.
#images_base_url="http://my.public.netdata.server:19999"


#------------------------------------------------------------------------------
# date handling
#
# You can configure netdata alerts to send dates in any format you want.
# This uses standard `date` command format strings.  See `man date` for
# more info on what you can put in here.  Note that this has to start with a '+', otherwise it won't work.
#
# For ISO 8601 dates, use '+%FT%T%z'
# For RFC 5322 dates, use '+%a, %d %b %Y %H:%M:%S %z'
# For RFC 3339 dates, use '+%F %T%:z'
# For RFC 1123 dates, use '+%a, %d %b %Y %H:%M:%S %Z'
# For RFC 1036 dates, use '+%A, %d-%b-%y %H:%M:%S %Z'
# For a reasonably local date and time (in that order), use '+%x %X'
# For the old default behavior (compatible with ANSI C's asctime() function), leave this empty.
date_format=''


#------------------------------------------------------------------------------
# hostname handling
#
# By default, Netdata will use the simple hostname for the system (the
# hostname with everything after the first `.` removed) when displaying
# the hostname in alert notifications.  If you prefer, you can uncomment
# the line below to have Netdata instead use the host's fully qualified
# domain name.
#
# This does not report correct FQDN's for child systems for which this
# system is a parent.
#
# Additionally, if the system host name is overridden in /etc/netdata.conf
# with the `hostname` option, that name will be used unconditionally
# instead of this.
#use_fqdn='YES'


#------------------------------------------------------------------------------
# external commands

# The full path to the sendmail command.
# If empty, the system $PATH will be searched for it.
# If not found, email notifications will be disabled (silently).
sendmail=""

# The full path of the curl command.
# If empty, the system $PATH will be searched for it.
# If not found, most notifications will be silently disabled.
curl=""

# The full path of the nc command.
# If empty, the system $PATH will be searched for it.
# If not found, irc notifications will be silently disabled.
nc=""

# The full path of the logger command.
# If empty, the system $PATH will be searched for it.
# If not found, syslog notifications will be silently disabled.
logger=""

# The full path of the aws command.
# If empty, the system $PATH will be searched for it.
# If not found, Amazon SNS notifications will be silently disabled.
aws=""

# The full path of the sendsms command (smstools3).
# If empty, the system $PATH will be searched for it.
# If not found, SMS notifications will be silently disabled.
sendsms=""

#------------------------------------------------------------------------------
# extra options for external commands
#
# In some cases, you may need to change what options get passed to an
# external command.  Such cases are covered here.

# Extra options to pass to curl.  In most cases, you shouldn't need to add anything
# to this.  If you're having issues with HTTPS connections, you might try adding
# '--insecure' here, but be warned that it will make it much easier for
# third-parties to block notification delivery, and may allow disclosure
# of potentially sensitive information.
#curl_options="--insecure"

# Extra options to pass to logger.  You shouldn't have to specify anything
# here in most cases.
#logger_options=""

#------------------------------------------------------------------------------
# extra options

# By default don't do anything if this is CLEAR, but it was not WARNING or CRITICAL.
# You can send it always if your system makes deduplication for alarms.
#clear_alarm_always='YES'

#
#------------------------------------------------------------------------------
# NOTE ABOUT RECIPIENTS
#
# When you define recipients (all types):
#
#  - emails addresses
#  - pushover user tokens
#  - telegram chat ids
#  - slack channels
#  - alerta environment
#  - flock rooms
#  - discord channels
#  - hipchat rooms
#  - sms phone numbers
#  - pagerduty.com (pd) services
#  - irc channels
#
# You can append |critical to limit the notifications to be sent.
#
# In these examples, the first recipient receives all the alarms
# while the second one receives only notifications for alarms that
# have at some point become critical. The second user may still receive
# warning and clear notifications, but only for the event that previously
# caused a critical alarm.
#
#  email      : "user1@example.com user2@example.com|critical"
#  pushover   : "2987343...9437837 8756278...2362736|critical"
#  telegram   : "111827421 112746832|critical"
#  slack      : "alarms disasters|critical"
#  alerta     : "alarms disasters|critical"
#  flock      : "alarms disasters|critical"
#  discord    : "alarms disasters|critical"
#  twilio     : "+15555555555 +17777777777|critical"
#  messagebird: "+15555555555 +17777777777|critical"
#  kavenegar  : "09155555555 09177777777|critical"
#  pd         : "<pd_service_key_1> <pd_service_key_2>|critical"
#  irc        : "<irc_channel_1> <irc_channel_2>|critical"
#  hangouts   : "alarms disasters|critical"
#
# If a recipient is set to empty string, the default recipient of the given
# notification method (email, pushover, telegram, slack, alerta, etc) will be used.
# To disable a notification, use the recipient called: disabled
# This works for all notification methods (including the default recipients).

#------------------------------------------------------------------------------
# email global notification options

# multiple recipients can be given like this:
#              "admin1@example.com admin2@example.com ..."

# the email address sending email notifications
# the default is the system user netdata runs as (usually: netdata)
# The following formats are supported:
# EMAIL_SENDER="user@domain"
# EMAIL_SENDER="User Name <user@domain>"
# EMAIL_SENDER="'User Name' <user@domain>"
# EMAIL_SENDER="\"User Name\" <user@domain>"
EMAIL_SENDER=""

# enable/disable sending emails
SEND_EMAIL="YES"

# if a role recipient is not configured, an email will be send to:
DEFAULT_RECIPIENT_EMAIL="root"
# to receive only critical alarms, set it to "root|critical"

# Optionally specify the encoding to list in the Content-Type header.
# This doesn't change what encoding the e-mail is sent with, just what
# the headers say it was encoded as.
# This shouldn't need to be changed as it will almost always be
# autodetected from the environment.
#EMAIL_CHARSET="UTF-8"

# You can also have netdata add headers to the message that will
# cause most e-mail clients to treat all notifications for a given
# chart+alarm+host combination as a single thread.  This can help
# simplify tracking of alarms, as it provides an easy wway for scripts
# to corelate messages and also will cause most clients to group all the
# messages together.  This is enabled by default, uncomment the line
# below if you want to disable it.
#EMAIL_THREADING="NO"

# By default, netdata sends HTML and Plain Text emails, some clients
# do not parse HTML emails such as command line clients.
# To make emails readable in these clients, you can configure netdata
# to not send HTML but Plain Text only emails.
#EMAIL_PLAINTEXT_ONLY="YES"

###############################################################################
# Matrix notifications
#

# enable/disable Matrix notifications
SEND_MATRIX="YES"

# The url of the Matrix homeserver
# e.g https://matrix.org:8448
MATRIX_HOMESERVER="{{ netdata_matrix_homeserver }}"

# A access token from a valid Matrix account. Tokens usually don't expire,
# can be controlled from a Matrix client.
# See https://matrix.org/docs/guides/client-server.html
MATRIX_ACCESSTOKEN="{{ netdata_matrix_token }}"

# Specify the default rooms to receive the notification if no rooms are provided
# in a role's recipients.
# The format is !roomid:homeservername
DEFAULT_RECIPIENT_MATRIX="{{ netdata_matrix_recipient }}"


###############################################################################
# RECIPIENTS PER ROLE

# -----------------------------------------------------------------------------
# generic system alarms
# CPU, disks, network interfaces, entropy, etc

role_recipients_email[sysadmin]="${DEFAULT_RECIPIENT_EMAIL}"

role_recipients_hangouts[sysadmin]="${DEFAULT_RECIPIENT_HANGOUTS}"

role_recipients_pushover[sysadmin]="${DEFAULT_RECIPIENT_PUSHOVER}"

role_recipients_pushbullet[sysadmin]="${DEFAULT_RECIPIENT_PUSHBULLET}"

role_recipients_telegram[sysadmin]="${DEFAULT_RECIPIENT_TELEGRAM}"

role_recipients_slack[sysadmin]="${DEFAULT_RECIPIENT_SLACK}"

role_recipients_alerta[sysadmin]="${DEFAULT_RECIPIENT_ALERTA}"

role_recipients_flock[sysadmin]="${DEFAULT_RECIPIENT_FLOCK}"

role_recipients_discord[sysadmin]="${DEFAULT_RECIPIENT_DISCORD}"

role_recipients_hipchat[sysadmin]="${DEFAULT_RECIPIENT_HIPCHAT}"

role_recipients_twilio[sysadmin]="${DEFAULT_RECIPIENT_TWILIO}"

role_recipients_messagebird[sysadmin]="${DEFAULT_RECIPIENT_MESSAGEBIRD}"

role_recipients_kavenegar[sysadmin]="${DEFAULT_RECIPIENT_KAVENEGAR}"

role_recipients_pd[sysadmin]="${DEFAULT_RECIPIENT_PD}"

role_recipients_fleep[sysadmin]="${DEFAULT_RECIPIENT_FLEEP}"

role_recipients_irc[sysadmin]="${DEFAULT_RECIPIENT_IRC}"

role_recipients_syslog[sysadmin]="${DEFAULT_RECIPIENT_SYSLOG}"

role_recipients_prowl[sysadming]="${DEFAULT_RECIPIENT_PROWL}"

role_recipients_awssns[sysadmin]="${DEFAULT_RECIPIENT_AWSSNS}"

role_recipients_custom[sysadmin]="${DEFAULT_RECIPIENT_CUSTOM}"

role_recipients_msteam[sysadmin]="${DEFAULT_RECIPIENT_MSTEAM}"

role_recipients_rocketchat[sysadmin]="${DEFAULT_RECIPIENT_ROCKETCHAT}"

role_recipients_dynatrace[sysadmin]="${DEFAULT_RECIPIENT_DYNATRACE}"

role_recipients_opsgenie[sysadmin]="${DEFAULT_RECIPIENT_OPSGENIE}"

role_recipients_matrix[sysadmin]="${DEFAULT_RECIPIENT_MATRIX}"

role_recipients_stackpulse[sysadmin]="${DEFAULT_RECIPIENT_STACKPULSE}"

# -----------------------------------------------------------------------------
# DNS related alarms

role_recipients_email[domainadmin]="${DEFAULT_RECIPIENT_EMAIL}"

role_recipients_hangouts[domainadmin]="${DEFAULT_RECIPIENT_HANGOUTS}"

role_recipients_pushover[domainadmin]="${DEFAULT_RECIPIENT_PUSHOVER}"

role_recipients_pushbullet[domainadmin]="${DEFAULT_RECIPIENT_PUSHBULLET}"

role_recipients_telegram[domainadmin]="${DEFAULT_RECIPIENT_TELEGRAM}"

role_recipients_slack[domainadmin]="${DEFAULT_RECIPIENT_SLACK}"

role_recipients_alerta[domainadmin]="${DEFAULT_RECIPIENT_ALERTA}"

role_recipients_flock[domainadmin]="${DEFAULT_RECIPIENT_FLOCK}"

role_recipients_discord[domainadmin]="${DEFAULT_RECIPIENT_DISCORD}"

role_recipients_hipchat[domainadmin]="${DEFAULT_RECIPIENT_HIPCHAT}"

role_recipients_twilio[domainadmin]="${DEFAULT_RECIPIENT_TWILIO}"

role_recipients_messagebird[domainadmin]="${DEFAULT_RECIPIENT_MESSAGEBIRD}"

role_recipients_kavenegar[domainadmin]="${DEFAULT_RECIPIENT_KAVENEGAR}"

role_recipients_pd[domainadmin]="${DEFAULT_RECIPIENT_PD}"

role_recipients_fleep[domainadmin]="${DEFAULT_RECIPIENT_FLEEP}"

role_recipients_irc[domainadmin]="${DEFAULT_RECIPIENT_IRC}"

role_recipients_syslog[domainadmin]="${DEFAULT_RECIPIENT_SYSLOG}"

role_recipients_prowl[domainadmin]="${DEFAULT_RECIPIENT_PROWL}"

role_recipients_awssns[domainadmin]="${DEFAULT_RECIPIENT_AWSSNS}"

role_recipients_custom[domainadmin]="${DEFAULT_RECIPIENT_CUSTOM}"

role_recipients_msteam[domainadmin]="${DEFAULT_RECIPIENT_MSTEAM}"

role_recipients_rocketchat[domainadmin]="${DEFAULT_RECIPIENT_ROCKETCHAT}"

role_recipients_sms[domainadmin]="${DEFAULT_RECIPIENT_SMS}"

role_recipients_dynatrace[domainadmin]="${DEFAULT_RECIPIENT_DYNATRACE}"

role_recipients_opsgenie[domainadmin]="${DEFAULT_RECIPIENT_OPSGENIE}"

role_recipients_matrix[domainadmin]="${DEFAULT_RECIPIENT_MATRIX}"

role_recipients_stackpulse[domainadmin]="${DEFAULT_RECIPIENT_STACKPULSE}"

# -----------------------------------------------------------------------------
# database servers alarms
# mysql, redis, memcached, postgres, etc

role_recipients_email[dba]="${DEFAULT_RECIPIENT_EMAIL}"

role_recipients_hangouts[dba]="${DEFAULT_RECIPIENT_HANGOUTS}"

role_recipients_pushover[dba]="${DEFAULT_RECIPIENT_PUSHOVER}"

role_recipients_pushbullet[dba]="${DEFAULT_RECIPIENT_PUSHBULLET}"

role_recipients_telegram[dba]="${DEFAULT_RECIPIENT_TELEGRAM}"

role_recipients_slack[dba]="${DEFAULT_RECIPIENT_SLACK}"

role_recipients_alerta[dba]="${DEFAULT_RECIPIENT_ALERTA}"

role_recipients_flock[dba]="${DEFAULT_RECIPIENT_FLOCK}"

role_recipients_discord[dba]="${DEFAULT_RECIPIENT_DISCORD}"

role_recipients_hipchat[dba]="${DEFAULT_RECIPIENT_HIPCHAT}"

role_recipients_twilio[dba]="${DEFAULT_RECIPIENT_TWILIO}"

role_recipients_messagebird[dba]="${DEFAULT_RECIPIENT_MESSAGEBIRD}"

role_recipients_kavenegar[dba]="${DEFAULT_RECIPIENT_KAVENEGAR}"

role_recipients_pd[dba]="${DEFAULT_RECIPIENT_PD}"

role_recipients_fleep[dba]="${DEFAULT_RECIPIENT_FLEEP}"

role_recipients_irc[dba]="${DEFAULT_RECIPIENT_IRC}"

role_recipients_syslog[dba]="${DEFAULT_RECIPIENT_SYSLOG}"

role_recipients_prowl[dba]="${DEFAULT_RECIPIENT_PROWL}"

role_recipients_awssns[dba]="${DEFAULT_RECIPIENT_AWSSNS}"

role_recipients_custom[dba]="${DEFAULT_RECIPIENT_CUSTOM}"

role_recipients_msteam[dba]="${DEFAULT_RECIPIENT_MSTEAM}"

role_recipients_rocketchat[dba]="${DEFAULT_RECIPIENT_ROCKETCHAT}"

role_recipients_sms[dba]="${DEFAULT_RECIPIENT_SMS}"

role_recipients_dynatrace[dba]="${DEFAULT_RECIPIENT_DYNATRACE}"

role_recipients_opsgenie[dba]="${DEFAULT_RECIPIENT_OPSGENIE}"

role_recipients_matrix[dba]="${DEFAULT_RECIPIENT_MATRIX}"

role_recipients_stackpulse[dba]="${DEFAULT_RECIPIENT_STACKPULSE}"

# -----------------------------------------------------------------------------
# web servers alarms
# apache, nginx, lighttpd, etc

role_recipients_email[webmaster]="${DEFAULT_RECIPIENT_EMAIL}"

role_recipients_hangouts[webmaster]="${DEFAULT_RECIPIENT_HANGOUTS}"

role_recipients_pushover[webmaster]="${DEFAULT_RECIPIENT_PUSHOVER}"

role_recipients_pushbullet[webmaster]="${DEFAULT_RECIPIENT_PUSHBULLET}"

role_recipients_telegram[webmaster]="${DEFAULT_RECIPIENT_TELEGRAM}"

role_recipients_slack[webmaster]="${DEFAULT_RECIPIENT_SLACK}"

role_recipients_alerta[webmaster]="${DEFAULT_RECIPIENT_ALERTA}"

role_recipients_flock[webmaster]="${DEFAULT_RECIPIENT_FLOCK}"

role_recipients_discord[webmaster]="${DEFAULT_RECIPIENT_DISCORD}"

role_recipients_hipchat[webmaster]="${DEFAULT_RECIPIENT_HIPCHAT}"

role_recipients_twilio[webmaster]="${DEFAULT_RECIPIENT_TWILIO}"

role_recipients_messagebird[webmaster]="${DEFAULT_RECIPIENT_MESSAGEBIRD}"

role_recipients_kavenegar[webmaster]="${DEFAULT_RECIPIENT_KAVENEGAR}"

role_recipients_pd[webmaster]="${DEFAULT_RECIPIENT_PD}"

role_recipients_fleep[webmaster]="${DEFAULT_RECIPIENT_FLEEP}"

role_recipients_irc[webmaster]="${DEFAULT_RECIPIENT_IRC}"

role_recipients_syslog[webmaster]="${DEFAULT_RECIPIENT_SYSLOG}"

role_recipients_prowl[webmaster]="${DEFAULT_RECIPIENT_PROWL}"

role_recipients_awssns[webmaster]="${DEFAULT_RECIPIENT_AWSSNS}"

role_recipients_custom[webmaster]="${DEFAULT_RECIPIENT_CUSTOM}"

role_recipients_msteam[webmaster]="${DEFAULT_RECIPIENT_MSTEAM}"

role_recipients_rocketchat[webmaster]="${DEFAULT_RECIPIENT_ROCKETCHAT}"

role_recipients_sms[webmaster]="${DEFAULT_RECIPIENT_SMS}"

role_recipients_dynatrace[webmaster]="${DEFAULT_RECIPIENT_DYNATRACE}"

role_recipients_opsgenie[webmaster]="${DEFAULT_RECIPIENT_OPSGENIE}"

role_recipients_matrix[webmaster]="${DEFAULT_RECIPIENT_MATRIX}"

role_recipients_stackpulse[webmaster]="${DEFAULT_RECIPIENT_STACKPULSE}"

# -----------------------------------------------------------------------------
# proxy servers alarms
# squid, etc

role_recipients_email[proxyadmin]="${DEFAULT_RECIPIENT_EMAIL}"

role_recipients_hangouts[proxyadmin]="${DEFAULT_RECIPIENT_HANGOUTS}"

role_recipients_pushover[proxyadmin]="${DEFAULT_RECIPIENT_PUSHOVER}"

role_recipients_pushbullet[proxyadmin]="${DEFAULT_RECIPIENT_PUSHBULLET}"

role_recipients_telegram[proxyadmin]="${DEFAULT_RECIPIENT_TELEGRAM}"

role_recipients_slack[proxyadmin]="${DEFAULT_RECIPIENT_SLACK}"

role_recipients_alerta[proxyadmin]="${DEFAULT_RECIPIENT_ALERTA}"

role_recipients_flock[proxyadmin]="${DEFAULT_RECIPIENT_FLOCK}"

role_recipients_discord[proxyadmin]="${DEFAULT_RECIPIENT_DISCORD}"

role_recipients_hipchat[proxyadmin]="${DEFAULT_RECIPIENT_HIPCHAT}"

role_recipients_twilio[proxyadmin]="${DEFAULT_RECIPIENT_TWILIO}"

role_recipients_messagebird[proxyadmin]="${DEFAULT_RECIPIENT_MESSAGEBIRD}"

role_recipients_kavenegar[proxyadmin]="${DEFAULT_RECIPIENT_KAVENEGAR}"

role_recipients_pd[proxyadmin]="${DEFAULT_RECIPIENT_PD}"

role_recipients_fleep[proxyadmin]="${DEFAULT_RECIPIENT_FLEEP}"

role_recipients_irc[proxyadmin]="${DEFAULT_RECIPIENT_IRC}"

role_recipients_syslog[proxyadmin]="${DEFAULT_RECIPIENT_SYSLOG}"

role_recipients_prowl[proxyadmin]="${DEFAULT_RECIPIENT_PROWL}"

role_recipients_awssns[porxyadmin]="${DEFAULT_RECIPIENT_AWSSNS}"

role_recipients_custom[proxyadmin]="${DEFAULT_RECIPIENT_CUSTOM}"

role_recipients_msteam[proxyadmin]="${DEFAULT_RECIPIENT_MSTEAM}"

role_recipients_rocketchat[proxyadmin]="${DEFAULT_RECIPIENT_ROCKETCHAT}"

role_recipients_sms[proxyadmin]="${DEFAULT_RECIPIENT_SMS}"

role_recipients_dynatrace[proxyadmin]="${DEFAULT_RECIPIENT_DYNATRACE}"

role_recipients_opsgenie[proxyadmin]="${DEFAULT_RECIPIENT_OPSGENIE}"

role_recipients_matrix[proxyadmin]="${DEFAULT_RECIPIENT_MATRIX}"

role_recipients_stackpulse[proxyadmin]="${DEFAULT_RECIPIENT_STACKPULSE}"

# -----------------------------------------------------------------------------
# peripheral devices
# UPS, photovoltaics, etc

role_recipients_email[sitemgr]="${DEFAULT_RECIPIENT_EMAIL}"

role_recipients_hangouts[sitemgr]="${DEFAULT_RECIPIENT_HANGOUTS}"

role_recipients_pushover[sitemgr]="${DEFAULT_RECIPIENT_PUSHOVER}"

role_recipients_pushbullet[sitemgr]="${DEFAULT_RECIPIENT_PUSHBULLET}"

role_recipients_telegram[sitemgr]="${DEFAULT_RECIPIENT_TELEGRAM}"

role_recipients_slack[sitemgr]="${DEFAULT_RECIPIENT_SLACK}"

role_recipients_alerta[sitemgr]="${DEFAULT_RECIPIENT_ALERTA}"

role_recipients_flock[sitemgr]="${DEFAULT_RECIPIENT_FLOCK}"

role_recipients_discord[sitemgr]="${DEFAULT_RECIPIENT_DISCORD}"

role_recipients_hipchat[sitemgr]="${DEFAULT_RECIPIENT_HIPCHAT}"

role_recipients_twilio[sitemgr]="${DEFAULT_RECIPIENT_TWILIO}"

role_recipients_messagebird[sitemgr]="${DEFAULT_RECIPIENT_MESSAGEBIRD}"

role_recipients_kavenegar[sitemgr]="${DEFAULT_RECIPIENT_KAVENEGAR}"

role_recipients_pd[sitemgr]="${DEFAULT_RECIPIENT_PD}"

role_recipients_fleep[sitemgr]="${DEFAULT_RECIPIENT_FLEEP}"

role_recipients_syslog[sitemgr]="${DEFAULT_RECIPIENT_SYSLOG}"

role_recipients_prowl[sitemgr]="${DEFAULT_RECIPIENT_PROWL}"

role_recipients_awssns[sitemgr]="${DEFAULT_RECIPIENT_AWSSNS}"

role_recipients_custom[sitemgr]="${DEFAULT_RECIPIENT_CUSTOM}"

role_recipients_msteam[sitemgr]="${DEFAULT_RECIPIENT_MSTEAM}"

role_recipients_rocketchat[sitemgr]="${DEFAULT_RECIPIENT_ROCKETCHAT}"

role_recipients_sms[sitemgr]="${DEFAULT_RECIPIENT_SMS}"

role_recipients_dynatrace[sitemgr]="${DEFAULT_RECIPIENT_DYNATRACE}"

role_recipients_opsgenie[sitemgr]="${DEFAULT_RECIPIENT_OPSGENIE}"

role_recipients_matrix[sitemgr]="${DEFAULT_RECIPIENT_MATRIX}"

role_recipients_stackpulse[sitemgr]="${DEFAULT_RECIPIENT_STACKPULSE}"
