# netdata configuration
#
# The current full configuration can be retrieved from the running
# server at the URL
#
#   http://localhost:19999/netdata.conf
#
# for example:
#
#   wget -O /etc/netdata/netdata.conf http://localhost:19999/netdata.conf
#

[global]
	run as user = netdata
	web files owner = root
	web files group = root
	bind socket to IP = 127.0.0.1

[health]
	script to execute on alarm = /opt/netdata-notify.sh
