upstream backend {
    # the Netdata server
    server 127.0.0.1:19999;
    keepalive 64;
}

server {
    listen {{ netdata_proxy_port }};
    listen [::]:{{ netdata_proxy_port }};

    server_name {{ ownip }};
    server_name {{ ownip6 }};

{% if netdata_mgmt_ips | default([]) %}
    satisfy any;
{% for ipblock in netdata_mgmt_ips %}
    allow {{ ipblock }};
{% endfor %}
    deny all;
{% endif %}

    auth_basic "Restricted";
    auth_basic_user_file /etc/nginx/htpasswd-netdata;

    location / {
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass http://backend;
        proxy_http_version 1.1;
        proxy_pass_request_headers on;
        proxy_set_header Connection "keep-alive";
        proxy_store off;
    }
}
