{% set ifname = peer_info['name'] %}
{% if 'local_v6' in peer_info %}
    {%- set local_v6 = peer_info['local_v6'] %}
{# Automatically determine whether we're peering over link-local v6 or ULA #}
{% elif peer_info.get('peer_v6') and peer_info['peer_v6'].startswith('fe80:') %}
    {%- set local_v6 = link_local_ip6 %}
{% else %}
    {%- set local_v6 = ownip6 %}
{% endif %}

{%- set local_v4 = peer_info.get('local_v4', ownip) %}
{% if peer_info.get('is_internal_node') %}
{%- set local_v4 = link_local_ip4 %}
{% endif %}
{# Rewrite single IP addresses as a /32, but leave netblocks of other sizes as is #}
{% if local_v4 | ipaddr('address') %}
{% set local_v4 = local_v4 | ipaddr('host') %}
{% endif %}

auto {{ ifname }}
iface {{ ifname }} inet static
    address {{ local_v4 }}
{% if peer_info.get('peer_v4') %}
    pointopoint {{ peer_info['peer_v4'] }}
{% endif %}
{% if 'wg_mtu' in peer_info %}
    mtu {{ peer_info['wg_mtu'] }}
{% endif %}
    pre-up ip link add {{ ifname }} type wireguard
    pre-up timeout 8 wg setconf {{ ifname }} /etc/wireguard/{{ ifname }}.conf
    pre-up wg set {{ ifname }} private-key {{ peer_info.get('wg_privkey', "/etc/wireguard/privatekey") }}
{% if peer_info.get('peer_v6') %}
    post-up ip -6 addr add {{ local_v6 }} peer {{ peer_info['peer_v6'] }} dev {{ ifname }}
{% endif %}
    post-down ip link del {{ ifname }}
