[Interface]
ListenPort = {{ peer_info['port'] }}

{# Support multiple peers in one interface #}
{%- for curr_peer in peer_info.get('multi', [peer_info]) -%}
[Peer]
PublicKey = {{ curr_peer['wg_pubkey'] }}
{% if curr_peer.get('wg_presharedkey') %}
PresharedKey = {{ curr_peer['wg_presharedkey'] }}
{% endif %}
{% if curr_peer.get('remote') %}
Endpoint = {{ curr_peer['remote'] }}
{% endif %}
AllowedIPs = {{ curr_peer.get('wg_allowedips', "0.0.0.0/0,::/0") }}
{% endfor %}
