[Interface]
ListenPort = {{ peer_info['port'] }}

[Peer]
PublicKey = {{ peer_info['wg_pubkey'] }}
{% if 'wg_presharedkey' in peer_info %}
PresharedKey = {{ peer_info['wg_presharedkey'] }}
{% endif %}
{% if 'remote' in peer_info %}
Endpoint = {{ peer_info['remote'] }}
{% endif %}
AllowedIPs = 0.0.0.0/0,::/0
