# dn42 splash
server {
    listen 80;
    listen [::]:80;
    server_name {{ dns_domain }};
    server_name *.{{ dns_domain }};

    server_name myip.dn42;
    server_name *.myip.dn42;

{# Listen on all dummy interfaces #}
{% for iface, options in dummy_interfaces.items() %}
{% for ip in options.ip4 + options.ip6 %}
    server_name {{ ip | ansible.utils.ipaddr('address') | ipwrap }};
{% endfor %}
{% endfor %}

    # restricted to dn42 origins only
    allow 10.0.0.0/8;
    allow 172.20.0.0/14;
    allow 172.31.0.0/16;
    allow fd00::/8;
    deny all;

    location = /connectionInfo {
        keepalive_requests 0;
        default_type application/json;
        add_header 'Access-Control-Allow-Origin' '*';
        return 200 '{"client": "$remote_addr", "server": "$server_addr"}';
    }

    # myip.dn42 endpoints (JSON + raw)
    location = /api {
        keepalive_requests 0;
        default_type application/json;
        add_header 'Access-Control-Allow-Origin' '*';
        return 200 '{"version": "1.0", "ip": "$remote_addr", "node_asn": "{{ ownas }}", "node_location": "{{ location[-2:] }}", "node_id": "{{ inventory_hostname }}"}';
    }
    location = /raw {
        keepalive_requests 0;
        default_type text/plain;
        add_header 'Access-Control-Allow-Origin' '*';
        return 200 '$remote_addr\n';
    }

    location = /smokeping/ {
        fastcgi_pass unix:/run/smokeping-fcgi.sock;
        include /etc/nginx/fastcgi_params;
    }

    location /smokeping/ {
        alias /usr/share/smokeping/www/;
        index smokeping.cgi;
    }

    location /routestats {
        alias {{ automation_root_dir }}/routestats/;
        index index.html;
        expires 2m;
        add_header Cache-Control "max-age=120";
    }

{% if inventory_hostname in groups['webtrace'] and (webtrace_auto_socket | default(True)) %}
    location /webtrace/ {
        proxy_pass http://webtrace-backend/;
        # Important since we use HTTP streaming!
        proxy_buffering off;
        access_log /var/log/nginx/webtrace-access.log;
        error_log /var/log/nginx/webtrace-error.log;
    }
{% endif %}
    location / {
        root {{ automation_root_dir }}/splash;
        index index-dn42.html;
    }
}

{% if inventory_hostname in groups['webtrace'] and (webtrace_auto_socket | default(True)) %}
server {
    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_trusted_certificate /etc/letsencrypt/live/{{ ansible_host }}/chain.pem;
    ssl_certificate /etc/letsencrypt/live/{{ ansible_host }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ ansible_host }}/privkey.pem;

    server_name {{ dns_domain }};
    server_name *.{{ dns_domain }};

    return 302 http://$host$request_uri;
}
{% endif %}
