++ amazon-jp
menu = [JP] Amazon AWS
title = [JP] Amazon AWS - Tokyo, Japan [2406:da14:295:300::ec2]
host = 2406:da14:295:300::ec2

++ extravm-jp
menu = [JP] ExtraVM
title = [JP] ExtraVM @ Teraswitch - Tokyo, Japan [2607:fdc0:301:4::1:a]
host = 2607:fdc0:301:4::1:a

++ kuaichedao-jp
menu = [JP] Kuaichedao
title = [JP] Kuaichedao (Eons Data) - Tokyo, Japan [jp-bgp.tyo.lg.kuaichedao.xyz]
host = jp-bgp.tyo.lg.kuaichedao.xyz

++ linode-jp
menu = [JP] Linode
title = [JP] Linode - Tokyo, Japan [speedtest.tokyo2.linode.com]
host = speedtest.tokyo2.linode.com

++ shockhosting-jp
menu = [JP] Shock Hosting
title = [JP] Shock Hosting - Tokyo, Japan [jp-lg.shockhosting.net]
host = jp-lg.shockhosting.net

++ virtono-tok-jp
menu = [JP] Virtono @ M247
title = [JP] Virtono @ M247 - Tokyo, Japan [tok-jp-ping.virtono.com]
host = tok-jp-ping.virtono.com

++ vultr-jp
menu = [JP] Vultr
title = [JP] Vultr - Tokyo, Japan [2001:19f0:7000:8002:5400:ff:fe00:536d]
host = 2001:19f0:7000:8002:5400:ff:fe00:536d

++ xtom-jp-tyo
menu = [JP] xTom (Tokyo)
title = [JP] xTom / V.PS - Tokyo, Japan [nrt.speedtest.v.ps]
host = nrt.speedtest.v.ps

++ xtom-jp-osa
menu = [JP] xTom (Osaka)
title = [JP] xTom / V.PS - Osaka, Japan [kix.speedtest.v.ps]
host = kix.speedtest.v.ps

++ vultr-kr
menu = [KR] Vultr
title = [KR] Vultr - Seoul, Korea [2401:c080:1c01:0:5400:2ff:febd:8065]
host = 2401:c080:1c01:0:5400:2ff:febd:8065

++ hosthatch-hk
menu = [HK] HostHatch
title = [HK] HostHatch - Hong Kong, China [2406:ef80:1:a96f::1]
host = 2406:ef80:1:a96f::1

++ kuaichedao-hk
menu = [HK] Kuaichedao
title = [HK] Kuaichedao (Eons Data) - Hong Kong, China [hk-bgp.hkg.lg.kuaichedao.xyz]
host = hk-bgp.hkg.lg.kuaichedao.xyz

++ leaseweb-hk
menu = [HK] LeaseWeb
title = [HK] LeaseWeb - Hong Kong, China [mirror.hk.leaseweb.net]
host = mirror.hk.leaseweb.net

++ virtono-hk
menu = [HK] Virtono @ M247
title = [HK] Virtono @ M247 - Hong Kong, China [hk-ping.virtono.com]
host = hk-ping.virtono.com

++ xtom-hk
menu = [HK] xTom
title = [HK] xTom - Hong Kong, China [mirrors.xtom.com.hk]
host = mirrors.xtom.com.hk

++ amazon-sg
menu = [SG] Amazon AWS
title = [SG] Amazon AWS - Singapore [2400:6500:ff00::344a:2]
host = 2400:6500:ff00::344a:2

++ hosthatch-sg
menu = [SG] HostHatch
title = [SG] HostHatch - Singapore [2406:ef80:2:87f1::1]
host = 2406:ef80:2:87f1::1

++ leaseweb-sg
menu = [SG] LeaseWeb
title = [SG] LeaseWeb - Singapore [mirror.sg.leaseweb.net]
host = mirror.sg.leaseweb.net

++ linode-sg
menu = [SG] Linode
title = [SG] Linode - Singapore [speedtest.singapore.linode.com]
host = speedtest.singapore.linode.com

++ ovh-sgp
menu = [SG] OVH
title = [SG] OVH - Singapore [sin.smokeping.ovh.net]
host = sin.smokeping.ovh.net

++ shockhosting-sg
menu = [SG] Shock Hosting
title = [SG] Shock Hosting - Singapore [sg-lg.shockhosting.net]
host = sg-lg.shockhosting.net

++ virtono-sin-sg
menu = [SG] Virtono @ M247
title = [SG] Virtono @ M247 - Singapore [sin-sg-ping.virtono.com]
host = sin-sg-ping.virtono.com

++ vultr-sg
menu = [SG] Vultr
title = [SG] Vultr - Singapore [2001:19f0:4400:4001:5400:ff:fe32:b7e5]
host = 2001:19f0:4400:4001:5400:ff:fe32:b7e5

++ linode-syd
menu = [AU] Linode @ Akamai
title = [AU] Linode @ Akamai - Sydney, Australia [speedtest.syd1.linode.com]
host = speedtest.syd1.linode.com

++ ovh-syd
menu = [AU] OVH (Sydney)
title = [AU] OVH - Sydney, Australia [2402:1f00:8101:102::5:a]
# https://syd.lg.extravm.com/
host = 2402:1f00:8101:102::5:a

++ quantumcore
menu = [AU] QuantumCore (Sydney)
title = [AU] QuantumCore - Sydney, Australia [2406:3a00:10::658d:d023]
host = 2406:3a00:10::658d:d023

++ telstra-syd
menu = [AU] Telstra (Sydney)
title = [AU] Telstra - Sydney, Australia [syd1.speedtest.telstra.net]
host = syd1.speedtest.telstra.net

++ virtono-syd-au
menu = [AU] Virtono @ M247
title = [AU] Virtono @ M247 - Sydney, Australia [syd-au-ping.virtono.com]
host = syd-au-ping.virtono.com

++ vultr-syd
menu = [AU] Vultr (Sydney)
title = [AU] Vultr - Sydney, Australia [2001:19f0:5800:8062:5400:ff:fe00:536c]
host = 2001:19f0:5800:8062:5400:ff:fe00:536c

++ vultr-mel
menu = [AU] Vultr (Melbourne)
title = [AU] Vultr - Melbourne, Australia [2401:c080:2000:1002:5400:3ff:fed8:1603]
host = 2401:c080:2000:1002:5400:3ff:fed8:1603

++ xtom-syd
menu = [AU] xTom
title = [AU] xTom / V.PS - Sydney, Australia [syd.speedtest.v.ps]
host = syd.speedtest.v.ps

++ linode-mum
menu = [IN] Linode (Mumbai)
title = [IN] Linode - Mumbai, India [speedtest.mum1.linode.com]
host = speedtest.mum1.linode.com

++ leapswitch
menu = [IN] Leapswitch
title = [IN] Leapswitch - Mumbai, India [2001:df3:8880::1]
host = 2001:df3:8880::1

++ vultr-blr
menu = [IN] Vultr (Bangalore)
title = [IN] Vultr - Bangalore, India [2401:c080:3000:2048:5400:4ff:fe1d:7185]
host = 2401:c080:3000:2048:5400:4ff:fe1d:7185

++ china-mobile-beijing
menu = [CN] China Mobile (Beijing)
title = [CN] China Mobile - Beijing, China [speedtest.bmcc.com.cn]
host = speedtest.bmcc.com.cn

++ china-telecom-lanzhou
menu = [CN] China Telecom (Lanzhou)
title = [CN] China Telecom - Lanzhou, China [speed.bajianjun.com]
host = speed.bajianjun.com
