++ amazon-cn-north1
menu = [CN] Amazon AWS (Beijing)
title = [CN] Amazon Web Services (cn-north1) - Beijing, China [2400:7fc0:8286:b300::ec2]
host = 2400:7fc0:8286:b300::ec2

++ cernet-beijing
menu = [CN] CERNET (Beijing)
title = [CN] CERNET - Beijing, China [mirrors.tuna.tsinghua.edu.cn]
host = mirrors.tuna.tsinghua.edu.cn

++ cernet-nanjing
menu = [CN] CERNET (Nanjing)
title = [CN] CERNET - Nanjing, China [mirror.nju.edu.cn]
host = mirror.nju.edu.cn
