++ cernet-beijing
menu = [CN] CERNET (Beijing)
title = [CN] CERNET - Beijing, China [mirrors.tuna.tsinghua.edu.cn]
host = mirrors.tuna.tsinghua.edu.cn

++ cernet-nanjing
menu = [CN] CERNET (Nanjing)
title = [CN] CERNET - Nanjing, China [mirror.nju.edu.cn]
host = mirror.nju.edu.cn

++ china-mobile-chengdu
menu = [CN] China Mobile (Chengdu)
title = [CN] China Mobile - Chengdu, China [speedtest1.sc.chinamobile.com]
host = speedtest1.sc.chinamobile.com
