++ amazon-sg
menu = [SG] Amazon AWS
title = [SG] Amazon AWS - Singapore [2400:6500:ff00::344a:2]
host = 2400:6500:ff00::344a:2

++ digitalocean-sgp
menu = [SG] DigitalOcean
title = [SG] DigitalOcean - Singapore [speedtest-sgp1.digitalocean.com]
host = speedtest-sgp1.digitalocean.com

++ hosthatch-sg
menu = [SG] HostHatch
title = [SG] HostHatch - Singapore [2406:ef80:2:87f1::1]
host = 2406:ef80:2:87f1::1

++ leaseweb-sg
menu = [SG] LeaseWeb
title = [SG] LeaseWeb - Singapore [mirror.sg.leaseweb.net]
host = mirror.sg.leaseweb.net

++ linode-sg
menu = [SG] Linode
title = [SG] Linode - Singapore [speedtest.singapore.linode.com]
host = speedtest.singapore.linode.com

++ shockhosting-sg
menu = [SG] Shock Hosting
title = [SG] Shock Hosting - Singapore [sg-lg.shockhosting.net]
host = sg-lg.shockhosting.net

++ virtono-sin-sg
menu = [SG] Virtono @ M247
title = [SG] Virtono @ M247 - Singapore [sin-sg-ping.virtono.com]
host = sin-sg-ping.virtono.com

++ vultr-sg
menu = [SG] Vultr
title = [SG] Vultr - Singapore [2001:19f0:4400:4001:5400:ff:fe32:b7e5]
host = 2001:19f0:4400:4001:5400:ff:fe32:b7e5

++ digitalocean-blr
menu = [IN] DigitalOcean
title = [IN] DigitalOcean (BLR1) - Bangladore, India [speedtest-blr1.digitalocean.com]
host = speedtest-blr1.digitalocean.com

++ linode-mum
menu = [IN] Linode (Mumbai)
title = [IN] Linode - Mumbai, India [speedtest.mum1.linode.com]
host = speedtest.mum1.linode.com

++ leapswitch
menu = [IN] Leapswitch
title = [IN] Leapswitch - Mumbai, India [2001:df3:8880::1]
host = 2001:df3:8880::1

++ vultr-blr
menu = [IN] Vultr (Bangalore)
title = [IN] Vultr - Bangalore, India [2401:c080:3000:2048:5400:4ff:fe1d:7185]
host = 2401:c080:3000:2048:5400:4ff:fe1d:7185
