++ amazon-sg
menu = [SG] Amazon AWS
title = [SG] Amazon AWS - Singapore [2400:6500:ff00::344a:2]
host = 2400:6500:ff00::344a:2

++ digitalocean-sgp
menu = [SG] DigitalOcean
title = [SG] DigitalOcean - Singapore [speedtest-sgp1.digitalocean.com]
host = speedtest-sgp1.digitalocean.com

++ leaseweb-sg
menu = [SG] LeaseWeb
title = [SG] LeaseWeb - Singapore [mirror.sg.leaseweb.net]
host = mirror.sg.leaseweb.net

++ linode-sg
menu = [SG] Linode
title = [SG] Linode - Singapore [speedtest.singapore.linode.com]
host = speedtest.singapore.linode.com

++ ovh-sgp
menu = [SG] OVH
title = [SG] OVH - Singapore [2402:1f00:8001:f60::4792:cec4]
# sgp.lg.extravm.com
host = 2402:1f00:8001:f60::4792:cec4

++ vultr-sg
menu = [SG] Vultr
title = [SG] Vultr - Singapore [2001:19f0:4400:4001:5400:ff:fe32:b7e5]
host = 2001:19f0:4400:4001:5400:ff:fe32:b7e5

++ digitalocean-blr
menu = [IN] DigitalOcean
title = [IN] DigitalOcean (BLR1) - Bangladore, India [speedtest-blr1.digitalocean.com]
host = speedtest-blr1.digitalocean.com

++ linode-mum
menu = [IN] Linode (Mumbai)
title = [IN] Linode - Mumbai, India [speedtest.mum1.linode.com]
host = speedtest.mum1.linode.com
