++ amazon-jp
menu = [JP] Amazon AWS
title = [JP] Amazon AWS - Tokyo, Japan [2406:da14:295:300::ec2]
host = 2406:da14:295:300::ec2

++ linode-jp
menu = [JP] Linode
title = [JP] Linode - Tokyo, Japan [speedtest.tokyo2.linode.com]
host = speedtest.tokyo2.linode.com

++ vultr-jp
menu = [JP] Vultr
title = [JP] Vultr - Tokyo, Japan [2001:19f0:7000:8002:5400:ff:fe00:536d]
host = 2001:19f0:7000:8002:5400:ff:fe00:536d

++ xtom-jp-tyo
menu = [JP] xTom (Tokyo)
title = [JP] xTom (V.PS) - Tokyo, Japan [nrt.speedtest.v.ps]
host = nrt.speedtest.v.ps

++ xtom-jp-osa
menu = [JP] xTom (Osaka)
title = [JP] xTom (V.PS) - Osaka, Japan [kix.speedtest.v.ps]
host = kix.speedtest.v.ps

++ vultr-kr
menu = [KR] Vultr
title = [KR] Vultr - Seoul, Korea [sel-kor-ping.vultr.com]
host = 2401:c080:1c01:0:5400:2ff:febd:8065

++ leaseweb-hk
menu = [HK] LeaseWeb
title = [HK] LeaseWeb - Hong Kong, China [mirror.hk.leaseweb.net]
host = mirror.hk.leaseweb.net

++ xtom-hk
menu = [HK] xTom
title = [HK] xTom - Hong Kong, China [mirrors.xtom.com.hk]
host = mirrors.xtom.com.hk

++ gcore-khv
menu = [RU] G-Core Labs (Khabarovsk)
title = [RU] G-Core Labs - Khabarovsk, Russia [2a03:90c0:a4::2]
host = 2a03:90c0:a4::2
