
++ bell-yvr
menu = [CA/BC] Bell (Vancouver)
title = [CA/BC] Bell - Vancouver, British Columbia [vancnspd01.srvr.bell.ca]
host = vancnspd01.srvr.bell.ca

++ esecuredata-yvr
menu = [CA/BC] eSecureData
title = [CA/BC] eSecureData - Vancouver, BC, Canada [mirror.esecuredata.com]
host = mirror.esecuredata.com

++ freerangecloud-yvr
menu = [CA/BC] Free Range Cloud
title = [CA/BC] Free Range Cloud - Vancouver, BC, Canada [2602:fed2:fb0:19::1]
host = 2602:fed2:fb0:19::1

++ telus-yvr
menu = [CA/BC] TELUS
title = [CA/BC] TELUS - Vancouver, BC, Canada [vancouver.speedtest.telus.com]
host = vancouver.speedtest.telus.com

++ teksavvy-yvr
menu = [CA/BC] Teksavvy
title = [CA/BC] Teksavvy - Vancouver, BC, Canada [speedtest-van.teksavvy.com]
host = speedtest-van.teksavvy.com

++ telus-yyc
menu = [CA/AB] TELUS (Calgary)
title = [CA/AB] TELUS - Calgary, AB, Canada [calgary.speedtest.telus.com]
host = calgary.speedtest.telus.com

++ freerangecloud-ywg
menu = [CA/MB] Free Range Cloud
title = [CA/MB] Free Range Cloud - Winnipeg, MB, Canada [2602:fed2:fe0:269::1]
host = 2602:fed2:fe0:269::1

++ digitalocean-tor
menu = [CA/ON] DigitalOcean
title = [CA/ON] DigitalOcean - Toronto, ON, Canada [speedtest-tor1.digitalocean.com]
host = speedtest-tor1.digitalocean.com

++ freerangecloud-yyz
menu = [CA/ON] Free Range Cloud
title = [CA/ON] Free Range Cloud - Toronto, ON, Canada [2602:fed2:fa0:8::1]
host = 2602:fed2:fa0:8::1

++ linode-tor
menu = [CA/ON] Linode
title = [CA/ON] Linode - Toronto, ON, Canada [speedtest.tor1.linode.com]
host = speedtest.toronto1.linode.com

++ vultr-tor
menu = [CA/ON] Vultr
title = [CA/ON] Vultr - Toronto, ON, Canada [2001:19f0:b001:11:5400:1ff:fecb:8c50]
host = 2001:19f0:b001:11:5400:1ff:fecb:8c50

++ xenyth
menu = [CA/ON] Xenyth Cloud
title = [CA/ON] Xenyth Cloud (GoCodeIT) - Toronto, ON, Canada [mirror.xenyth.net]
host = mirror.xenyth.net

++ ovh-bhs
menu = [CA/QC] OVH
title = [CA/QC] OVH - Beauharnois, QC, Canada [proof.ovh.ca]
host = proof.ovh.ca

++ amazon-ca
menu = [CA/QC] Amazon AWS
title = [CA/QC] Amazon Web Services (ca-central-1) [2600:1f11:b15:2000::ec2]
host = 2600:1f11:b15:2000::ec2

++ servarica
menu = [CA/QC] ServaRICA
title = [CA/QC] ServaRICA @ eStruxture - Montreal, QC, Canada [ping.servarica.com]
host = ping.servarica.com

++ virtono-qc-ca
menu = [CA/QC] Virtono @ M247
title = [CA/QC] Virtono @ M247 - Montreal, Canada [qc-ca-ping.virtono.com]
host = qc-ca-ping.virtono.com
