++ china-mobile-beijing
menu = [CN] China Mobile (Beijing)
title = [CN] China Mobile - Beijing, China [speedtest.bmcc.com.cn]
host = speedtest.bmcc.com.cn

++ china-telecom-lanzhou
menu = [CN] China Telecom (Lanzhou)
title = [CN] China Telecom - Lanzhou, China [speed.bajianjun.com]
host = speed.bajianjun.com

++ china-unicom-shanghai
menu = [CN] China Unicom (Shanghai)
title = [CN] China Unicom - Shanghai, China [5g.shunicomtest.com]
host = 5g.shunicomtest.com
