++ amazon-lon
menu = [UK] Amazon AWS
title = [UK] Amazon Web Services - London, United Kingdom [2a05:d000:c000::3438:2200]
host = 2a05:d000:c000::3438:2200

++ clouvider-lon
menu = [UK] Clouvider
title = [UK] Clouvider - London, United Kingdom [uk.mirrors.clouvider.net]
host = uk.mirrors.clouvider.net

++ linode-lon
menu = [UK] Linode
title = [UK] Linode - London, United Kingdom [speedtest.london.linode.com]
host = speedtest.london.linode.com

++ vultr-lon
menu = [UK] Vultr
title = [UK] Vultr - London, United Kingdom [2001:19f0:7400:8001:5400:ff:fe00:5367]
host = 2001:19f0:7400:8001:5400:ff:fe00:5367

++ virtono-dub-ie
menu = [IE] Virtono @ M247
title = [IE] Virtono @ M247 - Dublin, Ireland [dub-ie-ping.virtono.com]
host = dub-ie-ping.virtono.com

++ ikoula
menu = [FR] Ikoula
title = [FR] Ikoula - Reims, France [reims.testdebit.info]
# speedtest.net server
host = reims.testdebit.info

++ ovh-gra
menu = [FR] OVH (Gravelines)
title = [FR] OVH - Gravelines, France [gra.proof.ovh.net]
host = gra.proof.ovh.net

++ ovh-rbx
menu = [FR] OVH (Roubaix)
title = [FR] OVH - Roubaix, France [rbx.proof.ovh.net]
host = rbx.proof.ovh.net

++ ovh-sbg
menu = [FR] OVH (Strasbourg)
title = [FR] OVH - Strasbourg, France [sbg.proof.ovh.net]
host = sbg.proof.ovh.net

++ online-net-par
menu = [FR] Scaleway
title = [FR] Scaleway / Online.net - Paris, France [scaleway.testdebit.info]
host = scaleway.testdebit.info

++ clouvider-ams
menu = [NL] Clouvider
title = [NL] Clouvider - Amsterdam, Netherlands [nl.mirrors.clouvider.net]
host = nl.mirrors.clouvider.net

++ digitalocean-ams
menu = [NL] DigitalOcean
title = [NL] DigitalOcean (AMS2) - Amsterdam, Netherlands [speedtest-ams2.digitalocean.com]
host = speedtest-ams2.digitalocean.com

++ liteserver-dro
menu = [NL] LiteServer (Dronten)
title = [NL] LiteServer - Dronten, Netherlands [lg-dro.liteserver.nl]
host = lg-dro.liteserver.nl

++ ultravps-ams
menu = [NL] UltraVPS
title = [NL] UltraVPS - Amsterdam, Netherlands [2a02:e00:fff0:c::1]
host = 2a02:e00:fff0:c::1

++ worldstream
menu = [NL] WorldStream
title = [NL] WorldStream - Naaldwijk, Netherlands [speedtest.worldstream.nl]
host = speedtest.worldstream.nl

++ acceleratedit-fra
menu = [DE] AcceleratedIT (Frankfurt)
title = [DE] AcceleratedIT - Frankfurt, Germany [lg.ip-projects.de]
host = lg.ip-projects.de

++ hetzner-nbg
menu = [DE] Hetzner (Nuremberg)
title = [DE] Hetzner - Nuremberg, Germany [nbg.icmp.hetzner.com]
host = nbg.icmp.hetzner.com

++ hetzner-fsn
menu = [DE] Hetzner (Falkenstein)
title = [DE] Hetzner - Falkenstein, Germany [fsn.icmp.hetzner.com]
host = fsn.icmp.hetzner.com

++ linode-fra
menu = [DE] Linode (Frankfurt)
title = [DE] Linode - Frankfurt, Germany [speedtest.frankfurt.linode.com]
host = speedtest.frankfurt.linode.com

++ netcup-nbg
menu = [DE] Netcup (Nuremberg)
title = [DE] Netcup / Anexia - Nuremberg, Germany [lg.netcup.net]
host = lg.netcup.net

++ php-friends
menu = [DE] PHP-Friends (Frankfurt)
title = [DE] PHP-Friends @ SYNLINQ - Frankfurt, Germany [lg.php-friends.de]
host = lg.php-friends.de

++ virtono-fra-de
menu = [DE] Virtono @ M247
title = [DE] Virtono @ M247 - Frankfurt, Germany [fra-de-ping.virtono.com]
host = fra-de-ping.virtono.com

++ vserver-site-de
menu = [DE] vServer.site (Frankfurt)
title = [DE] vServer.site - Frankfurt, Germany [lg-ffm.vserver.site]
host = lg-ffm.vserver.site

++ buyvm-lu
menu = [LU] BuyVM
title = [LU] BuyVM - Roost, Luxembourg [speedtest.lu.buyvm.net]
host = speedtest.lu.buyvm.net

++ terrahost-no
menu = [NO] Terrahost
title = [NO] Terrahost - Sandefjord, Norway [2a03:94e0:1803::1]
host = 2a03:94e0:1803::1

++ vultr-sto
menu = [SE] Vultr
title = [SE] Vultr - Stockholm, Sweden [2a05:f480:2000:10d7:5400:3ff:fe92:aa5]
host = 2a05:f480:2000:10d7:5400:3ff:fe92:aa5

++ hetzner-fi
menu = [FI] Hetzner
title = [FI] Hetzner - Helsinki, Finland [hel.icmp.hetzner.com]
host = hel.icmp.hetzner.com

++ virtono-cph-dk
menu = [DK] Virtono @ M247
title = [DK] Virtono @ M247 - Copenhagen, Denmark [cph-dk-ping.virtono.com]
host = cph-dk-ping.virtono.com

++ alphavps-bg
menu = [BG] AlphaVPS
title = [BG] AlphaVPS - Sofia, Bulgaria [2a01:8740:1:76f::ea47]
host = 2a01:8740:1:76f::ea47
