++ amazon-lon
menu = [UK] Amazon AWS
title = [UK] Amazon Web Services - London, United Kingdom [2a05:d000:c000::3438:2200]
host = 2a05:d000:c000::3438:2200

++ clouvider-lon
menu = [UK] Clouvider
title = [UK] Clouvider - London, United Kingdom [uk.mirrors.clouvider.net]
host = uk.mirrors.clouvider.net

++ linode-lon
menu = [UK] Linode
title = [UK] Linode - London, United Kingdom [speedtest.london.linode.com]
host = speedtest.london.linode.com

++ pebblehost
menu = [UK] PebbleHost (Coventry)
title = [UK] PebbleHost - Coventry, United Kingdom [as212027.net]
host = as212027.net

++ smarthost-uk
menu = [UK] SmartHost @ VeloxServ
title = [UK] SmartHost @ VeloxServ - Redditch, United Kingdom [2606:6680:3:1::2e41:5025]
host = 2606:6680:3:1::2e41:5025

++ ukservers-cov
menu = [UK] UKServers (Coventry)
title = [UK] UKServers - Coventry, United Kingdom [iperf.as42831.net]
host = iperf.as42831.net

++ vultr-lon
menu = [UK] Vultr
title = [UK] Vultr - London, United Kingdom [2001:19f0:7400:8001:5400:ff:fe00:5367]
host = 2001:19f0:7400:8001:5400:ff:fe00:5367

++ xtom-lon
menu = [UK] xTom
title = [UK] xTom / V.PS - London, United Kingdom [lon.speedtest.v.ps]
host = lon.speedtest.v.ps

++ virtono-dub-ie
menu = [IE] Virtono @ M247
title = [IE] Virtono @ M247 - Dublin, Ireland [dub-ie-ping.virtono.com]
host = dub-ie-ping.virtono.com

++ hosteons-par
menu = [FR] hostEONS
title = [FR] hostEONS @ Limestone Networks - Paris, France [2402:d0c0:22:c::1]
host = 2402:d0c0:22:c::1

++ ikoula
menu = [FR] Ikoula
title = [FR] Ikoula - Reims, France [reims.testdebit.info]
# speedtest.net server
host = reims.testdebit.info

++ linode-par
menu = [FR] Linode @ Akamai
title = [FR] Linode @ Akamai - Paris, France [speedtest.paris.linode.com]
host = speedtest.paris.linode.com

++ ovh-gra
menu = [FR] OVH (Gravelines)
title = [FR] OVH - Gravelines, France [gra.proof.ovh.net]
host = gra.proof.ovh.net

++ ovh-rbx
menu = [FR] OVH (Roubaix)
title = [FR] OVH - Roubaix, France [rbx.proof.ovh.net]
host = rbx.proof.ovh.net

++ ovh-sbg
menu = [FR] OVH (Strasbourg)
title = [FR] OVH - Strasbourg, France [sbg.proof.ovh.net]
host = sbg.proof.ovh.net

++ online-net-par
menu = [FR] Scaleway
title = [FR] Scaleway / Online.net - Paris, France [scaleway.testdebit.info]
host = scaleway.testdebit.info

++ vultr-par
menu = [FR] Vultr
title = [FR] Vultr - Paris, France [2001:19f0:6800:8002:5400:ff:fe00:536b]
host = 2001:19f0:6800:8002:5400:ff:fe00:536b

++ clouvider-ams
menu = [NL] Clouvider
title = [NL] Clouvider - Amsterdam, Netherlands [nl.mirrors.clouvider.net]
host = nl.mirrors.clouvider.net

++ hosthatch-ams
menu = [NL] HostHatch
title = [NL] HostHatch - Amsterdam, Netherlands [2a01:6f0:ffff:aa::1]
host = 2a01:6f0:ffff:aa::1

++ hybula_0
menu = [NL] Hybula
title = [NL] Hybula - Amsterdam, Netherlands [lg-nl-ams.hybula.net]
host = lg-nl-ams.hybula.net

++ liteserver-dro
menu = [NL] LiteServer
title = [NL] LiteServer - Dronten, Netherlands [lg-dro.liteserver.nl]
host = lg-dro.liteserver.nl

++ ultravps-ams
menu = [NL] UltraVPS
title = [NL] UltraVPS - Amsterdam, Netherlands [2a02:e00:fff0:c::1]
host = 2a02:e00:fff0:c::1

++ worldstream
menu = [NL] WorldStream
title = [NL] WorldStream - Naaldwijk, Netherlands [speedtest.worldstream.nl]
host = speedtest.worldstream.nl

++ clouvider-fra
menu = [DE] Clouvider
title = [DE] Clouvider - Frankfurt, Germany [de.mirrors.clouvider.net]
host = de.mirrors.clouvider.net

++ hetzner-nbg
menu = [DE] Hetzner (Nuremberg)
title = [DE] Hetzner - Nuremberg, Germany [nbg.icmp.hetzner.com]
host = nbg.icmp.hetzner.com

++ hetzner-fsn
menu = [DE] Hetzner (Falkenstein)
title = [DE] Hetzner - Falkenstein, Germany [fsn.icmp.hetzner.com]
host = fsn.icmp.hetzner.com

++ ip-projects
menu = [DE] IP-Projects (Frankfurt)
title = [DE] IP-Projects - Frankfurt, Germany [lg.ip-projects.de]
host = lg.ip-projects.de

++ linode-fra
menu = [DE] Linode
title = [DE] Linode - Frankfurt, Germany [speedtest.frankfurt.linode.com]
host = speedtest.frankfurt.linode.com

++ meerfarbig
menu = [DE] meerfarbig
title = [DE] meerfarbig - Frankfurt, Germany [speedtest.meerfarbig.net]
host = speedtest.meerfarbig.net

++ netcup-nbg
menu = [DE] Netcup (Nuremberg)
title = [DE] Netcup / Anexia - Nuremberg, Germany [lg.netcup.net]
host = lg.netcup.net

++ php-friends
menu = [DE] PHP-Friends
title = [DE] PHP-Friends @ SYNLINQ - Frankfurt, Germany [lg.php-friends.de]
host = lg.php-friends.de

++ ultravps-dus
menu = [DE] UltraVPS (Duesseldorf)
title = [DE] UltraVPS - Duesseldorf, Germany [2a02:e00:ffec:3a::1]
host = 2a02:e00:ffec:3a::1

++ virtono-fra-de
menu = [DE] Virtono @ M247
title = [DE] Virtono @ M247 - Frankfurt, Germany [fra-de-ping.virtono.com]
host = fra-de-ping.virtono.com

++ vserver-site-de
menu = [DE] vServer.site
title = [DE] vServer.site - Frankfurt, Germany [lg-ffm.vserver.site]
host = lg-ffm.vserver.site

++ xtom-fra
menu = [DE] xTom
title = [DE] xTom / V.PS - Frankfurt, Germany [fra.speedtest.v.ps]
host = fra.speedtest.v.ps

++ buyvm-lu
menu = [LU] BuyVM
title = [LU] BuyVM - Roost, Luxembourg [speedtest.lu.buyvm.net]
host = speedtest.lu.buyvm.net

++ hosthatch-zrh
menu = [CH] HostHatch
title = [CH] HostHatch - Zurich, Switzerland [2a0e:dc0:6:4::1]
host = 2a0e:dc0:6:4::1

++ infomaniak-geneva
menu = [CH] Infomaniak
title = [CH] Infomaniak - Geneva, Switzerland [speedtest2.infomaniak.com]
host = speedtest2.infomaniak.com

++ hosthatch-vie
menu = [AT] HostHatch
title = [AT] HostHatch - Vienna, Austria [2a0d:5600:31:27::1]
host = 2a0d:5600:31:27::1

++ alwyzon
menu = [AT] Alwyzon
title = [AT] Alwyzon - Vienna, Austria [2a0d:f302:106::6]
host = 2a0d:f302:106::6

++ hosthatch-sto
menu = [SE] HostHatch
title = [SE] HostHatch - Stockholm, Sweden [2a00:1a28:1157:e8dc::1]
host = 2a00:1a28:1157:e8dc::1

++ vultr-sto
menu = [SE] Vultr
title = [SE] Vultr - Stockholm, Sweden [2a05:f480:2000:10d7:5400:3ff:fe92:aa5]
host = 2a05:f480:2000:10d7:5400:3ff:fe92:aa5

++ hetzner-fi
menu = [FI] Hetzner
title = [FI] Hetzner - Helsinki, Finland [hel.icmp.hetzner.com]
host = hel.icmp.hetzner.com

++ virtono-cph-dk
menu = [DK] Virtono @ M247
title = [DK] Virtono @ M247 - Copenhagen, Denmark [cph-dk-ping.virtono.com]
host = cph-dk-ping.virtono.com

++ suble
menu = [DK] Suble.io
title = [DK] Suble.io (Stacket Group) - Copenhagen, Denmark [2001:67c:bec:1::1]
host = 2001:67c:bec:1::1

++ xtom-tll
menu = [EE] xTom
title = [EE] xTom / V.PS - Tallinn, Estonia [tll.speedtest.v.ps]
host = tll.speedtest.v.ps

++ ginernet
menu = [ES] GINERNET
title = [ES] GINERNET - Madrid, Spain [2a03:c7c0:1:40::1]
host = 2a03:c7c0:1:40::1

++ c1vhosting
menu = [IT] C1V Hosting
title = [IT] C1V Hosting - Pomezia, Italy [c1vhosting.it]
host = c1vhosting.it

++ prometeus-it
menu = [IT] Prometeus
title = [IT] Prometeus / CDLAN - Milan, Italy [2a00:dcc0:eda:3754:247:55:7e31:1243]
host = 2a00:dcc0:eda:3754:247:55:7e31:1243

++ skylonhost
menu = [CZ] SkylonHost
title = [CZ] SkylonHost - Prague, Czechia [lg.skylonhost.com]
host = lg.skylonhost.com

++ vultr-waw
menu = [PL] Vultr
title = [PL] Vultr - Warsaw, Poland [waw-pl-ping.vultr.com]
host = waw-pl-ping.vultr.com

++ alphavps-bg
menu = [BG] AlphaVPS
title = [BG] AlphaVPS - Sofia, Bulgaria [2a01:8740:1:76f::ea47]
host = 2a01:8740:1:76f::ea47
