++ amazon-lon
menu = [UK] Amazon AWS
title = [UK] Amazon Web Services - London, United Kingdom [2a05:d000:c000::3438:2200]
host = 2a05:d000:c000::3438:2200

++ clouvider-lon
menu = [UK] Clouvider
title = [UK] Clouvider - London, United Kingdom [uk.mirrors.clouvider.net]
host = uk.mirrors.clouvider.net

++ linode-lon
menu = [UK] Linode
title = [UK] Linode - London, United Kingdom [speedtest.london.linode.com]
host = speedtest.london.linode.com

++ pebblehost
menu = [UK] PebbleHost (Coventry)
title = [UK] PebbleHost - Coventry, United Kingdom [as212027.net]
host = as212027.net

++ smarthost-uk
menu = [UK] SmartHost @ VeloxServ
title = [UK] SmartHost @ VeloxServ - Redditch, United Kingdom [2606:6680:3:1::2e41:5025]
host = 2606:6680:3:1::2e41:5025

++ ukservers-cov
menu = [UK] UKServers (Coventry)
title = [UK] UKServers - Coventry, United Kingdom [iperf.as42831.net]
host = iperf.as42831.net

++ vultr-lon
menu = [UK] Vultr
title = [UK] Vultr - London, United Kingdom [2001:19f0:7400:8001:5400:ff:fe00:5367]
host = 2001:19f0:7400:8001:5400:ff:fe00:5367

++ xtom-lon
menu = [UK] xTom
title = [UK] xTom / V.PS - London, United Kingdom [lon.speedtest.v.ps]
host = lon.speedtest.v.ps

++ hosteons-par
menu = [FR] hostEONS
title = [FR] hostEONS @ Limestone Networks - Paris, France [2402:d0c0:22:c::1]
host = 2402:d0c0:22:c::1

++ linode-par
menu = [FR] Linode @ Akamai
title = [FR] Linode @ Akamai - Paris, France [speedtest.paris.linode.com]
host = speedtest.paris.linode.com

++ ovh-gra
menu = [FR] OVH (Gravelines)
title = [FR] OVH - Gravelines, France [gra.proof.ovh.net]
host = gra.proof.ovh.net

++ ovh-rbx
menu = [FR] OVH (Roubaix)
title = [FR] OVH - Roubaix, France [rbx.proof.ovh.net]
host = rbx.proof.ovh.net

++ ovh-sbg
menu = [FR] OVH (Strasbourg)
title = [FR] OVH - Strasbourg, France [sbg.proof.ovh.net]
host = sbg.proof.ovh.net

++ online-net-par
menu = [FR] Scaleway
title = [FR] Scaleway / Online.net - Paris, France [ping6.online.net]
host = ping6.online.net

++ virtua-lille
menu = [FR] Virtua (Lille)
title = [FR] Virtua.Cloud - Lille, France [lg.lil01fr.vsys.cloud]
host = lg.lil01fr.vsys.cloud

++ vultr-par
menu = [FR] Vultr
title = [FR] Vultr - Paris, France [2001:19f0:6800:8002:5400:ff:fe00:536b]
host = 2001:19f0:6800:8002:5400:ff:fe00:536b

++ clouvider-ams
menu = [NL] Clouvider
title = [NL] Clouvider - Amsterdam, Netherlands [nl.mirrors.clouvider.net]
host = nl.mirrors.clouvider.net

++ hosthatch-ams
menu = [NL] HostHatch
title = [NL] HostHatch - Amsterdam, Netherlands [2a01:6f0:ffff:aa::1]
host = 2a01:6f0:ffff:aa::1

++ hybula_0
menu = [NL] Hybula
title = [NL] Hybula - Amsterdam, Netherlands [lg-nl-ams.hybula.net]
host = lg-nl-ams.hybula.net

++ liteserver
menu = [NL] LiteServer
title = [NL] LiteServer - Dronten, Netherlands [lg-drn.liteserver.nl]
host = lg-drn.liteserver.nl

++ novoserve-nl
menu = [NL] NovoServe
title = [NL] NovoServe - Amsterdam, Netherlands [speedtest.novoserve.com]
host = speedtest.novoserve.com

++ online-net-ams
menu = [NL] Scaleway
title = [NL] Scaleway / Online.net - Amsterdam, Netherlands [ping6-ams1.online.net]
host = ping6-ams1.online.net

++ server-factory-nl
menu = [NL] server-factory
title = [NL] server-factory.com - Eygelshoven, Netherlands [lg.nl.server-factory.com]
host = lg.nl.server-factory.com

++ ultravps-ams
menu = [NL] UltraVPS
title = [NL] UltraVPS - Amsterdam, Netherlands [2a02:e00:fff0:c::1]
host = 2a02:e00:fff0:c::1

++ worldstream
menu = [NL] WorldStream
title = [NL] WorldStream - Naaldwijk, Netherlands [speedtest.worldstream.nl]
host = speedtest.worldstream.nl

++ 23m
menu = [DE] 23M
title = [DE] 23M - Frankfurt, Germany [fra01.lg.23m.com]
host = fra01.lg.23m.com

++ aurologic
menu = [DE] Aurologic
title = [DE] Aurologic - Frankfurt, Germany [lg.aurologic.com]
host = lg.aurologic.com

++ clouvider-fra
menu = [DE] Clouvider
title = [DE] Clouvider - Frankfurt, Germany [de.mirrors.clouvider.net]
host = de.mirrors.clouvider.net

++ contabo-dus
menu = [DE] Contabo (Dusseldorf)
title = [DE] Contabo - Dusseldorf, Germany [dus.speedtest.contabo.net]
host = dus.speedtest.contabo.net

++ hetzner-nbg
menu = [DE] Hetzner (Nuremberg)
title = [DE] Hetzner - Nuremberg, Germany [nbg.icmp.hetzner.com]
host = nbg.icmp.hetzner.com

++ hetzner-fsn
menu = [DE] Hetzner (Falkenstein)
title = [DE] Hetzner - Falkenstein, Germany [fsn.icmp.hetzner.com]
host = fsn.icmp.hetzner.com

++ ip-projects
menu = [DE] IP-Projects (Frankfurt)
title = [DE] IP-Projects - Frankfurt, Germany [lg.ip-projects.de]
host = lg.ip-projects.de

++ linode-fra
menu = [DE] Linode
title = [DE] Linode - Frankfurt, Germany [speedtest.frankfurt.linode.com]
host = speedtest.frankfurt.linode.com

++ meerfarbig
menu = [DE] meerfarbig
title = [DE] meerfarbig - Frankfurt, Germany [speedtest.meerfarbig.net]
host = speedtest.meerfarbig.net

++ netcup-nbg
menu = [DE] Netcup (Nuremberg)
title = [DE] Netcup / Anexia - Nuremberg, Germany [lg.netcup.net]
host = lg.netcup.net

++ php-friends
menu = [DE] PHP-Friends
title = [DE] PHP-Friends / dataforest / Avoro @ SYNLINQ - Frankfurt, Germany [lg.php-friends.de]
host = lg.php-friends.de

++ ultravps-dus
menu = [DE] UltraVPS (Duesseldorf)
title = [DE] UltraVPS - Duesseldorf, Germany [2a02:e00:ffec:3a::1]
host = 2a02:e00:ffec:3a::1

++ virtono-fra-de
menu = [DE] Virtono @ M247
title = [DE] Virtono @ M247 - Frankfurt, Germany [fra-de-ping.virtono.com]
host = fra-de-ping.virtono.com

++ vserver-site-de
menu = [DE] vServer.site
title = [DE] vServer.site - Frankfurt, Germany [lg-ffm.vserver.site]
host = lg-ffm.vserver.site

++ xtom-fra
menu = [DE] xTom
title = [DE] xTom / V.PS - Frankfurt, Germany [fra.speedtest.v.ps]
host = fra.speedtest.v.ps

++ buyvm-lu
menu = [LU] BuyVM
title = [LU] BuyVM - Roost, Luxembourg [speedtest.lu.buyvm.net]
host = speedtest.lu.buyvm.net

++ hosthatch-zrh
menu = [CH] HostHatch
title = [CH] HostHatch - Zurich, Switzerland [2a0e:dc0:6:4::1]
host = 2a0e:dc0:6:4::1

++ infomaniak-geneva
menu = [CH] Infomaniak
title = [CH] Infomaniak - Geneva, Switzerland [speedtest2.infomaniak.com]
host = speedtest2.infomaniak.com

++ alwyzon
menu = [AT] Alwyzon
title = [AT] Alwyzon - Vienna, Austria [2a0d:f302:106::6]
host = 2a0d:f302:106::6

++ hosteroid-vie
menu = [AT] Hosteroid
title = [AT] Hosteroid @ UpstreamNet / Zayo France - Vienna, Austria [2a05:5504:1::4fe:1]
host = 2a05:5504:1::4fe:1

++ hosthatch-vie
menu = [AT] HostHatch
title = [AT] HostHatch - Vienna, Austria [2a0d:5600:31:27::1]
host = 2a0d:5600:31:27::1

++ linode-sto
menu = [SE] Linode
title = [SE] Linode @ Akamai - Stockholm, Sweden [speedtest.stockholm.linode.com]
host = speedtest.stockholm.linode.com

++ server-factory-se
menu = [SE] server-factory
title = [SE] server-factory.com - Stockholm, Sweden [lg.se.server-factory.com]
host = lg.se.server-factory.com

++ vultr-sto
menu = [SE] Vultr
title = [SE] Vultr - Stockholm, Sweden [2a05:f480:2000:10d7:5400:3ff:fe92:aa5]
host = 2a05:f480:2000:10d7:5400:3ff:fe92:aa5

++ hetzner-fi
menu = [FI] Hetzner
title = [FI] Hetzner - Helsinki, Finland [hel.icmp.hetzner.com]
host = hel.icmp.hetzner.com

++ virtono-cph-dk
menu = [DK] Virtono @ M247
title = [DK] Virtono @ M247 - Copenhagen, Denmark [cph-dk-ping.virtono.com]
host = cph-dk-ping.virtono.com

++ suble
menu = [DK] Suble.io
title = [DK] Suble.io (Stacket Group) - Copenhagen, Denmark [2001:67c:bec:1::1]
host = 2001:67c:bec:1::1

++ xtom-tll
menu = [EE] xTom
title = [EE] xTom / V.PS - Tallinn, Estonia [tll.speedtest.v.ps]
host = tll.speedtest.v.ps

++ ginernet
menu = [ES] GINERNET
title = [ES] GINERNET - Madrid, Spain [2a03:c7c0:1:40::1]
host = 2a03:c7c0:1:40::1

++ psychz-bcn
menu = [ES] Psychz
title = [ES] Psychz - Barcelona, Spain [2604:6600:fdc0:1::3175:ef64]
host = 2604:6600:fdc0:1::3175:ef64

++ c1vhosting
menu = [IT] C1V Hosting
title = [IT] C1V Hosting - Pomezia, Italy [c1vhosting.it]
host = c1vhosting.it

++ linode-mil
menu = [IT] Linode
title = [IT] Linode @ Akamai - Milan, Italy [speedtest.milan.linode.com]
host = speedtest.milan.linode.com

++ prometeus-it
menu = [IT] Prometeus
title = [IT] Prometeus / CDLAN - Milan, Italy [2a00:dcc0:eda:3754:247:55:7e31:1243]
host = 2a00:dcc0:eda:3754:247:55:7e31:1243

++ skylonhost
menu = [CZ] SkylonHost
title = [CZ] SkylonHost - Prague, Czechia [lg.skylonhost.com]
host = lg.skylonhost.com

++ vultr-waw
menu = [PL] Vultr
title = [PL] Vultr - Warsaw, Poland [waw-pl-ping.vultr.com]
host = waw-pl-ping.vultr.com

++ alphavps-bg
menu = [BG] AlphaVPS
title = [BG] AlphaVPS - Sofia, Bulgaria [2a01:8740:1:76f::ea47]
host = 2a01:8740:1:76f::ea47

++ alexhost
menu = [MD] Alexhost
title = [MD] Alexhost - Chisinau, Moldova [lg.alexhost.com]
host = lg.alexhost.com
