

++ hosthatch-zrh
menu = [CH] HostHatch
title = [CH] HostHatch - Zurich, Switzerland [2a0e:dc0:6:4::1]
host = 2a0e:dc0:6:4::1

++ infomaniak-geneva
menu = [CH] Infomaniak
title = [CH] Infomaniak - Geneva, Switzerland [speedtest2.infomaniak.com]
host = speedtest2.infomaniak.com

++ alwyzon
menu = [AT] Alwyzon
title = [AT] Alwyzon - Vienna, Austria [2a0d:f302:106::6]
host = 2a0d:f302:106::6

++ hosteroid-vie
menu = [AT] Hosteroid
title = [AT] Hosteroid @ UpstreamNet / Zayo France - Vienna, Austria [2a05:5504:1::4fe:1]
host = 2a05:5504:1::4fe:1

++ linode-sto
menu = [SE] Linode
title = [SE] Linode @ Akamai - Stockholm, Sweden [speedtest.stockholm.linode.com]
host = speedtest.stockholm.linode.com

++ server-factory-se
menu = [SE] server-factory
title = [SE] server-factory.com - Stockholm, Sweden [lg.se.server-factory.com]
host = lg.se.server-factory.com

++ vultr-sto
menu = [SE] Vultr
title = [SE] Vultr - Stockholm, Sweden [2a05:f480:2000:10d7:5400:3ff:fe92:aa5]
host = 2a05:f480:2000:10d7:5400:3ff:fe92:aa5

++ hetzner-fi
menu = [FI] Hetzner
title = [FI] Hetzner - Helsinki, Finland [hel.icmp.hetzner.com]
host = hel.icmp.hetzner.com

++ hosthatch-osl
menu = [NO] HostHatch
title = [NO] HostHatch - Oslo, Norway [2a0d:5600:30:40::1]
host = 2a0d:5600:30:40::1

++ terrahost-no
menu = [NO] Terrahost
title = [NO] Terrahost - Sandefjord, Norway [lg.terrahost.com]
host = lg.terrahost.com

++ virtono-cph-dk
menu = [DK] Virtono @ M247
title = [DK] Virtono @ M247 - Copenhagen, Denmark [cph-dk-ping.virtono.com]
host = cph-dk-ping.virtono.com

++ suble
menu = [DK] Suble.io
title = [DK] Suble.io (Stacket Group) - Copenhagen, Denmark [2001:67c:bec:1::1]
host = 2001:67c:bec:1::1

++ bacloud-lt
menu = [LT] BaCloud
title = [LT] BaCloud - Siauliai, Lithuania [lg-lt-eu.bacloud.com]
host = lg-lt-eu.bacloud.com

++ xtom-tll
menu = [EE] xTom
title = [EE] xTom / V.PS - Tallinn, Estonia [tll.speedtest.v.ps]
host = tll.speedtest.v.ps

++ melbicom-moscow
menu = [RU] Melbicom (Moscow)
title = [RU] Melbicom - Moscow, Russia [speedtest-msk.melbicom.net]
host = speedtest-msk.melbicom.net

++ misaka-moscow
menu = [RU] Misaka (Moscow)
title = [RU] Misaka Network - Moscow, Russia [ru-led01.speed.misaka.one]
host = ru-led01.speed.misaka.one

++ psychz-ru
menu = [RU] Psychz
title = [RU] Psychz - Moscow, Russia [2604:6600:77:11::f5f3:cafe]
host = 2604:6600:77:11::f5f3:cafe

++ rostelecom-moscow
menu = [RU] Rostelecom (Moscow)
title = [RU] Rostelecom - Moscow, Russia [moscow.speedtest.rt.ru]
host = moscow.speedtest.rt.ru

++ justhost-ovb
menu = [RU] JustHost (Novosibirsk)
title = [RU] JustHost @ Rostelecom - Novosibirsk, Russian Federation [lg-ovb2.just.hosting]
host = lg-ovb2.just.hosting

++ ginernet
menu = [ES] GINERNET
title = [ES] GINERNET - Madrid, Spain [2a03:c7c0:1:40::1]
host = 2a03:c7c0:1:40::1

++ psychz-bcn
menu = [ES] Psychz
title = [ES] Psychz - Barcelona, Spain [2604:6600:fdc0:1::3175:ef64]
host = 2604:6600:fdc0:1::3175:ef64

++ c1vhosting
menu = [IT] C1V Hosting
title = [IT] C1V Hosting - Pomezia, Italy [c1vhosting.it]
host = c1vhosting.it

++ linode-mil
menu = [IT] Linode
title = [IT] Linode @ Akamai - Milan, Italy [speedtest.milan.linode.com]
host = speedtest.milan.linode.com

++ prometeus-it
menu = [IT] Prometeus
title = [IT] Prometeus / CDLAN - Milan, Italy [2a00:dcc0:eda:3754:247:55:7e31:1243]
host = 2a00:dcc0:eda:3754:247:55:7e31:1243

++ skylonhost
menu = [CZ] SkylonHost
title = [CZ] SkylonHost - Prague, Czechia [lg.skylonhost.com]
host = lg.skylonhost.com

++ vultr-waw
menu = [PL] Vultr
title = [PL] Vultr - Warsaw, Poland [waw-pl-ping.vultr.com]
host = waw-pl-ping.vultr.com

++ alphavps-bg
menu = [BG] AlphaVPS
title = [BG] AlphaVPS - Sofia, Bulgaria [2a01:8740:1:76f::ea47]
host = 2a01:8740:1:76f::ea47

++ alexhost
menu = [MD] Alexhost
title = [MD] Alexhost - Chisinau, Moldova [lg.alexhost.com]
host = lg.alexhost.com
