{% if not smokeping_lite %}
++ linode-sto
menu = [SE] Linode
title = [SE] Linode @ Akamai - Stockholm, Sweden [speedtest.stockholm.linode.com]
host = speedtest.stockholm.linode.com
{% endif %}

++ server-factory-se
menu = [SE] server-factory
title = [SE] server-factory.com - Stockholm, Sweden [lg.se.server-factory.com]
host = lg.se.server-factory.com

++ vultr-sto
menu = [SE] Vultr
title = [SE] Vultr - Stockholm, Sweden [2a05:f480:2000:10d7:5400:3ff:fe92:aa5]
host = 2a05:f480:2000:10d7:5400:3ff:fe92:aa5

++ hetzner-fi
menu = [FI] Hetzner
title = [FI] Hetzner - Helsinki, Finland [hel.icmp.hetzner.com]
host = hel.icmp.hetzner.com

++ gigahost-no
menu = [NO] Gigahost
title = [NO] Gigahost (fka Terrahost) - Sandefjord, Norway [lg.gigahost.no]
host = 2a03:94e0:ffff:185:125:168::212

{% if not smokeping_lite %}
++ hosthatch-osl
menu = [NO] HostHatch
title = [NO] HostHatch - Oslo, Norway [2a0d:5600:30:40::1]
host = 2a0d:5600:30:40::1

++ virtono-cph-dk
menu = [DK] Virtono @ M247
title = [DK] Virtono @ M247 - Copenhagen, Denmark [cph-dk-ping.virtono.com]
host = cph-dk-ping.virtono.com
{% endif %}

++ bacloud-lt
menu = [LT] BaCloud
title = [LT] BaCloud - Siauliai, Lithuania [lg-lt-eu.bacloud.com]
host = lg-lt-eu.bacloud.com

{% if not smokeping_lite %}
++ hosteroid-lt
menu = [LT] Hosteroid
title = [LT] Hosteroid @ Baltneta - Vilnius, Lithuania [2a13:9401:0:1::77a4:1]
host = 2a13:9401:0:1::77a4:1

++ xtom-tll
menu = [EE] xTom
title = [EE] xTom / V.PS - Tallinn, Estonia [tll.speedtest.v.ps]
host = tll.speedtest.v.ps
{% endif %}

++ melbicom-moscow
menu = [RU] Melbicom (Moscow)
title = [RU] Melbicom - Moscow, Russia [speedtest-msk.melbicom.net]
host = speedtest-msk.melbicom.net

++ misaka-moscow
menu = [RU] Misaka (Moscow)
title = [RU] Misaka Network - Moscow, Russia [ru-led01.speed.misaka.one]
host = ru-led01.speed.misaka.one

{% if not smokeping_lite %}
++ psychz-ru
menu = [RU] Psychz (Moscow)
title = [RU] Psychz - Moscow, Russia [2604:6600:77:11::f5f3:cafe]
host = 2604:6600:77:11::f5f3:cafe
{% endif %}

++ ginernet
menu = [ES] GINERNET
title = [ES] GINERNET - Madrid, Spain [2a03:c7c0:1:40::1]
host = 2a03:c7c0:1:40::1

{% if not smokeping_lite %}
++ psychz-bcn
menu = [ES] Psychz
title = [ES] Psychz - Barcelona, Spain [2604:6600:fdc0:1::3175:ef64]
host = 2604:6600:fdc0:1::3175:ef64
{% endif %}

++ linode-mil
menu = [IT] Linode
title = [IT] Linode @ Akamai - Milan, Italy [speedtest.milan.linode.com]
host = speedtest.milan.linode.com

{% if not smokeping_lite %}
++ prometeus-it
menu = [IT] Prometeus
title = [IT] Prometeus / CDLAN - Milan, Italy [2a00:dcc0:eda:3754:247:55:7e31:1243]
host = 2a00:dcc0:eda:3754:247:55:7e31:1243
{% endif %}

++ skylonhost
menu = [CZ] SkylonHost
title = [CZ] SkylonHost - Prague, Czechia [lg.skylonhost.com]
host = lg.skylonhost.com

++ vultr-waw
menu = [PL] Vultr
title = [PL] Vultr - Warsaw, Poland [waw-pl-ping.vultr.com]
host = waw-pl-ping.vultr.com

++ alphavps-bg
menu = [BG] AlphaVPS
title = [BG] AlphaVPS - Sofia, Bulgaria [2a01:8740:1:76f::ea47]
host = 2a01:8740:1:76f::ea47

++ host-c
menu = [RO] HOST-C
title = [RO] HOST-C @ Digi - Oradea, Romania [lg-ro-or.host-c.com]
host = lg-ro-or.host-c.com

{% if not smokeping_lite %}
++ alexhost
menu = [MD] Alexhost
title = [MD] Alexhost - Chisinau, Moldova [lg.alexhost.com]
host = lg.alexhost.com

++ justhost-tr
menu = [TR] JustHost
title = [TR] JustHost @ Comnet - Istanbul, Türkiye [lg-ist1.just.hosting]
host = lg-ist1.just.hosting
{% endif %}
