++ vultr-mex
menu = [MX] Vultr
title = [MX] Vultr - Mexico City, Mexico [2001:19f0:b400:101a:5400:3ff:fe99:2eb4]
host = 2001:19f0:b400:101a:5400:3ff:fe99:2eb4

{% if not smokeping_lite %}
++ amazon-br
menu = [BR] Amazon AWS (Sao Paulo)
title = [BR] Amazon AWS - Sao Paulo, Brazil [2804:800:ff00::36e9:c000]
host = 2804:800:ff00::36e9:c000

++ edgeuno-fortaleza
menu = [BR] EdgeUno (Fortaleza)
title = [BR] EdgeUno - Fortaleza, Brazil [spt-for1.edgeuno.com]
host = spt-for1.edgeuno.com
{% endif %}

++ edgeuno-sao-paulo
menu = [BR] EdgeUno (Sao Paulo)
title = [BR] EdgeUno - Sao Paulo, Brazil [spt-sao1.edgeuno.com]
host = spt-sao1.edgeuno.com

++ gcore-sao
menu = [BR] G-Core Labs
title = [BR] G-Core Labs - Sao Paulo, Brazil [2a03:90c0:186::2]
host = 2a03:90c0:186::2

++ linode-sao
menu = [BR] Linode (Sao Paulo)
title = [BR] Linode @ Akamai - Sao Paulo, Brazil [speedtest.sao-paulo.linode.com]
host = speedtest.sao-paulo.linode.com

++ psychz-sao
menu = [BR] Psychz (Sao Paulo)
title = [BR] Psychz - Sao Paulo, Brazil [ 2604:6600:fd00:84::b0b1:28cb]
host =  2604:6600:fd00:84::b0b1:28cb

++ vultr-sao
menu = [BR] Vultr (Sao Paulo)
title = [BR] Vultr - Sao Paulo, Brazil [2001:19f0:b800:1083:5400:3ff:feb6:aa75]
host = 2001:19f0:b800:1083:5400:3ff:feb6:aa75

++ edgeuno-santiago
menu = [CL] EdgeUno
title = [CL] EdgeUno - Santiago, Chile [spt-scl1.edgeuno.com]
host = spt-scl1.edgeuno.com

{% if not smokeping_lite %}
++ vultr-scl
menu = [CL] Vultr
title = [CL] Vultr - Santiago, Chile [2001:19f0:c800:2025:5400:4ff:fe46:cf]
host = 2001:19f0:c800:2025:5400:4ff:fe46:cf
{% endif %}

++ zappiehost-cl
menu = [CL] ZappieHost
title = [CL] ZappieHost @ InfoFractal - Valdivia, Chile [2a06:a006:f03c::2]
host = 2a06:a006:f03c::2

{% if not smokeping_lite %}
++ edgeuno-buenos-aires
menu = [AR] EdgeUno
title = [AR] EdgeUno - Buenos Aires, Argentina [spt-eze1.edgeuno.com]
host = spt-eze1.edgeuno.com

++ edgeuno-guatemala-city
menu = [GT] EdgeUno
title = [GT] EdgeUno - Guatemala City, Guatemala [spt-gua1.edgeuno.com]
host = spt-gua1.edgeuno.com
{% endif %}

++ edgeuno-san-juan
menu = [PR] EdgeUno
title = [PR] EdgeUno - San Juan, Puerto Rico [spt-sju1.edgeuno.com]
host = spt-sju1.edgeuno.com

++ edgeuno-bogota
menu = [CO] EdgeUno
title = [CO] EdgeUno - Bogota, Colombia [spt-bog1.edgeuno.com]
host = spt-bog1.edgeuno.com

{% if not smokeping_lite %}
++ edgeuno-quito
menu = [EC] EdgeUno
title = [EC] EdgeUno - Quito, Ecuador [spt-uio.edgeuno.com]
host = spt-uio.edgeuno.com

++ edgeuno-lima
menu = [PE] EdgeUno
title = [PE] EdgeUno - Lima, Peru [spt-lim.edgeuno.com]
host = spt-lim.edgeuno.com
{% endif %}
