++ psychz-jnb
menu = [ZA] Psychz
title = [ZA] Psychz - Johannesburg, South Africa [2604:6600:2010:32::4]
host = 2604:6600:2010:32::4

++ zappiehost-za
menu = [ZA] ZappieHost
title = [ZA] ZappieHost - Johannesburg, South Africa [lg-za.zappiehost.com]
host = lg-za.zappiehost.com
