++ vultr-tlv
menu = [IL] Vultr
title = [IL] Vultr - Tel Aviv, Israel [2a05:f480:2c00:10f7:5400:4ff:fe68:7f2b]
host = 2a05:f480:2c00:10f7:5400:4ff:fe68:7f2b

++ amazon-bh-0
menu = [BH] Amazon AWS
title = [BH] Amazon Web Services (me-south-1) - Bahrain [2a05:d01e:5f1:8a00::ec2]
host = 2a05:d01e:5f1:8a00::ec2

++ misaka-jnb
menu = [ZA] Misaka
title = [ZA] Misaka Network - Johannesburg, South Africa [2a0b:4342:1a91:28:5054:ff:fed7:954f]
host = 2a0b:4342:1a91:28:5054:ff:fed7:954f

++ vultr-jnb
menu = [ZA] Vultr
title = [ZA] Vultr - Johannesburg, South Africa [2a05:f480:3000:2069:5400:4ff:fe3a:3ea8]
host = 2a05:f480:3000:2069:5400:4ff:fe3a:3ea8

++ zappiehost-za
menu = [ZA] ZappieHost
title = [ZA] ZappieHost - Johannesburg, South Africa [lg-za.zappiehost.com]
host = lg-za.zappiehost.com
