{% if not smokeping_lite %}
++ atomicnetworks-chi
menu = [US/IL] Atomic Networks
title = [US/IL] Atomic Networks - Chicago, IL, US [lg-us-chi.atomicnetworks.co]
host = lg-us-chi.atomicnetworks.co

++ greencloud-il2
menu = [US/IL] GreenCloudVPS
title = [US/IL] GreenCloudVPS @ tzulo - Chicago, IL, US [2607:9000:1000:8002::a]
host = 2607:9000:1000:8002::a
{% endif %}

++ hosthatch-chi
menu = [US/IL] HostHatch
title = [US/IL] HostHatch - Chicago, IL, US [2605:4840:3:1::1]
host = 2605:4840:3:1::1

++ linode-chi
menu = [US/IL] Linode @ Akamai
title = [US/IL] Linode @ Akamai - Chicago, IL, US [speedtest.chicago.linode.com]
host = speedtest.chicago.linode.com

++ nexeon
menu = [US/IL] Nexeon
title = [US/IL] Nexeon - Chicago, IL, US [2602:ffc8:1::2]
host = 2602:ffc8:1::2

++ psychz-chi
menu = [US/IL] Psychz
title = [US/IL] Psychz - Chicago, IL, US [lg.chi.psychz.net]
host = lg.chi.psychz.net

{% if not smokeping_lite %}
++ vultr-chi
menu = [US/IL] Vultr
title = [US/IL] Vultr - Chicago, IL, US [2001:19f0:5c00:8401:5400:ff:fe00:5364]
host = 2001:19f0:5c00:8401:5400:ff:fe00:5364
{% endif %}

++ wholesaleinternet
menu = [US/MO] Wholesale Internet
title = [US/MO] Nocix / Wholesale Internet - Kansas City, MO, US [2001:4858::1]
host = 2001:4858::1

{% if not smokeping_lite %}
++ freerangecloud-ywg
menu = [CA/MB] Free Range Cloud
title = [CA/MB] Free Range Cloud - Winnipeg, MB, Canada [2602:fed2:fe0:269::1]
host = 2602:fed2:fe0:269::1

++ spectrum-st-cloud-mn
menu = [US/MN] Spectrum
title = [US/MN] Spectrum - St Cloud, MN, United States [spt01stcdmn.stcd.mn.charter.com]
host = spt01stcdmn.stcd.mn.charter.com

++ clouvider-dal
menu = [US/TX] Clouvider
title = [US/TX] Clouvider - Dallas, TX, US [dal.mirrors.clouvider.net]
host = dal.mirrors.clouvider.net

++ dataideas-tx
menu = [US/TX] DataIdeas
title = [US/TX] DataIdeas @ TXNet - Spring, TX, US [spring-glass.dataideas.com]
host = spring-glass.dataideas.com

++ hosteons-dal
menu = [US/TX] hostEONS
title = [US/TX] hostEONS @ Limestone Networks - Dallas, TX, US [2402:d0c0:14:d::1]
host = 2402:d0c0:14:d::1

++ leveloneservers-dal
menu = [US/TX] LevelOneServers
title = [US/TX] LevelOneServers @ Hivelocity - Dallas, TX, US [dal.lg.leveloneservers.com]
host = dal.lg.leveloneservers.com
{% endif %}

++ linode-dal
menu = [US/TX] Linode
title = [US/TX] Linode - Dallas, TX, US [speedtest.dallas.linode.com]
host = speedtest.dallas.linode.com

{% if not smokeping_lite %}
++ oplink
menu = [US/TX] Oplink.net
title = [US/TX] Oplink.net - Spring, TX, US [2604:e880:3::1]
host = 2604:e880:3::1
{% endif %}

++ psychz-dal
menu = [US/TX] Psychz
title = [US/TX] Psychz - Dallas, TX, US [lg.texas.psychz.net]
host = lg.texas.psychz.net

{% if not smokeping_lite %}
++ spartanhost-dal
menu = [US/TX] SpartanHost
title = [US/TX] SpartanHost - Dallas, TX, US [lg.dal.spartanhost.net]
host = lg.dal.spartanhost.net

++ spectrum-fort-worth-tx
menu = [US/TX] Spectrum
title = [US/TX] Spectrum - Fort Worth, TX, United States [spt01ftwotx.ftwo.tx.charter.com]
host = spt01ftwotx.ftwo.tx.charter.com
{% endif %}

++ vultr-dal
menu = [US/TX] Vultr
title = [US/TX] Vultr - Dallas, TX, US [2001:19f0:6400:8001:5400:ff:fe00:5362]
host = 2001:19f0:6400:8001:5400:ff:fe00:5362

++ smarthost-co
menu = [US/CO] SmartHost
title = [US/CO] SmartHost @ Handy Networks - Denver, CO, US [2606:6680:6:1::c84c:4d58]
host = 2606:6680:6:1::c84c:4d58

{% if not smokeping_lite %}
++ smarthost-nm
menu = [US/NM] SmartHost
title = [US/NM] SmartHost @ Brownrice Internet - Taos, NM, US [2606:6680:53:1::b2ab:3d47]
host = 2606:6680:53:1::b2ab:3d47
{% endif %}
