++ bell-yyz
menu = [CA/ON] Bell
title = [CA/ON] Bell - Toronto, ON, Canada [wirelinespeedtesttoronto.srvr.bell.ca]
host = wirelinespeedtesttoronto.srvr.bell.ca

++ freerangecloud-yyz
menu = [CA/ON] Free Range Cloud
title = [CA/ON] Free Range Cloud - Toronto, ON, Canada [2602:fed2:fa0:8::1]
host = 2602:fed2:fa0:8::1

{% if not smokeping_lite %}
++ linode-tor
menu = [CA/ON] Linode
title = [CA/ON] Linode - Toronto, ON, Canada [speedtest.tor1.linode.com]
host = speedtest.toronto1.linode.com
{% endif %}

++ rogers-east
menu = [CA/ON] Rogers
title = [CA/ON] Rogers - Toronto, ON, Canada [sttorontowireless.rogers.com]
host = sttorontowireless.rogers.com

{% if not smokeping_lite %}
++ smarthost-tor
menu = [CA/ON] SmartHost @ Nuday
title = [CA/ON] SmartHost @ Nuday Networks - Toronto, ON, CA [2606:6680:55:1::a812:8b38]
host = 2606:6680:55:1::a812:8b38

++ vultr-tor
menu = [CA/ON] Vultr
title = [CA/ON] Vultr - Toronto, ON, Canada [2001:19f0:b001:11:5400:1ff:fecb:8c50]
host = 2001:19f0:b001:11:5400:1ff:fecb:8c50
{% endif %}

++ xenyth
menu = [CA/ON] Xenyth Cloud
title = [CA/ON] Xenyth Cloud (GoCodeIT) - Toronto, ON, Canada [mirror.xenyth.net]
host = mirror.xenyth.net

{% if not smokeping_lite %}
++ amazon-ca
menu = [CA/QC] Amazon AWS
title = [CA/QC] Amazon Web Services (ca-central-1) [2600:1f11:b15:2000::ec2]
host = 2600:1f11:b15:2000::ec2

++ hive-dc
menu = [CA/QC] Hive DC
title = [CA/QC] Hive Data Center - Pointe-Claire, QC, Canada [speedtest.hivedatacenter.com]
host = speedtest.hivedatacenter.com

++ leaseweb-mtl
menu = [CA/QC] LeaseWeb
title = [CA/QC] LeaseWeb - Montreal, QC, CA [debian.mirror.iweb.ca]
host = debian.mirror.iweb.ca
{% endif %}

++ ovh-bhs
menu = [CA/QC] OVHcloud
title = [CA/QC] OVHcloud - Beauharnois, QC, Canada [proof.ovh.ca]
host = proof.ovh.ca

{% if not smokeping_lite %}
++ rogers-qc
menu = [CA/QC] Rogers
title = [CA/QC] Rogers - Montreal, QC, Canada [stmontrealwireless.rogers.com]
host = stmontrealwireless.rogers.com

++ servarica
menu = [CA/QC] ServaRICA
title = [CA/QC] ServaRICA - Montreal, QC, Canada [ping.servarica.com]
host = ping.servarica.com

++ linveo-oh
menu = [US/OH] Linveo
title = [US/OH] Linveo - Columbus, OH, US [2602:f953:6:1::a]
host = 2602:f953:6:1::a

++ smarthost-oh
menu = [US/OH] SmartHost @ Microtronix
title = [US/OH] SmartHost @ Microtronix - Ottoville, OH, US [2606:6680:47:1::43b3:1c5a]
host = 2606:6680:47:1::43b3:1c5a
{% endif %}

++ buyvm-nyc
menu = [US/NY] BuyVM
title = [US/NY] BuyVM - New York City, NY, US [speedtest.ny.buyvm.net]
host = speedtest.ny.buyvm.net

++ clouvider-nyc
menu = [US/NY] Clouvider
title = [US/NY] Clouvider - New York City, NY, US [nyc.mirrors.clouvider.net]
host = nyc.mirrors.clouvider.net

{% if not smokeping_lite %}
++ fourplex
menu = [US/NY] Fourplex
title = [US/NY] Fourplex Telecom - New York City, NY, US [2602:f6f6:1::6]
host = 2602:f6f6:1::6

++ hosthatch-ny_0
menu = [US/NY] HostHatch
title = [US/NY] HostHatch - New York City, NY, US [2605:4840:2::1]
host = 2605:4840:2::1
{% endif %}

++ reliablesite-ny
menu = [US/NY] ReliableSite
title = [US/NY] ReliableSite - New York City, NY, US [nycmetro-speedtest.reliablesite.net]
host = nycmetro-speedtest.reliablesite.net

{% if not smokeping_lite %}
++ spectrum-new-york-ny
menu = [US/NY] Spectrum
title = [US/NY] Spectrum - New York, NY, United States [speedtest.nyc.rr.com]
host = speedtest.nyc.rr.com

++ webnx-nyc
menu = [US/NY] WebNX
title = [US/NY] WebNX - New York City, NY, US [nyc-lg.webnx.com]
host = nyc-lg.webnx.com

++ xtom-nyc
menu = [US/NY] xTom
title = [US/NY] xTom / V.PS - New York, United States [nyc.speedtest.v.ps]
host = nyc.speedtest.v.ps

++ hosteons-nyc
menu = [US/NJ] hostEONS
title = [US/NJ] hostEONS @ Limestone Networks - North Bergen, NJ, US [2402:d0c0:12:20::1]
host = 2402:d0c0:12:20::1

++ hosteroid-nj
menu = [US/NJ] Hosteroid
title = [US/NJ] Hosteroid @ Atlantic Metro - Secaucus, NJ, US [2001:1980:e00c::246:1]
host = 2001:1980:e00c::246:1

++ interserver-nj
menu = [US/NJ] InterServer
title = [US/NJ] InterServer - Secaucus, NJ, US [speedtest.is.cc]
host = speedtest.is.cc
{% endif %}

++ linode-nj
menu = [US/NJ] Linode
title = [US/NJ] Linode - Newark, NJ, US [speedtest.newark.linode.com]
host = speedtest.newark.linode.com

++ vultr-nj
menu = [US/NJ] Vultr
title = [US/NJ] Vultr - New Jersey, US [2001:19f0:4009:405:5400:ff:fe00:5363]
host = 2001:19f0:4009:405:5400:ff:fe00:5363

{% if not smokeping_lite %}
++ crunchbits-pa
menu = [US/PA] Crunchbits
title = [US/PA] Crunchbits - Allentown, PA, US [2606:a8c0:101:1::a]
host = 2606:a8c0:101:1::a
{% endif %}
