++ freerangecloud-ywg
menu = [CA/MB] Free Range Cloud
title = [CA/MB] Free Range Cloud - Winnipeg, MB, Canada [2602:fed2:fe0:269::1]
host = 2602:fed2:fe0:269::1

++ accuris
menu = [CA/ON] Accuris Hosting
title = [CA/ON] Accuris Hosting - Ottawa, ON, CA [2602:fcd3:1:1::19]
host = 2602:fcd3:1:1::19

++ freerangecloud-yyz
menu = [CA/ON] Free Range Cloud
title = [CA/ON] Free Range Cloud - Toronto, ON, Canada [2602:fed2:fa0:8::1]
host = 2602:fed2:fa0:8::1

++ linode-tor
menu = [CA/ON] Linode
title = [CA/ON] Linode - Toronto, ON, Canada [speedtest.tor1.linode.com]
host = speedtest.toronto1.linode.com

++ smarthost-tor
menu = [CA/ON] SmartHost @ Nuday Networks
title = [CA/ON] SmartHost @ Nuday Networks - Toronto, ON, CA [2606:6680:55:1::a812:8b38]
host = 2606:6680:55:1::a812:8b38

++ vultr-tor
menu = [CA/ON] Vultr
title = [CA/ON] Vultr - Toronto, ON, Canada [2001:19f0:b001:11:5400:1ff:fecb:8c50]
host = 2001:19f0:b001:11:5400:1ff:fecb:8c50

++ xenyth
menu = [CA/ON] Xenyth Cloud
title = [CA/ON] Xenyth Cloud (GoCodeIT) - Toronto, ON, Canada [mirror.xenyth.net]
host = mirror.xenyth.net

++ hosthatch-chi
menu = [US/IL] HostHatch
title = [US/IL] HostHatch - Chicago, IL, US [2605:4840:3:1::1]
host = 2605:4840:3:1::1

++ linode-chi
menu = [US/IL] Linode @ Akamai
title = [US/IL] Linode @ Akamai - Chicago, IL, US [speedtest.chicago.linode.com]
host = speedtest.chicago.linode.com

++ nexeon
menu = [US/IL] Nexeon
title = [US/IL] Nexeon - Chicago, IL, US [2602:ffc8:1::2]
host = 2602:ffc8:1::2

++ psychz-chi
menu = [US/IL] Psychz
title = [US/IL] Psychz - Chicago, IL, US [lg.chi.psychz.net]
host = lg.chi.psychz.net

++ vultr-chi
menu = [US/IL] Vultr
title = [US/IL] Vultr - Chicago, IL, US [2001:19f0:5c00:8401:5400:ff:fe00:5364]
host = 2001:19f0:5c00:8401:5400:ff:fe00:5364

++ amazon-ca
menu = [CA/QC] Amazon AWS
title = [CA/QC] Amazon Web Services (ca-central-1) [2600:1f11:b15:2000::ec2]
host = 2600:1f11:b15:2000::ec2

++ hive-dc
menu = [CA/QC] Hive DC
title = [CA/QC] Hive Data Center - Pointe-Claire, QC, Canada [speedtest.hivedatacenter.com]
host = speedtest.hivedatacenter.com

++ ovh-bhs
menu = [CA/QC] OVH
title = [CA/QC] OVH - Beauharnois, QC, Canada [proof.ovh.ca]
host = proof.ovh.ca

++ servarica
menu = [CA/QC] ServaRICA
title = [CA/QC] ServaRICA @ eStruxture - Montreal, QC, Canada [ping.servarica.com]
host = ping.servarica.com

++ virtono-qc-ca
menu = [CA/QC] Virtono @ M247
title = [CA/QC] Virtono @ M247 - Montreal, Canada [qc-ca-ping.virtono.com]
host = qc-ca-ping.virtono.com

++ wholesaleinternet
menu = [US/MO] Wholesale Internet
title = [US/MO] Nocix / Wholesale Internet - Kansas City, MO, US [2001:4858::1]
host = 2001:4858::1

++ smarthost-mi
menu = [US/MI] SmartHost @ 123NET
title = [US/MI] SmartHost @ 123NET - Flint, MI, US [2606:6680:29:1::32b:d4c6]
host = 2606:6680:29:1::32b:d4c6

++ smarthost-oh
menu = [US/OH] SmartHost @ Microtronix
title = [US/OH] SmartHost @ Microtronix - Ottoville, OH, US [2606:6680:47:1::43b3:1c5a]
host = 2606:6680:47:1::43b3:1c5a

++ buyvm-nyc
menu = [US/NY] BuyVM
title = [US/NY] BuyVM - New York City, NY, US [speedtest.ny.buyvm.net]
host = speedtest.ny.buyvm.net

++ clouvider-nyc
menu = [US/NY] Clouvider
title = [US/NY] Clouvider - New York City, NY, US [nyc.mirrors.clouvider.net]
host = nyc.mirrors.clouvider.net

++ hosthatch-ny_0
menu = [US/NY] HostHatch
title = [US/NY] HostHatch - New York City, NY, US [2605:4840:2::1]
host = 2605:4840:2::1

++ ramnode-ny
menu = [US/NY] Ramnode
title = [US/NY] Ramnode - New York City, NY, US [lg.nyc.ramnode.com]
host = lg.nyc.ramnode.com

++ reliablesite-ny
menu = [US/NY] ReliableSite
title = [US/NY] Webhosting24 @ ReliableSite - New York City, NY, US [lg.nyc.webhosting24.com]
host = lg.nyc.webhosting24.com

++ webnx-nyc
menu = [US/NY] WebNX
title = [US/NY] WebNX - New York City, NY, US [nyc-lg.webnx.com]
host = nyc-lg.webnx.com

++ xtom-nyc
menu = [US/NY] xTom
title = [US/NY] xTom / V.PS - New York, United States [nyc.speedtest.v.ps]
host = nyc.speedtest.v.ps

++ hosteons-nyc
menu = [US/NJ] hostEONS
title = [US/NJ] hostEONS @ Limestone Networks - North Bergen, NJ, US [2402:d0c0:12:20::1]
host = 2402:d0c0:12:20::1

++ interserver-nj
menu = [US/NJ] InterServer
title = [US/NJ] InterServer - Secaucus, NJ, US [speedtest.is.cc]
host = speedtest.is.cc

++ linode-nj
menu = [US/NJ] Linode
title = [US/NJ] Linode - Newark, NJ, US [speedtest.newark.linode.com]
host = speedtest.newark.linode.com

++ vultr-nj
menu = [US/NJ] Vultr
title = [US/NJ] Vultr - New Jersey, US [2001:19f0:4009:405:5400:ff:fe00:5363]
host = 2001:19f0:4009:405:5400:ff:fe00:5363

++ freerangecloud-iad
menu = [US/VA] Free Range Cloud
title = [US/VA] Free Range Cloud @ Fork Systems - Ashburn, VA, US [2602:fed2:fa0:8::1]
host = 2620:13a:c000:6f::1

++ hetzner-va
menu = [US/VA] Hetzner
title = [US/VA] Hetzner - Ashburn, VA, US [ash-speed.hetzner.com]
host = ash-speed.hetzner.com

++ linode-was
menu = [US/DC] Linode @ Akamai
title = [US/DC] Linode @ Akamai - Washington, DC, US [speedtest.washington.linode.com]
host = speedtest.washington.linode.com

++ quickpacket-clt
menu = [US/VA] QuickPacket
title = [US/VA] QuickPacket - Ashburn, VA, US [lg.iad01.quickpacket.com]
host = lg.iad01.quickpacket.com

++ reliable-wv
menu = [US/WV] Reliable Hosting
title = [US/WV] Reliable Hosting Services - Berkeley Springs, WV, US [2604:4100:1::1]
host = 2604:4100:1::1

++ linode-atl
menu = [US/GA] Linode
title = [US/GA] Linode - Atlanta, GA, US [speedtest.atlanta.linode.com]
host = speedtest.atlanta.linode.com

++ ramnode-atl
menu = [US/GA] Ramnode
title = [US/GA] Ramnode - Atlanta, GA, US [lg.atl.ramnode.com]
host = lg.atl.ramnode.com

++ smarthost-ga
menu = [US/GA] SmartHost
title = [US/GA] SmartHost @ Coloblox - Atlanta, GA, US [2606:6680:43:1::5d98:1521]
host = 2606:6680:43:1::5d98:1521

++ vultr-atl
menu = [US/GA] Vultr
title = [US/GA] Vultr - Atlanta, GA, US [2001:19f0:5400:8001:5400:ff:fe00:5369]
host = 2001:19f0:5400:8001:5400:ff:fe00:5369

++ smarthost-nc
menu = [US/NC] SmartHost
title = [US/NC] SmartHost @ AceHost - Durham, NC, US [2606:6680:51:1::d6c1:4867]
host = 2606:6680:51:1::d6c1:4867

++ buyvm-mia
menu = [US/FL] BuyVM
title = [US/FL] BuyVM - Miami, FL, US [2605:6400:0040::250]
host = 2605:6400:0040::250

++ hivelocity-mia
menu = [US/FL] Hivelocity (Miami)
title = [US/FL] Hivelocity - Miami, FL, United States [speedtest.mia.hivelocity.net]
host = speedtest.mia.hivelocity.net

++ hivelocity-tpa
menu = [US/FL] Hivelocity (Tampa)
title = [US/FL] Hivelocity - Tampa, FL, United States [speedtest.tpa2.hivelocity.net]
host = speedtest.tpa2.hivelocity.net

++ hosteons-mia
menu = [US/FL] hostEONS
title = [US/FL] hostEONS @ Limestone Networks - Miami, FL, US [2402:d0c0:0015:128d:0000:0000:0000:0001]
host = 2402:d0c0:0015:128d:0000:0000:0000:0001

++ reliablesite-mia
menu = [US/FL] ReliableSite
title = [US/FL] ReliableSite - Miami, FL, US [2605:9880:400:100:0:a6:1240:13]
host = 2605:9880:400:100:0:a6:1240:13

++ smarthost-jax
menu = [US/FL] SmartHost (Jacksonville)
title = [US/FL] SmartHost @ SBA Edge - Jacksonville, FL, US [2606:6680:8:1::721c:896b]
host = 2606:6680:8:1::721c:896b

++ vultr-mia
menu = [US/FL] Vultr
title = [US/FL] Vultr - Miami, FL, US [2001:19f0:9000:8001:5400:ff:fe01:3889]
host = 2001:19f0:9000:8001:5400:ff:fe01:3889
