{% if not smokeping_lite %}
++ bell-yvr
menu = [CA/BC] Bell (Vancouver)
title = [CA/BC] Bell - Vancouver, British Columbia [vancnspd01.srvr.bell.ca]
host = vancnspd01.srvr.bell.ca
{% endif %}

++ freerangecloud-yvr_0
menu = [CA/BC] Free Range Cloud
title = [CA/BC] Free Range Cloud - Vancouver, BC, Canada [2602:fed2:fb0:89::1]
host = 2602:fed2:fb0:89::1

{% if not smokeping_lite %}
++ pacificservers
menu = [CA/BC] Pacific Servers
title = [CA/BC] Pacific Servers - Vancouver, BC, CA [pacificservers.com]
host = pacificservers.com
{% endif %}

++ telus-yvr
menu = [CA/BC] TELUS
title = [CA/BC] TELUS - Vancouver, BC, Canada [vancouver.speedtest.telus.com]
host = vancouver.speedtest.telus.com

++ linode-sea
menu = [US/WA] Linode @ Akamai
title = [US/WA] Linode @ Akamai - Seattle, WA, US [speedtest.seattle.linode.com]
host = speedtest.seattle.linode.com

{% if not smokeping_lite %}
++ misaka-seattle-wa
menu = [US/WA] Misaka
title = [US/WA] Misaka Network - Seattle, WA, United States [us-sea02.speed.misaka.one]
host = us-sea02.speed.misaka.one

++ ramnode-sea
menu = [US/WA] RamNode
title = [US/WA] RamNode - Seattle, WA, US [lg.sea.ramnode.com]
host = lg.sea.ramnode.com
{% endif %}

++ vultr-sea
menu = [US/WA] Vultr
title = [US/WA] Vultr - Seattle, WA, US [2001:19f0:8000:8001:5400:ff:fe00:5368m]
host = 2001:19f0:8000:8001:5400:ff:fe00:5368

++ wowrack
menu = [US/WA] Wowrack
title = [US/WA] Wowrack - Seattle, WA, US [speedtest01.wowrack.com]
host = speedtest01.wowrack.com

{% if not smokeping_lite %}
++ xtom-sea
menu = [US/WA] xTom
title = [US/WA] xTom / V.PS - Seattle, United States [sea.speedtest.v.ps]
host = sea.speedtest.v.ps
{% endif %}

++ crunchbits
menu = [US/WA] Crunchbits (Spokane)
title = [US/WA] Crunchbits - Spokane, WA, US [2606:a8c0:3:16::a]
host = 2606:a8c0:3:16::a

++ amazon-pdx
menu = [US/OR] Amazon AWS
title = [US/OR] Amazon Web Services - Oregon (us-west-2) [2600:1f14:84a:b000::ec2]
host = 2600:1f14:84a:b000::ec2

++ hetzner-hil
menu = [US/OR] Hetzner
title = [US/OR] Hetzner - Hillsboro, OR, US [hil-speed.hetzner.com]
host = hil-speed.hetzner.com

{% if not smokeping_lite %}
++ hosteons-pdx
menu = [US/OR] hostEONS
title = [US/OR] hostEONS @ Limestone Networks - Portland, OR, US [2402:d0c0:16:1d::1]
host = 2402:d0c0:16:1d::1

++ spectrum-medford-or
menu = [US/OR] Spectrum
title = [US/OR] Spectrum - Medford, OR, United States [spt01mdfdor.mdfd.or.charter.com]
host = spt01mdfdor.mdfd.or.charter.com

++ tiernet-or
menu = [US/OR] Tier.net
title = [US/OR] Tier.net - Bend, OR, US [lg.or.tier.net]
host = lg.or.tier.net

++ amazon-ca-west-1
menu = [CA/AB] Amazon AWS
title = [CA/AB] Amazon Web Services - Calgary, AB, CA [2600:1f1a:448e:2200::ec2]
host = 2600:1f1a:448e:2200::ec2

++ telus-yyc
menu = [CA/AB] TELUS (Calgary)
title = [CA/AB] TELUS - Calgary, AB, Canada [calgary.speedtest.telus.com]
host = calgary.speedtest.telus.com
{% endif %}
