{% if not smokeping_lite %}
++ cloudcone-rstn
menu = [US/VA] CloudCone
title = [US/VA] CloudCone @ MULTACOM - Reston, VA, US [2607:f130:e080:1::942b:eb01]
host = 2607:f130:e080:1::942b:eb01

++ clouvider-ash
menu = [US/VA] Clouvider
title = [US/VA] Clouvider - Ashburn, VA, US [ash.mirrors.clouvider.net]
host = ash.mirrors.clouvider.net
{% endif %}

++ hetzner-va
menu = [US/VA] Hetzner
title = [US/VA] Hetzner - Ashburn, VA, US [ash-speed.hetzner.com]
host = ash-speed.hetzner.com

++ leaseweb-wdc
menu = [US/VA] LeaseWeb
title = [US/VA] LeaseWeb - Manassas, VA, US [mirror.wdc2.us.leaseweb.net]
host = mirror.wdc2.us.leaseweb.net

{% if not smokeping_lite %}
++ linode-was
menu = [US/DC] Linode @ Akamai
title = [US/DC] Linode @ Akamai - Washington, DC, US [speedtest.washington.linode.com]
host = speedtest.washington.linode.com

++ misaka-ashburn-va
menu = [US/VA] Misaka
title = [US/VA] Misaka Network - Ashburn, VA, United States [us-iad01.speed.misaka.one]
host = us-iad01.speed.misaka.one

++ quickpacket-clt
menu = [US/VA] QuickPacket
title = [US/VA] QuickPacket - Ashburn, VA, US [lg.iad01.quickpacket.com]
host = lg.iad01.quickpacket.com

++ tiernet-ash
menu = [US/VA] Tier.net
title = [US/VA] Tier.net - Ashburn, VA, US [lg.va.tier.net]
host = lg.va.tier.net

++ reliable-wv
menu = [US/WV] Reliable Hosting
title = [US/WV] Reliable Hosting Services - Berkeley Springs, WV, US [2604:4100:1::1]
host = 2604:4100:1::1
{% endif %}

++ clouvider-atl
menu = [US/GA] Clouvider
title = [US/GA] Clouvider - Atlanta, GA, US [atl.mirrors.clouvider.net]
host = atl.mirrors.clouvider.net

{% if not smokeping_lite %}
++ greencloud-atl
menu = [US/GA] GreenCloud
title = [US/GA] GreenCloud @ Cyber Wurx - Atlanta, GA, US [2607:1a00:0:1a::1d:dc38]
host = 2607:1a00:0:1a::1d:dc38

++ gsl-networks-atlanta-ga
menu = [US/GA] GSL Networks
title = [US/GA] GSL Networks - Atlanta, GA, United States [atl.speedtest.gslnetworks.com]
host = atl.speedtest.gslnetworks.com
{% endif %}

++ linode-atl
menu = [US/GA] Linode
title = [US/GA] Linode - Atlanta, GA, US [speedtest.atlanta.linode.com]
host = speedtest.atlanta.linode.com

{% if not smokeping_lite %}
++ ramnode-atl
menu = [US/GA] Ramnode
title = [US/GA] Ramnode - Atlanta, GA, US [lg.atl.ramnode.com]
host = lg.atl.ramnode.com

++ smarthost-ga
menu = [US/GA] SmartHost
title = [US/GA] SmartHost @ Coloblox - Atlanta, GA, US [2606:6680:43:1::5d98:1521]
host = 2606:6680:43:1::5d98:1521
{% endif %}

++ vultr-atl
menu = [US/GA] Vultr
title = [US/GA] Vultr - Atlanta, GA, US [2001:19f0:5400:8001:5400:ff:fe00:5369]
host = 2001:19f0:5400:8001:5400:ff:fe00:5369

{% if not smokeping_lite %}
++ tiernet-nc
menu = [US/NC] Tier.net
title = [US/NC] Tier.net - Charlotte, NC, US [lg.nc.tier.net]
host = lg.nc.tier.net
{% endif %}

++ buyvm-mia
menu = [US/FL] BuyVM
title = [US/FL] BuyVM - Miami, FL, US [2605:6400:0040::250]
host = 2605:6400:0040::250

{% if not smokeping_lite %}
++ hivelocity-tpa
menu = [US/FL] Hivelocity (Tampa)
title = [US/FL] Hivelocity - Tampa, FL, United States [speedtest.tpa2.hivelocity.net]
host = speedtest.tpa2.hivelocity.net

++ hosteons-mia
menu = [US/FL] hostEONS
title = [US/FL] hostEONS @ Limestone Networks - Miami, FL, US [2402:d0c0:0015:128d:0000:0000:0000:0001]
host = 2402:d0c0:0015:128d:0000:0000:0000:0001

++ linode-mia
menu = [US/FL] Linode
title = [US/FL] Linode @ Akamai - Miami, FL, US [speedtest.miami.linode.com]
host = speedtest.miami.linode.com
{% endif %}

++ reliablesite-mia_0
menu = [US/FL] ReliableSite
title = [US/FL] ReliableSite - Miami, FL, US [miami-speedtest.reliablesite.net]
host = miami-speedtest.reliablesite.net

{% if not smokeping_lite %}
++ nexeon-jax
menu = [US/FL] Nexeon
title = [US/FL] Nexeon - Jacksonville, FL, US [2602:ffc8:5:1::2]
host = 2602:ffc8:5:1::2

++ smarthost-jax
menu = [US/FL] SmartHost (Jacksonville)
title = [US/FL] SmartHost @ SBA Edge - Jacksonville, FL, US [2606:6680:8:1::721c:896b]
host = 2606:6680:8:1::721c:896b

++ spectrum-tampa-fl
menu = [US/FL] Spectrum
title = [US/FL] Spectrum - Tampa, FL, United States [tampp-speedtest-01.noc.bhn.net]
host = tampp-speedtest-01.noc.bhn.net

++ vultr-mia
menu = [US/FL] Vultr
title = [US/FL] Vultr - Miami, FL, US [2001:19f0:9000:8001:5400:ff:fe01:3889]
host = 2001:19f0:9000:8001:5400:ff:fe01:3889
{% endif %}
