
++ bell-yvr
menu = [CA/BC] Bell (Vancouver)
title = [CA/BC] Bell - Vancouver, British Columbia [vancnspd01.srvr.bell.ca]
host = vancnspd01.srvr.bell.ca

++ freerangecloud-yvr
menu = [CA/BC] Free Range Cloud
title = [CA/BC] Free Range Cloud - Vancouver, BC, Canada [2602:fed2:fb0:19::1]
host = 2602:fed2:fb0:19::1

++ telus-yvr
menu = [CA/BC] TELUS
title = [CA/BC] TELUS - Vancouver, BC, Canada [vancouver.speedtest.telus.com]
host = vancouver.speedtest.telus.com

++ teksavvy-yvr
menu = [CA/BC] Teksavvy
title = [CA/BC] Teksavvy - Vancouver, BC, Canada [speedtest-van.teksavvy.com]
host = speedtest-van.teksavvy.com

++ limewave-sea
menu = [US/WA] LimeWave
title = [US/WA] LimeWave - Seattle, WA, US [2602:fe69:201::1]
host = 2602:fe69:201::1

++ linode-sea
menu = [US/WA] Linode @ Akamai
title = [US/WA] Linode @ Akamai - Seattle, WA, US [speedtest.seattle.linode.com]
host = speedtest.seattle.linode.com

++ ramnode-sea
menu = [US/WA] RamNode
title = [US/WA] RamNode - Seattle, WA, US [lg.sea.ramnode.com]
host = lg.sea.ramnode.com

++ vultr-sea
menu = [US/WA] Vultr
title = [US/WA] Vultr - Seattle, WA, US [2001:19f0:8000:8001:5400:ff:fe00:5368m]
host = 2001:19f0:8000:8001:5400:ff:fe00:5368

++ wowrack
menu = [US/WA] Wowrack
title = [US/WA] Wowrack - Seattle, WA, US [speedtest01.wowrack.com]
host = speedtest01.wowrack.com

++ xtom-sea
menu = [US/WA] xTom
title = [US/WA] xTom / V.PS - Seattle, United States [sea.speedtest.v.ps]
host = sea.speedtest.v.ps

++ crunchbits
menu = [US/WA] Crunchbits (Spokane)
title = [US/WA] Crunchbits - Spokane, WA, US [2606:a8c0:3:16::a]
host = 2606:a8c0:3:16::a

++ amazon-pdx
menu = [US/OR] Amazon AWS
title = [US/OR] Amazon Web Services - Oregon (us-west-2) [2600:1f14:84a:b000::ec2]
host = 2600:1f14:84a:b000::ec2

++ hetzner-hil
menu = [US/OR] Hetzner
title = [US/OR] Hetzner - Hillsboro, OR, US [hil-speed.hetzner.com]
host = hil-speed.hetzner.com

++ hosteons-pdx
menu = [US/OR] hostEONS
title = [US/OR] hostEONS @ Limestone Networks - Portland, OR, US [2402:d0c0:16:1d::1]
host = 2402:d0c0:16:1d::1

++ telus-yyc
menu = [CA/AB] TELUS (Calgary)
title = [CA/AB] TELUS - Calgary, AB, Canada [calgary.speedtest.telus.com]
host = calgary.speedtest.telus.com

++ greencloud-sjc
menu = [US/CA] GreenCloud (San Jose)
title = [US/CA] GreenCloud @ tzulo - San Jose, CA, US [2607:9000:8000:22::1]
host = 2607:9000:8000:22::1

++ leaseweb-sfo
menu = [US/CA] LeaseWeb (SFO)
title = [US/CA] LeaseWeb - San Francisco, CA, US [mirror.sfo12.us.leaseweb.net]
host = mirror.sfo12.us.leaseweb.net

++ linode-fmt
menu = [US/CA] Linode (Fremont)
title = [US/CA] Linode - Fremont, CA, US [speedtest.fremont.linode.com]
host = speedtest.fremont.linode.com

++ vmhaus-fmt
menu = [US/CA] VMHaus (Fremont)
title = [US/CA] VMHaus / Mythic Beasts - Fremont, CA, US [lg.lax.vmhaus.com]
host = lg.lax.vmhaus.com

++ vultr-sjo
menu = [US/CA] Vultr (San Jose)
title = [US/CA] Vultr - Silicon Valley [2001:19f0:ac00:126:5400:ff:fe01:7cd4]
host = 2001:19f0:ac00:126:5400:ff:fe01:7cd4

++ xtom-sjc
menu = [US/CA] xTom (San Jose)
title = [US/CA] xTom / V.PS - San Jose, United States [sjc.speedtest.v.ps]
host = sjc.speedtest.v.ps

++ clouvider-lax
menu = [US/CA] Clouvider (Los Angeles)
title = [US/CA] Clouvider - Los Angeles, CA, US [la.mirrors.clouvider.net]
host = la.mirrors.clouvider.net

++ hosteons-lax
menu = [US/CA] hostEONS (Los Angeles)
title = [US/CA] hostEONS @ Limestone Networks - Los Angeles, CA, US [2402:d0c0:11:6::1]
host = 2402:d0c0:11:6::1

++ hosthatch-lax
menu = [US/CA] HostHatch (Los Angeles)
title = [US/CA] HostHatch - Los Angeles, CA, US [2a04:bdc7:100::1]
host = 2a04:bdc7:100::1

++ psychz-la
menu = [US/CA] Psychz (Los Angeles)
title = [US/CA] Psychz - Los Angeles, CA, US [lg.lax.psychz.net]
host = lg.lax.psychz.net

++ quickpacket-lax
menu = [US/CA] QuickPacket (LA)
title = [US/CA] QuickPacket - Los Angeles, CA, US [lg.lax01.quickpacket.com]
host = lg.lax01.quickpacket.com

++ ramnode-la
menu = [US/CA] Ramnode (Los Angeles)
title = [US/CA] Ramnode - Los Angeles, CA, US [lg.la.ramnode.com]
host = lg.la.ramnode.com

++ reliablesite-la_0
menu = [US/CA] ReliableSite (Los Angeles)
title = [US/CA] Webhosting24 @ ReliableSite - Los Angeles, CA, US [lg.lax.webhosting24.com]
host = lg.lax.webhosting24.com

++ quadranet-la
menu = [US/CA] QuadraNet (Los Angeles)
title = [US/CA] QuadraNet - Los Angeles, CA, US [repos.lax-noc.com]
host = repos.lax-noc.com

++ silicloud-lax-1
menu = [US/CA] SiliCloud (Los Angeles)
title = [US/CA] SiliCloud @ Zenlayer - Los Angeles, CA, US [2400:38e0:0:4001::d0]
host = 2400:38e0:0:4001::d0

++ virtono-lax-us
menu = [US/CA] Virtono @ M247 (LA)
title = [US/CA] Virtono @ M247 - Los Angeles, CA, US [lax-us-ping.virtono.com]
host = lax-us-ping.virtono.com

++ vultr-lax
menu = [US/CA] Vultr (Los Angeles)
title = [US/CA] Vultr - Los Angeles, CA, US [2001:19f0:6000:8002:5400:ff:fe00:5365]
host = 2001:19f0:6000:8002:5400:ff:fe00:5365

++ webnx-lax
menu = [US/CA] WebNX (Los Angeles)
title = [US/CA] WebNX - Los Angeles, CA, US [lax-lg.webnx.com]
host = lax-lg.webnx.com

++ buyvm-las
menu = [US/NV] BuyVM
title = [US/NV] BuyVM - Las Vegas, NV, US [speedtest.lv.buyvm.net]
host = speedtest.lv.buyvm.net

++ hosteons-slc2
menu = [US/UT] hostEONS @ FiberState
title = [US/UT] hostEONS @ FiberState - Salt Lake City, UT, US [2402:d0c0:18:7::1]
host = 2402:d0c0:18:7::1

++ hosteons-slc1
menu = [US/UT] hostEONS @ Limestone
title = [US/UT] hostEONS @ Limestone Networks - Salt Lake City, UT, US [lg.slc1.hosteons.com]
host = lg.slc1.hosteons.com

++ webnx-ogd
menu = [US/UT] WebNX
title = [US/UT] WebNX - Ogden, UT, US [ogd-lg.webnx.com]
host = ogd-lg.webnx.com

++ xmission
menu = [US/UT] XMission
title = [US/UT] XMission - Salt Lake City, Utah, US [xmission.com]
host = xmission.com

++ clouvider-phx
menu = [US/AZ] Clouvider
title = [US/AZ] Clouvider - Phoenix, AZ, US [phx.mirrors.clouvider.net]
host = phx.mirrors.clouvider.net

++ 1gservers
menu = [US/AZ] 1GServers
title = [US/AZ] 1GServers - Phoenix, AZ, US [speedtest.1gservers.com]
host = speedtest.1gservers.com

++ smarthost-co
menu = [US/CO] SmartHost
title = [US/CO] SmartHost - Denver, CO, US [2606:6680:6:1::c84c:4d58]
host = 2606:6680:6:1::c84c:4d58

++ smarthost-nm
menu = [US/NM] SmartHost
title = [US/NM] SmartHost @ Brownrice Internet - Taos, NM, US [2606:6680:53:1::b2ab:3d47]
host = 2606:6680:53:1::b2ab:3d47

++ dataideas-tx
menu = [US/TX] DataIdeas
title = [US/TX] DataIdeas - Spring, TX, US [spring-glass.dataideas.com]
host = spring-glass.dataideas.com

++ extravm-dal
menu = [US/TX] ExtraVM
title = [US/TX] ExtraVM @ Dedicated.com - Dallas, TX, US [dal.lg.extravm.com]
host = dal.lg.extravm.com

++ hivelocity-dal_0
menu = [US/TX] Hivelocity
title = [US/TX] Hivelocity - Dallas, TX, United States [speedtest.dal.hivelocity.net]
host = speedtest.dal.hivelocity.net

++ hosteons-dal
menu = [US/TX] hostEONS
title = [US/TX] hostEONS @ Limestone Networks - Dallas, TX, US [2402:d0c0:14:d::1]
host = 2402:d0c0:14:d::1

++ leveloneservers-dal
menu = [US/TX] LevelOneServers
title = [US/TX] LevelOneServers @ Hivelocity - Dallas, TX, US [dal.lg.leveloneservers.com]
host = dal.lg.leveloneservers.com

++ linode-dal
menu = [US/TX] Linode
title = [US/TX] Linode - Dallas, TX, US [speedtest.dallas.linode.com]
host = speedtest.dallas.linode.com

++ nexeon-dal
menu = [US/TX] Nexeon
title = [US/TX] Nexeon - Dallas, TX, US [2602:ffc8:4:4::2]
host = 2602:ffc8:4:4::2

++ nexril
menu = [US/TX] Nexril
title = [US/TX] Nexril - Dallas, TX, US [lg.nexril.net]
host = lg.nexril.net

++ psychz-dal
menu = [US/TX] Psychz
title = [US/TX] Psychz - Dallas, TX, US [lg.texas.psychz.net]
host = lg.texas.psychz.net

++ spartanhost-dal
menu = [US/TX] SpartanHost
title = [US/TX] SpartanHost - Dallas, TX, US [lg.dal.spartanhost.net]
host = lg.dal.spartanhost.net

++ virtono-dal-us
menu = [US/TX] Virtono @ M247
title = [US/TX] Virtono @ M247 - Dallas, TX, US [dal-us-ping.virtono.com]
host = dal-us-ping.virtono.com

++ vultr-dal
menu = [US/TX] Vultr
title = [US/TX] Vultr - Dallas, TX, US [2001:19f0:6400:8001:5400:ff:fe00:5362]
host = 2001:19f0:6400:8001:5400:ff:fe00:5362
