++ greencloud-sjc
menu = [US/CA] GreenCloud (San Jose)
title = [US/CA] GreenCloud @ tzulo - San Jose, CA, US [2607:9000:8000:22::1]
host = 2607:9000:8000:22::1

++ leaseweb-sfo
menu = [US/CA] LeaseWeb (SFO)
title = [US/CA] LeaseWeb - San Francisco, CA, US [mirror.sfo12.us.leaseweb.net]
host = mirror.sfo12.us.leaseweb.net

++ linode-fmt
menu = [US/CA] Linode (Fremont)
title = [US/CA] Linode - Fremont, CA, US [speedtest.fremont.linode.com]
host = speedtest.fremont.linode.com

{% if not smokeping_lite %}
++ misaka-san-jose-ca
menu = [US/CA] Misaka (San Jose)
title = [US/CA] Misaka Network - San Jose, CA, United States [us-sjc10.speed.misaka.one]
host = us-sjc10.speed.misaka.one

++ vultr-sjo
menu = [US/CA] Vultr (San Jose)
title = [US/CA] Vultr - Silicon Valley [2001:19f0:ac00:126:5400:ff:fe01:7cd4]
host = 2001:19f0:ac00:126:5400:ff:fe01:7cd4

++ xtom-sjc
menu = [US/CA] xTom (San Jose)
title = [US/CA] xTom / V.PS - San Jose, United States [sjc.speedtest.v.ps]
host = sjc.speedtest.v.ps

++ clouvider-lax
menu = [US/CA] Clouvider (Los Angeles)
title = [US/CA] Clouvider - Los Angeles, CA, US [la.mirrors.clouvider.net]
host = la.mirrors.clouvider.net
{% endif %}

++ hosteons-lax
menu = [US/CA] hostEONS (Los Angeles)
title = [US/CA] hostEONS @ Limestone Networks - Los Angeles, CA, US [2402:d0c0:11:6::1]
host = 2402:d0c0:11:6::1

++ hosthatch-lax
menu = [US/CA] HostHatch (Los Angeles)
title = [US/CA] HostHatch - Los Angeles, CA, US [2a04:bdc7:100::1]
host = 2a04:bdc7:100::1

{% if not smokeping_lite %}
++ linode-lax
menu = [US/CA] Linode (Los Angeles)
title = [US/CA] Linode @ Akamai - Los Angeles, CA, US [speedtest.los-angeles.linode.com]
host = speedtest.los-angeles.linode.com

++ misaka-los-angeles-ca
menu = [US/CA] Misaka (Los Angeles)
title = [US/CA] Misaka Network - Los Angeles, CA, United States [us-lax02.speed.misaka.one]
host = us-lax02.speed.misaka.one
{% endif %}

++ multacom-la
menu = [US/CA] CloudCone
title = [US/CA] CloudCone @ MULTACOM - Los Angeles, CA, US [2607:f130:0:ef::2]
host = 2607:f130:0:ef::2

{% if not smokeping_lite %}
++ quickpacket-lax
menu = [US/CA] QuickPacket (LA)
title = [US/CA] QuickPacket - Los Angeles, CA, US [lg.lax01.quickpacket.com]
host = lg.lax01.quickpacket.com
{% endif %}

++ reliablesite-la_0
menu = [US/CA] ReliableSite (Los Angeles)
title = [US/CA] ReliableSite - Los Angeles, CA, US [los-angeles-speedtest.reliablesite.net]
host = los-angeles-speedtest.reliablesite.net

{% if not smokeping_lite %}
++ silicloud-lax-1
menu = [US/CA] SiliCloud (Los Angeles)
title = [US/CA] SiliCloud @ Zenlayer - Los Angeles, CA, US [2400:38e0:0:4001::d0]
host = 2400:38e0:0:4001::d0

++ spectrum-monterey-park-ca
menu = [US/CA] Spectrum
title = [US/CA] Spectrum - Monterey Park, CA, United States [spt01mtpkca.mtpk.ca.charter.com]
host = spt01mtpkca.mtpk.ca.charter.com

++ virtono-lax-us
menu = [US/CA] Virtono @ M247 (LA)
title = [US/CA] Virtono @ M247 - Los Angeles, CA, US [lax-us-ping.virtono.com]
host = lax-us-ping.virtono.com

++ vultr-lax
menu = [US/CA] Vultr (Los Angeles)
title = [US/CA] Vultr - Los Angeles, CA, US [2001:19f0:6000:8002:5400:ff:fe00:5365]
host = 2001:19f0:6000:8002:5400:ff:fe00:5365

++ webnx-lax
menu = [US/CA] WebNX (Los Angeles)
title = [US/CA] WebNX - Los Angeles, CA, US [lax-lg.webnx.com]
host = lax-lg.webnx.com
{% endif %}

++ buyvm-las
menu = [US/NV] BuyVM
title = [US/NV] BuyVM - Las Vegas, NV, US [speedtest.lv.buyvm.net]
host = speedtest.lv.buyvm.net

++ hosteons-slc2
menu = [US/UT] hostEONS @ FiberState
title = [US/UT] hostEONS @ FiberState - Salt Lake City, UT, US [2402:d0c0:18:7::1]
host = 2402:d0c0:18:7::1

{% if not smokeping_lite %}
++ webnx-ogd
menu = [US/UT] WebNX
title = [US/UT] WebNX - Ogden, UT, US [ogd-lg.webnx.com]
host = ogd-lg.webnx.com

++ xmission
menu = [US/UT] XMission
title = [US/UT] XMission - Salt Lake City, Utah, US [xmission.com]
host = xmission.com
{% endif %}

++ 1gservers
menu = [US/AZ] 1GServers
title = [US/AZ] 1GServers - Phoenix, AZ, US [speedtest.1gservers.com]
host = speedtest.1gservers.com

++ clouvider-phx
menu = [US/AZ] Clouvider
title = [US/AZ] Clouvider - Phoenix, AZ, US [phx.mirrors.clouvider.net]
host = phx.mirrors.clouvider.net
