++ ovh-syd
menu = [AU] OVH (Sydney)
title = [AU] OVH - Sydney, Australia [2402:1f00:8101:102::5:a]
# https://syd.lg.extravm.com/
host = 2402:1f00:8101:102::5:a

++ quantumcore
menu = [AU] QuantumCore (Sydney)
title = [AU] QuantumCore - Sydney, Australia [2406:3a00:10::658d:d023]
host = 2406:3a00:10::658d:d023

++ ransomit-syd
menu = [AU] Ransom IT (Sydney)
title = [AU] Ransom IT - Sydney, Australia [2406:d501::7b2f:bf95]
host = 2406:d501::7b2f:bf95

++ telstra-syd
menu = [AU] Telstra (Sydney)
title = [AU] Telstra - Sydney, Australia [syd1.speedtest.telstra.net]
host = syd1.speedtest.telstra.net

++ vultr-syd
menu = [AU] Vultr (Sydney)
title = [AU] Vultr - Sydney, Australia [2001:19f0:5800:8062:5400:ff:fe00:536c]
host = 2001:19f0:5800:8062:5400:ff:fe00:536c

++ vultr-mel
menu = [AU] Vultr (Melbourne)
title = [AU] Vultr - Melbourne, Australia [2401:c080:2000:1002:5400:3ff:fed8:1603]
host = 2401:c080:2000:1002:5400:3ff:fed8:1603

++ zappiehost-nz
menu = [NZ] ZappieHost (Auckland)
title = [NZ] ZappieHost - Auckland, New Zealand [lg-nz.zappiehost.com]
host = lg-nz.zappiehost.com
