{% if not smokeping_lite %}
++ binarylane-syd
menu = [AU] BinaryLane
title = [AU] BinaryLane - Sydney, Australia [syd-lg.binarylane.cloud]
host = syd-lg.binarylane.cloud

++ contabo-syd
menu = [AU] Contabo
title = [AU] Contabo - Sydney, Australia [syd.speedtest.contabo.net]
host = syd.speedtest.contabo.net
{% endif %}

++ linode-syd
menu = [AU] Linode @ Akamai
title = [AU] Linode @ Akamai - Sydney, Australia [speedtest.syd1.linode.com]
host = speedtest.syd1.linode.com

++ ovh-syd
menu = [AU] OVH (Sydney)
title = [AU] OVH - Sydney, Australia [syd.proof.ovh.net]
host = syd.proof.ovh.net

++ host-universal-syd_0
menu = [AU] Shock Hosting
title = [AU] Shock Hosting @ Host Universal - Sydney, Australia [au-lg.shockhosting.com]
host = au-lg.shockhosting.com

{% if not smokeping_lite %}
++ telstra-syd
menu = [AU] Telstra (Sydney)
title = [AU] Telstra - Sydney, Australia [syd1.speedtest.telstra.net]
host = syd1.speedtest.telstra.net
{% endif %}

++ vultr-syd
menu = [AU] Vultr (Sydney)
title = [AU] Vultr - Sydney, Australia [2001:19f0:5800:8062:5400:ff:fe00:536c]
host = 2001:19f0:5800:8062:5400:ff:fe00:536c

{% if not smokeping_lite %}
++ xtom-syd
menu = [AU] xTom
title = [AU] xTom / V.PS - Sydney, Australia [syd.speedtest.v.ps]
host = syd.speedtest.v.ps
{% endif %}

++ vultr-mel
menu = [AU] Vultr (Melbourne)
title = [AU] Vultr - Melbourne, Australia [2401:c080:2000:1002:5400:3ff:fed8:1603]
host = 2401:c080:2000:1002:5400:3ff:fed8:1603

++ zappiehost-nz
menu = [NZ] ZappieHost (Auckland)
title = [NZ] ZappieHost - Auckland, New Zealand [lg-nz.zappiehost.com]
host = lg-nz.zappiehost.com
