++ ramnode-sea
menu = [US/WA] RamNode
title = [US/WA] RamNode - Seattle, WA, US [lg.sea.ramnode.com]
host = lg.sea.ramnode.com

++ vultr-sea
menu = [US/WA] Vultr
title = [US/WA] Vultr - Seattle, WA, US [2001:19f0:8000:8001:5400:ff:fe00:5368m]
host = 2001:19f0:8000:8001:5400:ff:fe00:5368

++ hetzner-hil
menu = [US/OR] Hetzner
title = [US/OR] Hetzner - Hillsboro, OR, US [hil-speed.hetzner.com]
host = hil-speed.hetzner.com

++ digitalocean-sfo
menu = [US/CA] DigitalOcean
title = [US/CA] DigitalOcean - San Francisco, CA, US [speedtest-sfo1.digitalocean.com]
host = speedtest-sfo1.digitalocean.com

++ greencloud-sjc
menu = [US/CA] GreenCloudVPS @ tzulo
title = GreenCloudVPS @ tzulo - San Jose, CA, US [2607:9000:8000:22::1]
host = 2607:9000:8000:22::1

++ leaseweb-sfo
menu = [US/CA] LeaseWeb
title = [US/CA] LeaseWeb - San Francisco, CA, US [mirror.sfo12.us.leaseweb.net]
host = mirror.sfo12.us.leaseweb.net

++ linode-fmt
menu = [US/CA] Linode (Fremont)
title = Linode - Fremont, CA, US [speedtest.fremont.linode.com]
host = speedtest.fremont.linode.com

++ vmhaus-fmt
menu = [US/CA] VMHaus (Fremont)
title = [US/CA] VMHaus / Mythic Beasts - Fremont, CA, US [lg.lax.vmhaus.com]
host = lg.lax.vmhaus.com

++ vultr-sjo
menu = [US/CA] Vultr (San Jose)
title = [US/CA] Vultr - Silicon Valley [2001:19f0:ac00:126:5400:ff:fe01:7cd4]
host = 2001:19f0:ac00:126:5400:ff:fe01:7cd4

++ clouvider-lax
menu = [US/CA] Clouvider (LA)
title = [US/CA] Clouvider - Los Angeles, CA, US [la.mirrors.clouvider.net]
host = la.mirrors.clouvider.net

++ hosthatch-lax
menu = [US/CA] HostHatch (LA)
title = [US/CA] HostHatch - Los Angeles, CA, US [2a04:bdc7:100::1]
host = 2a04:bdc7:100::1

++ psychz-la
menu = [US/CA] Psychz (LA)
title = [US/CA] Psychz - Los Angeles, CA, US [lg.lax.psychz.net]
host = lg.lax.psychz.net

++ quickpacket-lax
menu = [US/CA] QuickPacket
title = QuickPacket - Los Angeles, CA, US [lg.lax01.quickpacket.com]
host = lg.lax01.quickpacket.com

++ ramnode-la
menu = [US/CA] Ramnode (LA)
title = [US/CA] Ramnode - Los Angeles, CA, US [lg.la.ramnode.com]
host = lg.la.ramnode.com

++ reliablesite-la_0
menu = [US/CA] ReliableSite (LA)
title = [US/CA] Webhosting24 @ ReliableSite - Los Angeles, CA, US [lg.lax.webhosting24.com]
host = lg.lax.webhosting24.com

++ quadranet-la
menu = [US/CA] QuadraNet (LA)
title = [US/CA] QuadraNet - Los Angeles, CA, US [repos.lax-noc.com]
host = repos.lax-noc.com

++ virtono-lax-us
menu = [US/CA] Virtono @ M247
title = [US/CA] Virtono @ M247 - Los Angeles, CA, US [lax-us-ping.virtono.com]
host = lax-us-ping.virtono.com

++ vultr-lax
menu = [US/CA] Vultr (Los Angeles)
title = [US/CA] Vultr - Los Angeles, CA, US [2001:19f0:6000:8002:5400:ff:fe00:5365]
host = 2001:19f0:6000:8002:5400:ff:fe00:5365

++ webnx-lax
menu = [US/CA] WebNX (Los Angeles)
title = [US/CA] WebNX - Los Angeles, CA, US [lax-lg.webnx.com]
host = lax-lg.webnx.com

++ webnx-ogd
menu = [US/UT] WebNX
title = [US/UT] WebNX - Ogden, UT, US [ogd-lg.webnx.com]
host = ogd-lg.webnx.com

++ xmission
menu = [US/UT] XMission
title = [US/UT] XMission - Salt Lake City, Utah, US [xmission.com]
host = xmission.com

++ clouvider-phx
menu = [US/AZ] Clouvider
title = [US/AZ] Clouvider - Phoenix, AZ, US [phx.mirrors.clouvider.net]
host = phx.mirrors.clouvider.net

++ 1gservers
menu = [US/AZ] 1GServers
title = [US/AZ] 1GServers - Phoenix, AZ, US [speedtest.1gservers.com]
host = speedtest.1gservers.com

++ hosthatch-chi
menu = [US/IL] HostHatch
title = [US/IL] HostHatch - Chicago, IL, US [2605:4840:3::1]
host = 2605:4840:3::1

++ nexeon
menu = [US/IL] Nexeon
title = [US/IL] Nexeon - Chicago, IL, US [2602:ffc8:1::2]
host = 2602:ffc8:1::2

++ psychz-chi
menu = [US/IL] Psychz
title = [US/IL] Psychz - Chicago, IL, US [lg.chi.psychz.net]
host = lg.chi.psychz.net

++ vultr-chi
menu = [US/IL] Vultr
title = [US/IL] Vultr - Chicago, IL, US [2001:19f0:5c00:8401:5400:ff:fe00:5364]
host = 2001:19f0:5c00:8401:5400:ff:fe00:5364

++ wholesaleinternet
menu = [US/MO] Wholesale Internet
title = [US/MO] Wholesale Internet - Kansas City, MO, US [2001:4858::1]
host = 2001:4858::1

++ hivelocity-dal
menu = [US/TX] ExtraVM @ Hivelocity
title = [US/TX] ExtraVM @ Hivelocity - Dallas, TX, US [dal.lg.extravm.com]
host = dal.lg.extravm.com

++ leveloneservers-dal
menu = [US/TX] LevelOneServers
title = [US/TX] LevelOneServers @ Hivelocity - Dallas, TX, US [dal.lg.leveloneservers.com]
host = dal.lg.leveloneservers.com

++ linode-dal
menu = [US/TX] Linode
title = [US/TX] Linode - Dallas, TX, US [speedtest.dallas.linode.com]
host = speedtest.dallas.linode.com

++ nexril
menu = [US/TX] Nexril
title = [US/TX] Nexril - Dallas, TX, US [lg.nexril.net]
host = lg.nexril.net

++ psychz-dal
menu = [US/TX] Psychz
title = [US/TX] Psychz - Dallas, TX, US [lg.texas.psychz.net]
host = lg.texas.psychz.net

++ virtono-dal-us
menu = [US/TX] Virtono @ M247
title = [US/TX] Virtono @ M247 - Dallas, TX, US [dal-us-ping.virtono.com]
host = dal-us-ping.virtono.com

++ vultr-dal
menu = [US/TX] Vultr
title = [US/TX] Vultr - Dallas, TX, US [2001:19f0:6400:8001:5400:ff:fe00:5362]
host = 2001:19f0:6400:8001:5400:ff:fe00:5362

++ buyvm-nyc
menu = [US/NY] BuyVM
title = BuyVM - New York City, NY, US [speedtest.ny.buyvm.net]
host = speedtest.ny.buyvm.net

++ clouvider-nyc
menu = [US/NY] Clouvider
title = [US/NY] Clouvider - New York City, NY, US [nyc.mirrors.clouvider.net]
host = nyc.mirrors.clouvider.net

++ hosthatch-ny
menu = [US/NY] HostHatch
title = HostHatch - New York City, NY, US [2a0d:5600:33:1::e2a7]
host = 2a0d:5600:33:1::e2a7

++ ramnode-ny
menu = [US/NY] Ramnode
title = [US/NY] Ramnode - New York City, NY, US [lg.nyc.ramnode.com]
host = lg.nyc.ramnode.com

++ reliablesite-ny
menu = [US/NY] ReliableSite
title = Webhosting24 @ ReliableSite - New York City, NY, US [lg.nyc.webhosting24.com]
host = lg.nyc.webhosting24.com

++ webnx-nyc
menu = [US/NY] WebNX
title = [US/NY] WebNX - New York City, NY, US [nyc-lg.webnx.com]
host = nyc-lg.webnx.com

++ interserver-nj
menu = [US/NJ] InterServer
title = [US/NJ] InterServer - Secaucus, NJ, US [speedtest.is.cc]
host = speedtest.is.cc

++ linode-nj
menu = [US/NJ] Linode
title = [US/NJ] Linode - Newark, NJ, US [speedtest.newark.linode.com]
host = speedtest.newark.linode.com

++ vultr-nj
menu = [US/NJ] Vultr
title = [US/NJ] Vultr - New Jersey, US [2001:19f0:4009:405:5400:ff:fe00:5363]
host = 2001:19f0:4009:405:5400:ff:fe00:5363

++ hetzner-va
menu = [US/VA] Hetzner
title = [US/VA] Hetzner - Ashburn, VA, US [ash-speed.hetzner.com]
host = ash-speed.hetzner.com

++ ovh-va
menu = [US/VA] OVH
title = [US/VA] ExtraVM @ OVH - Vint Hill, VA, US [vin.lg.extravm.com]
host = vin.lg.extravm.com

++ quickpacket-clt
menu = [US/VA] QuickPacket
title = QuickPacket - Ashburn, VA, US [lg.iad01.quickpacket.com]
host = lg.iad01.quickpacket.com

++ linode-atl
menu = [US/GA] Linode
title = [US/GA] Linode - Atlanta, GA, US [speedtest.atlanta.linode.com]
host = speedtest.atlanta.linode.com

++ ramnode-atl
menu = [US/GA] Ramnode
title = [US/GA] Ramnode - Atlanta, GA, US [lg.atl.ramnode.com]
host = lg.atl.ramnode.com

++ vultr-atl
menu = [US/GA] Vultr
title = [US/GA] Vultr - Atlanta, GA, US [2001:19f0:5400:8001:5400:ff:fe00:5369]
host = 2001:19f0:5400:8001:5400:ff:fe00:5369

++ buyvm-mia
menu = [US/FL] BuyVM
title = [US/FL] BuyVM - Miami, FL, US [2605:6400:0040::250]
host = 2605:6400:0040::250

++ reliablesite-mia
menu = [US/FL] ReliableSite
title = [US/FL] ReliableSite - Miami, FL, US [2605:9880:400:100:0:a6:1240:13]
host = 2605:9880:400:100:0:a6:1240:13

++ vultr-mia
menu = [US/FL] Vultr
title = [US/FL] Vultr - Miami, FL, US [2001:19f0:9000:8001:5400:ff:fe01:3889]
host = 2001:19f0:9000:8001:5400:ff:fe01:3889
