++ dedipath-sea
menu = [US/WA] DediPath
title = [US/WA] DediPath - Seattle, WA, US [lg.sef.dedicontrol.com]
host = lg.sef.dedicontrol.com

++ limewave-sea
menu = [US/WA] LimeWave
title = [US/WA] LimeWave - Seattle, WA, US [2602:fe69:201::1]
host = 2602:fe69:201::1

++ ramnode-sea
menu = [US/WA] RamNode
title = [US/WA] RamNode - Seattle, WA, US [lg.sea.ramnode.com]
host = lg.sea.ramnode.com

++ vultr-sea
menu = [US/WA] Vultr
title = [US/WA] Vultr - Seattle, WA, US [2001:19f0:8000:8001:5400:ff:fe00:5368m]
host = 2001:19f0:8000:8001:5400:ff:fe00:5368

++ xtom-sea
menu = [US/WA] xTom
title = [US/WA] xTom / V.PS - Seattle, United States [sea.speedtest.v.ps]
host = sea.speedtest.v.ps

++ amazon-pdx
menu = [US/OR] Amazon AWS
title = [US/OR] Amazon Web Services - Oregon (us-west-2) [2600:1f14:84a:b000::ec2]
host = 2600:1f14:84a:b000::ec2

++ hetzner-hil
menu = [US/OR] Hetzner
title = [US/OR] Hetzner - Hillsboro, OR, US [hil-speed.hetzner.com]
host = hil-speed.hetzner.com

++ ionswitch-cda
menu = [US/ID] IonSwitch
title = [US/ID] Crunchbits @ IonSwitch - Coeur d'Alene, ID, US [2606:a8c0:0:1:0:1:1:1]
host = 2606:a8c0:0:1:0:1:1:1

++ dedipath-sjc
menu = [US/CA] DediPath (SJC)
title = [US/CA] DediPath - Santa Clara, CA, US [lg.sje.dedicontrol.com]
host = lg.sje.dedicontrol.com

++ digitalocean-sfo
menu = [US/CA] DigitalOcean (SFO)
title = [US/CA] DigitalOcean - San Francisco, CA, US [speedtest-sfo1.digitalocean.com]
host = speedtest-sfo1.digitalocean.com

++ greencloud-sjc
menu = [US/CA] GreenCloudVPS (SJC)
title = GreenCloudVPS @ tzulo - San Jose, CA, US [2607:9000:8000:22::1]
host = 2607:9000:8000:22::1

++ leaseweb-sfo
menu = [US/CA] LeaseWeb (SFO)
title = [US/CA] LeaseWeb - San Francisco, CA, US [mirror.sfo12.us.leaseweb.net]
host = mirror.sfo12.us.leaseweb.net

++ linode-fmt
menu = [US/CA] Linode (Fremont)
title = Linode - Fremont, CA, US [speedtest.fremont.linode.com]
host = speedtest.fremont.linode.com

++ vmhaus-fmt
menu = [US/CA] VMHaus (Fremont)
title = [US/CA] VMHaus / Mythic Beasts - Fremont, CA, US [lg.lax.vmhaus.com]
host = lg.lax.vmhaus.com

++ vultr-sjo
menu = [US/CA] Vultr (San Jose)
title = [US/CA] Vultr - Silicon Valley [2001:19f0:ac00:126:5400:ff:fe01:7cd4]
host = 2001:19f0:ac00:126:5400:ff:fe01:7cd4

++ xtom-sjc
menu = [US/CA] xTom (San Jose)
title = [US/CA] xTom / V.PS - San Jose, United States [sjc.speedtest.v.ps]
host = sjc.speedtest.v.ps

++ clouvider-lax
menu = [US/CA] Clouvider (LA)
title = [US/CA] Clouvider - Los Angeles, CA, US [la.mirrors.clouvider.net]
host = la.mirrors.clouvider.net

++ hosthatch-lax
menu = [US/CA] HostHatch (LA)
title = [US/CA] HostHatch - Los Angeles, CA, US [2a04:bdc7:100::1]
host = 2a04:bdc7:100::1

++ psychz-la
menu = [US/CA] Psychz (LA)
title = [US/CA] Psychz - Los Angeles, CA, US [lg.lax.psychz.net]
host = lg.lax.psychz.net

++ quickpacket-lax
menu = [US/CA] QuickPacket (LA)
title = QuickPacket - Los Angeles, CA, US [lg.lax01.quickpacket.com]
host = lg.lax01.quickpacket.com

++ ramnode-la
menu = [US/CA] Ramnode (LA)
title = [US/CA] Ramnode - Los Angeles, CA, US [lg.la.ramnode.com]
host = lg.la.ramnode.com

++ reliablesite-la_0
menu = [US/CA] ReliableSite (LA)
title = [US/CA] Webhosting24 @ ReliableSite - Los Angeles, CA, US [lg.lax.webhosting24.com]
host = lg.lax.webhosting24.com

++ quadranet-la
menu = [US/CA] QuadraNet (LA)
title = [US/CA] QuadraNet - Los Angeles, CA, US [repos.lax-noc.com]
host = repos.lax-noc.com

++ virtono-lax-us
menu = [US/CA] Virtono @ M247 (LA)
title = [US/CA] Virtono @ M247 - Los Angeles, CA, US [lax-us-ping.virtono.com]
host = lax-us-ping.virtono.com

++ vultr-lax
menu = [US/CA] Vultr (Los Angeles)
title = [US/CA] Vultr - Los Angeles, CA, US [2001:19f0:6000:8002:5400:ff:fe00:5365]
host = 2001:19f0:6000:8002:5400:ff:fe00:5365

++ webnx-lax
menu = [US/CA] WebNX (Los Angeles)
title = [US/CA] WebNX - Los Angeles, CA, US [lax-lg.webnx.com]
host = lax-lg.webnx.com

++ buyvm-las
menu = [US/NV] BuyVM
title = [US/NV] BuyVM - Las Vegas, NV, US [speedtest.lv.buyvm.net]
host = speedtest.lv.buyvm.net

++ dedipath-las
menu = [US/NV] DediPath
title = [US/NV] DediPath - Las Vegas, NV, US [lg.dc07.dedicontrol.com]
host = lg.dc07.dedicontrol.com

++ webnx-ogd
menu = [US/UT] WebNX
title = [US/UT] WebNX - Ogden, UT, US [ogd-lg.webnx.com]
host = ogd-lg.webnx.com

++ xmission
menu = [US/UT] XMission
title = [US/UT] XMission - Salt Lake City, Utah, US [xmission.com]
host = xmission.com

++ clouvider-phx
menu = [US/AZ] Clouvider
title = [US/AZ] Clouvider - Phoenix, AZ, US [phx.mirrors.clouvider.net]
host = phx.mirrors.clouvider.net

++ 1gservers
menu = [US/AZ] 1GServers
title = [US/AZ] 1GServers - Phoenix, AZ, US [speedtest.1gservers.com]
host = speedtest.1gservers.com

++ smarthost-nm
menu = [US/NM] SmartHost
title = [US/NM] SmartHost @ Brownrice Internet - Taos, NM, US [2606:6680:53:1::b2ab:3d47]
host = 2606:6680:53:1::b2ab:3d47

++ hosthatch-chi
menu = [US/IL] HostHatch
title = [US/IL] HostHatch - Chicago, IL, US [2605:4840:3:1::1]
host = 2605:4840:3:1::1

++ nexeon
menu = [US/IL] Nexeon
title = [US/IL] Nexeon - Chicago, IL, US [2602:ffc8:1::2]
host = 2602:ffc8:1::2

++ psychz-chi
menu = [US/IL] Psychz
title = [US/IL] Psychz - Chicago, IL, US [lg.chi.psychz.net]
host = lg.chi.psychz.net

++ vultr-chi
menu = [US/IL] Vultr
title = [US/IL] Vultr - Chicago, IL, US [2001:19f0:5c00:8401:5400:ff:fe00:5364]
host = 2001:19f0:5c00:8401:5400:ff:fe00:5364

++ wholesaleinternet
menu = [US/MO] Wholesale Internet
title = [US/MO] Wholesale Internet - Kansas City, MO, US [2001:4858::1]
host = 2001:4858::1

++ smarthost-mi
menu = [US/MI] SmartHost
title = [US/MI] SmartHost @ 123NET - Flint, MI, US [2606:6680:29:1::32b:d4c6]
host = 2606:6680:29:1::32b:d4c6

++ dedipath-den
menu = [US/CO] DediPath
title = [US/CO] DediPath @ Flexential - Denver, CO, US [lg.den.dedicontrol.com]
host = lg.den.dedicontrol.com

++ smarthost-co
menu = [US/CO] SmartHost
title = [US/CO] SmartHost - Denver, CO, US [2606:6680:6:1::c84c:4d58]
host = 2606:6680:6:1::c84c:4d58

++ dataideas-tx
menu = [US/TX] DataIdeas
title = [US/TX] DataIdeas - Spring, TX, US [spring-glass.dataideas.com]
host = spring-glass.dataideas.com

++ dedipath-dal
menu = [US/TX] DediPath
title = [US/TX] DediPath @ INAP - Dallas, TX, US [lg.dal.dedicontrol.com]
host = lg.dal.dedicontrol.com

++ extravm-dal
menu = [US/TX] ExtraVM
title = [US/TX] ExtraVM @ Dedicated.com - Dallas, TX, US [dal.lg.extravm.com]
host = dal.lg.extravm.com

++ hivelocity-dal_0
menu = [US/TX] Hivelocity
title = [US/TX] Hivelocity - Dallas, TX, United States [speedtest.dal.hivelocity.net]
host = speedtest.dal.hivelocity.net

++ leveloneservers-dal
menu = [US/TX] LevelOneServers
title = [US/TX] LevelOneServers @ Hivelocity - Dallas, TX, US [dal.lg.leveloneservers.com]
host = dal.lg.leveloneservers.com

++ linode-dal
menu = [US/TX] Linode
title = [US/TX] Linode - Dallas, TX, US [speedtest.dallas.linode.com]
host = speedtest.dallas.linode.com

++ nexeon-dal
menu = [US/TX] Nexeon
title = [US/TX] Nexeon - Dallas, TX, US [2602:ffc8:4:4::2]
host = 2602:ffc8:4:4::2

++ nexril
menu = [US/TX] Nexril
title = [US/TX] Nexril - Dallas, TX, US [lg.nexril.net]
host = lg.nexril.net

++ psychz-dal
menu = [US/TX] Psychz
title = [US/TX] Psychz - Dallas, TX, US [lg.texas.psychz.net]
host = lg.texas.psychz.net

++ virtono-dal-us
menu = [US/TX] Virtono @ M247
title = [US/TX] Virtono @ M247 - Dallas, TX, US [dal-us-ping.virtono.com]
host = dal-us-ping.virtono.com

++ vultr-dal
menu = [US/TX] Vultr
title = [US/TX] Vultr - Dallas, TX, US [2001:19f0:6400:8001:5400:ff:fe00:5362]
host = 2001:19f0:6400:8001:5400:ff:fe00:5362

++ buyvm-nyc
menu = [US/NY] BuyVM
title = BuyVM - New York City, NY, US [speedtest.ny.buyvm.net]
host = speedtest.ny.buyvm.net

++ clouvider-nyc
menu = [US/NY] Clouvider
title = [US/NY] Clouvider - New York City, NY, US [nyc.mirrors.clouvider.net]
host = nyc.mirrors.clouvider.net

++ hosthatch-ny_0
menu = [US/NY] HostHatch
title = HostHatch - New York City, NY, US [2605:4840:2::1]
host = 2605:4840:2::1

++ ramnode-ny
menu = [US/NY] Ramnode
title = [US/NY] Ramnode - New York City, NY, US [lg.nyc.ramnode.com]
host = lg.nyc.ramnode.com

++ reliablesite-ny
menu = [US/NY] ReliableSite
title = Webhosting24 @ ReliableSite - New York City, NY, US [lg.nyc.webhosting24.com]
host = lg.nyc.webhosting24.com

++ webnx-nyc
menu = [US/NY] WebNX
title = [US/NY] WebNX - New York City, NY, US [nyc-lg.webnx.com]
host = nyc-lg.webnx.com

++ xtom-nyc
menu = [US/NY] xTom
title = [US/NY] xTom / V.PS - New York, United States [nyc.speedtest.v.ps]
host = nyc.speedtest.v.ps

++ interserver-nj
menu = [US/NJ] InterServer
title = [US/NJ] InterServer - Secaucus, NJ, US [speedtest.is.cc]
host = speedtest.is.cc

++ linode-nj
menu = [US/NJ] Linode
title = [US/NJ] Linode - Newark, NJ, US [speedtest.newark.linode.com]
host = speedtest.newark.linode.com

++ vultr-nj
menu = [US/NJ] Vultr
title = [US/NJ] Vultr - New Jersey, US [2001:19f0:4009:405:5400:ff:fe00:5363]
host = 2001:19f0:4009:405:5400:ff:fe00:5363

++ hetzner-va
menu = [US/VA] Hetzner
title = [US/VA] Hetzner - Ashburn, VA, US [ash-speed.hetzner.com]
host = ash-speed.hetzner.com

++ quickpacket-clt
menu = [US/VA] QuickPacket
title = QuickPacket - Ashburn, VA, US [lg.iad01.quickpacket.com]
host = lg.iad01.quickpacket.com

++ reliable-wv
menu = [US/WV] Reliable Hosting
title = [US/WV] Reliable Hosting Services - Berkeley Springs, WV, US [2604:4100:1::1]
host = 2604:4100:1::1

++ dedipath-atl
menu = [US/GA] DediPath
title = [US/GA] DediPath - Atlanta, GA, US [lg.atl.dedicontrol.com]
host = lg.atl.dedicontrol.com

++ linode-atl
menu = [US/GA] Linode
title = [US/GA] Linode - Atlanta, GA, US [speedtest.atlanta.linode.com]
host = speedtest.atlanta.linode.com

++ ramnode-atl
menu = [US/GA] Ramnode
title = [US/GA] Ramnode - Atlanta, GA, US [lg.atl.ramnode.com]
host = lg.atl.ramnode.com

++ smarthost-ga
menu = [US/GA] SmartHost
title = [US/GA] SmartHost @ Coloblox - Atlanta, GA, US [2606:6680:43:1::5d98:1521]
host = 2606:6680:43:1::5d98:1521

++ vultr-atl
menu = [US/GA] Vultr
title = [US/GA] Vultr - Atlanta, GA, US [2001:19f0:5400:8001:5400:ff:fe00:5369]
host = 2001:19f0:5400:8001:5400:ff:fe00:5369

++ smarthost-nc
menu = [US/NC] SmartHost
title = [US/NC] SmartHost @ AceHost - Durham, NC, US [2606:6680:51:1::d6c1:4867]
host = 2606:6680:51:1::d6c1:4867

++ buyvm-mia
menu = [US/FL] BuyVM
title = [US/FL] BuyVM - Miami, FL, US [2605:6400:0040::250]
host = 2605:6400:0040::250

++ dedipath-jax
menu = [US/FL] DediPath
title = [US/FL] DediPath - Jacksonville, FL, US [lg.dc08.dedicontrol.com]
host = lg.dc08.dedicontrol.com

++ hivelocity-mia
menu = [US/FL] Hivelocity (Miami)
title = [US/FL] Hivelocity - Miami, FL, United States [speedtest.mia.hivelocity.net]
host = speedtest.mia.hivelocity.net

++ hivelocity-tpa
menu = [US/FL] Hivelocity (Tampa)
title = [US/FL] Hivelocity - Tampa, FL, United States [speedtest.tpa2.hivelocity.net]
host = speedtest.tpa2.hivelocity.net

++ reliablesite-mia
menu = [US/FL] ReliableSite
title = [US/FL] ReliableSite - Miami, FL, US [2605:9880:400:100:0:a6:1240:13]
host = 2605:9880:400:100:0:a6:1240:13

++ smarthost-jax
menu = [US/FL] SmartHost (Jacksonville)
title = [US/FL] SmartHost @ SBA Edge - Jacksonville, FL, US [2606:6680:8:1::721c:896b]
host = 2606:6680:8:1::721c:896b

++ vultr-mia
menu = [US/FL] Vultr
title = [US/FL] Vultr - Miami, FL, US [2001:19f0:9000:8001:5400:ff:fe01:3889]
host = 2001:19f0:9000:8001:5400:ff:fe01:3889
