BIRDLG_SERVERS={{ (groups.dn42routers + groups.ixprouters) | join(',') }}
BIRDLG_DOMAIN={{ birdlg_domain }}
BIRDLG_LISTEN=:{{ birdlg_web_port }}
BIRDLG_PROXY_PORT={{ birdlg_proxy_port }}
BIRDLG_TITLE_BRAND={{ birdlg_branding_title }}
BIRDLG_NAVBAR_BRAND={{ birdlg_branding_navbar }}
BIRDLG_PROTOCOL_FILTER=Babel,BGP,OSPF
BIRDLG_WHOIS=172.22.0.43
BIRDLG_BGPMAP_INFO=asn,as-name,ASName
