[Unit]
Description=BIRD Looking Glass - Proxy
After=bird.service

[Service]
Type=simple
User=bird
Group=bird
ExecStart={{ _bird_lg_go_dir }}/bird-lgproxy-go
Restart=on-failure
EnvironmentFile={{ _bird_lg_go_dir }}/bird-lg-proxy.env

[Install]
WantedBy=multi-user.target
