{# Allow all (internal) IPs serving the looking glass frontend #}
{% for host in groups.web %}
{% set hostdata = hostvars[host] %}
{% set _dummy = birdlg_allowed_ips.append(hostdata.ownip) %}
{% endfor %}

ALLOWED_IPS={{ birdlg_allowed_ips | join(',') }}
BIRDLG_LISTEN={{ ownip }}:{{ birdlg_proxy_port }}
