{% set _birdlg_servers = [] %}
{# XXX: this duplicates logic with install-extensions playbook target #}
{% for host in groups.dn42routers + groups.ixprouters %}
{% set hostdata = hostvars[host] %}
{# Format for each server is "displayName<actual.ip.or.address>"#}
{% set _dummy = _birdlg_servers.append('%s<%s>' % (host, hostdata.ownip)) %}
{% endfor %}

BIRDLG_SERVERS={{ _birdlg_servers | join(',') }}
BIRDLG_LISTEN=:{{ birdlg_web_port }}
BIRDLG_PROXY_PORT={{ birdlg_proxy_port }}
BIRDLG_TITLE_BRAND={{ birdlg_branding_title }}
BIRDLG_NAVBAR_BRAND={{ birdlg_branding_navbar }}
BIRDLG_PROTOCOL_FILTER=Babel,BGP
BIRDLG_WHOIS=172.22.0.43
BIRDLG_BGPMAP_INFO=asn,as-name,ASName
