{# Allow all (internal) IPs serving the looking glass frontend #}
{% for host in groups.web %}
{% set hostdata = hostvars[host] %}
{% set _dummy = birdlg_allowed_ips.append(hostdata.ownip) %}
{% endfor %}

ALLOWED_IPS={{ birdlg_allowed_ips | join(',') }}
BIRDLG_LISTEN={{ ownip }}:{{ birdlg_proxy_port }}
BIRDLG_TRACEROUTE_RAW=true
BIRDLG_TRACEROUTE_BIN=/usr/bin/traceroute
BIRDLG_TRACEROUTE_FLAGS=-q3 -w1
