DEBUG = False
LOG_FILE = "{{ bird_logs_dir }}/bird-lg-proxy.log"
LOG_LEVEL = "WARNING"

# Note: this will be overridden by gunicorn - these options only apply to the flask development server
BIND_IP = "{{ ownip }}"
BIND_PORT = "{{ birdlg_web_port }}"

# Allow localhost as well as LG webserver IPs
ACCESS_LIST = [
    "127.0.0.1",
    "0::1",
{% for host in ansible_play_hosts_all %}
{% if 'birdlg_webserver' in hostvars[host] and hostvars[host]['birdlg_webserver'] %}
    "{{ hostvars[host]['ownip'] }}",
{% endif %}
{% endfor %}
]

IPV4_SOURCE=""
IPV6_SOURCE=""
BIRD_SOCKET="/var/run/bird/bird.ctl"
BIRD6_SOCKET="/var/run/bird/bird6.ctl"
