[Unit]
Description=Wireguard for dn42
StartLimitIntervalSec=0
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/etc/wireguard/wireguard.sh start
ExecStop=/etc/wireguard/wireguard.sh stop
RestartSec=10s
Restart=on-failure
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
