+ nodes_v6
menu = AS4242421080 nodes (IPv6)
title = AS4242421080 nodes (clearnet, IPv6)
probe = FPing6

++ sjcpeer
menu = GreenCloudVPS SJC
title = GreenCloudVPS / tzulo - San Jose, CA, US [sjc.peer.highdef.network]
host = sjc.peer.highdef.network

++ lax01
menu = HostHatch LA
title = HostHatch / Psychz - Los Angeles, CA, US [lax01.jlu5.com]
host = lax01.jlu5.com

++ lax02_0
menu = AlphaVPS LA
title = AlphaVPS / WebNX - Los Angeles, CA, US [2607:f2d8:4012:c0::7b3a]
host = 2607:f2d8:4012:c0::7b3a

++ las02
menu = BuyVM Las Vegas
title = BuyVM - Las Vegas, NV, US [las.peer.highdef.network]
host = las.peer.highdef.network

++ chi02-greencloud
menu = GreenCloud Chicago
title = GreenCloudVPS / Nexeon - Chicago, IL, US [chi.peer.highdef.network]
host = chi.peer.highdef.network

++ dal01
menu = UltraVPS Dallas
title = UltraVPS @ Psychz - Dallas, TX, US [dal01.jlu5.com]
host = dal01.jlu5.com

++ ymq01
menu = OVH Beauharnois
title = OVH - Beauharnois, QC, CA [ymq.peer.highdef.network]
host = ymq.peer.highdef.network

++ hosthatch-nyc_1
menu = HostHatch NYC
title = HostHatch / M247 - New York City, NY, US [2605:4840:2:35cb::1]
host = 2605:4840:2:35cb::1

++ ash01
menu = Hetzner Ashburn
title = Hetzner - Ashburn, VA, US [2a01:4ff:f0:b1ff::1]
host = 2a01:4ff:f0:b1ff::1

++ ams02
menu = InceptionHosting AMS
title = InceptionHosting / Clouvider - Amsterdam, NL [ams.peer.highdef.network]
host = ams.peer.highdef.network

++ lon02
menu = InceptionHosting LON
title = InceptionHosting / Clouvider - London, UK [lon.peer.highdef.network]
host = lon.peer.highdef.network

++ par01
menu = Scaleway Paris
title = Scaleway / Online.net - Paris, FR [par.peer.highdef.network]
host = par.peer.highdef.network

++ mad01
menu = HostHatch Madrid
title = HostHatch @ M247 - Madrid, ES [mad.peer.highdef.network]
host = mad.peer.highdef.network

++ mil01
menu = HostHatch Milan
title = HostHatch @ M247 - Milan, IT [mil.peer.highdef.network]
host = mil.peer.highdef.network

++ tyo01
menu = NexusBytes JP
title = NexusBytes - Tokyo, JP [tyo01.jlu5.com]
host = tyo01.jlu5.com

++ sg02
menu = GreenCloudVPS SG
title = GreenCloudVPS @ LeaseWeb - Singapore, SG [sgp.peer.highdef.network]
host = sgp.peer.highdef.network
