+ nodes_v6
menu = AS4242421080 nodes (IPv6)
title = AS4242421080 nodes (clearnet, IPv6)
probe = FPing6

++ sea22
menu = LetBox Seattle
title = LetBox / SmartHost @ Wowrack - Seattle, WA, US [sea.peer.highdef.network]
host = sea.peer.highdef.network

++ sjcpeer
menu = GreenCloudVPS SJC
title = GreenCloudVPS / tzulo - San Jose, CA, US [sjc.peer.highdef.network]
host = sjc.peer.highdef.network

++ sjc2peer
menu = LetBox SJC
title = LetBox / SmartHost / EGIHosting - San Jose, CA, US [sjc2.peer.highdef.network]
host = sjc2.peer.highdef.network

++ las02
menu = BuyVM Las Vegas
title = BuyVM - Las Vegas, NV, US [las.peer.highdef.network]
host = las.peer.highdef.network

++ chi02-greencloud
menu = GreenCloud Chicago
title = GreenCloudVPS / Nexeon - Chicago, IL, US [chi.peer.highdef.network]
host = chi.peer.highdef.network

++ ymq01
menu = OVH Beauharnois
title = OVH - Beauharnois, QC, CA [ymq.peer.highdef.network]
host = ymq.peer.highdef.network

++ ams02
menu = InceptionHosting AMS
title = InceptionHosting / Clouvider - Amsterdam, NL [ams.peer.highdef.network]
host = ams.peer.highdef.network

++ frapeer-202211
menu = InceptionHosting FRA
title = InceptionHosting / Clouvider - Frankfurt, DE [fra.peer.highdef.network]
host = fra.peer.highdef.network

++ mad01
menu = HostHatch Madrid
title = HostHatch @ M247 - Madrid, ES [mad.peer.highdef.network]
host = mad.peer.highdef.network

++ mil01
menu = HostHatch Milan
title = HostHatch @ M247 - Milan, IT [mil.peer.highdef.network]
host = mil.peer.highdef.network

++ buhpeer
menu = GreenCloudVPS RO
title = GreenCloudVPS @ M247 - Bucharest, RO [buh.peer.highdef.network]
host = buh.peer.highdef.network

++ tyo03
menu = Vultr Tokyo
title = Vultr - Tokyo, JP [tyo.peer.highdef.network]
host = tyo.peer.highdef.network

++ sg02
menu = GreenCloudVPS SG
title = GreenCloudVPS @ LeaseWeb - Singapore, SG [sgp.peer.highdef.network]
host = sgp.peer.highdef.network
