+ nodes_v6
menu = AS4242421080 Nodes (IPv6)
title = AS4242421080 Nodes (clearnet, IPv6)
probe = FPing6

++ sea22
menu = LetBox Seattle
title = LetBox / SmartHost @ Wowrack - Seattle, WA, US [sea.peer.highdef.network]
host = sea.peer.highdef.network

++ sjcpeer
menu = GreenCloudVPS SJC
title = GreenCloudVPS @ tzulo - San Jose, CA, US [sjc.peer.highdef.network]
host = sjc.peer.highdef.network

++ lax01
menu = HostHatch Los Angeles
title = HostHatch - Los Angeles, CA, US [lax.peer.highdef.network]
host = lax.peer.highdef.network

++ las02
menu = BuyVM Las Vegas
title = BuyVM - Las Vegas, NV, US [las02.jlu5.com]
host = las02.jlu5.com

++ glass-srv
menu = DataWagon Chicago
title = DataWagon @ Nexeon - Chicago, IL, US [glass.srv.jlu5.com]
host = glass.srv.jlu5.com

++ chi02-greencloud
menu = GreenCloud Chicago
title = GreenCloudVPS / Nexeon - Chicago, IL, US [chi.peer.highdef.network]
host = chi.peer.highdef.network

++ dal02
menu = EasyVM Dallas
title = EasyVM @ Hivelocity - Dallas, TX, US [dal.peer.highdef.network]
host = dal.peer.highdef.network

++ ymq01
menu = OVH Beauharnois
title = OVH - Beauharnois, QC, CA [ymq.peer.highdef.network]
host = ymq.peer.highdef.network

++ tpa01
menu = Hostodo Tampa
title = Hostodo @ Hivelocity - Tampa, FL, US [tpa.peer.highdef.network]
host = tpa.peer.highdef.network

++ ams02
menu = InceptionHosting AMS
title = InceptionHosting @ Clouvider - Amsterdam, NL [ams.peer.highdef.network]
host = ams.peer.highdef.network

++ frapeer-202211
menu = InceptionHosting FRA
title = InceptionHosting @ Clouvider - Frankfurt, DE [fra.peer.highdef.network]
host = fra.peer.highdef.network

++ buhpeer
menu = GreenCloudVPS RO
title = GreenCloudVPS @ M247 - Bucharest, RO [buh.peer.highdef.network]
host = buh.peer.highdef.network

++ tyopeer
menu = HostHatch Tokyo
title = HostHatch - Tokyo, JP [tyo.peer.highdef.network]
host = tyo.peer.highdef.network

++ sg02
menu = GreenCloudVPS SG
title = GreenCloudVPS @ LeaseWeb - Singapore, SG [sgp.peer.highdef.network]
host = sgp.peer.highdef.network

++ hk02
menu = GreenCloudVPS HK
title = GreenCloudVPS @ LeaseWeb - Hong Kong, China [hkg.peer.highdef.network]
host = hkg.peer.highdef.network
