{%- set ifname = peer_info['name'] %}
{# Guess address family and tunnel mode #}
{%- set _use_gre6 = peer_info.remote | ansible.utils.ipv6 %}
{%- set _tunnel_command = 'ip -6 tunnel' if _use_gre6 else 'ip tunnel' %}
{%- set _tunnel_mode = peer_info.get('tunnel_mode', 'ip6gre' if _use_gre6 else 'gre') %}
{%- set _gre_endpoint = peer_info.remote %}
{%- set _local_v4 = peer_info.get('local_v4', ownip + '/32') %}
{%- set _local_v6 = peer_info.get('local_v6', ownip6 + '/128') %}

auto {{ ifname }}
iface {{ ifname }} inet static
    address {{ _local_v4 }}
{% if peer_info.get('peer_v4') %}
    pointopoint {{ peer_info.peer_v4 }}
{% endif %}
{% if _use_gre6 %}
{# encaplimit none for interoperability, https://www.reddit.com/r/Juniper/comments/1d7h0yw/ #}
{# TTL override is important; otherwise the inside packet's TTL will be used which will cause BGP messages to get dropped #}
    pre-up {{ _tunnel_command }} add {{ ifname }} mode {{ _tunnel_mode }} remote {{ _gre_endpoint }} local {{ ansible_default_ipv6.address }} encaplimit none ttl 64
{% else %}
    pre-up {{ _tunnel_command }} add {{ ifname }} mode {{ _tunnel_mode }} remote {{ _gre_endpoint }} local {{ ansible_default_ipv4.address }} ttl 64
{% endif %}
{% if peer_info.get('peer_v6') %}
    post-up ip addr add {{ _local_v6 }} peer {{ peer_info.peer_v6 }} dev {{ ifname }}
{% else %}
    post-up ip addr add {{ _local_v6 }} dev {{ ifname }}
{% endif %}

{% if dn42_ratelimit and ifname.startswith('dn42') %}
    post-up tc qdisc add dev {{ ifname }} {{ dn42_ratelimit_tc_args }}
{% endif %}
    post-down {{ _tunnel_command }} del {{ ifname }}
