wg_peers:
- name: dn42-tech9
  peer_v4: 172.20.16.143
  peer_v6: fe80::1588
  port: 21588
  remote: us-qas01.dn42.tech9.io:57225
  wg_pubkey: itmJ4Z8V1aNN368P6kMzuQM+GdzWbBKZjJiXrgSeGlw=
  local_v6: fe80::100
  bgp:
    asn: 4242421588
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-routedbits
  port: 20207
  remote: router.iad1.routedbits.com:51080
  wg_pubkey: /RLM4EcF8b7FKKcxnvHIYyDoES59HXIBqhKEWt4yRy0=
  peer_v4: null
  peer_v6: fe80::207
  bgp:
    asn: 4242420207
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-burble
  port: 22601
  remote: dn42-us-ash1.burble.com:21080
  wg_pubkey: NyNVeb5VPSZ/HlEbX1NEzZ6qjKURX7vxmkR59ev3wCs=
  peer_v4: null
  peer_v6: fe80::42:2601:37:1
  bgp:
    asn: 4242422601
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-darkpoint
  port: 20150
  remote: iad.darkpoint.xyz:20150
  wg_pubkey: 1o0XfQvBM1gqknqzfuOnVmf2RjRTHuyMZYNipSSb2TQ=
  peer_v4: null
  peer_v6: fe80::150
  bgp:
    asn: 4242420150
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-prefixlabs
  port: 21240
  remote: us-01.prefixlabs.net:21080
  wg_pubkey: uRYzFGi+/B6pD0FR2SW3G/OzC5LPJXePNIt0s+nJfW0=
  peer_v4: 172.20.209.11
  peer_v6: fe80::1240:2
  bgp:
    asn: 4242421240
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-kioubit
  port: 23914
  remote: us2.g-load.eu:21080
  wg_pubkey: 6Cylr9h1xFduAO+5nyXhFI1XJ0+Sw9jCpCDvcqErF1s=
  peer_v4: 172.20.53.98
  peer_v6: fe80::ade0
  bgp:
    asn: 4242423914
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true
