wg_peers:
- name: dn42-kioubit
  port: 23914
  remote: "hk1.g-load.eu:21080"
  wg_pubkey: "sLbzTRr2gfLFb24NPzDOpy8j09Y6zI+a7NkeVMdVSR8="
  peer_v4: "172.20.53.105"
  peer_v6: "fe80::ade0"
  bgp:
    asn: 4242423914
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-jerryxiao
  peer_v4: null
  peer_v6: fe80::3618
  port: 23618
  remote: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    66373366613066383830343931396662313436666239363763623136613266373730656133353632
    3935326230393864653733616566616566653161333536340a653133313135633531636333613030
    34366331346366313366646437613063613564343032353464333065626236336535363830383635
    6566306136356630320a343035396562376135323030316435306233373466663064643334663265
    30326438393436366666646562623130326434623264346564326164323735643364
  wg_pubkey: ninIInCL8762jzxdMHI19MmlvYIcBFdkTTgfeUp0YCo=
  bgp:
    asn: 4242423618
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-bbpgqm
  peer_v4: 172.20.56.2
  peer_v6: fe80::549:3441:0:1
  port: 20549
  remote: hkg.dn42.bb-pgqm.com:21080
  wg_pubkey: jtE83RMoN49bs8TOetxrGdzqywz2BI+uT1qJrGI7GVU=
  bgp:
    asn: 4242420549
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-sernet
  port: 23947
  remote: hk1.sherpherd.net:21080
  wg_pubkey: c1ohwuTISEj1s9Tipo7P52EMffL6uZpCncz0/6WGzU8=
  peer_v4: null
  peer_v6: fe80::3947:1
  bgp:
    asn: 4242423947
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-bandura
  peer_v4: null
  peer_v6: fe80::2925
  port: 22923
  remote: herzstein.mk16.de:51080
  wg_pubkey: 3uFwT9QD2WVL1cDuRNnj5sqWxyoAJjZO+f83grEPDV0=
  bgp:
    asn: 4242422923
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-potat0
  port: 21816
  remote: hkg.node.potat0.cc:21080
  wg_pubkey: Tv1+HniELrS4Br2i7oQgwqBJFXQKculsW8r+UOqQXH0=
  peer_v4: null
  peer_v6: fe80::1816
  bgp:
    asn: 4242421816
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-yuchow
  port: 21260
  remote: 405218.xyz:60105
  wg_pubkey: 9zsuhOiSC8rKsdUNtX678wh3rTo4McJ9ueDqm1Ha8wI=
  peer_v4: 172.20.236.161
  peer_v6: fe80::9527
  bgp:
    asn: 4242421260
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-cmcc
  port: 21686
  remote: null
  wg_pubkey: D4MBIR+HsCPeEGuPg1YziRe1RgaG7jaiTw4wmV8XZUY=
  peer_v4: null
  peer_v6: fe80::1686
  bgp:
    asn: 4242421686
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-sunnet
  port: 23088
  remote: hk1-hk.dn42.6700.cc:21080
  wg_pubkey: rBTH+JyZB0X/DkwHByrCjCojxBKr/kEOm1dTAFGHR1w=
  peer_v4: null
  peer_v6: fe80::3088:192
  local_v6: fe80::abcd
  bgp:
    asn: 4242423088
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-iedon
  port: 22189
  remote: hk-hkg.dn42.kuu.moe:55810
  wg_pubkey: OlUDuWkUI9pKNsNo7Vjf/GKKVSBslh9kmqjbeYA4+34=
  peer_v4: null
  peer_v6: fe80::2189:120
  bgp:
    asn: 4242422189
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-lantian
  port: 22547
  remote: v-ps-hkg.lantian.pub:21080
  wg_pubkey: xelzwt1j0aoKjsQnnq8jMjZNLbLucBPwPTvHgFH/czs=
  peer_v4: 172.22.76.186
  peer_v6: fe80::2547
  bgp:
    asn: 4242422547
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-cdubs
  port: 20566
  remote: dn21.hk.surgebytes.com:31080
  wg_pubkey: ANG92fXHXsPQJxSfkz8x6ndUWwDhZ8RnyEMHk/lKHFc=
  peer_v4: null
  peer_v6: fe80::566:21
  bgp:
    asn: 4242420566
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-cowgl
  port: 23999
  remote: cowgl.xyz:31080
  wg_pubkey: mGGBczSVKW+7UKRquI2GkbKrfxiATv9r4uF5WTP+vWI=
  peer_v4: 172.22.144.64
  peer_v6: fd36:62be:ef51::1
  bgp:
    asn: 4242423999
    ipv4: true
    ipv6: true
    mp_bgp: false
    extended_next_hop: false

- name: dn42-sdubs
  port: 20202
  remote: dn02.hk.hk.sdubs.vip:21080
  wg_pubkey: 5YcwL93bhJqzhTxi9b1Z1ZRt2UfGVoP5jMA+UXma6HM=
  peer_v4: null
  peer_v6: fe80::202:2
  bgp:
    asn: 4242420202
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-hexpnetwor
  port: 20298
  remote: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    33383933613433633836373766323334643835366635633466383334363630333539363430666261
    3861363230313430306338623865666262623336383235310a373463613439306632643239346263
    61623732666464663732306533326435396166336231366333653464323962656539623333323534
    3638316134353261630a633139313336373939366166343135613533336131326238633062396331
    34623763323136336334323930353232336137653063343461323565313039616135
  wg_pubkey: tk55oBnAVMWOe1INpxVMTJ8zp8C39w/uMvKi5SWaTnM=
  wg_presharedkey: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    38333731363064363930646532663838613439393936323832616634393033303566363164363565
    3666646161333331626664323437323765653236316333640a383834383334353237343239333266
    34356433613165643965623364623438313961663863666136393264303137666666663535373633
    3436313865653665370a346537386339303432613263616564666330396364623035386636613631
    37663461313561316135656133313265383737336239653461663333356463616461356163633563
    3333333130613261303431356136313039336665626538396235
  peer_v4: null
  peer_v6: fe80::298
  bgp:
    asn: 4242420298
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-lezi
  port: 23377
  remote: hk1.peer.dn42.leziblog.com:21080
  wg_pubkey: XaX6/G7EQbcjsrtlxNmDc/s/VSdTxtkBxZKB2JpWIHo=
  peer_v4: null
  peer_v6: fe80::3377
  bgp:
    asn: 4242423377
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-liekong
  port: 20070
  remote: hk.dn42.lie-kong.top:21080
  wg_pubkey: 3Qhit0K7maW6oMVt57KUkWDiDfZ/OWOYwzu/fYrk6iE=
  peer_v4: 172.20.53.34
  peer_v6: fe80::0070:2
  bgp:
    asn: 4242420070
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: false

- name: dn42-bitrate
  port: 23997
  remote: hk1.dn42.bitrate.studio:21080
  wg_pubkey: BwDwBx+r7zTrUZHdUeKsQFkEVEgx4iH13+0LQnCtpEE=
  peer_v4: 172.21.95.33
  peer_v6: fe80::3997
  bgp:
    asn: 4242423997
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-immtelecom
  port: 22488
  remote: 78d8826d-e062-4893-b5f4-8af06da3f0ea.immtel.com:21080
  wg_pubkey: kY3JM2o4ABhez5V4G2WwDpQo8PrgnN7HG0VFobYFBi4=
  peer_v4: null
  peer_v6: 'fd46:1d76:e65e::'
  bgp:
    asn: 4242422488
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-ferrets
  port: 23077
  remote: hk-1.dn42.ferrets.space:21080
  wg_pubkey: aiJkoVGUNJvvBmZ0FPs/4VdfsSLVKgD9xBDvyYwuRFw=
  peer_v4: 172.23.183.131
  peer_v6: fd48:fa31:502b:10::4
  bgp:
    asn: 4242423077
    ipv4: true
    ipv6: true
    mp_bgp: false
    extended_next_hop: false

- name: dn42-iyoroy
  port: 22024
  remote: hkg02-cn.ecs.iyoroy-infra.top:21080
  wg_pubkey: 6gm7634mtfq1cXdTVJzGInVha/77qMqnUxFVubMHjUI=
  peer_v4: 172.20.234.225
  peer_v6: fe80::2024
  bgp:
    asn: 4242422024
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-mxmilu
  port: 21166
  remote: hk.dn42.milu.moe:21080
  wg_pubkey: f9ZDh2U0UXxtEroHUYNWzaE6TZM3hhY3eLXQQpgkvBY=
  peer_v4: 172.22.110.34
  peer_v6: fe80::1166
  bgp:
    asn: 4242421166
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: false

- name: dn42-jasonxu
  port: 23658
  remote: 82.152.165.157:23377
  wg_pubkey: L/ohOmR8NDe/sgaAI0md8RvT1lrPDZiLMny9QwLheAA=
  peer_v4: null
  peer_v6: fd4e:d0:d38d:68c1::1
  bgp:
    asn: 4242423658
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-alice8585
  port: 20387
  remote: 156.226.173.78:21080
  wg_pubkey: krJb3l8hypXbDs8h6zNw5QQy5zdwVsRKRm1g30KnYBU=
  peer_v4: 172.20.44.129
  peer_v6: fe80::387
  bgp:
    asn: 4242420387
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: false

- name: dn42-badaimweeb
  port: 23797
  remote: hk-hkg1.rc.badaimweeb.me:5601
  wg_pubkey: Zw5sOMJ5nBi/ljfekECawY08LlfoJzhfdgKWo6WBWyc=
  peer_v4: null
  peer_v6: fe80::3797
  bgp:
    asn: 4242423797
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-sam
  port: 22503
  remote: hk1.dn42.sam1314.com:21080
  wg_pubkey: GyS7yHeu3kQykROMr6ZMix8FRUlLE/mxQWmn1zzdAUE=
  peer_v4: 172.23.161.64
  peer_v6: fe80::2503
  bgp:
    asn: 4242422503
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: false

- name: dn42-factor2431
  port: 21534
  remote: hk-hkg.factor2431.com:21080
  wg_pubkey: VncCNj0rfJ8xF4ms7yqvt+WzAS0ePC+pLiiG4FPPHkw=
  peer_v4: null
  peer_v6: fe80::1534
  bgp:
    asn: 4242421534
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-duststars
  port: 21771
  remote: hkg1.exploro.one:32605
  wg_pubkey: bYG9mG2WvvzO8P9GoSJTP/DmwjeWPlR9j2uH3avnJAU=
  peer_v4: null
  peer_v6: fe80::1771
  bgp:
    asn: 4242421771
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-xkrme
  port: 21733
  remote: 154.3.32.107:21080
  wg_pubkey: rHUqrpHKeqJo2QpgG4fTU8B47XF8Bu51opKYfRwq3Rg=
  peer_v4: null
  peer_v6: fe80::1733
  bgp:
    asn: 4242421733
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-moohr
  port: 22279
  remote: hk-hkg1.bb.mhr.hk:21080
  wg_pubkey: PUjqyQ3ATLp8Cxp3YFVQ44QLoZEpoPgdXsbMfXhDMRk=
  peer_v4: 172.23.77.201
  peer_v6: fe80::2279
  bgp:
    asn: 4242422279
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-choco
  port: 23845
  remote: hkg1.dn42.aerodefense.co.uk:21080
  wg_pubkey: jR21mrHsYv4KHPrRgtPPTl4BNU2by6dRV110nUIVfU4=
  peer_v4: null
  peer_v6: fe80::114
  bgp:
    asn: 4242423845
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-stevie
  port: 20337
  remote: hkg02.dn42.wwrr.ru:21080
  wg_pubkey: WdvyDf+lEAar5MbcFYUVhvQXzWg2ZXi9Jt1860Q41y4=
  peer_v4: null
  peer_v6: fe80::337
  bgp:
    asn: 4242420337
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-moraxyc
  port: 23011
  remote: hk4.dn42.moraxyc.com:21080
  wg_pubkey: VLapquicGRZmdMAamgQ19jyo7LbmK3X3nNCffGo6ID4=
  peer_v4: null
  peer_v6: fe80::3011
  bgp:
    asn: 4242423011
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-iris
  port: 21023
  remote: hkg-01.node.svc.moe:21080
  wg_pubkey: dPTukyAM6scP2dlCYiP55BDb0lmuBhX7Rm4G8p/9awA=
  peer_v4: null
  peer_v6: fe80::1023:2
  bgp:
    asn: 4242421023
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-boletus
  port: 20398
  remote: hkl.dn42.boletus.icu:21080
  wg_pubkey: XD66eoHp06VmDUNFUguJeOY8gFLiLZ7Lkyz/WsMQSWU=
  peer_v4: null
  peer_v6: fe80::398
  bgp:
    asn: 4242420398
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true
