wg_peers:
- name: dn42hkg-kioubit
  port: 23914  # not used
  remote: "hk1.g-load.eu:21080"
  wg_pubkey: "sLbzTRr2gfLFb24NPzDOpy8j09Y6zI+a7NkeVMdVSR8="
  peer_v4: "172.20.53.105"
  peer_v6: "fe80::ade0"
  local_v4: 172.20.229.127
  local_v6: "fe80::ade1"

- name: dn42hkg-mayli
  port: 51123
  remote: "hkg.ccp.ovh:21080"
  wg_pubkey: "bLysMVqew2hlvJVS17hp+qaURzZuLERLgfSbvK/mgUU="
  peer_v4: "172.20.47.3"
  peer_v6: "fe80::1123"
  local_v4: 172.20.229.127
  local_v6: "fe80::1080:127"

- name: dn42-jerryxiao
  peer_v4: null
  peer_v6: fe80::3618
  port: 23618
  remote: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    66373366613066383830343931396662313436666239363763623136613266373730656133353632
    3935326230393864653733616566616566653161333536340a653133313135633531636333613030
    34366331346366313366646437613063613564343032353464333065626236336535363830383635
    6566306136356630320a343035396562376135323030316435306233373466663064643334663265
    30326438393436366666646562623130326434623264346564326164323735643364
  wg_pubkey: ninIInCL8762jzxdMHI19MmlvYIcBFdkTTgfeUp0YCo=

- name: dn42-bbpgqm
  peer_v4: 172.20.56.2
  peer_v6: fe80::549:3441:0:1
  port: 20549
  remote: hkg.dn42.bb-pgqm.com:21080
  wg_pubkey: jtE83RMoN49bs8TOetxrGdzqywz2BI+uT1qJrGI7GVU=

- name: dn42-huajitech
  peer_v4: null
  peer_v6: fe80::458
  port: 20458
  remote: hk1.nodes.huajinet.org:21080
  wg_pubkey: WmKjRCtf9ZlIDkSuEOrjk5B7YdRZNGhhlbfz2waDAgQ=

- name: dn42-melty
  peer_v4: null
  peer_v6: fe80::3632
  port: 23632
  remote: achacha.link.melty.land:21080
  wg_pubkey: 7t0RGOTU6KTNMp+dz1jmnsZDccXp8EQ6p9J6ZbgJkQQ=

- name: dn42-sernet
  port: 23947
  remote: ipv4.hk1.sherpherd.top:21080
  wg_pubkey: c1ohwuTISEj1s9Tipo7P52EMffL6uZpCncz0/6WGzU8=
  peer_v4: null
  peer_v6: fe80::3947:1

- name: dn42-bandura
  peer_v4: null
  peer_v6: fe80::2925
  port: 22923
  remote: herzstein.mk16.de:51080
  wg_pubkey: 3uFwT9QD2WVL1cDuRNnj5sqWxyoAJjZO+f83grEPDV0=

- name: dn42-tomk
  port: 23478
  remote: null
  wg_pubkey: dn42/oEh8sJ6oWz9uesySQEu9FdV3A5ponZWbD4VsQA=
  peer_v4: null
  peer_v6: fe80::3478

- name: dn42-potat0
  port: 21816
  remote: hk1.dn42.potat0.cc:21080
  wg_pubkey: Tv1+HniELrS4Br2i7oQgwqBJFXQKculsW8r+UOqQXH0=
  peer_v4: null
  peer_v6: fe80::1816

- name: dn42-zezhiya
  port: 22744
  remote: 45.149.92.139:21080
  wg_pubkey: 2OQVoyasMCuZ4MbbG+OYMpSyYX9GRu5jl1Wcfl9nLwA=
  peer_v4: null
  peer_v6: fe80::2744:1

- name: dn42-jasonxu
  port: 23658
  remote: 123.254.109.25:21080
  wg_pubkey: DiFXOjt1vOsisPKx7ncUwLvvxfvWF4VLqNOGO6TQMAw=
  peer_v4: 172.20.193.162
  peer_v6: fd4e:d0:d38d::2

- name: cl-roam
  local_v4: 172.22.108.106/31
  local_v6: null
  port: 19999
  multi:
  - wg_pubkey: "krMnDawVDAurrJqWkePFp1vE2zwK2vQy6ie6tGLcnX0="
    wg_allowedips: "172.22.108.107/32"
  peer_v6: null

- name: dn42-yuchow
  port: 21260
  remote: 405218.xyz:60105
  wg_pubkey: 9zsuhOiSC8rKsdUNtX678wh3rTo4McJ9ueDqm1Ha8wI=
  peer_v4: 172.20.236.161
  peer_v6: fe80::9527

- name: dn42-cmcc
  port: 21686
  remote: null
  wg_pubkey: ocG/0wXtmuXA9OF5pMVolBIsFfE1K3JILX3MC3J5pGI=
  peer_v4: null
  peer_v6: fe80::1686

## peers moved from hkg.peer
- name: dn42-munsternet
  peer_v4: null
  peer_v6: fe80::42:2237
  port: 22237
  remote: sg-sin01.dn42.munsternet.eu:22237
  wg_pubkey: 09m8ilgZ/9jQvVgsGwu2ceR8u6gKAsd+VxH8AzduOHk=
  local_v4: 172.22.108.39
  local_v6: "fe80::1080:39"
  wg_privkey: "/etc/wireguard/privatekey_sgp"

- name: dn42-moecast
  port: 20604
  remote: "sgp1.dn42.cas7.moe:21080"
  wg_pubkey: "R8iyaSzF6xx/t4+1wKlYWZWyZOxJDCXlA2BE3OZnsAY="
  peer_v4: "172.23.89.1"
  peer_v6: "fe80::604"
  local_v4: 172.20.229.127
  local_v6: "fe80::1080:127"

- name: dn42-billchen
  port: 20803
  remote: hk.billchen.bid:21080
  wg_pubkey: jfJLocC6s+MUvxkrrJJ010kiVvmPJ23TYjdsarc4R28=
  peer_v4: 172.23.33.10
  peer_v6: fe80::803
  local_v4: 172.22.108.39
  local_v6: "fe80::1080:39"
  wg_privkey: "/etc/wireguard/privatekey_sgp"

- name: dn42-imlonghao
  port: 21888
  remote: sg1.dn42.ni.sb:21080
  wg_pubkey: vBcYFxMLwcsVScQ0LqkGDEIbbykskatmqWHlPGEUrE8=
  peer_v4: 172.22.68.0
  peer_v6: fe80::1888
  local_v4: 172.22.108.39
  local_v6: "fe80::1080:39"
  wg_privkey: "/etc/wireguard/privatekey_sgp"

- name: dn42-heartbleed
  port: 22297
  remote: ileg.al:22297
  wg_pubkey: vRJEopLztIpuuG568/bbPQKNrbypT3Tfg12PRTeBu2Y=
  peer_v4: null
  peer_v6: fe80::bd12:44a2:92f3:b48a
  local_v4: 169.254.13.2/30
  local_v6: "fe80::1080:39"
  wg_privkey: "/etc/wireguard/privatekey_sgp"

- name: dn42-cdubs
  port: 20566
  remote: dn18.sin.surgebytes.com:31080
  wg_pubkey: UCr50HzYCY57KvWCBHrXZLgUOKu8MYo1vEgqVXPzjls=
  peer_v4: null
  peer_v6: fe80::566:18
  local_v4: 172.22.108.39
  local_v6: "fe80::1080:39"
  wg_privkey: "/etc/wireguard/privatekey_sgp"
## end peers moved from hkg.peer

- name: dn42-sunnet
  port: 23088
  remote: hk1-hk.dn42.6700.cc:21080
  wg_pubkey: rBTH+JyZB0X/DkwHByrCjCojxBKr/kEOm1dTAFGHR1w=
  peer_v4: null
  peer_v6: fe80::3088:192
  local_v6: fe80::abcd

- name: dn42-iedon
  port: 22189
  remote: hk-hkg.dn42.kuu.moe:56989
  wg_pubkey: OlUDuWkUI9pKNsNo7Vjf/GKKVSBslh9kmqjbeYA4+34=
  peer_v4: null
  peer_v6: fe80::2189:120

- name: dn42-moechs
  port: 21522
  remote: hk01.zapto.org:23010
  wg_pubkey: hYLBVBQafFG7alJYztjQuAzMOqO2FlvTnWcsoJZf6EE=
  peer_v4: null
  peer_v6: fe80::1522
