wg_peers:
- name: dn42-tech9
  peer_v4: 172.20.16.142
  peer_v6: fe80::1588
  port: 21588
  remote: sg-sin01.dn42.tech9.io:58279
  wg_pubkey: 4qLIJ9zpc/Xgvy+uo90rGso75cSrT2F5tBEv+6aqDkY=
  local_v6: fe80::100
  bgp:
    asn: 4242421588
    extended_next_hop: false
    ipv4: true
    ipv6: true
    mp_bgp: false

- name: dn42-moecast
  port: 20604
  remote: "sgp1.dn42.cas7.moe:21080"
  wg_pubkey: "R8iyaSzF6xx/t4+1wKlYWZWyZOxJDCXlA2BE3OZnsAY="
  peer_v4: "172.23.89.1"
  peer_v6: "fe80::604"
  local_v4: 172.20.229.127
  local_v6: "fe80::1080:127"
  wg_privkey: /etc/wireguard/privatekey_hkg
  bgp:
    asn: 4242420604
    extended_next_hop: false
    ipv4: true
    ipv6: true
    mp_bgp: true
    export_mode: prepend

- name: dn42-imlonghao
  port: 21888
  remote: sg1.dn42.ni.sb:21080
  wg_pubkey: vBcYFxMLwcsVScQ0LqkGDEIbbykskatmqWHlPGEUrE8=
  peer_v4: 172.22.68.0
  peer_v6: fe80::1888
  bgp:
    asn: 4242421888
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-tatk
  port: 23152
  remote: rt0.sg.tatk.network:21080
  wg_pubkey: ulL02/8Z2brK85/y2u389mVkieM4cXQrX/t+4jaJZQ8=
  peer_v4: null
  peer_v6: fe80::3152:5
  bgp:
    asn: 4242423152
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-iedon
  port: 22189
  remote: sg-sin.dn42.iedon.net:33146
  wg_pubkey: XAmCHa9+dnC6uba+gFn5ucl7B69k8vmIAgJm3a8XlGQ=
  peer_v4: null
  peer_v6: fe80::2189:119
  bgp:
    asn: 4242422189
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-iuyang
  port: 23722
  remote: sg1.dn42.begalaxy.top:21080
  wg_pubkey: S8BzQtSgHy+YFnnBjE0bmBYDIvCve5Tv43Y2dcVVBm4=
  peer_v4: 10.127.204.49
  peer_v6: fe80::1836
  wg_mtu: 1280
  bgp:
    asn: 4201273722
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-sidereal
  port: 22016
  remote: sin1.dn42.sidereal.ca:21080
  wg_pubkey: V9+Lxlqn3scNI7hkULY3NsHbI/s1weObxLy0R2SLQjI=
  peer_v4: null
  peer_v6: fe80::2016
  bgp:
    asn: 4242422016
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-badaimweeb
  port: 23797
  remote: my-jhb1.rc.badaimweeb.me:5604
  wg_pubkey: bBHJySFUGSBiXbaSJnLVvZtSUm/fEQCgQqVxGCDx7ho=
  peer_v4: null
  peer_v6: fe80::3797
  bgp:
    asn: 4242423797
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-duststars
  port: 21771
  remote: sgp1.exploro.one:32609
  wg_pubkey: bYG9mG2WvvzO8P9GoSJTP/DmwjeWPlR9j2uH3avnJAU=
  peer_v4: null
  peer_v6: fe80::1771
  bgp:
    asn: 4242421771
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-moohr
  port: 22279
  remote: sg-sin1.bb.mhr.hk:21080
  wg_pubkey: Yu5PP+dKWqFCWSOqzEd2d3YGPZDOs7bgxQfZiNJjJH4=
  peer_v4: 172.23.77.202
  peer_v6: fe80::2279
  bgp:
    asn: 4242422279
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-stevie
  port: 20337
  remote: sin01.dn42.wwrr.ru:21080
  wg_pubkey: xw7nLtGf1hbCXIGJnlXR6KYiFahCZ5T0G7qxFXkNaCU=
  peer_v4: null
  peer_v6: fe80::337
  bgp:
    asn: 4242420337
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-darkpoint
  port: 20150
  remote: sin.darkpoint.xyz:21080
  wg_pubkey: LbAFxxPonoNUzWiaxa/ulNYfv0d729DG6qAmg2X5egc=
  peer_v4: null
  peer_v6: fe80::150
  bgp:
    asn: 4242420150
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-moraxyc
  port: 23011
  remote: sg1.dn42.moraxyc.com:21080
  wg_pubkey: L5i7mpfZ9egbsN8aKegYoCJ5x/FWTpHbiDRsC592LF8=
  peer_v4: null
  peer_v6: fe80::3011
  bgp:
    asn: 4242423011
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-boletus
  port: 20398
  remote: sin.dn42.boletus.icu:21080
  wg_pubkey: /e/4YHiRtemDguCdT1/5BtL1NAAQ2cayBfHcUBhg02s=
  peer_v4: null
  peer_v6: fe80::398
  bgp:
    asn: 4242420398
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-prefixlabs
  port: 21240
  remote: sg-01.prefixlabs.net:21080
  wg_pubkey: FzWgCU4/y4pyGibDF5UYS13LvDCQ3569uNZJRUEIXiI=
  peer_v4: 172.20.209.16
  peer_v6: fe80::1240:7
  bgp:
    asn: 4242421240
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-gray
  port: 23101
  remote: 47.84.117.221:21080
  wg_pubkey: P/OvJv/XcCkOaA7/+UEx2Q2SsxmO/BvbsTTwZcUuXTo=
  peer_v4: null
  peer_v6: fe80::3101:2
  bgp:
    asn: 4242423101
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true
