wg_peers:
- name: dn42-tech9
  peer_v4: 172.20.16.142
  peer_v6: fe80::1588
  port: 21588
  remote: sg-sin01.dn42.tech9.io:58279
  wg_pubkey: 4qLIJ9zpc/Xgvy+uo90rGso75cSrT2F5tBEv+6aqDkY=
  local_v6: fe80::100

- name: dn42-munsternet
  peer_v4: null
  peer_v6: fe80::42:2237
  port: 22237
  remote: sg-sin01.dn42.munsternet.eu:22237
  wg_pubkey: 09m8ilgZ/9jQvVgsGwu2ceR8u6gKAsd+VxH8AzduOHk=

- name: dn42-bandura
  peer_v4: null
  peer_v6: fe80::2925
  port: 22923
  remote: herzstein.mk16.de:51081
  wg_pubkey: P8B82eF//tcLwRfyyNg/5pAUz8HY1wWcBwJnbhlorxY=

- name: dn42-yukino
  port: 21255
  remote: dn42-sg-sin4.acgcl.net:31080
  wg_pubkey: dJ7poThkXSLU1BTG9ghTVHlDaKT0Snz3YmzfRdPLKQU=
  peer_v4: null
  peer_v6: fe80::1020

## imported from hk01
- name: dn42-moecast
  port: 20604
  remote: "sgp1.dn42.cas7.moe:21080"
  wg_pubkey: "R8iyaSzF6xx/t4+1wKlYWZWyZOxJDCXlA2BE3OZnsAY="
  peer_v4: "172.23.89.1"
  peer_v6: "fe80::604"
  local_v4: 172.20.229.127
  local_v6: "fe80::1080:127"
  wg_privkey: "/etc/wireguard/privatekey_sg01"

- name: dn42hkg-kioubit
  port: 23914  # not used
  remote: "hk1.g-load.eu:21080"
  wg_pubkey: "sLbzTRr2gfLFb24NPzDOpy8j09Y6zI+a7NkeVMdVSR8="
  peer_v4: "172.20.53.105"
  peer_v6: "fe80::ade0"
  local_v4: 172.20.229.127
  local_v6: "fe80::ade1"
  wg_privkey: "/etc/wireguard/privatekey_sg01"

- name: dn42hkg-mayli
  port: 51123
  remote: "hkg.ccp.ovh:21080"
  wg_pubkey: "bLysMVqew2hlvJVS17hp+qaURzZuLERLgfSbvK/mgUU="
  peer_v4: "172.20.47.3"
  peer_v6: "fe80::1123"
  local_v4: 172.20.229.127
  local_v6: "fe80::1080:127"
  wg_privkey: "/etc/wireguard/privatekey_sg01"

- name: dn42-molmoe
  peer_v4: 172.23.7.65
  peer_v6: fe80::603
  port: 20603
  remote: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    32616566373062333661313264333466313437383231316531353632393765353138383461613461
    6538363332333966656262316535666332656261636434330a313930373365663863363831326562
    62346637383438396335373462666465313138373238623566646436356364616133346536393666
    3337326436666261640a393239303037643431353966633039393436646264653564623539356666
    35353536386133396637353637623065663730396166616563643863663635656265
  wg_pubkey: wNNbJyoFBrlpq53p61Ur8V2RNfS3U7KADlK7he64qRk=
  local_v4: 172.22.108.38
  local_v6: "fe80::1080:38"
  wg_privkey: "/etc/wireguard/privatekey_sg01"

- name: dn42-bling
  remove: true

- name: dn42-jerryxiao
  peer_v4: null
  peer_v6: fe80::3618
  port: 23618
  remote: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    66373366613066383830343931396662313436666239363763623136613266373730656133353632
    3935326230393864653733616566616566653161333536340a653133313135633531636333613030
    34366331346366313366646437613063613564343032353464333065626236336535363830383635
    6566306136356630320a343035396562376135323030316435306233373466663064643334663265
    30326438393436366666646562623130326434623264346564326164323735643364
  wg_pubkey: ninIInCL8762jzxdMHI19MmlvYIcBFdkTTgfeUp0YCo=
  local_v4: 172.22.108.38
  local_v6: "fe80::1080:38"
  wg_privkey: "/etc/wireguard/privatekey_sg01"

- name: dn42-hujk
  peer_v4: null
  peer_v6: fe80::2717
  port: 22717
  remote: hk.vm.whojk.com:23902
  wg_pubkey: lEB6wKQMqVYbLalwPHHSxL4YhGXOV/w3oG6wQaLB10s=
  local_v4: 172.22.108.38
  local_v6: "fe80::1080:38"
  wg_privkey: "/etc/wireguard/privatekey_sg01"

- name: dn42-huajitech
  peer_v4: null
  peer_v6: fe80::458
  port: 20458
  remote: cn-intl1.dn42.huajitech.net:21080
  wg_pubkey: WmKjRCtf9ZlIDkSuEOrjk5B7YdRZNGhhlbfz2waDAgQ=
  local_v4: 172.22.108.38
  local_v6: "fe80::1080:38"
  wg_privkey: "/etc/wireguard/privatekey_sg01"

- name: dn42-melty
  peer_v4: null
  peer_v6: fe80::3632
  port: 23632
  remote: achacha.link.melty.land:21080
  wg_pubkey: 7t0RGOTU6KTNMp+dz1jmnsZDccXp8EQ6p9J6ZbgJkQQ=
  local_v4: 172.22.108.38
  local_v6: "fe80::1080:38"
  wg_privkey: "/etc/wireguard/privatekey_sg01"

- name: dn42-tms
  peer_v4: 172.23.31.1
  peer_v6: fe80::0831
  port: 20831
  remote: hk.dn42.tms.im:21080
  wg_pubkey: KlZg3oOjQsaQ0dNkUgHCKyOqULw8+u+llo97X1w5mV4=
  local_v4: 172.22.108.38
  local_v6: "fe80::1080:38"
  wg_privkey: "/etc/wireguard/privatekey_sg01"

- name: dn42-bbpgqm
  peer_v4: 172.20.56.2
  peer_v6: fe80::549:3441:0:1
  port: 20549
  remote: hkg.dn42.bb-pgqm.com:21080
  wg_pubkey: jtE83RMoN49bs8TOetxrGdzqywz2BI+uT1qJrGI7GVU=
  local_v4: 172.22.108.38
  local_v6: "fe80::1080:38"
  wg_privkey: "/etc/wireguard/privatekey_sg01"

- name: dn42-pigeonhole
  peer_v4: 172.22.145.18
  peer_v6: fe80::2458
  port: 22458
  remote: cn-hkg-a.nodes.pigeonhole.eu.org:21080
  wg_pubkey: 9O4ABGmh+EXPnOynhW60aByE3qorcV7UsAC9n55g6CQ=
  local_v4: 172.22.108.38
  local_v6: "fe80::1080:38"
  wg_privkey: "/etc/wireguard/privatekey_sg01"

## end imported from hk01

- name: dn42-kskb
  port: 21817
  remote: 4.sg.kskb.eu.org:21080
  wg_pubkey: F6h8b3MOOf2A7qaUipDW5LFRZESjcJ4GL1w3kNF6pgQ=
  peer_v4: 172.22.77.47
  peer_v6: fe80::1817

- name: dn42-billchen
  port: 20803
  remote: hk.billchen.bid:21080
  wg_pubkey: jfJLocC6s+MUvxkrrJJ010kiVvmPJ23TYjdsarc4R28=
  peer_v4: 172.23.33.10
  peer_v6: fe80::803

- name: dn42-sunnet
  port: 23088
  remote: sin1-sg.dn42.6700.cc:21080
  wg_pubkey: rLuqS2ZQRk5ape3rHtBTXGbRbUP7lNYpufk3tt1P4z0=
  peer_v4: 172.21.100.198
  peer_v6: fe80::3088:198
  local_v6: fe80::abcd

- name: dn42-eki
  port: 22837
  remote: sin1.eki.moe:21080
  wg_pubkey: T9dt+S+irrbh2rmm+kduMmNg1ogUyYtlVmtnSCFTj0g=
  peer_v4: 172.23.181.3
  peer_v6: fe80::2837
