wg_peers:
- name: dn42-tech9
  peer_v4: 172.20.16.142
  peer_v6: fe80::1588
  port: 21588
  remote: sg-sin01.dn42.tech9.io:58279
  wg_pubkey: 4qLIJ9zpc/Xgvy+uo90rGso75cSrT2F5tBEv+6aqDkY=
  local_v6: fe80::100
  bgp:
    asn: 4242421588
    extended_next_hop: false
    ipv4: true
    ipv6: true
    mp_bgp: false
    export_mode: prepend

- name: dn42-moecast
  port: 20604
  remote: "sgp1.dn42.cas7.moe:21080"
  wg_pubkey: "R8iyaSzF6xx/t4+1wKlYWZWyZOxJDCXlA2BE3OZnsAY="
  peer_v4: "172.23.89.1"
  peer_v6: "fe80::604"
  local_v4: 172.20.229.127
  local_v6: "fe80::1080:127"
  wg_privkey: /etc/wireguard/privatekey_hkg
  bgp:
    asn: 4242420604
    extended_next_hop: false
    ipv4: true
    ipv6: true
    mp_bgp: true
    export_mode: prepend

- name: dn42-imlonghao
  port: 21888
  remote: sg1.dn42.ni.sb:21080
  wg_pubkey: vBcYFxMLwcsVScQ0LqkGDEIbbykskatmqWHlPGEUrE8=
  peer_v4: 172.22.68.0
  peer_v6: fe80::1888
  bgp:
    asn: 4242421888
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-tatk
  port: 23152
  remote: rt0.sg.tatk.network:21080
  wg_pubkey: ulL02/8Z2brK85/y2u389mVkieM4cXQrX/t+4jaJZQ8=
  peer_v4: null
  peer_v6: fe80::3152:5
  bgp:
    asn: 4242423152
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-iedon
  port: 22189
  remote: sg-sin.dn42.iedon.net:33146
  wg_pubkey: XAmCHa9+dnC6uba+gFn5ucl7B69k8vmIAgJm3a8XlGQ=
  peer_v4: null
  peer_v6: fe80::2189:119
  bgp:
    asn: 4242422189
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-iuyang
  port: 23722
  remote: sg1.dn42.begalaxy.top:21080
  wg_pubkey: S8BzQtSgHy+YFnnBjE0bmBYDIvCve5Tv43Y2dcVVBm4=
  peer_v4: 10.127.204.49
  peer_v6: fe80::1836
  bgp:
    asn: 4201273722
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true
