wg_peers:
- name: igp-yvrlab
  port: 19999
  wg_pubkey: "ifeyKlRSNAIcyzRSUKzedU+t4bQhb1Hld3XzDCq/Yig="
  peer_v4: null
  local_v4: 169.254.108.72/31
  peer_v6: fe80::89f7:b22a:5452:3402

- name: dn42-sunnet
  port: 23088
  remote: "sjc1-us.dn42.6700.cc:21080"
  wg_pubkey: "G/ggwlVSy5jKWFlJM01hxcWnL8VDXsD5EXZ/S47SmhM="
  peer_v4: "172.21.100.191"
  peer_v6: "fe80::3088:191"
  bgp:
    asn: 4242423088
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-jerry
  port: 23618
  remote: "us.neo.jerryxiao.cc:50114"
  wg_pubkey: "z/cbjONQ4kx+KTUuIpqxqpVQasKD5UC6NeAyMrlNHHM="
  peer_v4: null
  peer_v6: "fe80::3618/64"
  bgp:
    asn: 4242423618
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-kskb  # autopeer ID 21080
  port: 21111
  remote: null
  wg_pubkey: "ffcWCDuBP3YdufFzOaiW2QeZLFG/GXg4QfbWTZ6LVz8="
  peer_v4: "10.127.111.33"
  peer_v6: "fe80::aa:1111:21"
  bgp:
    asn: 4201271111
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-iedon
  peer_v4: null
  peer_v6: fe80::2189:e8
  port: 22189
  remote: us-sfo.dn42.kuu.moe:46697
  wg_pubkey: Sz0UhewjDk2yRKI0QL9rB+5daWpXFVlbbz9cLfVVLn4=
  bgp:
    asn: 4242422189
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-atolm
  peer_v4: null
  peer_v6: fe80::585
  port: 20585
  remote: us1.dn42.atolm.net:21080
  wg_pubkey: 5Do/VpCFXnV5XCzRUNgIundNcPK+AUY/R1VN+4XPZlE=
  bgp:
    asn: 4242420585
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-kskb1817
  peer_v4: null
  peer_v6: fe80::1817
  port: 21817
  remote: us.kskb.eu.org:21080
  wg_pubkey: dZzVdXbQPnWPpHk8QfW/p+MfGzAkMBuWpxEIXzQCggY=
  bgp:
    asn: 4242421817
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-routedbits
  port: 20207
  remote: router.fnc1.routedbits.com:51080
  wg_pubkey: yZvBa83e7ywrZearK1nuAL37gVY1vbVBWbRdIj7HVEo=
  peer_v4: null
  peer_v6: fe80::207
  bgp:
    asn: 4242420207
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-gshapiro
  port: 22446
  remote: null
  wg_pubkey: UKNt4zqqUR4hYVlst5sGYMi/pQDETUn6/fFG94mmU0w=
  peer_v4: null
  peer_v6: fe80::4753:5506:1
  bgp:
    asn: 4242422446
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-dnsense
  port: 23117
  remote: 6.dnsense.pub:21080
  wg_pubkey: UVm6W75mp6R8yw+C9yICPW8F5j7tUzerh2Ecmqgt0B4=
  peer_v4: null
  peer_v6: fe80::3117:1080
  bgp:
    asn: 4242423117
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-kemono
  port: 20358
  remote: 45.32.129.207:21080
  wg_pubkey: 7HzHyeA2M7yo/zVmc+e0zG+I7j2SnIx+7ZpXOca93mg=
  peer_v4: null
  peer_v6: fe80::358
  bgp:
    asn: 4242420358
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-arcenotas
  port: 20625
  remote: arcenotas.com:21080
  wg_pubkey: 8l+9N8cEygZTv/yhqb4giA230o2/DGn2P6wytYVHrHw=
  peer_v4: null
  peer_v6: fe80::625
  bgp:
    asn: 4242420625
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-cdubs
  port: 20566
  remote: dn02.sjc.surgebytes.com:31080
  wg_pubkey: sbWdgs9DcI7EMQcOZEi7HcRDoRaNPBWveyVOrFyrNUk=
  peer_v4: null
  peer_v6: fe80::566:2
  bgp:
    asn: 4242420566
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-tech9
  port: 21588
  remote: us-phx03.dn42.tech9.io:55968
  wg_pubkey: bRkI8aGjwwgm1I6WeqsfL6jrxu72ifs3xSaTLCY22mw=
  peer_v4: 172.23.220.178
  peer_v6: fe80::1588
  local_v4: 172.20.229.122
  local_v6: fe80::100
  wg_privkey: /etc/wireguard/privatekey_lax
  bgp:
    asn: 4242421588
    extended_next_hop: false
    ipv4: true
    ipv6: true
    mp_bgp: false

- name: dn42-kioubit
  port: 23914
  remote: "us3.g-load.eu:21080"
  wg_pubkey: "sLbzTRr2gfLFb24NPzDOpy8j09Y6zI+a7NkeVMdVSR8="
  peer_v4: "172.20.53.103"
  peer_v6: "fe80::ade0"
  local_v4: 172.20.229.122
  local_v6: "fe80::ade1"
  wg_privkey: /etc/wireguard/privatekey_lax
  bgp:
    asn: 4242423914
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-nicholascw
  port: 51288
  remote: "lax2.sc00.org:21080"
  wg_pubkey: "PGTK1pzAYtSGoaPYfpEBCwm3S3gYAra3WkSMtshFfW8="
  peer_v4: "172.20.233.131"
  peer_v6: "fe80::1288/64"
  local_v4: 172.20.229.122
  local_v6: "fe80::122"
  wg_privkey: /etc/wireguard/privatekey_lax
  bgp:
    asn: 4242421288
    extended_next_hop: false
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-hujk
  peer_v4: null
  peer_v6: fe80::104:50:2030:18
  port: 22717
  remote: usw.vm.whojk.com:23005
  wg_pubkey: L4+efr10ZM0J80nDeO5mHw25nq9LC5UBrYtP8T1I9n4=
  local_v6: "fe80::122"
  wg_privkey: /etc/wireguard/privatekey_lax
  bgp:
    asn: 4242422717
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-lantian
  peer_v4: 172.22.76.185
  peer_v6: fe80::2547
  port: 22547
  remote: hostdare.lantian.pub:21080
  wg_pubkey: zyATu8FW392WFFNAz7ZH6+4TUutEYEooPPirwcoIiXo=
  local_v4: 172.20.229.122
  local_v6: "fe80::122"
  wg_privkey: /etc/wireguard/privatekey_lax
  bgp:
    asn: 4242422547
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-naivetomca
  port: 23309
  remote: "lax.tsinghuamakerxian.cn:21080"
  wg_pubkey: "C9QViSndf1zga5nOoSoXXMLUWBJvEFiJDWSFCbU1Ynw="
  peer_v4: "172.23.163.161"
  peer_v6: "fe80::3309"
  local_v4: 172.20.229.122
  local_v6: "fe80::122"
  wg_privkey: /etc/wireguard/privatekey_lax
  bgp:
    asn: 4242423309
    extended_next_hop: false
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-burble
  port: 22601
  remote: dn42-us-lax1.burble.com:21080
  wg_pubkey: fCINJ4w+o946FUSBUJoqso12SOKWMJYxJjTQw7HD/lQ=
  peer_v4: null
  peer_v6: fe80::42:2601:2a:1
  bgp:
    asn: 4242422601
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-rubick
  port: 23451
  remote: v4-la.zub.pub:21080
  wg_pubkey: 3RiYYcOW4AJeO5RRMezDHjDCOGKjUz/1lmdpVHcdSkc=
  peer_v4: null
  peer_v6: fe80::3451
  local_v6: "fe80::122"
  wg_privkey: /etc/wireguard/privatekey_lax
  bgp:
    asn: 4242423451
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-sidereal
  port: 22016
  remote: phx1.dn42.sidereal.ca:21080
  wg_pubkey: 3hy0FIf64sxSVLY6/CwhtMfCmQEkG5hsyKxM/Dttvz0=
  peer_v4: null
  peer_v6: fe80::2016
  local_v6: "fe80::122"
  wg_privkey: /etc/wireguard/privatekey_lax
  bgp:
    asn: 4242422016
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-miaotony
  port: 52688
  remote: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    65353164386130616635343036353964333039616562643134323033386531303863366162653430
    6162366561623639366638343332633834663831303664300a346331663463336634623239646534
    37316630396236313463376665653262663439396238363261343432346438353938373039356266
    3161636463343238610a643039313766656431363834356533316135326334353234356237373662
    37646332636334643139663361633766363861636138373139373135343830343863
  wg_pubkey: "vfrrbtKAO5438daHrTD0SSS8V6yk78S/XW7DeFrYLXA="
  peer_v4: "172.23.6.6"
  peer_v6: "fe80::2688/64"
  local_v4: 172.20.229.126
  local_v6: fe80::1080:126
  wg_privkey: /etc/wireguard/privatekey_las
  bgp:
    asn: 4242422688
    extended_next_hop: false
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-imlonghao
  port: 21888
  remote: us2.dn42.ni.sb:21080
  wg_pubkey: lAs/L2XLEZALnTOJ6ZhHaKgYY+rzqRgPnmlC4v/SfQw=
  peer_v4: 172.22.68.0
  peer_v6: fe80::1888
  local_v4: 172.20.229.126
  local_v6: fe80::1080:126
  wg_privkey: /etc/wireguard/privatekey_las
  bgp:
    asn: 4242421888
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-potat0
  peer_v4: null
  peer_v6: fe80::1816
  port: 21816
  remote: las.node.potat0.cc:21080
  wg_pubkey: LUwqKS6QrCPv510Pwt1eAIiHACYDsbMjrkrbGTJfviU=
  local_v6: fe80::1080:126
  wg_privkey: /etc/wireguard/privatekey_las
  bgp:
    asn: 4242421816
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-boletus
  port: 20398
  remote: lax.dn42.boletus.icu:21080
  wg_pubkey: oAPy0U2qVuSR8PyPLmVLEgWLBKrOq4kcLNLAOVZL10M=
  peer_v4: null
  peer_v6: fe80::398
  bgp:
    asn: 4242420398
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-scoopta
  port: 21197
  remote: yui.uwu.academy:11080
  wg_pubkey: vKYOjO3D/liyslRdvKHEwfUnAzMR19OM5gku7eKrJDc=
  peer_v4: null
  peer_v6: fe80::1197
  bgp:
    asn: 4242421197
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-joenet
  port: 20157
  remote: sjc01.ke8jwh.com:31080
  wg_pubkey: sl9vN6wmKuB3aGjBYx2ukjABc66EAn0p5VJsg0XjjjM=
  peer_v4: null
  peer_v6: fe80::157:233
  bgp:
    asn: 4242420157
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-sdubs
  port: 20202
  remote: dn10.lax.us.sdubs.vip:21080
  wg_pubkey: 7Iif3zxkWZXdBr4jTvTftpZ7B16LyHb4ivPnKMuhoC4=
  peer_v4: null
  peer_v6: fe80::202:10
  bgp:
    asn: 4242420202
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-404net
  port: 21716
  remote: sjc.us.dn42.nngnn.com:21080
  wg_pubkey: 9wjlepdAM+yr/G3VoI2bc6ogDUiPcE4UsUzadJn0jnA=
  peer_v4: null
  peer_v6: fe80::1716:1080
  bgp:
    asn: 4242421716
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-furry
  port: 20088
  remote: 150.241.207.40:21080
  wg_pubkey: YjnCVWBsTBoslPqJ88ao+bzHsDFj2BezVW5qrvcLtiE=
  peer_v4: null
  peer_v6: fe80::88:2
  bgp:
    asn: 4242420088
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-lezi
  port: 23377
  remote: v6.los1-us.peer.dn42.leziblog.com:21080
  wg_pubkey: Xzt9UrH2moj84QSH0jsw8Zj+jwXwdBLpApe4hHyfnAw=
  peer_v4: null
  peer_v6: fe80::3377
  bgp:
    asn: 4242423377
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-luoyu
  port: 21999
  remote: 107.172.87.100:21080
  wg_pubkey: Eu3QrI2o1LTR3g8lXDYAm1q5Loy7XjfCrpVrg6ol5Ac=
  peer_v4: 172.23.11.40
  peer_v6: fe80::1999:1
  bgp:
    asn: 4242421999
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-prefixlabs
  port: 21240
  remote: us-03.prefixlabs.net:21080
  wg_pubkey: oNabDMpFKum4CRbvPcwVE0Y4QsAfH0Sh439dfQYhnkQ=
  peer_v4: 172.20.209.13
  peer_v6: fe80::1240:4
  bgp:
    asn: 4242421240
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-ferrets
  port: 23077
  remote: us-1.dn42.ferrets.space:21080
  wg_pubkey: 2SyET8eMECoQXCH+pRGASj4moNwlexrbXFzPDmex3SI=
  peer_v4: 172.23.183.129
  peer_v6: fd48:fa31:502b:10::2
  bgp:
    asn: 4242423077
    ipv4: true
    ipv6: true
    mp_bgp: false
    extended_next_hop: false

- name: dn42-cowgl
  port: 23999
  remote: lax.node.cowgl.xyz:31080
  wg_pubkey: jhOukGNAKHI8Ivn8uI1TS25n5ho/rVlKFfenGmwCVlg=
  peer_v4: 172.22.144.66
  peer_v6: "fd36:62be:ef51:2::1"
  bgp:
    asn: 4242423999
    extended_next_hop: false
    ipv4: true
    ipv6: true
    mp_bgp: false

- name: dn42-moe233
  port: 20253
  remote: lv.dn42.moe233.net:21080
  wg_pubkey: C3SneO68SmagisYQ3wi5tYI2R9g5xedKkB56Y7rtPUo=
  peer_v4: 172.23.69.161
  peer_v6: fe80::253
  bgp:
    asn: 4242420253
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-hexpnetwor
  port: 20298
  remote: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    30633566616265363935613736333130626436663662306635623161643162613734303664393434
    6163306433626638376336323530393032643033346163350a666531626536643034643731353166
    61623130643564663637353636373434313934643962346166636538333961646234336537383265
    3863616339643965390a313536633635316361343464386633636231376261323466333961373935
    63636562313332343562376135363764393465396635353838663236386637356635
  wg_pubkey: 2yRVHy73plJlba/q5KntS8LZBtrnxQTk+s//aEV2izU=
  wg_presharedkey: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    30613935366464373263343834393537333135323561646538306237373962323064646361386361
    6366353337316137363732623839666163306331393233350a396639386535373039306536323832
    64616664383763313366343135656562366130363561656265393431643565623530376333356362
    3931303437363939630a623036366232383538383932363962316337633037366663343366316563
    31353835323261366238636639313135663465363165376162303064386338646234306632303439
    3562623964653533663330343838646166346633346631393233
  peer_v4: null
  peer_v6: fe80::298
  bgp:
    asn: 4242420298
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-zdong
  port: 22354
  remote: ca1-us.zdong.me:21080
  wg_pubkey: eS2wQg1aeI+UbrrldBplz8ZDbHqeQZ90xcMnmxbX8zo=
  peer_v4: 172.23.132.133
  peer_v6: fe80::2354
  bgp:
    asn: 4242422354
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-cmcc
  port: 21686
  remote: null
  wg_pubkey: uRVLS99SwR9LMDLjFq88NkontAyyGIQ6TWQe8fR5Piw=
  peer_v4: null
  peer_v6: fe80::1686
  bgp:
    asn: 4242421686
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-tatk
  port: 23152
  remote: rt1.us.tatk.network:21080
  wg_pubkey: 8EjYngEiwoUaIMjHlOTysiy2SZsQzBxEy7epNK3zMGk=
  peer_v4: null
  peer_v6: fe80::3152:6
  bgp:
    asn: 4242423152
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-maoyue
  port: 23942
  remote: 192.161.163.236:21080
  wg_pubkey: vUtdpRO5g/sTLW005E8nZAMoYEkoJk9qU+aHIK2iYTM=
  peer_v4: 172.21.66.66
  peer_v6: fe80::3942
  bgp:
    asn: 4242423942
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: false

- name: dn42-factor2431
  port: 21534
  remote: us-lax.factor2431.com:21080
  wg_pubkey: 2ULgc/w+4jx5CKqpTeT1FoZhL3DrlELrI8Nvl/Hq7To=
  peer_v4: null
  peer_v6: fe80::1534
  bgp:
    asn: 4242421534
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-moohr
  port: 22279
  remote: us-sjc1.bb.mhr.hk:21080
  wg_pubkey: WCVsWHNq+VeafZ7agkfkafZIoC/8oHF46D07PkOVljA=
  peer_v4: 172.23.77.206
  peer_v6: fe80::2279
  bgp:
    asn: 4242422279
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-choco
  port: 23845
  remote: v4.sjc1.us.dn42.aerodefense.co.uk:21080
  wg_pubkey: ko9F1tF1dyIFwUs7IdnSengK3P0PO1FXG/6iEUYOY0A=
  peer_v4: null
  peer_v6: fe80::114
  bgp:
    asn: 4242423845
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-stevie
  port: 20337
  remote: lax01.dn42.wwrr.ru:21080
  wg_pubkey: QK813SDMiaIhfBw9VOkpTCgQSLdUNFDmSphymv5c7To=
  peer_v4: null
  peer_v6: fe80::337
  bgp:
    asn: 4242420337
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-iris
  port: 21023
  remote: lax-01.node.svc.moe:21080
  wg_pubkey: nwMyp5pohAUDaaT2oVQQZiE/EI31DnnxVqAcKIWSuiM=
  peer_v4: null
  peer_v6: fe80::1023:2
  bgp:
    asn: 4242421023
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-fxnet
  port: 20014
  remote: lax.dn42.fxnet.top:21080
  wg_pubkey: OP2tNInmeirCM5AqP+eYsYcCu48dqFSMxReMYwHHJzo=
  peer_v4: null
  peer_v6: fe80::0014:5
  bgp:
    asn: 4242420014
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-moraxyc
  port: 23011
  remote: us-lax3.dn42.moraxyc.com:21080
  wg_pubkey: eB+NSqo26tqITGZhMdVkJ0aZ+ZANELjzstdF1MfzRRw=
  peer_v4: null
  peer_v6: fe80::3011
  bgp:
    asn: 4242423011
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-yuyuko
  port: 21117
  remote: us01.dn42.yuyuko.com:21080
  wg_pubkey: PW/+rv0B8e4tUJ9j1TWscx1sl36WwhPh9adEqoM7Jic=
  peer_v4: null
  peer_v6: fe80::1117
  bgp:
    asn: 4242421117
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-bingxin
  port: 23374
  remote: us01.dn42.baka.pub:21080
  wg_pubkey: p8ADoxb0sVm1ZBp9Fkom6IaP04dm1DLrpHQLfI9HpGY=
  peer_v4: null
  peer_v6: fe80::2999:229
  bgp:
    asn: 4242423374
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true
