wg_peers:
- name: igp-yvrlab
  port: 19999
  wg_pubkey: "ifeyKlRSNAIcyzRSUKzedU+t4bQhb1Hld3XzDCq/Yig="
  peer_v4: null
  local_v4: 169.254.108.72/31
  peer_v6: fe80::89f7:b22a:5452:3402

- name: dn42sjc-sunnet
  port: 23088
  remote: "sjc1-us.dn42.6700.cc:21080"
  wg_pubkey: "G/ggwlVSy5jKWFlJM01hxcWnL8VDXsD5EXZ/S47SmhM="
  peer_v4: "172.21.100.191"
  peer_v6: "fe80::3088:191"
  bgp:
    asn: 4242423088
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42sjc-jerry
  port: 23618
  remote: "us.neo.jerryxiao.cc:50114"
  wg_pubkey: "z/cbjONQ4kx+KTUuIpqxqpVQasKD5UC6NeAyMrlNHHM="
  peer_v4: null
  peer_v6: "fe80::3618/64"
  bgp:
    asn: 4242423618
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42sjc-kskb # autopeer ID 21080
  port: 21111
  remote: null
  wg_pubkey: "ffcWCDuBP3YdufFzOaiW2QeZLFG/GXg4QfbWTZ6LVz8="
  peer_v4: "10.127.111.33"
  peer_v6: "fe80::aa:1111:21"
  bgp:
    asn: 4201271111
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-moe233
  peer_v4: null
  peer_v6: fe80::253
  port: 20253
  remote: sfo1.dn42.moe233.net:21080
  wg_pubkey: C3SneO68SmagisYQ3wi5tYI2R9g5xedKkB56Y7rtPUo=
  bgp:
    asn: 4242420253
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-iedon
  peer_v4: 172.23.91.117
  peer_v6: fe80::2189:e8
  port: 22189
  remote: us-sfo.dn42.kuu.moe:46697
  wg_pubkey: Sz0UhewjDk2yRKI0QL9rB+5daWpXFVlbbz9cLfVVLn4=
  bgp:
    asn: 4242422189
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-atolm
  peer_v4: null
  peer_v6: fe80::585
  port: 20585
  remote: us1.dn42.atolm.net:21080
  wg_pubkey: 5Do/VpCFXnV5XCzRUNgIundNcPK+AUY/R1VN+4XPZlE=
  bgp:
    asn: 4242420585
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-kskb1817
  peer_v4: null
  peer_v6: fe80::1817
  port: 21817
  remote: us.kskb.eu.org:21080
  wg_pubkey: dZzVdXbQPnWPpHk8QfW/p+MfGzAkMBuWpxEIXzQCggY=
  bgp:
    asn: 4242421817
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

# Automatically removed on 2025-02-16 (down for >= 40 days)
- name: dn42-huajitech
  remove: true

# Automatically removed on 2025-02-16 (down for >= 40 days)
- name: dn42-sernet
  remove: true

- name: dn42-routedbits
  port: 20207
  remote: router.fnc1.routedbits.com:51080
  wg_pubkey: yZvBa83e7ywrZearK1nuAL37gVY1vbVBWbRdIj7HVEo=
  peer_v4: null
  peer_v6: fe80::207
  bgp:
    asn: 4242420207
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-gshapiro
  port: 22446
  remote: null
  wg_pubkey: UKNt4zqqUR4hYVlst5sGYMi/pQDETUn6/fFG94mmU0w=
  local_v4: 169.254.42.9/30
  peer_v6: fe80::2e2:69ff:fe51:12f7
  bgp:
    asn: 4242422446
    extended_next_hop: false
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-moraxyc
  port: 23011
  remote: us-sj1.dn42.moraxyc.com:21080
  wg_pubkey: eFZBQnpapXIAqkLq3s4x47M1ZE1b9cceqV1HiTbYlQI=
  peer_v4: null
  peer_v6: fe80::3011:12
  bgp:
    asn: 4242423011
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-dnsense
  port: 23117
  remote: 6.dnsense.pub:21080
  wg_pubkey: UVm6W75mp6R8yw+C9yICPW8F5j7tUzerh2Ecmqgt0B4=
  peer_v4: null
  peer_v6: fe80::3117:1080
  bgp:
    asn: 4242423117
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-kemono
  port: 20358
  remote: 45.32.129.207:21080
  wg_pubkey: 7HzHyeA2M7yo/zVmc+e0zG+I7j2SnIx+7ZpXOca93mg=
  peer_v4: null
  peer_v6: fe80::358
  bgp:
    asn: 4242420358
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-arcenotas
  port: 20625
  remote: arcenotas.com:21080
  wg_pubkey: 8l+9N8cEygZTv/yhqb4giA230o2/DGn2P6wytYVHrHw=
  peer_v4: null
  peer_v6: fe80::625
  bgp:
    asn: 4242420625
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-cdubs
  port: 20566
  remote: dn02.sjc.surgebytes.com:31080
  wg_pubkey: sbWdgs9DcI7EMQcOZEi7HcRDoRaNPBWveyVOrFyrNUk=
  peer_v4: null
  peer_v6: fe80::566:2
  bgp:
    asn: 4242420566
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-9pfs
  port: 22002
  remote: null
  wg_pubkey: oYVbaUTF3+6hiaQQsUqvwdzUD+USsXnwdaDDgxuGF0E=
  peer_v4: null
  peer_v6: fe80::2002:4
  bgp:
    asn: 4242422002
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

### peers moved from lax.peer
- name: dn42-kioubit
  port: 53914
  remote: "us3.g-load.eu:21080"
  wg_pubkey: "sLbzTRr2gfLFb24NPzDOpy8j09Y6zI+a7NkeVMdVSR8="
  peer_v4: "172.20.53.103"
  peer_v6: "fe80::ade0"
  local_v4: 172.20.229.122
  local_v6: "fe80::ade1"
  wg_privkey: /etc/wireguard/privatekey_lax
  bgp:
    asn: 4242423914
    extended_next_hop: false
    ipv4: true
    ipv6: true
    mp_bgp: false

# Automatically removed on 2025-02-16 (down for >= 40 days)
- name: dn42-zhaofeng
  remove: true

- name: dn42-nicholascw
  port: 51288
  remote: "lax2.sc00.org:21080"
  wg_pubkey: "PGTK1pzAYtSGoaPYfpEBCwm3S3gYAra3WkSMtshFfW8="
  peer_v4: "172.20.233.131"
  peer_v6: "fe80::1288/64"
  local_v4: 172.20.229.122
  local_v6: "fe80::122"
  wg_privkey: /etc/wireguard/privatekey_lax
  bgp:
    asn: 4242421288
    extended_next_hop: false
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-hujk
  peer_v4: null
  peer_v6: fe80::104:50:2030:18
  port: 22717
  remote: usw.vm.whojk.com:23005
  wg_pubkey: L4+efr10ZM0J80nDeO5mHw25nq9LC5UBrYtP8T1I9n4=
  local_v6: "fe80::122"
  wg_privkey: /etc/wireguard/privatekey_lax
  bgp:
    asn: 4242422717
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-lantian
  peer_v4: 172.22.76.185
  peer_v6: fe80::2547
  port: 22547
  remote: hostdare.lantian.pub:21080
  wg_pubkey: zyATu8FW392WFFNAz7ZH6+4TUutEYEooPPirwcoIiXo=
  local_v4: 172.20.229.122
  local_v6: "fe80::122"
  wg_privkey: /etc/wireguard/privatekey_lax
  bgp:
    asn: 4242422547
    extended_next_hop: false
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-naivetomca
  port: 23309
  remote: "lax.tsinghuamakerxian.cn:21080"
  wg_pubkey: "C9QViSndf1zga5nOoSoXXMLUWBJvEFiJDWSFCbU1Ynw="
  peer_v4: "172.23.163.161"
  peer_v6: "fe80::3309"
  local_v4: 172.20.229.122
  local_v6: "fe80::122"
  wg_privkey: /etc/wireguard/privatekey_lax
  bgp:
    asn: 4242423309
    extended_next_hop: false
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-colby
  port: 22558
  remote: us-lax1.dn42.derix.au:21080
  wg_pubkey: s3IVH2xJ3oRekd4x4Bc2H2pb0YZD11FT7Unxttc7GCU=
  peer_v4: null
  peer_v6: fe80::2558:7
  local_v6: "fe80::122"
  wg_privkey: /etc/wireguard/privatekey_lax
  bgp:
    asn: 4242422558
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-burble
  peer_v4: null
  peer_v6: fe80::42:2601:2a:1
  port: 22601
  remote: dn42-us-lax1.burble.com:21080
  wg_pubkey: MDjt4DyKGFumReT9pBJL6mPbDfQDfhPFyzHGDeoQVBQ=
  local_v6: "fe80::122"
  wg_privkey: /etc/wireguard/privatekey_lax
  bgp:
    asn: 4242422601
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-rubick
  port: 23451
  remote: v4-la.zub.pub:21080
  wg_pubkey: 3RiYYcOW4AJeO5RRMezDHjDCOGKjUz/1lmdpVHcdSkc=
  peer_v4: null
  peer_v6: fe80::3451
  local_v6: "fe80::122"
  wg_privkey: /etc/wireguard/privatekey_lax
  bgp:
    asn: 4242423451
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

# Automatically removed on 2025-02-16 (down for >= 40 days)
- name: dn42-moechs
  remove: true

- name: dn42-sidereal
  port: 22016
  remote: phx1.dn42.sidereal.ca:21080
  wg_pubkey: 3hy0FIf64sxSVLY6/CwhtMfCmQEkG5hsyKxM/Dttvz0=
  peer_v4: null
  peer_v6: fe80::2016
  local_v6: "fe80::122"
  wg_privkey: /etc/wireguard/privatekey_lax
  bgp:
    asn: 4242422016
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

# Automatically removed on 2025-02-16 (down for >= 40 days)
- name: dn42-goforcex
  remove: true

- name: dn42las-yura
  port: 22464
  remote: "las.dneo.moeternet.com:21080"
  wg_pubkey: "viR4CoaJTBHROo/Bgbb27hQ2ttr8AbByGY/yOz3D3GY="
  peer_v4: null
  peer_v6: "fe80::2464"
  local_v6: fe80::1080:126
  wg_privkey: /etc/wireguard/privatekey_las
  bgp:
    asn: 4242422464
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42las-miaoton
  port: 52688
  remote: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    65353164386130616635343036353964333039616562643134323033386531303863366162653430
    6162366561623639366638343332633834663831303664300a346331663463336634623239646534
    37316630396236313463376665653262663439396238363261343432346438353938373039356266
    3161636463343238610a643039313766656431363834356533316135326334353234356237373662
    37646332636334643139663361633766363861636138373139373135343830343863
  wg_pubkey: "vfrrbtKAO5438daHrTD0SSS8V6yk78S/XW7DeFrYLXA="
  peer_v4: "172.23.6.6"
  peer_v6: "fe80::2688/64"
  local_v4: 172.20.229.126
  local_v6: fe80::1080:126
  wg_privkey: /etc/wireguard/privatekey_las
  bgp:
    asn: 4242422688
    extended_next_hop: false
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-imlonghao
  port: 21888
  remote: us2.dn42.ni.sb:21080
  wg_pubkey: lAs/L2XLEZALnTOJ6ZhHaKgYY+rzqRgPnmlC4v/SfQw=
  peer_v4: 172.22.68.0
  peer_v6: fe80::1888
  local_v4: 172.20.229.126
  local_v6: fe80::1080:126
  wg_privkey: /etc/wireguard/privatekey_las
  bgp:
    asn: 4242421888
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-potat0
  peer_v4: null
  peer_v6: fe80::1816
  port: 21816
  remote: las.node.potat0.cc:21080
  wg_pubkey: LUwqKS6QrCPv510Pwt1eAIiHACYDsbMjrkrbGTJfviU=
  local_v6: fe80::1080:126
  wg_privkey: /etc/wireguard/privatekey_las
  bgp:
    asn: 4242421816
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-akihi
  port: 20398
  remote: null
  wg_pubkey: oAPy0U2qVuSR8PyPLmVLEgWLBKrOq4kcLNLAOVZL10M=
  peer_v4: null
  peer_v6: fe80::426f
  local_v6: fe80::1080:126
  wg_privkey: /etc/wireguard/privatekey_las
  bgp:
    asn: 4242420398
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true
### end peers moved from las.peer

- name: dn42-scoopta
  port: 21197
  remote: yui.uwu.academy:11080
  wg_pubkey: vKYOjO3D/liyslRdvKHEwfUnAzMR19OM5gku7eKrJDc=
  peer_v4: null
  peer_v6: fe80::1197
  bgp:
    asn: 4242421197
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-duststars
  port: 21771
  remote: lax1-dn42.exploro.one:32600
  wg_pubkey: P8a4I7LXo976Fyh4ChJ/T6+lxna4gHjJk3SOHxtPSXw=
  peer_v4: null
  peer_v6: fe80::afaf:bfbf:cdcf:3a
  bgp:
    asn: 4242421771
    ipv4: false
    ipv6: true
    mp_bgp: false
    extended_next_hop: false

- name: dn42-joenet
  port: 20157
  remote: sjc01.ke8jwh.com:31080
  wg_pubkey: sl9vN6wmKuB3aGjBYx2ukjABc66EAn0p5VJsg0XjjjM=
  peer_v4: null
  peer_v6: fe80::157:233
  bgp:
    asn: 4242420157
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true
