wg_peers:
- name: dn42sjc-yuuta
  port: 22980
  remote: "sjc1.us.dn42.yuuta.moe:21080"
  wg_pubkey: "amtG1Sj6Ar9ntidaa+b2DAPtDuI5mhZruTXVYSso62k="
  wg_presharedkey: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    37343464666563326165303030656130633665663138373431633661366165613336613338623638
    6662383835636663623864343165386365393135643861390a366433383536396131323131633637
    64643534353863346133336635353231346133303561643262633161613762393035626461663435
    6337383231353063620a323937373735323362323038353264396338646535383730616665353534
    62313164323363333236663336313138326638303932333137356231376633613334306262653331
    6461623964366533383534616362616563643238313238346339
  peer_v4: "172.23.105.3"
  peer_v6: "fe80::2980"

- name: dn42sjc-sunnet
  port: 23088
  remote: "sjc1-us.dn42.6700.cc:21080"
  wg_pubkey: "G/ggwlVSy5jKWFlJM01hxcWnL8VDXsD5EXZ/S47SmhM="
  peer_v4: "172.21.100.191"
  peer_v6: "fe80::3088:191"

- name: dn42sjc-jerry
  port: 23618
  remote: "us.neo.jerryxiao.cc:50114"
  wg_pubkey: "z/cbjONQ4kx+KTUuIpqxqpVQasKD5UC6NeAyMrlNHHM="
  peer_v4: null
  peer_v6: "fe80::3618/64"

- name: dn42sfo-bling
  port: 20212
  remote: "sfo1.dn42.blw.moe:21080"
  wg_pubkey: "U7PMoiNEBWVRqjs7YV9fpXZ1WOrhfpYjeg6IM77gb2k="
  peer_v4: "172.20.21.100"
  peer_v6: "fe80::2333"

- name: dn42sjc-kskb # autopeer ID 21080
  port: 21111
  remote: null
  wg_pubkey: "ffcWCDuBP3YdufFzOaiW2QeZLFG/GXg4QfbWTZ6LVz8="
  peer_v4: "10.127.111.33"
  peer_v6: "fe80::aa:1111:21"

- name: dn42-186526
  peer_v4: 172.23.2.76
  peer_v6: fe80::ade1
  port: 23764
  remote: us-sanjose-01.edge.186526.xyz:21080
  wg_pubkey: VTetWJK15J296W6cXNQf6d9W4VPpTa3ZJEK00GQjFT8=

- name: dn42-moe233
  peer_v4: null
  peer_v6: fe80::253
  port: 20253
  remote: sfo1.dn42.moe233.net:21080
  wg_pubkey: C3SneO68SmagisYQ3wi5tYI2R9g5xedKkB56Y7rtPUo=

- name: dn42-iedon
  peer_v4: 172.23.91.117
  peer_v6: fe80::2189:e8
  port: 22189
  remote: us-sfo.dn42.kuu.moe:46697
  wg_pubkey: Sz0UhewjDk2yRKI0QL9rB+5daWpXFVlbbz9cLfVVLn4=

- name: dn42-atolm
  peer_v4: null
  peer_v6: fe80::585
  port: 20585
  remote: us1.dn42.atolm.net:21080
  wg_pubkey: 5Do/VpCFXnV5XCzRUNgIundNcPK+AUY/R1VN+4XPZlE=

- name: dn42-kskb1817
  peer_v4: null
  peer_v6: fe80::1817
  port: 21817
  remote: us.kskb.eu.org:21080
  wg_pubkey: dZzVdXbQPnWPpHk8QfW/p+MfGzAkMBuWpxEIXzQCggY=

- name: dn42-huajitech
  peer_v4: null
  peer_v6: fe80::458
  port: 20458
  remote: us-west1.nodes.huajinet.org:21080
  wg_pubkey: Y13v0Xzf6zJQGtL2qJSwVyLNSxipYoGpq4y/5aU7omg=

- name: dn42-burble
  peer_v4: null
  peer_v6: fe80::42:2601:2a:1
  port: 22601
  remote: dn42-us-lax1.burble.com:21080
  wg_pubkey: MDjt4DyKGFumReT9pBJL6mPbDfQDfhPFyzHGDeoQVBQ=

- name: dn42-link2
  peer_v4: 172.21.109.18
  peer_v6: fe80::864:2
  port: 20864
  remote: lax.dn42.christine.pp.ua:21080
  wg_pubkey: mOQs7kIucUmSDXqRHvwfUxLAFkUDg9ssH5Gqn+6oj0s=

- name: dn42-pigeonhole
  peer_v4: 172.22.145.8
  peer_v6: fe80::2458
  port: 22458
  remote: us-lax-a.nodes.pigeonhole.eu.org:21080
  wg_pubkey: usSOnTQKWozKiB3CM65TY3hv64dxQLnIx9ywc0J9awY=

- name: igp-yvrlab
  port: 19999
  wg_pubkey: "ifeyKlRSNAIcyzRSUKzedU+t4bQhb1Hld3XzDCq/Yig="
  peer_v4: null
  local_v4: 169.254.108.72/31
  peer_v6: fe80::89f7:b22a:5452:3402

- name: dn42-iuboy
  port: 22582
  remote: us-los1.dn42.iamm.one:21080
  wg_pubkey: z7UE9JYKPJ/ToVnIqJQYN4DEY3HfWx56075bh4jBQUA=
  peer_v4: null
  peer_v6: fe80::2582:2

- name: dn42-sernet
  port: 23947
  remote: us-lax1.dn42.sherpherd.top:21080
  wg_pubkey: 2lgq3OfUrPl28EJnnGtJcAkJp2CWwZlF2BC5K3UaFDk=
  peer_v4: null
  peer_v6: fe80::3947:4

- name: dn42-routedbits
  port: 20207
  remote: router.fnc1.routedbits.com:51080
  wg_pubkey: yZvBa83e7ywrZearK1nuAL37gVY1vbVBWbRdIj7HVEo=
  peer_v4: null
  peer_v6: fe80::207

- name: dn42-gshapiro
  port: 22446
  remote: null
  wg_pubkey: UKNt4zqqUR4hYVlst5sGYMi/pQDETUn6/fFG94mmU0w=
  local_v4: 169.254.42.9/30
  peer_v6: fe80::2e2:69ff:fe51:12f7

- name: dn42-moraxyc
  port: 23011
  remote: us-sj1.dn42.moraxyc.com:21080
  wg_pubkey: eFZBQnpapXIAqkLq3s4x47M1ZE1b9cceqV1HiTbYlQI=
  peer_v4: null
  peer_v6: fe80::3011:12
