wg_peers:
- name: dn42nyc-sunnet
  port: 53088
  remote: "nyc1-us.dn42.6700.cc:21080"
  wg_pubkey: "wAI2D+0GeBnFUqm3xZsfvVlfGQ5iDWI/BykEBbkc62c="
  peer_v4: "172.21.100.194"
  peer_v6: "fe80::3088:194/64"

- name: "dn42pnj-tomkap"
  port: 52092
  remote: "us0.dn42.pebkac.gr:51080"
  wg_pubkey: "NnIsCmxiGctp5hR9ViuNRjZXr8lxtjn382sIwsV+GBU="
  peer_v4: 172.21.67.200/32
  peer_v6: "fe80::42:1080:1/128"

- name: dn42buf-lantian
  port: 52547
  remote: "107.172.134.89:21080"
  wg_pubkey: "a+zL2tDWjwxBXd2bho2OjR/BEmRe2tJF9DHFmZIE+Rk="
  peer_v4: "172.22.76.190"
  peer_v6: "fe80::2547"

- name: "dn42bhs-hexanet"
  port: 53078
  remote: "omicron.hexanet.dev:31080"
  wg_pubkey: "S0kjHNnfFUn4ts9+pM/dt7LZ/7ZUjJZeVTW8KWYE3Ug="
  peer_v4: null  # v6-only
  peer_v6: "fe80::10:3621"

- name: "dn42bhs-munster"
  port: 52237
  remote: "ca-bhs01.dn42.munsternet.eu:21080"
  wg_pubkey: "0MdSpit+qpvlUlFH/gMvTXuvNATvRUTAHVAnKeT+NhU="
  peer_v4: null
  peer_v6: "fe80::42:2237/128"

- name: dn42buf-cperrin
  remove: true

- name: dn42bhs-burble
  port: 22601
  remote: "dn42-ca-bhs2.burble.com:21080"
  wg_pubkey: "gBePwGDpyxzsehvP9TZVB/XHgmS8tgv7oWtAru4K8iQ="
  peer_v4: "172.20.129.167"
  peer_v6: "fd42:4242:2601:2d::1/128"

- name: dn42pnj-jrb0001
  remove: true

### legacy configurations from ca-bhs01
- name: dn42bhs-grmml
  port: 50123
  remote: "ca-bha.grmml.net:51080"
  wg_pubkey: "Y74Q+xtl3YXureqokfYhSjfHWQU2cO4QP3mgmatj2gs="
  peer_v4: "172.23.149.11"
  peer_v6: "fe80::172:23:149:11"
  local_v4: "172.20.229.115"
  local_v6: "fe80::115"
  wg_privkey: "/etc/wireguard/privatekey_ca-bhs01-legacy"

- name: dn42nyc-strexp
  port: 51331
  remote: "nyc1.us.dn42.strexp.net:21080"
  wg_pubkey: "s00+3HRZVTFsGJyTZoF88/x4qG82M4sYOraNo4KxIXM="
  peer_v4: "172.20.158.144"
  peer_v6: "fe80::1331"
  local_v4: "172.20.229.115"
  local_v6: "fe80::115"
  wg_privkey: "/etc/wireguard/privatekey_ca-bhs01-legacy"

### end legacy configurations from ca-bhs01

- name: dn42nyc-yura
  port: 52464
  remote: "nyc.dneo.moeternet.com:21080"
  wg_pubkey: "MLVJrwrph6d0VqrAq8/rkhbkG+mrQNytqmwrNgk2qFs="
  peer_v4: "172.20.191.197"
  peer_v6: "fe80::2464"

- name: dn42bhs-serverm
  port: 53770
  remote: "bhs1.dn42.servermade.com:51080"
  wg_pubkey: "6YKlRpiqLJb9C8esZjUS0RbC9Bh7aTo5M5F3cUAcZ2o="
  peer_v4: "172.22.118.135"
  peer_v6: "fe80::3770/64"

- name: dn42buf-imlongh
  port: 21888
  remote: "us1.dn42.ni.sb:21080"
  wg_pubkey: "uVIBY5keaBLtkT7oyD/W/TgEBiXerr/IPxtH+JO0amI="
  peer_v4: "172.22.68.0"
  peer_v6: "fe80::1888"

- name: dn42rio-paterno
  port: 23073
  remote: "dn42.shiva.eti.br:21080"
  wg_pubkey: "ioFN575e/dD15BiD2mkXug6TKyeqYB4BC0f2NFMHYEM="
  peer_v4: null
  peer_v6: "fd22:ad17:8e8d:10::10c"

- name: dn42ash-kskb # autopeer ID 21080
  port: 21111
  remote: null
  wg_pubkey: "2FSX+6N/PwfipN/jXMj++4mabFQj25MXDy51mnnz3AA="
  peer_v4: "10.127.111.51"
  peer_v6: "fe80::aa:1111:33"

- name: dn42nyc-flyingp
  port: 20995
  remote: "nyc1.dn42.flyingpackets.net:21080"
  wg_pubkey: "54e/I/Wmzfkv1jpcH6m78shv5mxd/qJ68Qg4l5pRD3s="
  peer_v4: "172.20.128.129"
  peer_v6: "fe80::26f1"

- name: dn42-sagnet
  remove: true

- name: dn42-tech9
  peer_v4: 172.20.16.143
  peer_v6: fe80::1588
  port: 21588
  remote: us-qas01.dn42.tech9.io:57225
  wg_pubkey: itmJ4Z8V1aNN368P6kMzuQM+GdzWbBKZjJiXrgSeGlw=
  local_v6: fe80::100

- name: dn42-chatsubo
  peer_v4: 172.20.207.224
  peer_v6: 'fe80::937'
  port: 22208
  remote: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    39616132613838643534653764373936386536333437376335376139303230643863633765303530
    3662303735346233306334666464383562376432373963360a653632313131313838316139333135
    32616264616264373437663266633230636331326461393965633738653431613736333138353663
    6631626330366334300a383033306332653134373366373635343632316533656366346539613733
    38326332363665616161326636656563323936613333623338333535363664616136
  wg_pubkey: dUrvI/MocLYR2XieCufOGs/zfvN08sGcA0lZQwsIn2Q=

- name: dn42-186526
  peer_v4: 172.23.2.75
  peer_v6: fe80::ade1
  port: 23764
  remote: us-ashburn-01.edge.186526.xyz:21080
  wg_pubkey: 1l9tMGFXsBz/hJ6Rqz6fch95inL/QvGuPSj2sxc0MgE=

- name: dn42-hujk
  peer_v4: null
  peer_v6: fe80::104:50:2030:10
  port: 22717
  remote: use.vm.whojk.com:23006
  wg_pubkey: 1LJ2PBEUOa7uwqnHS3j2EGVW+wKv/d1L6mbnA0tOjU0=

- name: igp-ca-yvrgw
  port: 19999
  wg_pubkey: "ZqPubFoApYZrHAzG3+jtAB+f3xzczUSNnDQkxueUbBI="
  peer_v4: null
  local_v4: 172.22.108.74/31
  peer_v6: fe80::66a3:ee6c:5a00:a586

- name: dn42-lutoma
  peer_v4: 172.22.119.10
  peer_v6: fe80::acab
  port: 24719
  remote: us-nyc.dn42.lutoma.org:42405
  wg_pubkey: nyujl5Lm7C0A+NoLO+7ctYulkCXeXp6dnnpt9+bGqi8=

- name: dn42-bitsec
  remove: true

- name: dn42-unknownts
  peer_v4: 172.22.157.201
  peer_v6: fe80::add1
  port: 23315
  remote: 1.nyc.ny.unknownts.com:21080
  wg_pubkey: edgbmEfm2Y5RP3VpZRWpRsGnwuMjUeGV64YsZcGSvRA=

- name: dn42-exabyte
  peer_v4: 172.20.41.100
  peer_v6: fe80::115
  port: 23340
  remote: dn42-us-nj01.exabyte.network:51845
  wg_pubkey: cRHAiWRwhjnK1cNIWrh5c06Lubv8lkF0w+z4NPjRQAM=

- name: dn42-baiyu
  remove: true

- name: dn42-huajitech
  peer_v4: null
  peer_v6: fe80::458
  port: 20458
  remote: us-east1.dn42.huajitech.net:21080
  wg_pubkey: jk6jHDQlnMelT7hllXZ4djmXTR2an1xUtuZsJazSzzA=

- name: dn42-lilynet
  peer_v4: 172.23.180.1
  peer_v6: fe80::1d89
  port: 21877
  remote: lilie.lilynet.work:21080
  wg_pubkey: jYwRBFYATL1spAlXKGI4rkY/27s9ufiD98ctzvP/1GI=

- name: dn42-yuuta
  remove: true

- name: cl-roam
  local_v4: 172.22.108.41/29
  local_v6: fd86:bad:11b7:23:1::1/80
  port: 19998
  multi:
    # sixel
  - wg_pubkey: "b0B59Xx/mPbj13GSh5BUaw2Hh4oKd9UuIDcX/wwuYg4="
    wg_allowedips: "172.22.108.42/32,fd86:bad:11b7:23:1::42/128"
    # silverthing
  - wg_pubkey: "jSb/GMN0S46JzENLIZeeC/jyfKZXg5wAYPhnecohegE="
    wg_allowedips: "172.22.108.43/32,fd86:bad:11b7:23:1::43/128"
  peer_v6: null

- name: dn42-potat0
  peer_v4: null
  peer_v6: fe80::1816
  port: 21816
  remote: us1.dn42.potat0.cc:21080
  wg_pubkey: LUwqKS6QrCPv510Pwt1eAIiHACYDsbMjrkrbGTJfviU=

- name: dn42-deboer
  peer_v4: null
  peer_v6: fd48:f77d:8142:ffff:ffff:ffff:ffff:fffe
  local_v6: fd48:f77d:8142:ffff:ffff:ffff:ffff:ffff
  port: 23328
  remote: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    61313931383838376537656364343035363138636562303962363530616135613464653263663965
    6430656261653861313339346337633431353966376636390a353466636536623333393965663836
    38386335363136353934383338646236653761313463363033666562343232626337353237333530
    6431306165356661610a633764646238626136386265356136633934313432313464353839343566
    34663939613731353335376332393762366438353366613532613065333434663534
  wg_pubkey: fSlc9Phovi80eVSgxvIZYUM2Jk7s2q58i5knh5oaxWA=

- name: dn42-sesquialte
  port: 20703
  remote: us-lga-bb-1.sesquialtera.net:21080
  wg_pubkey: pocfYuG45CIvYHDrLK4XV3GrdVVlK6vhKJMEAfq7Dn8=
  peer_v4: null
  peer_v6: fe80::703

- name: dn42-lare
  port: 23035
  remote: null
  wg_pubkey: l4/RebJ8IuNS8+TVHrckrrx0J7qWdLa6jt0n8ROLHWE=
  peer_v4: 172.22.125.135
  peer_v6: fe80::3035:135
