wg_peers:
- name: dn42nyc-sunnet
  port: 53088
  remote: "nyc1-us.dn42.6700.cc:21080"
  wg_pubkey: "wAI2D+0GeBnFUqm3xZsfvVlfGQ5iDWI/BykEBbkc62c="
  peer_v4: "172.21.100.194"
  peer_v6: "fe80::3088:194/64"

- name: "dn42pnj-tomkap"
  port: 52092
  remote: "us0.dn42.pebkac.gr:51080"
  wg_pubkey: "NnIsCmxiGctp5hR9ViuNRjZXr8lxtjn382sIwsV+GBU="
  peer_v4: 172.21.67.200/32
  peer_v6: "fe80::42:1080:1/128"

- name: dn42buf-lantian
  port: 52547
  remote: "107.172.134.89:21080"
  wg_pubkey: "a+zL2tDWjwxBXd2bho2OjR/BEmRe2tJF9DHFmZIE+Rk="
  peer_v4: "172.22.76.190"
  peer_v6: "fe80::2547"

- name: "dn42bhs-munster"
  port: 52237
  remote: "ca-bhs01.dn42.munsternet.eu:21080"
  wg_pubkey: "0MdSpit+qpvlUlFH/gMvTXuvNATvRUTAHVAnKeT+NhU="
  peer_v4: null
  peer_v6: "fe80::42:2237/128"

- name: dn42-burble
  port: 22601
  remote: "dn42-us-nyc1.burble.com:21080"
  wg_pubkey: "2mKKhhA5gz/rtIPtbz9b5wG6g5r4cdIYC/3/6My1SAw="
  peer_v4: null
  peer_v6: "fe80::42:2601:29:1"

### legacy configurations from ca-bhs01
- name: dn42bhs-grmml
  port: 50123
  remote: "ca-bha.grmml.net:51080"
  wg_pubkey: "Y74Q+xtl3YXureqokfYhSjfHWQU2cO4QP3mgmatj2gs="
  peer_v4: "172.23.149.11"
  peer_v6: "fe80::172:23:149:11"
  local_v4: "172.20.229.115"
  local_v6: "fe80::115"
  wg_privkey: "/etc/wireguard/privatekey_bhs_legacy"

- name: dn42bhs-serverm
  port: 53770
  remote: "bhs1.dn42.servermade.com:51080"
  wg_pubkey: "6YKlRpiqLJb9C8esZjUS0RbC9Bh7aTo5M5F3cUAcZ2o="
  peer_v4: "172.22.118.135"
  peer_v6: "fe80::3770/64"

- name: dn42rio-paterno
  port: 23073
  remote: "dn42.shiva.eti.br:21080"
  wg_pubkey: "ioFN575e/dD15BiD2mkXug6TKyeqYB4BC0f2NFMHYEM="
  peer_v4: null
  peer_v6: "fd22:ad17:8e8d:10::10c"

- name: dn42ash-kskb # autopeer ID 21080
  port: 21111
  remote: null
  wg_pubkey: "2FSX+6N/PwfipN/jXMj++4mabFQj25MXDy51mnnz3AA="
  peer_v4: "10.127.111.51"
  peer_v6: "fe80::aa:1111:33"

- name: dn42-tech9
  peer_v4: 172.20.16.143
  peer_v6: fe80::1588
  port: 21588
  remote: us-qas01.dn42.tech9.io:57225
  wg_pubkey: itmJ4Z8V1aNN368P6kMzuQM+GdzWbBKZjJiXrgSeGlw=
  local_v6: fe80::100

- name: dn42-186526
  peer_v4: 172.23.2.75
  peer_v6: fe80::ade1
  port: 23764
  remote: us-ashburn-01.edge.186526.xyz:21080
  wg_pubkey: 1l9tMGFXsBz/hJ6Rqz6fch95inL/QvGuPSj2sxc0MgE=

- name: dn42-hujk
  peer_v4: null
  peer_v6: fe80::104:50:2030:10
  port: 22717
  remote: use.vm.whojk.com:23006
  wg_pubkey: 1LJ2PBEUOa7uwqnHS3j2EGVW+wKv/d1L6mbnA0tOjU0=

- name: igp-yvrlab
  port: 19999
  wg_pubkey: "ZqPubFoApYZrHAzG3+jtAB+f3xzczUSNnDQkxueUbBI="
  peer_v4: null
  local_v4: 169.254.108.74/31
  peer_v6: fe80::66a3:ee6c:5a00:a586

- name: dn42-lutoma
  peer_v4: 172.22.119.10
  peer_v6: fe80::acab
  port: 24719
  remote: us-nyc.dn42.lutoma.org:42405
  wg_pubkey: nyujl5Lm7C0A+NoLO+7ctYulkCXeXp6dnnpt9+bGqi8=

- name: dn42-unknownts
  peer_v4: 172.22.157.201
  peer_v6: fe80::add1
  port: 23315
  remote: 1.nyc.ny.unknownts.com:21080
  wg_pubkey: edgbmEfm2Y5RP3VpZRWpRsGnwuMjUeGV64YsZcGSvRA=

- name: dn42-exabyte
  port: 23340
  remote: dn42-us-nj01.exabyte.network:51845
  wg_pubkey: cRHAiWRwhjnK1cNIWrh5c06Lubv8lkF0w+z4NPjRQAM=
  peer_v4: 172.20.41.100
  peer_v6: fe80::100

- name: dn42-huajitech
  peer_v4: null
  peer_v6: fe80::458
  port: 20458
  remote: us-east1.dn42.huajitech.net:21080
  wg_pubkey: jk6jHDQlnMelT7hllXZ4djmXTR2an1xUtuZsJazSzzA=

- name: cl-roam
  local_v4: 172.22.108.41/29
  local_v6_multi:
  - fd86:bad:11b7:fa7c::f1/124
  - 2607:5300:60:6e84::f1/124
  # A dummy link local v6 is needed for BIRD to pick this up as an OSPF stub interface for IPv6
  - "{{ link_local_ip6 }}"
  port: 19998
  multi:
    # sixel
  - wg_pubkey: "b0B59Xx/mPbj13GSh5BUaw2Hh4oKd9UuIDcX/wwuYg4="
    wg_allowedips: "172.22.108.42/32,fd86:bad:11b7:fa7c::f2/128,2607:5300:60:6e84::f2/128"
    # silverthing
  - wg_pubkey: "jSb/GMN0S46JzENLIZeeC/jyfKZXg5wAYPhnecohegE="
    wg_allowedips: "172.22.108.43/32,fd86:bad:11b7:fa7c::f3/128,2607:5300:60:6e84::f3/128"
  peer_v6: null

- name: dn42-sesquialte
  port: 20703
  remote: us-lga-bb-1.sesquialtera.net:21080
  wg_pubkey: pocfYuG45CIvYHDrLK4XV3GrdVVlK6vhKJMEAfq7Dn8=
  peer_v4: null
  peer_v6: fe80::703

- name: dn42-lare
  port: 23035
  remote: null
  wg_pubkey: l4/RebJ8IuNS8+TVHrckrrx0J7qWdLa6jt0n8ROLHWE=
  peer_v4: 172.22.125.135
  peer_v6: fe80::3035:135

- name: dn42-pigeonhole
  port: 22458
  remote: us-nyc-a.nodes.pigeonhole.eu.org:21080
  wg_pubkey: /zjI3W1HVTKcciF4Qm866EiE3LfmIQrbOlO0BZKq6n0=
  peer_v4: null
  peer_v6: fe80::2458

- name: dn42-kioubit
  port: 23914
  remote: us2.g-load.eu:21080
  wg_pubkey: 6Cylr9h1xFduAO+5nyXhFI1XJ0+Sw9jCpCDvcqErF1s=
  peer_v4: 172.20.53.98
  peer_v6: fe80::ade0

- name: dn42-ty3r0x
  port: 22596
  remote: racknerd.chaox.ro:21080
  wg_pubkey: rZYo5BZ4D8Y5VSwCoAI+qDvtBM+HuRtG6YVvR0cZ3gs=
  peer_v4: 169.254.42.7
  peer_v6: fe80::2596:7

- name: dn42-prevarinit
  port: 22475
  remote: bhs.ca.prevarinite.net:21080
  wg_pubkey: GNGYwcgarxqpADRZ2E/8h1l3KiBPqsbuI5ejERvNoAs=
  peer_v4: null
  peer_v6: fe80::7072:6576:5

- name: dn42-routedbits
  port: 20207
  remote: router.tor1.routedbits.com:51080
  wg_pubkey: +5TlmsmGyXgIAv4Ej8yTum0sHQ+PWNkhcznnC+lv12M=
  peer_v4: null
  peer_v6: fe80::207

- name: dn42-smyers119
  port: 23411
  remote: useast.dn42.goldlineit.org:3415
  wg_pubkey: HM35mEe6q1WcQG9UHd2n4xrHuXyBGuYpOjzbRz2kD00=
  peer_v4: null
  peer_v6: fe80::3411

- name: dn42-peanuts
  port: 21465
  remote: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    36643466366634346364353831626537353138656631333935303435633862613763626261633764
    6135383135316536303763306535663630623665633433310a316562653965623130346666396636
    66316164646337353433373063336637616662303536373137386630333565623637326637613165
    6436396233363639640a396561326534626362316561383562623365333565386166336539623635
    65616366653734343735386234356630343563333734643764643336323663653536
  wg_pubkey: wQVKl4wcK4m+eS7HPIk1zEVUSPCzd9DGpxBbBMIDkUs=
  peer_v4: null
  peer_v6: fe80::556

- name: dn42-sernet
  port: 23947
  remote: us-nyc1.dn42.sherpherd.top:21080
  wg_pubkey: PXkGrHooCFnB6N8bD6isgVjhl9GvzD2CLqlA+e2XikM=
  peer_v4: null
  peer_v6: fe80::3947:7

- name: dn42-colby
  port: 22558
  remote: us-nyc1.dn42.derix.au:21080
  wg_pubkey: UILRrlUwHZE4NWdV7RvF5Jit5G1eLwZ2V5p3sFYbk3M=
  peer_v4: null
  peer_v6: fe80::2558:3

- name: dn42-tibs
  port: 23383
  remote: null
  wg_pubkey: TkOlaPE+4n3WFuYOMAPdIaHSMFry2LMLYzxVfVk1izs=
  peer_v4: 172.23.89.225
  peer_v6: null
