wg_peers:
- name: igp-yvrlab
  port: 19999
  wg_pubkey: "ZqPubFoApYZrHAzG3+jtAB+f3xzczUSNnDQkxueUbBI="
  peer_v4: null
  local_v4: 169.254.108.74/31
  peer_v6: fe80::66a3:ee6c:5a00:a586

- name: igp-stub-ymq02
  port: 19997
  remote: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    38323038323138663432376432363634393035663134333562326539303638636263323738333131
    3664626230366233613933613464396633333538306161330a366537663062383939346565616465
    36656261333664626162333938323565303233646330623138373364336430313136663662313762
    6130303738306331380a653062616263363233396132386466353938313139333562656263343333
    32653363363865306139333262363039383132343832336532383734663035373339
  wg_pubkey: 5Y6KR7keBnGAgEQ3o6aHShjSA87AhkzdCXiTtuVNagw=
  peer_v4: "172.22.108.41"
  peer_v6: null

- name: cl-roam
  local_v4: 172.22.108.96/31
  local_v6_multi:
  - fd86:bad:11b7:fa7c::f1/124
  # A dummy link local v6 is needed for BIRD to pick this up as an OSPF stub interface for IPv6
  - "{{ link_local_ip6 }}"
  port: 19998
  multi:
    # sixel
  - wg_pubkey: "b0B59Xx/mPbj13GSh5BUaw2Hh4oKd9UuIDcX/wwuYg4="
    wg_allowedips: "172.22.108.97/32,fd86:bad:11b7:fa7c::f2/128"
  peer_v6: null

- name: "dn42pnj-tomkap"
  port: 52092
  remote: "us0.dn42.pebkac.gr:51080"
  wg_pubkey: "NnIsCmxiGctp5hR9ViuNRjZXr8lxtjn382sIwsV+GBU="
  peer_v4: 172.21.67.200/32
  peer_v6: "fe80::42:1080:1/128"
  bgp:
    asn: 4242422092
    extended_next_hop: false
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-lantian
  port: 52547
  remote: "45.42.214.121:21080"
  wg_pubkey: "a+zL2tDWjwxBXd2bho2OjR/BEmRe2tJF9DHFmZIE+Rk="
  peer_v4: "172.22.76.190"
  peer_v6: "fe80::2547"
  bgp:
    asn: 4242422547
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-burble
  port: 22601
  remote: "dn42-us-nyc1.burble.com:21080"
  wg_pubkey: "2mKKhhA5gz/rtIPtbz9b5wG6g5r4cdIYC/3/6My1SAw="
  peer_v4: null
  peer_v6: "fe80::42:2601:29:1"
  bgp:
    asn: 4242422601
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

### legacy configurations from ca-bhs01
- name: dn42bhs-grmml
  port: 50123
  remote: "ca-bha.grmml.net:51080"
  wg_pubkey: "Y74Q+xtl3YXureqokfYhSjfHWQU2cO4QP3mgmatj2gs="
  peer_v4: "172.23.149.11"
  peer_v6: "fe80::172:23:149:11"
  local_v4: "172.20.229.115"
  local_v6: "fe80::115"
  wg_privkey: "/etc/wireguard/privatekey_bhs_legacy"
  bgp:
    asn: 4242420123
    extended_next_hop: false
    ipv4: true
    ipv6: true
    mp_bgp: false
### end legacy configurations from ca-bhs01

- name: dn42rio-paterno
  port: 23073
  remote: "dn42.shiva.eti.br:21080"
  wg_pubkey: "ioFN575e/dD15BiD2mkXug6TKyeqYB4BC0f2NFMHYEM="
  peer_v4: null
  peer_v6: "fd22:ad17:8e8d:10::10c"
  bgp:
    asn: 4242423073
    extended_next_hop: false
    ipv4: false
    ipv6: true
    mp_bgp: false

- name: dn42ash-kskb # autopeer ID 21080
  port: 21111
  remote: null
  wg_pubkey: "2FSX+6N/PwfipN/jXMj++4mabFQj25MXDy51mnnz3AA="
  peer_v4: "10.127.111.51"
  peer_v6: "fe80::aa:1111:33"
  bgp:
    asn: 4201271111
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-tech9
  peer_v4: 172.20.16.143
  peer_v6: fe80::1588
  port: 21588
  remote: us-qas01.dn42.tech9.io:57225
  wg_pubkey: itmJ4Z8V1aNN368P6kMzuQM+GdzWbBKZjJiXrgSeGlw=
  local_v6: fe80::100
  bgp:
    asn: 4242421588
    extended_next_hop: false
    ipv4: true
    ipv6: true
    mp_bgp: false
    export_mode: prepend

- name: dn42-hujk
  peer_v4: null
  peer_v6: fe80::104:50:2030:10
  port: 22717
  remote: use.vm.whojk.com:23006
  wg_pubkey: 1LJ2PBEUOa7uwqnHS3j2EGVW+wKv/d1L6mbnA0tOjU0=
  bgp:
    asn: 4242422717
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-lutoma
  peer_v4: 172.22.119.10
  peer_v6: fe80::acab
  port: 24719
  remote: us-nyc.dn42.lutoma.org:42405
  wg_pubkey: nyujl5Lm7C0A+NoLO+7ctYulkCXeXp6dnnpt9+bGqi8=
  bgp:
    asn: 64719
    extended_next_hop: false
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-exabyte
  port: 23340
  remote: dn42-us-nj01.exabyte.network:51845
  wg_pubkey: cRHAiWRwhjnK1cNIWrh5c06Lubv8lkF0w+z4NPjRQAM=
  peer_v4: 172.20.41.100
  peer_v6: fe80::100
  bgp:
    asn: 4242423340
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-sesquialte
  port: 20703
  remote: us-lga-bb-1.sesquialtera.net:21080
  wg_pubkey: pocfYuG45CIvYHDrLK4XV3GrdVVlK6vhKJMEAfq7Dn8=
  peer_v4: null
  peer_v6: fe80::703
  bgp:
    asn: 4242420703
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

# Automatically removed on 2025-02-16 (down for >= 40 days)
- name: dn42-pigeonhole
  remove: true

- name: dn42-kioubit
  port: 23914
  remote: us2.g-load.eu:21080
  wg_pubkey: 6Cylr9h1xFduAO+5nyXhFI1XJ0+Sw9jCpCDvcqErF1s=
  peer_v4: 172.20.53.98
  peer_v6: fe80::ade0
  bgp:
    asn: 4242423914
    extended_next_hop: false
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-routedbits
  port: 20207
  remote: router.tor1.routedbits.com:51080
  wg_pubkey: +5TlmsmGyXgIAv4Ej8yTum0sHQ+PWNkhcznnC+lv12M=
  peer_v4: null
  peer_v6: fe80::207
  bgp:
    asn: 4242420207
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-smyers119
  port: 23411
  remote: useast.dn42.goldlineit.org:3415
  wg_pubkey: HM35mEe6q1WcQG9UHd2n4xrHuXyBGuYpOjzbRz2kD00=
  peer_v4: null
  peer_v6: fe80::3411
  bgp:
    asn: 4242423411
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-sernet
  port: 23947
  remote: us2.sherpherd.net:21080
  wg_pubkey: PXkGrHooCFnB6N8bD6isgVjhl9GvzD2CLqlA+e2XikM=
  peer_v4: null
  peer_v6: fe80::3947:7
  bgp:
    asn: 4242423947
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-colby
  port: 22558
  remote: us-nyc1.dn42.derix.au:21080
  wg_pubkey: UILRrlUwHZE4NWdV7RvF5Jit5G1eLwZ2V5p3sFYbk3M=
  peer_v4: null
  peer_v6: fe80::2558:3
  bgp:
    asn: 4242422558
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

# Automatically removed on 2025-02-16 (down for >= 40 days)
- name: dn42-tibs
  remove: true

- name: dn42-lapisnet
  port: 22032
  remote: yul1.rtr42.inet6.foo:21080
  wg_pubkey: mekHV0j+UIFlb166s3BLbult3tsJqgGxzaOv7A0dwWw=
  peer_v4: null
  peer_v6: fe80::2032
  bgp:
    asn: 4242422032
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-cccihl
  port: 22451
  remote: null
  wg_pubkey: +tsuowf/zrs16pZeModjZGBQzya4tuJImroKh9UfJh0=
  peer_v4: null
  peer_v6: fe80::2451:1
  bgp:
    asn: 4242422451
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-sidereal
  port: 22016
  remote: tor1.dn42.sidereal.ca:21080
  wg_pubkey: 5gReh4Xjyp2spGGabBQVUBVS/IGSrIHPMNaMG5AK2Q0=
  peer_v4: null
  peer_v6: fe80::2016
  bgp:
    asn: 4242422016
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

# Automatically removed on 2025-02-16 (down for >= 40 days)
- name: dn42-lukasbecke
  remove: true

- name: dn42-peanuts
  port: 21465
  remote: vpn.peaunts.net:21080
  wg_pubkey: JTH6M6XnV8vi9RG+SfCPAMTne7hMXcB4XlFfJA9qzls=
  peer_v4: null
  peer_v6: fe80::fee1
  bgp:
    asn: 4242421465
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-fiberplz
  port: 20389
  remote: dn42.fiberoptic.ninja:51807
  wg_pubkey: ZacdnI4XHUC+7CCvV1qFnZagbZt8e1ZntILfPMVmjgU=
  peer_v4: 172.20.132.2
  peer_v6: fe80::dda7
  bgp:
    asn: 4242420389
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: false

- name: dn42-cdubs
  port: 20566
  remote: dn05.ny.surgebytes.com:31080
  wg_pubkey: vQDQOtmLRIEr8V0BqFjd7nmzboFZNZom3RfJXQIUNhI=
  peer_v4: null
  peer_v6: fe80::566:5
  bgp:
    asn: 4242420566
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-joenet
  port: 20157
  remote: nyc01.ke8jwh.com:31080
  wg_pubkey: BmbqgpKUEYp+FKIFKKDi0Sh+l7OBLzB+AJdTogk7uRU=
  peer_v4: null
  peer_v6: fe80::157:232
  bgp:
    asn: 4242420157
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-9pfs
  port: 22002
  remote: 2607:5300:60:4627::200:21080
  wg_pubkey: 8SryMJJy/VaiR+MBL5s67ycRBsYCdTpI+pVh9AZwVjY=
  peer_v4: null
  peer_v6: fe80::2002:8
  bgp:
    asn: 4242422002
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-lefay
  port: 21495
  remote: vtnet0.ny-czy-1.le-fay.org:12007
  wg_pubkey: 7i4vui3Wv0BG/MCulRpH8wx9IYvYUhXWyTHxmKoU7H0=
  peer_v4: null
  peer_v6: fe80::1
  bgp:
    asn: 4242421495
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-sdubs
  port: 20202
  remote: dn08.tor.ca.sdubs.vip:21080
  wg_pubkey: J00zT+kRv9CuTklUWakBNAF9ld+nx34SsjpkS9G+ljU=
  peer_v4: null
  peer_v6: fe80::202:8
  bgp:
    asn: 4242420202
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true
