wg_peers:
- name: igp-yvrlab
  port: 19999
  wg_pubkey: "ZqPubFoApYZrHAzG3+jtAB+f3xzczUSNnDQkxueUbBI="
  peer_v4: null
  local_v4: 169.254.108.74/31
  peer_v6: fe80::66a3:ee6c:5a00:a586

- name: cl-roam
  local_v4: 172.22.108.96/31
  local_v6_multi:
  - fd86:bad:11b7:fa7c::f1/124
  # A dummy link local v6 is needed for BIRD to pick this up as an OSPF stub interface for IPv6
  - "{{ link_local_ip6 }}"
  port: 19998
  multi:
  # sixel
  - wg_pubkey: "b0B59Xx/mPbj13GSh5BUaw2Hh4oKd9UuIDcX/wwuYg4="
    wg_allowedips: "172.22.108.97/32,fd86:bad:11b7:fa7c::f2/128"
  peer_v6: null
  allow_clearnet: true

- name: "dn42-tomkap"
  port: 52092
  remote: "us0.dn42.pebkac.gr:51080"
  wg_pubkey: "NnIsCmxiGctp5hR9ViuNRjZXr8lxtjn382sIwsV+GBU="
  peer_v4: 172.21.67.200/32
  peer_v6: "fe80::42:1080:1/128"
  bgp:
    asn: 4242422092
    extended_next_hop: false
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-lantian
  port: 52547
  remote: "45.42.214.121:21080"
  wg_pubkey: "a+zL2tDWjwxBXd2bho2OjR/BEmRe2tJF9DHFmZIE+Rk="
  peer_v4: "172.22.76.190"
  peer_v6: "fe80::2547"
  bgp:
    asn: 4242422547
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-burble
  port: 22601
  remote: dn42-ca-bhs1.burble.com:21080
  wg_pubkey: N1/U3+XqpY7hrLaKW5qDETtW4TvclfJ7a1BOvj/jEWg=
  peer_v4: null
  peer_v6: fe80::42:2601:2c:1
  bgp:
    asn: 4242422601
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-grmml
  port: 20123
  remote: "ca-bha.grmml.net:51080"
  wg_pubkey: "Y74Q+xtl3YXureqokfYhSjfHWQU2cO4QP3mgmatj2gs="
  peer_v4: "172.23.149.11"
  peer_v6: "fe80::172:23:149:11"
  bgp:
    asn: 4242420123
    extended_next_hop: false
    ipv4: true
    ipv6: true
    mp_bgp: false

- name: dn42-paternot
  port: 23073
  remote: "dn42.shiva.eti.br:21080"
  wg_pubkey: "ioFN575e/dD15BiD2mkXug6TKyeqYB4BC0f2NFMHYEM="
  peer_v4: null
  peer_v6: "fe80::8a81:4de7:be5e:fdd0"
  bgp:
    asn: 4242423073
    extended_next_hop: false
    ipv4: false
    ipv6: true
    mp_bgp: false

- name: dn42-kskb  # autopeer ID 21080
  port: 21111
  remote: null
  wg_pubkey: "2FSX+6N/PwfipN/jXMj++4mabFQj25MXDy51mnnz3AA="
  peer_v4: "10.127.111.51"
  peer_v6: "fe80::aa:1111:33"
  bgp:
    asn: 4201271111
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-hujk
  peer_v4: null
  peer_v6: fe80::104:50:2030:10
  port: 22717
  remote: use.vm.whojk.com:23006
  wg_pubkey: 1LJ2PBEUOa7uwqnHS3j2EGVW+wKv/d1L6mbnA0tOjU0=
  bgp:
    asn: 4242422717
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-lutoma
  peer_v4: 172.22.119.10
  peer_v6: fe80::acab
  port: 24719
  remote: us-nyc.dn42.lutoma.org:42405
  wg_pubkey: nyujl5Lm7C0A+NoLO+7ctYulkCXeXp6dnnpt9+bGqi8=
  bgp:
    asn: 64719
    extended_next_hop: false
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-exabyte
  port: 23340
  remote: dn42-us-nj01.exabyte.network:51845
  wg_pubkey: cRHAiWRwhjnK1cNIWrh5c06Lubv8lkF0w+z4NPjRQAM=
  peer_v4: 172.20.41.100
  peer_v6: fe80::100
  bgp:
    asn: 4242423340
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-sesquialte
  port: 20703
  remote: us-lga-bb-1.sesquialtera.net:21080
  wg_pubkey: pocfYuG45CIvYHDrLK4XV3GrdVVlK6vhKJMEAfq7Dn8=
  peer_v4: null
  peer_v6: fe80::703
  bgp:
    asn: 4242420703
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-colby
  port: 22558
  remote: us-nyc1.dn42.derix.au:21080
  wg_pubkey: UILRrlUwHZE4NWdV7RvF5Jit5G1eLwZ2V5p3sFYbk3M=
  peer_v4: null
  peer_v6: fe80::2558:3
  bgp:
    asn: 4242422558
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-lapisnet
  port: 22032
  remote: yul1.rtr42.inet6.foo:21080
  wg_pubkey: mekHV0j+UIFlb166s3BLbult3tsJqgGxzaOv7A0dwWw=
  peer_v4: null
  peer_v6: fe80::2032
  bgp:
    asn: 4242422032
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-cccihl
  port: 22451
  remote: null
  wg_pubkey: +tsuowf/zrs16pZeModjZGBQzya4tuJImroKh9UfJh0=
  peer_v4: null
  peer_v6: fe80::2451:1
  bgp:
    asn: 4242422451
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-sidereal
  port: 22016
  remote: tor1.dn42.sidereal.ca:21080
  wg_pubkey: 5gReh4Xjyp2spGGabBQVUBVS/IGSrIHPMNaMG5AK2Q0=
  peer_v4: null
  peer_v6: fe80::2016
  bgp:
    asn: 4242422016
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-fiberplz
  port: 20389
  remote: dn42.fiberoptic.ninja:51807
  wg_pubkey: ZacdnI4XHUC+7CCvV1qFnZagbZt8e1ZntILfPMVmjgU=
  peer_v4: 172.20.132.2
  peer_v6: fe80::dda7
  bgp:
    asn: 4242420389
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: false

- name: dn42-cdubs
  port: 20566
  remote: dn05.ny.surgebytes.com:31080
  wg_pubkey: vQDQOtmLRIEr8V0BqFjd7nmzboFZNZom3RfJXQIUNhI=
  peer_v4: null
  peer_v6: fe80::566:5
  bgp:
    asn: 4242420566
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-joenet
  port: 20157
  remote: nyc01.ke8jwh.com:31080
  wg_pubkey: BmbqgpKUEYp+FKIFKKDi0Sh+l7OBLzB+AJdTogk7uRU=
  peer_v4: null
  peer_v6: fe80::157:232
  bgp:
    asn: 4242420157
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-sdubs
  port: 20202
  remote: dn08.tor.ca.sdubs.vip:21080
  wg_pubkey: J00zT+kRv9CuTklUWakBNAF9ld+nx34SsjpkS9G+ljU=
  peer_v4: null
  peer_v6: fe80::202:8
  bgp:
    asn: 4242420202
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-prefixlabs
  port: 21240
  remote: ca-01.prefixlabs.net:21080
  wg_pubkey: GKUu2Jk49pStCQyK/YUDrGF02JsZhggQBSXk8KlxXAM=
  peer_v4: 172.20.209.14
  peer_v6: fe80::1240:5
  bgp:
    asn: 4242421240
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-baragoon
  port: 21732
  remote: chr-to01.as215887.net:21080
  wg_pubkey: OrIhRR7m2fX1D8Qsi1L9l1LJfHi+Jb4Xecxrwxjq0FY=
  peer_v6: fe80::1732
  bgp:
    asn: 4242421732
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-bitrate
  port: 23997
  remote: us1.dn42.bitrate.studio:21080
  wg_pubkey: fVPguFQdWzddNaroGp8AfsgEqrAUywgNq5nu6iV1mzE=
  peer_v4: 172.21.95.39
  peer_v6: fe80::3997
  bgp:
    asn: 4242423997
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-fmepnet
  port: 23703
  remote: us-nj0.fmepnet.org:41080
  wg_pubkey: 86/CxSzDM6ppIAxgvjsfXnUoKd29BS1v1ltAaYYVUxQ=
  peer_v4: null
  peer_v6: fe80::3703:236
  bgp:
    asn: 4242423703
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-factor2431
  port: 21534
  remote: us-mnz.factor2431.com:21080
  wg_pubkey: G2pN3V0dtE/fGltPoOPwEkvZ7wC7TLmpr9gR3x/QUTk=
  peer_v4: null
  peer_v6: fe80::1534
  bgp:
    asn: 4242421534
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-pixsal
  port: 21315
  remote: nyc1.dn42.pixsal.uk:21080
  wg_pubkey: bcpy15gJZtDh/ZpTHpBKofiwO7s327T4GbTewDyw1jY=
  peer_v4: 172.23.132.34
  peer_v6: fe80::1315:34
  bgp:
    asn: 4242421315
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-maiyun
  port: 20893
  remote: ca04.dn42.maiyun.me:24216
  wg_pubkey: JNeDKA835kWWa0UIF5mHgeI7jX4hA42SbHMFQug9wSk=
  peer_v4: null
  peer_v6: fe80::893
  bgp:
    asn: 4242420893
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-flipflap
  port: 20263
  remote: us-nyc1.flap42.eu:52010
  wg_pubkey: uY0GCV3adypvnCWtWcm10PCrJ/OWeplmgL64WWlqZFY=
  peer_v4: null
  peer_v6: fe80::263
  bgp:
    asn: 4242420263
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-ulti
  port: 20424
  remote: ca-ott-1.ulti.lol:51898
  wg_pubkey: z/HbAsrDQzErbFHpfO8ncGZmzsy/eXmHYkPAhxvZEnk=
  peer_v4: 172.23.230.210
  peer_v6: "fe80::4920:948"
  bgp:
    asn: 4242420424
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-bandura
  port: 22923
  remote: stricker.mk16.de:51080
  wg_pubkey: hYv2uTWdalWx+7AGSSFPjhBj2WKW6jPF8XQGxuk4iCY=
  peer_v4: null
  peer_v6: fe80::2923
  wg_presharedkey: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    37623434656634383631613963656333326465363730613836376631356438333531333334303737
    6364313362386463633666646536363464323363373264650a313137303937363963316663346231
    34363064653939386234653832626161356339646530343935376336333564666132316632306331
    3234663065313466380a323239356130336334366334393334323733613237373834373338636562
    65383335653730326330323637616535613834653765386436656561363236346663386463323738
    3830356164616666356361306237613265383361383130653061
  bgp:
    asn: 4242422923
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-lezi
  port: 23377
  remote: ca1-yyz.peer.dn42.leziblog.com:21080
  wg_pubkey: 3g3PDuwQCak26e760RurWm684Ur7CG3k+dwRsQgzyxU=
  peer_v4: null
  peer_v6: fe80::3377
  bgp:
    asn: 4242423377
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true

- name: dn42-timxzhao
  port: 23388
  remote: bhs-01.v4.xinzhao.ca:21080
  wg_pubkey: RFvID+eRAIxo3bGV6Q9ARLEUAzEcS7Nx570GYUSV634=
  peer_v4: null
  peer_v6: fe80::3388
  bgp:
    asn: 4242423388
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: true
