wg_peers:
- name: igp-yvrlab
  port: 19999
  wg_pubkey: "NkronPmAay/PQInqZ6Mn0EYk0GDeLIULY5VAV8egEjo="
  peer_v4: null
  local_v4: 169.254.108.76/31
  peer_v6: fe80::364a:e89c:f980:6b2f

- name: cl-roam0
  local_v4: 172.22.108.98/31
  local_v6_multi:
  - fd86:bad:11b7:35:2::1/124
  # A dummy link local v6 is needed for BIRD to pick this up as an OSPF stub interface for IPv6
  - "{{ link_local_ip6 }}"
  port: 21080
  multi:
  - wg_pubkey: "aJUsDF7fducvds8FjS4KsqzDrxBNO2g8sY2caAVOFFc="
    wg_allowedips: "172.22.108.99/32,fd86:bad:11b7:35:2::2/128"
  peer_v6: null

- name: cl-roam
  local_v4: 172.22.108.100/31
  local_v6: null
  port: 19998
  multi:
  - wg_pubkey: "krMnDawVDAurrJqWkePFp1vE2zwK2vQy6ie6tGLcnX0="
    wg_allowedips: "172.22.108.101/32"
  peer_v6: null

- name: dn42-yura
  remove: true

- name: dn42-bandura
  port: 22923
  remote: stricker.mk16.de:51080
  wg_pubkey: zxVkfI38Yb9SBmccT7vabu8P8C6jI3faZKfSAH+1onU=
  peer_v4: null
  peer_v6: fe80::2923
  wg_presharedkey: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    39313462336138643930666131393737376238656230393532633938313963313266353131373534
    3532613962326265346633636366616235393531306636380a376638363836303131363537656637
    66656136326434343034653265666562643731366262343664363865303536613836323934666339
    3765353132396165620a656431326235376261343638653633623434316665316361643264656532
    64383931653238313963666534636565303364633130313033353531613235653239356362353533
    3066323034663862393533376330346465636639643964663231
  bgp:
    asn: 4242422923
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-piggy
  port: 22705
  remote: sea1.node.piggy.moe:21080
  wg_pubkey: DyiUEXYuE6TNhfqj4c3MZdUOrjAxs6BbRhjImF251WA=
  peer_v4: null
  peer_v6: fe80::4242:2705
  bgp:
    asn: 4242422705
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-kiyomi
  port: 21350
  remote: sea.jvav.tech:21080
  wg_pubkey: k6RlAqY+CXvC7Kogys1U9solqYhFmXt+Ykzdmiat0W8=
  peer_v4: 172.20.39.81
  peer_v6: fe80::1350
  bgp:
    asn: 4242421350
    extended_next_hop: false
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-routedbits
  port: 20207
  remote: router.sea1.routedbits.com:51080
  wg_pubkey: /aY73VNAGQ7W+GersZUSO6PqHJV8nWKb12Op9EQzY3k=
  peer_v4: null
  peer_v6: fe80::207
  bgp:
    asn: 4242420207
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-colby
  port: 22558
  remote: us-pdx1.dn42.derix.au:21080
  wg_pubkey: pEgl/q/fxrcdnqEur25ZKrIkOvoISDVBrU80R86jY1Q=
  peer_v4: null
  peer_v6: fe80::2558:2
  bgp:
    asn: 4242422558
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-cdubs
  port: 20566
  remote: dn01.surgebytes.com:31080
  wg_pubkey: u6yapIaPFRkLGBbkJkTKXydMHufLw1brDiT3t8I8eSM=
  peer_v4: null
  peer_v6: fe80::566
  bgp:
    asn: 4242420566
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-lukasbecke
  port: 23372
  remote: yxe.beckerit.cc:21080
  wg_pubkey: okxcWYCduqtZfKfZVTLc4cCMxOXBYvUEkl8OLzxe3hQ=
  peer_v4: null
  peer_v6: fe80::3372
  bgp:
    asn: 4242423372
    extended_next_hop: true
    ipv4: true
    ipv6: true
    mp_bgp: true

- name: dn42-deboer
  port: 23328
  remote: openvpn.dirkhome.ca:51820
  wg_pubkey: Mwnj2IvUsqtPvCX/umqhjYICkgxlpW5XeXl4hBg4yjA=
  peer_v4: null
  peer_v6: fe80::3309:e3d8:8bd4:b2ab
  bgp:
    asn: 4242423328
    extended_next_hop: false
    ipv4: false
    ipv6: true
    mp_bgp: false

- name: dn42-fmepnet
  port: 23703
  remote: us-sea0.fmepnet.org:51827
  wg_pubkey: vSbQKeo8VCL+8j3060zh9cvhCTf2pakOkcndeW0TBjY=
  peer_v4: 172.20.159.235
  peer_v6: fe80::3703:235
  bgp:
    asn: 4242423703
    ipv4: true
    ipv6: true
    mp_bgp: true
    extended_next_hop: false
