- name: "Write WireGuard interface config"
  template:
    src: wg_interface.conf.j2
    dest: "{{ automation_root_dir }}/interfaces/{{ peer_info.priority|default(42)|zfill(2) }}{{ peer_info.name }}"
    mode: "0600"
    owner: root
    group: root
  loop: "{{ wg_peers_all }}"
  loop_control:
    loop_var: peer_info
  register: wg_interface_tmpl

- name: "Remove old WireGuard tunnel config"
  file:
    path: "/etc/wireguard/{{ peer_info.name }}.conf"
    state: absent
  loop: "{{ wg_peers_all }}"
  loop_control:
    loop_var: peer_info

- name: "Restart changed WireGuard interfaces"
  shell: "ifdown --force {{ peer_name }} --interfaces={{ _ifupdown_dn42_iface_file }}; ifup {{ peer_name }} --interfaces={{ _ifupdown_dn42_iface_file }}"
  loop: "{{ wg_interface_tmpl.results
            | selectattr('changed', 'true')
            | map(attribute='peer_info') | map(attribute='name') | unique | list }}"
  loop_control:
    loop_var: peer_name
  ignore_errors: yes
  when: 'not (skip_wg_restart | default(False))'
