{# See roles/upload-splash-site for more listeners #}
upstream webtrace-backend {
    server unix:/run/webtrace.sock;
}

# HTTPS listener (clearnet)
server {
    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_trusted_certificate /etc/letsencrypt/live/{{ ansible_host }}/chain.pem;
    ssl_certificate /etc/letsencrypt/live/{{ ansible_host }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ ansible_host }}/privkey.pem;

    server_name {{ ansible_host }};

    location /.well-known {
        root /var/www/html;
    }

    location /webtrace/ {
        proxy_pass http://webtrace-backend/;
        # Important since we use HTTP streaming!
        proxy_buffering off;
        access_log /var/log/nginx/webtrace-access.log;
        error_log /var/log/nginx/webtrace-error.log;
    }
}
