{# From https://docs.gunicorn.org/en/stable/deploy.html#systemd #}
[Unit]
Description=webtrace gunicorn socket

[Socket]
{% if webtrace_port %}
ListenStream={{ webtrace_port }}
{% else %}
ListenStream=/run/webtrace.sock
# Our service won't need permissions for the socket, since it
# inherits the file descriptor by socket activation
# only the nginx daemon will need access to the socket
SocketUser=www-data
# Optionally restrict the socket permissions even more.
# SocketMode=600
{% endif %}

[Install]
WantedBy=sockets.target
