{# See roles/upload-splash-site for more listeners #}
upstream webtrace-backend {
    server unix:/run/webtrace.sock;
}

{% set _webtrace_server_name = public_host | default(ansible_host) %}
# HTTPS listener (clearnet)
server {
    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_trusted_certificate /etc/letsencrypt/live/{{ _webtrace_server_name }}/chain.pem;
    ssl_certificate /etc/letsencrypt/live/{{ _webtrace_server_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ _webtrace_server_name }}/privkey.pem;

    server_name {{ _webtrace_server_name }};

    location /.well-known {
        root /var/www/html;
    }

{% if webtrace_auto_socket | default(True) %}
    location /webtrace/ {
        proxy_pass http://webtrace-backend/;
        # Important since we use HTTP streaming!
        proxy_buffering off;
        access_log /var/log/nginx/webtrace-access.log;
        error_log /var/log/nginx/webtrace-error.log;
    }
{% endif %}
}
