- name: "Compute pdns-recursor config vars"
  set_fact:
    _pdns_recursor_extra_conf_dir: "/etc/powerdns/dn42-recursor"
    _pdns_recursor_listen_ips:
      "{{ ((dummy_interfaces.anycast_recursors.ip4 | ansible.utils.ipaddr('address')) | default([], true)
      + (dummy_interfaces.anycast_recursors.ip6 | ansible.utils.ipaddr('address')) | default([], true)
      + ['127.0.0.1', '::1', ownip, ownip6]) }}"

- name: Create PowerDNS install dir
  file:
    owner: root
    # Note: cannot assume pdns group exists at this point
    path: "{{ _pdns_recursor_extra_conf_dir }}"
    state: directory
    mode: '0755'

- name: "Upload config files for PowerDNS recursor"
  copy:
    src: "{{ item }}"
    dest: "{{ _pdns_recursor_extra_conf_dir }}/{{ item | basename }}"
    mode: '0644'
  notify:
    - Reconfigure PowerDNS recursor
  with_fileglob:
    - "{{ playbook_dir }}/global-config/pdns-recursor/*.yml"

# Install & configure PowerDNS resolver
- import_role:
    name: PowerDNS.pdns_recursor
  vars:
    pdns_rec_install_repo: "{{ pdns_rec_powerdns_repo_52 if ansible_distribution_release == 'bookworm' else '' }}"
    pdns_rec_custom_config:
      dnssec:
        log_bogus: true
      recordcache:
        # Limit caching when DNSSEC fails
        max_cache_bogus_ttl: 20
      incoming:
        listen: "{{ _pdns_recursor_listen_ips }}"
      recursor:
        extended_resolution_errors: true
        include_dir: "{{ _pdns_recursor_extra_conf_dir }}"
      outgoing:
        # Reduce dont-query list to exclude dn42 ranges
        dont_query: [127.0.0.0/8, 192.168.0.0/16, "::1/128", fe80::/10]

        network_timeout: 5000
        source_address:
          - 0.0.0.0
          - '::'
      logging:
        loglevel: 6

    pdns_rec_service_overrides:
      User: "{{ pdns_rec_user }}"
      Group: "{{ pdns_rec_group }}"
      # Start/stop
      ExecStartPre: "+ifup {{ dummy_interfaces.anycast_recursors.ifname }} --force"
      ExecStopPost: "+ip link del {{ dummy_interfaces.anycast_recursors.ifname }}"

- name: "Remove obsolete PowerDNS recursor config files"
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - "/etc/powerdns/forward-zones.conf"
    - "/etc/powerdns/recursor.lua"
