#!/bin/sh

OWN_IP4="{{ ownip }}"
OWN_IP6="{{ ownip6 }}"
PRIVATE_KEY="$(cat /etc/wireguard/privatekey)"

{% macro igp_link(name, port) %}
{% set nodedata = hostvars[name] %}
"$action" {{ port }} "igp-{{ nodedata['shortname'] }}" "{{ nodedata['wg_pubkey'] }}" "{{ name }}:{{ port }}" "{{ nodedata['ownip'] }}" "{{ nodedata['ownip6'] }}"
{% endmacro %}

peers() {
  action="$1"
  ## usage
  #"$action" "<local_port>" "<peer_name>" "<peer_public_key>" "<peer_host:port>" "<peer_ip4>" "<peer_ip6>" "<local_ip6>"
  # port, peer_ip4 and peer_ip6, local_ip6 can be empty
  ## example:
  #"$action" "4242" "gruetzkopf" "HsPvddOJbSIS8LogJMpMTDG+IHm9eXfHCfapw9cRPAM=" "daemon.gruetzkopf.org:42232" "172.20.239.112/32" ""
  "$action" 50001 "dn42chi-burble" "+qLFgFIfFKMagWVVAZf/WeOopMm0g6aMTBKGqPBf6Qw=" "dn42-us-chi1.burble.com:21080" "172.20.129.166/32" "fd42:4242:2601:2e::1/128"
  "$action" 50002 "dn42chi-tech9" "0kb8ffMcbx8oXZ3Ii5khOuCzmRqM2Cy0IslmrWtRGSk=" "us-chi01.dn42.tech9.io:53737" "172.20.16.139/32" "fe80::1588/64" "fe80::100"
  "$action" 50003 "dn42atl-doxz" "2RkCWgwBkoq5jJhjDWI15nCxwgb6oQxdY9lIO18KEzs=" "45.76.249.17:51822" "172.22.159.60/32" "fdfc:694e:234f::3/128"
  "$action" 53078 "dn42tor-hexanet" "+pHEjVI8t2b8yu5mlV2q+rEpxirvXJk6Nnh3tyWk/Fw=" "omicron.hexanet.dev:31080" "" "fe80::10:3621" "fe80::113"
  "$action" 50880 "dn42nyc-marropa" "l64RRVzVLNkp5GtVWjZbFjkSse7Yo+FQqyNFUOG3SgI=" "dn42-us-ipv4.marropax.com:21080" "172.21.106.113/32" "fe80::cafe" "fe80::113"
  "$action" 51297 "dn42kan-sbernau" "LIpv4meXlO+aGPbujTpevJwJJllPkgKOICQ09IEf6x8=" "57a2c73.online-server.cloud:51080" "172.20.234.65/32" "fe80::12:97" "fe80::113"

  {{ igp_link("dn42-us-sea01.jlu5.com", 55001) }}
}

. "$(dirname $(readlink -f "$0"))/wireguard-helpers.sh"
