function getConnectionInfo() {
    const outputSpans = [
        document.getElementById("connectionInfo"),
        document.getElementById("connectionInfo4"),
        document.getElementById("connectionInfo6")
    ];
    const addresses = [
        "connectionInfo",
        "//{{ ownip }}/connectionInfo",
        "//[{{ ownip6 }}]/connectionInfo"
    ];
    for (let i=0; i<outputSpans.length; i++) {
        fetch(addresses[i])
        .then((response) => {
            if (!response.ok) {
                throw new Error(`${response.status} ${response.statusText}`);
            }
            return response.json();
        })
        .then((data) => {
            outputSpans[i].innerHTML = `<b><span class="info-success">${data.client}</span></b> (you) ↔ <b><span class="info-success">${data.server}</span></b> (me)`;
        })
        .catch((error) => {
            outputSpans[i].innerHTML = `<span class="info-error">${error}</span>`;
        });
    }
};
