{%- macro link_node(node, alive=True) -%}
{{ node[:2] | upper | flag }}
{% if alive %}
<a href="peering.html#{{ node }}">{{ node }}</a>
{% else %}
<span class="removed">{{ node }}</span>
{% endif %}
{%- endmacro -%}
