<!DOCTYPE html>
<html lang="en">
<head>
<title>highdef.network</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="style.css" rel="stylesheet">
<!-- {% import 'helpers.j2' as helpers %} -->
</head>

<body>
<div class="main largefont">
    <h1>highdef.network</h1>
    <h2>AS4242421080</h2>
    <p>highdef is an experimental network interconnected with <a href="https://dn42.dev">dn42</a>.</p>
    {% include 'navigation.j2' %}

    <h3>Network Map</h3>
    <div id="map"></div>
    <script src="netmap-embed.js"></script>

</div>
{% set _token1 = "AIzaSyBQpliJPYWowdL" %}
{% set _token2 = "33oCVAfHKHhzvQv6PvaQ" %}
<script defer src="https://maps.googleapis.com/maps/api/js?key={{ _token1 }}{{ _token2 }}&amp;callback=initMap"></script>
</body>
</html>
