<!DOCTYPE html>
<html lang="en">
<head>
<title>highdef.network</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="style.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
<!-- {% import 'helpers.j2' as helpers %} -->
</head>

<body onload="getConnectionInfo()">
<div class="main largefont">
    <h1>highdef.network</h1>
    <h2>AS4242421080</h2>
    {% include 'navigation.j2' %}
    <hr>
    <h2>
        <i class="fa fa-server" aria-hidden="true"></i>
        Server info
    </h2>
    <div class="container">
        <p>Current server: <b>{{ inventory_hostname }}</b></p>
        <p>Test IPs: <b>{{ ownip }}</b> / <b>{{ ownip6 }}</b></p>
        <p>Location: <b>{{ location[-2:] | flag }} {{ location }}</b></p>
    </div>
    <hr>
    <h2>
        <i class="fa fa-signal" aria-hidden="true"></i>
        Connection info
    </h2>
    <div class="container">
        <noscript>
            <p>JavaScript unavailable - Click to check manually:
                <a href="connectionInfo">Default</a>
                <a href="connectionInfo4">IPv4</a>
                <a href="connectionInfo6">IPv6</a>
            </p>
        </noscript>
        <p>Default: <span id="connectionInfo">
            <span class="info-dim">Loading...</span>
        </p>
        <p>IPv4: <span id="connectionInfo4">
            <span class="info-dim">Loading...</span>
        </p>
        <p>IPv6: <span id="connectionInfo6">
            <span class="info-dim">Loading...</span>
        </p>
        <p>Also check out the <b>myip.dn42</b> API:
            <a href="http://myip.dn42/api">JSON</a>
            -
            <a href="http://myip.dn42/raw">Plain text</a>
        </p>
    </div>
</div>
<script>
function getConnectionInfo() {
    const outputSpans = [
        document.getElementById("connectionInfo"),
        document.getElementById("connectionInfo4"),
        document.getElementById("connectionInfo6")
    ];
    const addresses = [
        "connectionInfo",
        "//{{ ownip }}/connectionInfo",
        "//[{{ ownip6 }}]/connectionInfo"
    ];
    for (let i=0; i<outputSpans.length; i++) {
        fetch(addresses[i])
        .then((response) => {
            if (!response.ok) {
                throw new Error(`${response.status} ${response.statusText}`);
            }
            return response.json();
        })
        .then((data) => {
            outputSpans[i].innerHTML = `<b><span class="info-success">${data.client}</span></b> (you) ↔ <b><span class="info-success">${data.server}</span></b> (me)`;
        })
        .catch((error) => {
            outputSpans[i].innerHTML = `<span class="info-error">${error}</span>`;
        });
    }
};
</script>
</body>
</html>
