<!DOCTYPE html>
<html lang="en">
<head>
<title>myip.dn42</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="style.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
<!-- {% import 'helpers.j2' as helpers %} -->
<script src="connection-info.js"></script>
</head>

<body onload="getConnectionInfo()">
<div class="main">
    <h1>myip.dn42</h1>
<p class="largefont">
    This instance is hosted by <a href="http://highdef.dn42">highdef.network</a> (AS4242421080).
</p>

    <hr>
{% include 'connection-info.j2' %}
</div>
{% include 'footer.j2' %}
</body>
</html>
