<!DOCTYPE html>
<html lang="en">
<head>
<title>highdef.network</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="style.css" rel="stylesheet">
</head>

<body>
<div class="main largefont">
    <h1>highdef.network</h1>
    <h2>AS4242421080</h2>
    <p>highdef is an experimental network interconnected with <a href="https://dn42.dev">dn42</a>.</p>
    <p>
        <a href="https://jlu5.com/dn42">Peering</a>
        -
        <a href="https://lg42.jlu5.com/">Looking Glass</a>
    </p>
</div>
</body>
</html>
