<nav class="largefont">
    <a href="/">Home</a>
    -
    <a href="/peering.html">Peering</a>
    -
    <a href="/changelog.html">Recent Changes</a>
    -
    Looking Glass (<a href="https://lg.highdef.network">Clearnet</a> | <a href="http://lg.highdef.dn42">dn42</a>)
    -
    <a href="http://{{ (dns_auto_host_record_format + '.' + dns_domain) | format(inventory_hostname) }}/routestats">Routestats (dn42 only)</a>
</nav>
