<nav class="largefont">
    <a href="/">Home</a>
    -
    <a href="/peering.html">Peering</a>
    -
    <a href="/changelog.html">Recent Changes</a>
    -
    <a href="https://lg.highdef.network">Looking Glass</a>
</nav>
