<!DOCTYPE html>
<html lang="en">
<head>
<title>Server Info - highdef.network</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="style.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
<!-- {% import 'helpers.j2' as helpers %} -->
</head>

<body>
<div class="main">
<h1>AS4242421080 Server Info</h1>
{% include 'navigation.j2' %}
<div class="container">

{% macro peering_info(host) %}
{% set serverdata = hostvars[host] %}
<h4 id="{{ host }}">
    {{ serverdata.location[-2:] | upper | flag }} {{ serverdata.location }}
{% if serverdata.web_display_name | default('') %}
    ({{ serverdata.web_display_name }})
{% endif %}
{% if host in groups['webtrace'] %}
[<a href="https://{{serverdata.ansible_host}}/webtrace/">webtrace</a>]
{% endif %}
[<a href="https://lg.highdef.network/summary/{{ host }}/">looking glass</a>]
    <a href="#{{ host }}"><i class="fa fa-link" aria-hidden="true"></i></a>
</h4>
<ul>
    <li><strong>Hostname</strong>: {{ serverdata.ansible_host }}
{% if serverdata.v6_only|default(False) %}
    <span class="info-warn">(Clearnet IPv6 only)</span>
{% elif serverdata.v4_only|default(False) %}
    <span class="info-warn">(Clearnet IPv4 only)</span>
{% else %}
    <span class="info-success">(Clearnet dual-stack)</span>
{% endif %}
    </li>
    <li><strong>WireGuard / OpenVPN port</strong>: 20000 + last 4 digits of your ASN</li>
    <li><strong>WireGuard pubkey</strong>: {{ serverdata.wg_pubkey }}</li>
    <li><strong>Tunneled IPv4 address</strong>: {{ serverdata.ownip }}</li>
    <li><strong>Tunneled IPv6 address</strong>: {{ serverdata.link_local_ip6 }} (link-local) OR {{ serverdata.ownip6 }}</li>
{% for info_line in serverdata.peering_notes|default([]) %}
    <li>{{ info_line }}</li>
{% endfor %}
</ul>
{% endmacro %}
<h2 id="americas">🌎 Americas</h2>
{% for host in groups['na'] %}
{{ peering_info(host) }}
{% endfor %}

{% for host in groups['sa'] %}
{{ peering_info(host) }}
{% endfor %}

<h2 id="europe">🌍 Europe</h2>
{% for host in groups['eu'] %}
{{ peering_info(host) }}
{% endfor %}

<h2 id="apac">🌏 Asia Pacific</h2>
{% for host in groups['apac'] %}
{{ peering_info(host) }}
{% endfor %}

</div>
</div>
</body>
</html>
