<!DOCTYPE html>
<html lang="en">
<head>
<title>Peering - highdef.network</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="style.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
<!-- {% import 'helpers.j2' as helpers %} -->
</head>

<body>
<div class="main">
<h1>AS4242421080 Peering</h1>
{% include 'navigation.j2' %}
<div class="container">

<h2 id="peering-info">
    <i class="fa fa-random" aria-hidden="true"></i>
    Peering Info
</h2>
    <p>To set up peering, feel free to reach out via Matrix (<a href="https://matrix.to/#/@james:overdrivenetworks.com">@james:overdrivenetworks.com</a>), IRC (jlu5 @ hackint, libera), or <a href="mailto:james@overdrivenetworks.com">email</a>. These PoPs support WireGuard (preferred), OpenVPN, and GRE/plain tunnels.</p>
    <p>For consistency, I prefer multiprotocol BGP sessions over IPv6. For WireGuard + BIRD users, I recommend using <strong>link-local IPv6 addresses</strong>, and <strong>ULA IPv6 addresses</strong> if you’re using OpenVPN or any other BGP daemon (there are some interoperability issues).
    Note: <strong>I will usually set up WireGuard with link-local addresses unless you mention otherwise</strong>.</p>
    <p>If you have multiple nodes, especially across multiple continents, I also recommend setting up multiple links to improve redundancy and allow more direct routing between regions.</p>
    <p>Note: my publicly visible <a href="https://github.com/jlu5/ansible-dn42">config repo</a> includes the endpoint info for most of my peers. If you would like to keep this private, please let me know when submitting your peering request.</p>
    <p>OpenVPN peers should send me their static keys via PGP-encrypted mail (<a href="https://keys.openpgp.org/search?q=D5D568B2D34AB32A337944D22EC3F60DE71C0B9D">D5D568B2D34AB32A337944D22EC3F60DE71C0B9D</a>) or some other secure medium.</p>
    <p>As of 2021-09, extended next hops (IPv4 over IPv6 next hops) are also supported.</p>

<h2 id="nodes">
    <i class="fa fa-server" aria-hidden="true"></i>
    Nodes
</h2>

{% macro peering_info(host) %}
{% set serverdata = hostvars[host] %}
<h4 id="{{ host }}">
    {{ serverdata.location[-2:] | upper | flag }} {{ serverdata.location }}
    <a href="#{{ host }}"><i class="fa fa-link" aria-hidden="true"></i></a>
</h4>
<ul>
    <li><strong>Hostname</strong>: {{ serverdata.ansible_host }} {{ "(IPv6-only)" if serverdata.v6_only|default(False) else "" }}</li>
    <li><strong>WireGuard / OpenVPN port</strong>: 20000 + last 4 digits of your ASN</li>
    <li><strong>WireGuard pubkey</strong>: {{ serverdata.wg_pubkey }}</li>
    <li><strong>Tunneled IPv4 address</strong>: {{ serverdata.ownip }}</li>
    <li><strong>Tunneled IPv6 address</strong>: {{ serverdata.link_local_ip6 }} (link-local) OR {{ serverdata.ownip6 }}</li>
{% for info_line in serverdata.peering_notes|default([]) %}
    <li>{{ info_line }}</li>
{% endfor %}
</ul>
{% endmacro %}
<h3 id="americas">🌎 Americas</h3>
{% for host in groups['na'] %}
{{ peering_info(host) }}
{% endfor %}

<h3 id="europe">🌍 Europe</h3>
{% for host in groups['eu'] %}
{{ peering_info(host) }}
{% endfor %}

<h3 id="apac">🌏 Asia Pacific</h3>
{% for host in groups['apac'] %}
{{ peering_info(host) }}
{% endfor %}

</div>
</div>
</body>
</html>
