@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 1em;
    background-color: rgb(24, 24, 31);

    color: #eee;
    font-family: sans-serif;
    overflow-wrap: break-word;
}

.main {
    width: 80%;
    margin: auto;
}

.largefont {
    font-size: large;
}

h1, h2 {
    font-family: 'Comfortaa', cursive;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-shadow: 2px 2px 10px #121240;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
}

a, .link {
    color: lightblue;
    cursor: pointer;
    text-decoration: underline;
}
a:hover, .link:hover {
    color: #cee7ef;
}

a:visited {
    color: pink;
}
a:visited:hover {
    color: #ffd6dd;
}

a.netmap-server-link {
    color: #0055aa;
}
a.netmap-server-link:hover {
    color: #4da6ff;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    display: block;
}

#map {
    color: initial;
    height: 500px;
    max-width: 1000px;
    margin: 0 auto;
}

hr {
    margin-bottom: 3vh;
}

.info-success {
    color: #c3ffc3;
}

.info-error {
    color: #ffc3c3;
}

.info-warn {
    color: #fff4c3;
}

.info-dim {
    color: #a3a3a3;
}
