@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    text-align: center;
    margin-top: 10vh;
    background-color: rgb(24, 24, 31);

    color: #eee;
    font-family: sans-serif;
    overflow-wrap: break-word;
}

body, html {
    width: 99%;
    height: 86vh;
}

.main {
    width: 80%;
    margin: auto;
}

.largefont {
    font-size: large;
}

.spacedlist > li {
    padding-bottom: 1em;
}

.removed {
    color: #bbb;
    text-decoration: line-through;
}

h1, h2 {
    font-family: 'Comfortaa', cursive;
    margin: 3vh 0;
    text-shadow: 2px 2px 10px #121240;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
}

a {
    color: lightblue;
}
a:hover {
    color: #cee7ef;
}

a:visited {
    color: pink;
}
a:visited:hover {
    color: #ffd6dd;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    display: block;
}

#map {
    color: initial;
    height: 500px;
    max-width: 1000px;
    margin: 0 auto;
}

hr {
    margin-bottom: 3vh;
}

.info-success {
    color: #c3ffc3;
    font-weight: bold;
}

.info-error {
    color: #ffc3c3;
    font-weight: bold;
}

.info-dim {
    color: #a3a3a3;
}
